Repository gufolabs/noc, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dv, @aversant, @uncol, @EKbfh, @dmitryluhtionov

Conditional PR coverage
  .github/workflows/py-tests.yml
Owners: @dv

Bump
  codecov.yml
Owners: none

Fix overly permissive regular expression ranges
  sa/profiles/Brocade/ADX/get_vlans.py
  sa/profiles/Brocade/CER-ADV/get_vlans.py
  sa/profiles/Brocade/CER/get_vlans.py
  sa/profiles/Brocade/IronWare/get_vlans.py
  sa/profiles/HP/ProCurve9xxx/get_vlans.py
Owners: @dv, @aversant, @dmitryluhtionov

Suppress complains about insecure hasing algorithms when non relevant.
  core/password/hasher.py
Owners: @dv, @aversant

Move documentation to GitHub pages
  .github/workflows/build-docs.yml
  .gitlab-ci.yml
  docs/CODE_OF_CONDUCT.md
  docs/CONTRIBUTING.md
  docs/CONTRIBUTING.rst
  docs/community-guide/index.md
  docs/community-guide/index.ru.md
  mkdocs.yml
Owners: @dv, @EKbfh

Fix
  scripts/docs/minify.py
Owners: @dv, @aversant

Blog comments
  docs/blog/posts/csr-proxy-concept/index.md
  docs/blog/posts/licanse-updates.md
  docs/blog/posts/nginx-serving-mkdocs-site/index.md
  docs/blog/posts/noc-24-1-2.md
  docs/blog/posts/noc-24-1-3.md
  docs/blog/posts/noc-24-1.md
  docs/blog/posts/noc-coc.md
  docs/blog/posts/noc-is-now-managed-by-gufo-labs.md
Owners: @dv

Create CNAME
  CNAME
Owners: none

debug: Remove unused regular expression
  core/debug.py
Owners: @dv, @aversant

home: Update community links
  services/web/apps/main/home/templates/Community.html.j2
Owners: @dv, @aversant

Remove unused files
  INSTALL
  settings.py
  share/osm2pgsql/default.style
  templatetags/__init__.py
  templatetags/template_exists.py
  unittest.cfg
Owners: @dv, @aversant

Run CodeQL only daily
  .github/workflows/codeql.yml
Owners: @dv

login: Use secure/httponly cookie
  services/login/auth.py
Owners: @dv, @aversant

Fix format
  services/login/auth.py
Owners: @dv, @aversant

./noc event: Fix code typos
  commands/events.py
Owners: @dv, @aversant

Create CNAME
  CNAME
Owners: none

Update CNAME
  CNAME
Owners: none

Sanitize URL method in error response
  services/web/base/site.py
  tests/test_site.py
Owners: @dv, @aversant

Package-based web endpoints autodiscover
  config.py
  services/web/apps/gis/area/DISABLED
  services/web/apps/gis/area/__init__.py
  services/web/apps/gis/area/views.py
  services/web/apps/gis/overlay/DISABLED
  services/web/apps/gis/overlay/__init__.py
  services/web/apps/gis/overlay/views.py
  services/web/base/site.py
  tests/test_site.py
Owners: @dv, @aversant, @EKbfh

Remove unused code
  services/web/base/site.py
Owners: @dv, @aversant

Remove implicit endpoints discover on importing noc.urls
  commands/sync-perm.py
  config.py
  services/web/base/site.py
  services/web/service.py
  urls.py
Owners: @dv, @aversant, @EKbfh

Explain using legacy hashes
  core/password/hasher.py
Owners: @dv, @aversant

Config typing
  config.py
  core/config/params.py
  tests/test_config.py
Owners: @dv, @aversant, @EKbfh

Rename BytesParameter to BytesSizeParameter
  config.py
  core/config/params.py
  tests/test_config.py
Owners: @dv, @aversant, @EKbfh

Maintain old menu items order
  services/web/base/site.py
Owners: @dv, @aversant

GitHub JS lint
  .github/workflows/js-tests.yml
Owners: @dv

fix
  .github/workflows/js-tests.yml
Owners: @dv

fix
  .github/workflows/js-tests.yml
Owners: @dv

fix
  .github/workflows/js-tests.yml
Owners: @dv

fix
  .github/workflows/js-tests.yml
Owners: @dv

dump version
  .github/workflows/js-tests.yml
Owners: @dv

dump version
  .github/workflows/js-tests.yml
Owners: @dv

trigger failure
  ui/web/fm/alarm/Model.js
Owners: @uncol, @dv

Update JS tests workflow: fix cache path and remove dry-run from eslint command
  .github/workflows/js-tests.yml
Owners: @dv

Fix cache path for eslint in JS tests workflow
  .github/workflows/js-tests.yml
Owners: @dv

Fix formatting in NOC.fm.alarm.Model and NOC.sa.capsprofile.Application
  ui/web/fm/alarm/Model.js
  ui/web/sa/capsprofile/Application.js
Owners: @uncol, @dv

Refactor JS tests workflow: remove redundant cache step and use npm caching
  .github/workflows/js-tests.yml
Owners: @dv

Fix cache-dependency-path for npm in JS tests workflow
  .github/workflows/js-tests.yml
Owners: @dv

Add missing step to install dependencies in JS tests workflow
  .github/workflows/js-tests.yml
Owners: @dv

update JS tests workflow, install only devDependencies
  .devcontainer/devcontainer.json
  .github/workflows/js-tests.yml
  ui/filter-devdeps.jq
Owners: @dv

.github/CODEOWNERS:

# NOC code owners
# Lines starting with `#` will be ignored.
# Rules defined later in the file take precedence over the rules
# defined before.

# Python files
*.py @dv @aversant

# JS files
*.js @uncol @dv

# CSS files
*.css @uncol @dv

# Jinja2 templates
*.j2 @dv @aversant

# Tests
/tests/ @dv

# Dependencies
pyproject.toml @dv @aversant

# Ansible Deploy
/ansible/ @EKbfh

# Fixes
/fixes/ @dv @aversant

# Profiles
/sa/profiles/ @dv @aversant @dmitryluhtionov

# Configuration
/config.py @dv @aversant @EKbfh

# Core
/core/ @dv @aversant
/core/config/ @dv @aversant @EKbfh

# Models
models/ @dv @aversant

# Commands
/commands/ @dv @aversant

# Services
/services/ @dv @aversant

# Rust
/rust/ @dv

# Documentation
/docs/ @dv

# Codeowners itself
CODEOWNERS @dv

# CI settings
/.gitlab-ci.yml @dv @EKbfh

# Docker files
/.docker/ @dv @EKbfh

# Github
.github/ @dv
