Repository gufolabs/noc, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dv, @aversant, @uncol, @EKbfh, @dmitryluhtionov

.github/CODEOWNERS:

# NOC code owners
# Lines starting with `#` will be ignored.
# Rules defined later in the file take precedence over the rules
# defined before.

# Python files
*.py @dv @aversant

# JS files
*.js @uncol @dv

# CSS files
*.css @uncol @dv

# Jinja2 templates
*.j2 @dv @aversant

# Tests
/tests/ @dv

# Dependencies
pyproject.toml @dv @aversant

# Ansible Deploy
/ansible/ @EKbfh

# Fixes
/fixes/ @dv @aversant

# Profiles
/sa/profiles/ @dv @aversant @dmitryluhtionov

# Configuration
/config.py @dv @aversant @EKbfh

# Core
/core/ @dv @aversant
/core/config/ @dv @aversant @EKbfh

# Models
models/ @dv @aversant

# Commands
/commands/ @dv @aversant

# Services
/services/ @dv @aversant

# Rust
/rust/ @dv

# Documentation
/docs/ @dv

# Codeowners itself
CODEOWNERS @dv

# CI settings
/.gitlab-ci.yml @dv @EKbfh

# Docker files
/.docker/ @dv @EKbfh

# Github
.github/ @dv

Fix
  sa/models/managedobject.py
Owners: @dv, @aversant

ruff: Enforce UP034 check
  commands/dnszone.py
  commands/mib.py
  core/script/beef.py
  core/topology/path.py
  pyproject.toml
  sa/profiles/DLink/DxS/profile.py
  sa/profiles/HP/Comware/get_interfaces.py
  sa/profiles/Meinberg/LANTIME/get_version.py
  sa/profiles/Orion/NOS/get_interfaces.py
  services/web/apps/sa/managedobject/views.py
  services/web/apps/sa/monitor/views.py
  services/web/base/reportdatasources/base.py
Owners: @dv, @aversant, @dmitryluhtionov

ruff: Enforce UP034 check (#279)
  commands/dnszone.py
  commands/mib.py
  core/script/beef.py
  core/topology/path.py
  pyproject.toml
  sa/profiles/DLink/DxS/profile.py
  sa/profiles/HP/Comware/get_interfaces.py
  sa/profiles/Meinberg/LANTIME/get_version.py
  sa/profiles/Orion/NOS/get_interfaces.py
  services/web/apps/sa/managedobject/views.py
  services/web/apps/sa/monitor/views.py
  services/web/base/reportdatasources/base.py
Owners: @dv, @aversant, @dmitryluhtionov

Interface status discovery: Process LAG statuses (#181)
  services/discovery/jobs/periodic/interfacestatus.py
Owners: @dv, @aversant

Fix
  core/datastream/base.py
Owners: @dv, @aversant

Fix
  tests/models/test_signatures.py
Owners: @dv, @aversant

Fix
  services/escalator/tt/tg_bot.py
Owners: @dv, @aversant

Implement smart refresh feature in pollingTask method
  ui/web/fm/alarm/view/grids/ContainerController.js
Owners: @uncol, @dv

Add smart refresh feature to ContainerController
  ui/web/fm/alarm/view/grids/ContainerController.js
Owners: @uncol, @dv

Clear alarms
  collections/fm.dispositionrules/Network/DHCP/DHCP_Flood/DHCP/DHCP_Flood_clear_.json
  collections/fm.dispositionrules/Network/IP/ARP_Flood/IP/ARP_Flood_clear_.json
  collections/fm.dispositionrules/Network/xPON/ONU/Power_Failed_ONU/xPON/ONU/Power_Failed_clear_.json
Owners: none

Run tests on release-25.1 branch
  .github/workflows/py-tests.yml
Owners: @dv

Run tests on release-25.1 branch (#285)
  .github/workflows/py-tests.yml
Owners: @dv

ClickHouseClient typing and code cleanup
  commands/migrate-ch.py
  core/clickhouse/connect.py
  core/clickhouse/ensure.py
Owners: @dv, @aversant

Migrate typing
  commands/migrate-ch.py
  core/clickhouse/ensure.py
Owners: @dv, @aversant

Fix copyright year
  core/clickhouse/connect.py
Owners: @dv, @aversant

Add utf-8 usage in agents instructions
  AGENTS.md
Owners: none

Add utf-8 usage in agents instructions (#286)
  AGENTS.md
Owners: none

discovery: MAC range sanity check in id discovery
  config.py
  docs/config-reference/discovery.md
  services/discovery/jobs/box/id.py
Owners: @dv, @aversant, @EKbfh

do not allow negative mac range limits, error message when all MAC ranges failed
  config.py
  services/discovery/jobs/box/id.py
Owners: @dv, @aversant, @EKbfh

ClickHouseClient typing and code cleanup (#109)
  commands/migrate-ch.py
  core/clickhouse/connect.py
  core/clickhouse/ensure.py
Owners: @dv, @aversant

Change logging level
  services/discovery/jobs/box/id.py
Owners: @dv, @aversant

Fix IPv4 neighbor handling in Generic.get_lldp_neighbors
  sa/profiles/Generic/get_lldp_neighbors.py
Owners: @dv, @aversant, @dmitryluhtionov

Allow trim_str to accept bytes
  sa/profiles/Generic/get_lldp_neighbors.py
Owners: @dv, @aversant, @dmitryluhtionov

Remove classifier dependency section
  .github/workflows/py-tests.yml
  Dockerfile
  ansible/noc_roles/noc/tasks/init_venv_python3.yml
  pyproject.toml
Owners: @dv, @EKbfh, @aversant

Allow authentication of non-latin1 usernames
  core/service/deps/user.py
  services/card/cards/resourcepool.py
  services/card/paths/card.py
  services/login/paths/auth.py
Owners: @dv, @aversant

line tokenizer: do not yield empty lines
  core/confdb/tokenizer/line.py
  tests/confdb/tokenizer/test_line.py
Owners: @dv, @aversant

Allow authentication of non-latin1 usernames (#136)
  core/service/deps/user.py
  services/card/cards/resourcepool.py
  services/card/paths/card.py
  services/login/paths/auth.py
Owners: @dv, @aversant

line tokenizer: do not yield empty lines (#288)
  core/confdb/tokenizer/line.py
  tests/confdb/tokenizer/test_line.py
Owners: @dv, @aversant

Remove classifier dependency section (#178)
  .github/workflows/py-tests.yml
  Dockerfile
  ansible/noc_roles/noc/tasks/init_venv_python3.yml
  pyproject.toml
Owners: @dv, @EKbfh, @aversant

discovery: MAC range sanity check in id discovery (#227)
  config.py
  docs/config-reference/discovery.md
  services/discovery/jobs/box/id.py
Owners: @dv, @aversant, @EKbfh

Replace ORJSONResponse with JSONResponse
  AGENTS.md
  core/service/jsonrpcapi.py
  services/card/base.py
  services/card/paths/card.py
  services/login/paths/auth.py
  services/login/paths/change_credentials.py
  services/login/paths/login.py
  services/metricscollector/paths/vmagent.py
  services/metricscollector/paths/zabbix.py
  services/nbi/base.py
Owners: @dv, @aversant

Replace ORJSONResponse with JSONResponse (#289)
  AGENTS.md
  core/service/jsonrpcapi.py
  services/card/base.py
  services/card/paths/card.py
  services/login/paths/auth.py
  services/login/paths/change_credentials.py
  services/login/paths/login.py
  services/metricscollector/paths/vmagent.py
  services/metricscollector/paths/zabbix.py
  services/nbi/base.py
Owners: @dv, @aversant

python-multipart 0.0.31
  pyproject.toml
Owners: @dv, @aversant

bump version
  pyproject.toml
Owners: @dv, @aversant

python-multipart 0.0.32 (#290)
  pyproject.toml
Owners: @dv, @aversant

Deprecate memcached
  ansible/molecule/debian10/inv.yml
  ansible/molecule/debian11/inv.yml
  ansible/molecule/default/inv.yml
  ansible/molecule/freebsd/inv.yml
  ansible/molecule/oel7/inv.yml
  ansible/molecule/redos/inv.yml
  ansible/molecule/ubuntu20/inv.yml
  ansible/molecule/ubuntu22/inv.yml
  ansible/noc_roles/noc/tasks/init_venv_python3.yml
  ansible/noc_roles/noc/tasks/os/CentOS_7/main.yml
  ansible/noc_roles/noc/tasks/os/Debian_10/main.yml
  ansible/noc_roles/noc/tasks/os/Debian_11/main.yml
  ansible/noc_roles/noc/tasks/os/FreeBSD_12/main.yml
  ansible/noc_roles/noc/tasks/os/OracleLinux_7/main.yml
  ansible/noc_roles/noc/tasks/os/RED_7/main.yml
  ansible/noc_roles/noc/tasks/os/RedHat_7/main.yml
  ansible/noc_roles/noc/tasks/os/Ubuntu_20/main.yml
  ansible/noc_roles/noc/tasks/os/Ubuntu_22/main.yml
  ansible/vars/CentOS_7.yml
  ansible/vars/OracleLinux_7.yml
  ansible/vars/RedHat_7.yml
  config.py
  core/cache/base.py
  core/cache/mongo.py
  docs/config-reference/SUMMARY.md
  docs/config-reference/memcached.md
  docs/config-reference/params.yml
  docs/internal-metrics-reference/index.md
  docs/internal-metrics-reference/index.ru.md
  pyproject.toml
Owners: @EKbfh, @dv, @aversant

Fix
  core/cache/base.py
  core/deprecations.py
Owners: @dv, @aversant

Fix
  core/cache/base.py
Owners: @dv, @aversant

Deprecate memcached (#93)
  ansible/molecule/debian10/inv.yml
  ansible/molecule/debian11/inv.yml
  ansible/molecule/default/inv.yml
  ansible/molecule/freebsd/inv.yml
  ansible/molecule/oel7/inv.yml
  ansible/molecule/redos/inv.yml
  ansible/molecule/ubuntu20/inv.yml
  ansible/molecule/ubuntu22/inv.yml
  ansible/noc_roles/noc/tasks/init_venv_python3.yml
  ansible/noc_roles/noc/tasks/os/CentOS_7/main.yml
  ansible/noc_roles/noc/tasks/os/Debian_10/main.yml
  ansible/noc_roles/noc/tasks/os/Debian_11/main.yml
  ansible/noc_roles/noc/tasks/os/FreeBSD_12/main.yml
  ansible/noc_roles/noc/tasks/os/OracleLinux_7/main.yml
  ansible/noc_roles/noc/tasks/os/RED_7/main.yml
  ansible/noc_roles/noc/tasks/os/RedHat_7/main.yml
  ansible/noc_roles/noc/tasks/os/Ubuntu_20/main.yml
  ansible/noc_roles/noc/tasks/os/Ubuntu_22/main.yml
  ansible/vars/CentOS_7.yml
  ansible/vars/OracleLinux_7.yml
  ansible/vars/RedHat_7.yml
  config.py
  core/cache/base.py
  core/cache/mongo.py
  core/deprecations.py
  docs/config-reference/SUMMARY.md
  docs/config-reference/memcached.md
  docs/config-reference/params.yml
  docs/internal-metrics-reference/index.md
  docs/internal-metrics-reference/index.ru.md
  pyproject.toml
Owners: @EKbfh, @dv, @aversant

Pygments 2.20.0
  pyproject.toml
Owners: @dv, @aversant
