Repository gufolabs/noc, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dv, @aversant, @uncol, @EKbfh, @dmitryluhtionov

Remove 'Other' option from report type selection
  ui/web/inv/reportmetrics/Application.js
Owners: @uncol, @dv

Build UI in docker container
  Dockerfile
  scripts/build/build-ui
Owners: none

clean up Dockerfile and update build script to include micromark and monaco builds
  Dockerfile
  scripts/build/build-ui
Owners: none

Docker image nightly builds
  .github/workflows/docker-master.yml
Owners: @dv

Setup buildx for docker image build
  .github/workflows/docker-master.yml
Owners: @dv

Publish master ui builds
  .github/workflows/ui-master.yml
Owners: @dv

Fix ui publish
  .github/workflows/ui-master.yml
Owners: @dv

Fix
  .github/workflows/ui-master.yml
Owners: @dv

Rename artefact
  .github/workflows/ui-master.yml
Owners: @dv

Run also on merges with ui changes
  .github/workflows/ui-master.yml
Owners: @dv

Change name
  .github/workflows/ui-master.yml
Owners: @dv

Fix
  .github/workflows/ui-master.yml
Owners: @dv

fix: update script paths in index-template-prod.html and adjust replacement logic in HtmlPlugin for production mode
  ui/scripts/index-template-prod.html
  ui/scripts/plugins/HtmlPlugin.ts
Owners: none

fix: refactor HTML language handling and cleanup for English localization
  ui/scripts/plugins/HtmlPlugin.ts
Owners: none

Revert "fix: refactor HTML language handling and cleanup for English localization"
  ui/scripts/plugins/HtmlPlugin.ts
Owners: none

fix: enhance build process by updating file patterns and improving vendor cleanup logic
  ui/build.ts
  ui/scripts/builders/BaseBuilder.ts
  ui/scripts/builders/VendorBuilder.ts
  ui/scripts/index-template-prod.html
  ui/scripts/index-template.html
  ui/scripts/plugins/ExternalLibsPlugin.ts
  ui/scripts/plugins/HtmlPlugin.ts
Owners: none

fix: reorder build script commands and optimize HTML processing in HtmlPlugin
  ui/package.json
  ui/scripts/plugins/HtmlPlugin.ts
Owners: none

Reorder vendor and prod builds
  scripts/build/build-ui
Owners: none

copy web/img to outputDir
  ui/build.ts
  ui/scripts/plugins/AliasPlugin.ts
  ui/scripts/plugins/ApplicationLoaderPlugin.ts
  ui/scripts/plugins/CopyLibPlugin.ts
Owners: none

Remove logo customization
  config.py
  docs/config-reference/customization.md
  services/web/apps/main/desktop/views.py
  templates/admin/base.html
  ui/common/settings_loader.js
  ui/web/js/boot.js
  ui/web/main/desktop/About.js
  ui/web/main/desktop/HeaderPanel.js
  ui/web/main/desktop/app.js
Owners: @dv, @aversant, @EKbfh, @uncol

Remove debugging
  ui/web/inv/inv/Application.js
Owners: @uncol, @dv

fix: restore favicon link to use the correct image path in index-template-prod.html
  ui/scripts/index-template-prod.html
Owners: none

fix: enhance build process by copying theme JS files with content hash and cleaning up old files
  ui/build.ts
  ui/scripts/builders/BaseBuilder.ts
  ui/scripts/plugins/HtmlPlugin.ts
Owners: none

Change build-master release
  .github/workflows/ui-master.yml
Owners: @dv

mkdocs: Add CNAME
  docs/CNAME
Owners: @dv

Update MikroTik.RouterOS profile #1
  sa/profiles/MikroTik/RouterOS/get_inventory.py
  sa/profiles/MikroTik/RouterOS/get_lldp_neighbors.py
  sa/profiles/MikroTik/RouterOS/get_version.py
Owners: @dv, @aversant, @dmitryluhtionov

Fix syntax
  sa/profiles/MikroTik/RouterOS/get_inventory.py
Owners: @dv, @aversant, @dmitryluhtionov

Fix syntax
  sa/profiles/MikroTik/RouterOS/get_inventory.py
Owners: @dv, @aversant, @dmitryluhtionov

feat: add preloadFile option to builder and loader plugins, update gettext implementation
  ui/build.ts
  ui/common/gettext.js
  ui/scripts/builders/BaseBuilder.ts
  ui/scripts/builders/ProdBuilder.ts
  ui/scripts/globals.js
  ui/scripts/index-template-prod.html
  ui/scripts/index-template.html
  ui/scripts/plugins/ExternalLibsPlugin.ts
  ui/scripts/plugins/HtmlPlugin.ts
  ui/scripts/plugins/NocLoaderPlugin.ts
Owners: @uncol, @dv

feat: enhance localization support by updating build configurations and integrating language plugin
  ui/build.ts
  ui/scripts/builders/DevBuilder.ts
  ui/scripts/builders/ProdBuilder.ts
  ui/scripts/index-template-prod.html
  ui/scripts/index-template.html
  ui/scripts/plugins/ExternalLibsPlugin.ts
  ui/scripts/plugins/HtmlPlugin.ts
  ui/scripts/plugins/LanguagePlugin.ts
  ui/web/locale/gettext.js
Owners: @uncol, @dv

Django 4.2.25
  pyproject.toml
Owners: @dv, @aversant

Switch to gufolabs/noc repo by default
  ansible/molecule/debian10/inv.yml
  ansible/molecule/debian11/inv.yml
  ansible/molecule/default/inv.yml
  ansible/molecule/freebsd/inv.yml
  ansible/molecule/oel7/inv.yml
  ansible/molecule/redos/inv.yml
  ansible/molecule/ubuntu20/inv.yml
  ansible/molecule/ubuntu22/inv.yml
  ansible/noc_roles/noc/defaults/main.yml
  ansible/noc_roles/noc/meta/tower.yml
Owners: @EKbfh

Increase retry_backoff defaults from 3 to 3_000 ms
  config.py
Owners: @dv, @aversant, @EKbfh

Fix typing for params' defaults
  core/config/params.py
Owners: @dv, @aversant, @EKbfh

feat: set charset to utf8
  ui/build.ts
  ui/scripts/builders/BaseBuilder.ts
  ui/scripts/builders/ProdBuilder.ts
  ui/scripts/plugins/HtmlPlugin.ts
Owners: none

Update MikroTik.RouterOS profile #2
  sa/profiles/MikroTik/RouterOS/get_capabilities.py
  sa/profiles/MikroTik/RouterOS/get_interfaces.py
Owners: @dv, @aversant, @dmitryluhtionov

Fix syntax
  sa/profiles/MikroTik/RouterOS/get_interfaces.py
Owners: @dv, @aversant, @dmitryluhtionov

Fix syntax
  sa/profiles/MikroTik/RouterOS/get_capabilities.py
Owners: @dv, @aversant, @dmitryluhtionov

Fix syntax
  sa/profiles/MikroTik/RouterOS/get_interfaces.py
Owners: @dv, @aversant, @dmitryluhtionov

Add BDCOM S5210-C profile check rules
  collections/sa.profilecheckrules/BDCOM/IOS/S5210C_sysObjectID.json
Owners: none

.github/CODEOWNERS:

# NOC code owners
# Lines starting with `#` will be ignored.
# Rules defined later in the file take precedence over the rules
# defined before.

# Python files
*.py @dv @aversant

# JS files
*.js @uncol @dv

# CSS files
*.css @uncol @dv

# Jinja2 templates
*.j2 @dv @aversant

# Tests
/tests/ @dv

# Dependencies
pyproject.toml @dv @aversant

# Ansible Deploy
/ansible/ @EKbfh

# Fixes
/fixes/ @dv @aversant

# Profiles
/sa/profiles/ @dv @aversant @dmitryluhtionov

# Configuration
/config.py @dv @aversant @EKbfh

# Core
/core/ @dv @aversant
/core/config/ @dv @aversant @EKbfh

# Models
models/ @dv @aversant

# Commands
/commands/ @dv @aversant

# Services
/services/ @dv @aversant

# Rust
/rust/ @dv

# Documentation
/docs/ @dv

# Codeowners itself
CODEOWNERS @dv

# CI settings
/.gitlab-ci.yml @dv @EKbfh

# Docker files
/.docker/ @dv @EKbfh

# Github
.github/ @dv
