Repository gufolabs/noc, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dv, @aversant, @uncol, @EKbfh, @dmitryluhtionov

Add documentation
  commands/ch-policy.py
  docs/reclaim-db-space-howto/index.md
  docs/reclaim-db-space-howto/index.ru.md
Owners: @dv, @aversant

Fix
  core/text.py
Owners: @dv, @aversant

Fix xPON | ONU classes #2
  collections/fm.alarmclasses/Network/xPON/ONU/Power_Failed.json
  collections/fm.dispositionrules/NOC/xPON/Laser_Always_On/xPON/Laser_Always_On_dispose_.json
  collections/fm.dispositionrules/NOC/xPON/ONU/Power_Failed_ONU/xPON/ONU/Power_Failed_dispose_.json
  collections/fm.dispositionrules/Network/xPON/Laser_Always_On/xPON/Laser_Always_On_dispose_.json
  collections/fm.dispositionrules/Network/xPON/ONU/Power_Failed_ONU/xPON/ONU/Power_Failed_dispose_.json
  collections/fm.eventclasses/Network/xPON/ONU/Activated.json
  collections/fm.eventclasses/Network/xPON/ONU/Discovered.json
  collections/fm.eventclasses/Network/xPON/ONU/Offline.json
  collections/fm.eventclasses/Network/xPON/ONU/Power_Failed.json
Owners: none

refactor: update header layout and styling for improved branding display
  ui/web/main/desktop/HeaderPanel.js
Owners: @uncol, @dv

fix: remove fixed height from HeaderPanel for better responsiveness
  ui/web/main/desktop/HeaderPanel.js
Owners: @uncol, @dv

refactor: restructure form layout and add validation for OID input in profile check rule
  ui/web/sa/profilecheckrule/Application.js
Owners: @uncol, @dv

Fix mistakes
  collections/fm.eventclasses/Network/xPON/ONU/Activated.json
Owners: none

Fix mistakes
  collections/fm.dispositionrules/NOC/xPON/Laser_Always_On/xPON/Laser_Always_On_dispose_.json
  collections/fm.dispositionrules/NOC/xPON/ONU/Power_Failed_ONU/xPON/ONU/Power_Failed_dispose_.json
Owners: none

Fix mistakes
  collections/fm.eventclassificationrules/BDCOM/xPON/Network/xPON/ONU/Activated_1_SYSLOG.json
  collections/fm.eventclassificationrules/BDCOM/xPON/Network/xPON/ONU/Activated_2_SYSLOG.json
  collections/fm.eventclassificationrules/BDCOM/xPON/Network/xPON/ONU/Discovered_1_SYSLOG.json
  collections/fm.eventclassificationrules/BDCOM/xPON/Network/xPON/ONU/Discovered_2_SYSLOG.json
  collections/fm.eventclassificationrules/BDCOM/xPON/Network/xPON/ONU/Offline_1_SYSLOG.json
  collections/fm.eventclassificationrules/BDCOM/xPON/Network/xPON/ONU/Offline_2_SYSLOG.json
  collections/fm.eventclassificationrules/BDCOM/xPON/Network/xPON/ONU/Power_Failed_1_SYSLOG.json
  collections/fm.eventclassificationrules/BDCOM/xPON/Network/xPON/ONU/Power_Failed_2_SYSLOG.json
Owners: none

bump gufo-font to 0.0.2
  ui/package-lock.json
  ui/package.json
  ui/pnpm-lock.yaml
  ui/web/main/desktop/HeaderPanel.js
Owners: @uncol, @dv

chore: update monaco-editor to version 0.55.1
  ui/package-lock.json
  ui/package.json
  ui/pnpm-lock.yaml
Owners: none

Adjust apperance
  services/web/apps/main/home/templates/Community.html.j2
  services/web/apps/main/home/templates/Welcome.html.j2
  ui/web/main/desktop/HeaderPanel.js
Owners: @dv, @aversant, @uncol

Add DLink.DxS OAM event messages
  collections/fm.eventclassificationrules/DLink/DxS/Network/OAM/Client_Recieved_Remote_Failure_SYSLOG.json
  collections/fm.eventclassificationrules/DLink/DxS/Unknown/Ignore_Encountered_OAM_Event_SYSLOG_.json
  collections/fm.eventclassificationrules/DLink/DxS/Unknown/Ignore_Received_OAM_Messages_SYSLOG_.json
Owners: none

Use gf-larger
  ui/web/main/desktop/HeaderPanel.js
Owners: @uncol, @dv

bump gufo-font to 0.0.3
  ui/package-lock.json
  ui/package.json
  ui/pnpm-lock.yaml
Owners: none

Add more DLink.DxS OAM event messages
  collections/fm.eventclassificationrules/DLink/DxS/Chassis/PSU/Power_Failed_SYSLOG_.json
  collections/fm.eventclassificationrules/DLink/DxS/Unknown/Ignore_Received_OAM_Messages_SYSLOG_.json
Owners: none

home: Community widget uses Gufo Font
  services/web/apps/main/home/templates/Community.html.j2
Owners: @dv, @aversant

Add/fix DLink.DxS event messages
  collections/fm.eventclassificationrules/DLink/DxS/Chassis/CPU/Safeguard_Engine_enters_EXHAUSTED_mode_SYSLOG_.json
  collections/fm.eventclassificationrules/DLink/DxS/Chassis/CPU/Safeguard_Engine_enters_NORMAL_mode_SYSLOG_.json
  collections/fm.eventclassificationrules/DLink/DxS/Config/Config_Changed_1_SYSLOG_.json
  collections/fm.eventclassificationrules/DLink/DxS/Network/Link/Link_Down_SYSLOG_.json
  collections/fm.eventclassificationrules/DLink/DxS/Network/STP/Root_Changed_SYSLOG_.json
  collections/fm.eventclassificationrules/DLink/DxS/Security/Authentication/Login_1_SYSLOG_.json
Owners: none

Add some event/alarm classess
  collections/fm.alarmclasses/Network/DHCP/DHCP_Flood.json
  collections/fm.alarmclasses/Network/IP/ARP_Flood.json
  collections/fm.alarmclasses/Network/IP/ICMP_Flood.json
  collections/fm.dispositionrules/Network/DHCP/DHCP_Flood/DHCP/DHCP_Flood_dispose_.json
  collections/fm.dispositionrules/Network/IP/ARP_Flood/IP/ARP_Flood_dispose_.json
  collections/fm.dispositionrules/Network/IP/ICMP_Flood/IP/ICMP_Flood_dispose_.json
  collections/fm.eventclasses/Network/DHCP/DHCP_Flood.json
  collections/fm.eventclasses/Network/IP/ARP_Flood.json
  collections/fm.eventclasses/Network/IP/ICMP_Flood.json
Owners: none

Add/fix DLink.DxS event messages
  collections/fm.eventclassificationrules/DLink/DxS/Network/IMPB/Unauthenticated_IP-MAC_2_SYSLOG_.json
Owners: none

ActionCommands: Migrate legacy disable_when_changed values
  sa/migrations/0268_actioncommands_dwc.py
Owners: @dv, @aversant

Fix
  sa/migrations/0268_actioncommands_dwc.py
Owners: @dv, @aversant

Just reset field
  sa/migrations/0268_actioncommands_dwc.py
Owners: @dv, @aversant

NEP-0103: Collection bundles
  core/collection/base.py
Owners: @dv, @aversant

Set object models' glyphs
  collections/inv.objectmodels/City.json
  collections/inv.objectmodels/Lost_Found.json
  collections/inv.objectmodels/PoP/Access.json
  collections/inv.objectmodels/PoP/Aggregation.json
  collections/inv.objectmodels/PoP/Core.json
  collections/inv.objectmodels/PoP/International.json
  collections/inv.objectmodels/PoP/National.json
  collections/inv.objectmodels/PoP/Regional.json
  collections/inv.objectmodels/Sandbox.json
Owners: none

Glyph preview
  ui/web/main/glyph/Application.js
  ui/web/main/glyph/Model.js
Owners: @uncol, @dv

Object Model: Show glyph in grid
  ui/web/inv/objectmodel/Application.js
Owners: @uncol, @dv

draft: semantic layer for glyph
  ui/build.ts
  ui/package-lock.json
  ui/package.json
  ui/pnpm-lock.yaml
  ui/scripts/builders/BaseBuilder.ts
  ui/scripts/builders/DevBuilder.ts
  ui/scripts/plugins/GlyphTransformer.ts
  ui/scripts/plugins/ReplaceMethodsPlugin.ts
  ui/web/core/ModelApplication.js
  ui/web/js/glyph.semantic.d.ts
  ui/web/main/desktop/app.js
Owners: @uncol, @dv

feat: update glyph transformer and semantic definitions for improved glyph handling
  ui/build.ts
  ui/jsconfig.json
  ui/scripts/__test__/RemoveMethodsPlugin.test.ts
  ui/scripts/plugins/GlyphTransformer.ts
  ui/types/noc-glyph.d.ts
  ui/web/core/ModelApplication.js
  ui/web/js/glyph.semantic.d.ts
  ui/web/js/glyph.semantic.js
Owners: @uncol, @dv

feat: update glyph handling and semantic definitions, refactor glyph transformer and replace methods plugin
  ui/build.ts
  ui/package.json
  ui/pnpm-lock.yaml
  ui/scripts/builders/DevBuilder.ts
  ui/scripts/plugins/GlyphTransformer.ts
  ui/scripts/plugins/ReplaceMethodsPlugin.ts
  ui/types/noc-glyph.d.ts
  ui/web/core/ModelApplication.js
Owners: @uncol, @dv

Add classess
  collections/fm.eventclasses/Network/DHCP/DHCP_Flood_Cleared.json
  collections/fm.eventclasses/Network/IP/ARP_Flood_Cleared.json
Owners: none

Add support for comments
  commands/mitya_classify.py
Owners: @dv, @aversant

Fix
  collections/main.glyphs/GufoFont.json
Owners: none

Fix errors induced by GetCssClass implementation
  services/web/apps/fm/alarm/views.py
  services/web/base/extdocapplication.py
Owners: @dv, @aversant

Threshold node, use slotified state
  core/cdag/node/threshold.py
Owners: @dv, @aversant

Fix
  core/cdag/node/threshold.py
Owners: @dv, @aversant

Python 3.13 support
  .github/workflows/build-docs.yml
  .github/workflows/py-tests.yml
  Dockerfile
Owners: @dv

Python 3.13 support (#133)
  .github/workflows/build-docs.yml
  .github/workflows/py-tests.yml
  Dockerfile
Owners: @dv

Remove requests dependency
  pyproject.toml
Owners: @dv, @aversant

Remove requests dependency (#134)
  pyproject.toml
Owners: @dv, @aversant

.github/CODEOWNERS:

# NOC code owners
# Lines starting with `#` will be ignored.
# Rules defined later in the file take precedence over the rules
# defined before.

# Python files
*.py @dv @aversant

# JS files
*.js @uncol @dv

# CSS files
*.css @uncol @dv

# Jinja2 templates
*.j2 @dv @aversant

# Tests
/tests/ @dv

# Dependencies
pyproject.toml @dv @aversant

# Ansible Deploy
/ansible/ @EKbfh

# Fixes
/fixes/ @dv @aversant

# Profiles
/sa/profiles/ @dv @aversant @dmitryluhtionov

# Configuration
/config.py @dv @aversant @EKbfh

# Core
/core/ @dv @aversant
/core/config/ @dv @aversant @EKbfh

# Models
models/ @dv @aversant

# Commands
/commands/ @dv @aversant

# Services
/services/ @dv @aversant

# Rust
/rust/ @dv

# Documentation
/docs/ @dv

# Codeowners itself
CODEOWNERS @dv

# CI settings
/.gitlab-ci.yml @dv @EKbfh

# Docker files
/.docker/ @dv @EKbfh

# Github
.github/ @dv
