Repository gufolabs/noc, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dv, @aversant, @uncol, @EKbfh, @dmitryluhtionov

Fix package.json filtering step in JS tests workflow
  .github/workflows/js-tests.yml
Owners: @dv

package-lock.json saved
  ui/package-lock.json
Owners: none

Add comment for dev deps filter
  ui/filter-devdeps.txt
Owners: none

Fix
  .devcontainer/devcontainer.json
  .github/workflows/js-tests.yml
  .gitlab-ci.yml
  docker-entrypoint.sh
  ui/filter-devdeps.jq
  ui/filter-devdeps.txt
Owners: @dv, @EKbfh

Dockerfile: Use uv
  Dockerfile
Owners: none

Fix gitlab ci
  .gitlab-ci.yml
Owners: @dv, @EKbfh

Update pnpm-lock.yaml
  ui/pnpm-lock.yaml
Owners: none

Refactor saveRecord method and implement transferFlatToNested for safer data handling
  ui/web/pm/metricaction/Application.js
  ui/web/vitest.config.js
Owners: @uncol, @dv

move vitest configuration to centralized configuration
  ui/vitest.config.js
  ui/web/package.json
  ui/web/pnpm-lock.yaml
Owners: @uncol, @dv

devcontainer: Python tests setup
  .devcontainer/devcontainer.json
Owners: none

Fix formatting by adding missing commas in query and fields definitions
  ui/web/sa/action/Application.js
Owners: @uncol, @dv

vscode tests discovery
  core/model/db/base.py
  settings.py
  tests/collections/test_inv_objectmodels.py
  tests/conftest.py
Owners: @dv, @aversant

improve home tab retrieval logic
  ui/web/fm/alarm/ApplicationController.js
  ui/web/main/desktop/WorkplacePanel.js
Owners: @uncol, @dv

Fix
  core/model/db/base.py
Owners: @dv, @aversant

Explicitly connect to mongo
  tests/conftest.py
Owners: @dv

Add CITATION.cff
  CITATION.cff
Owners: none

chore: add pnpm workspace configuration with dependency overrides for dompurify and vite
  ui/pnpm-lock.yaml
  ui/pnpm-workspace.yaml
Owners: none

GitHub workflow permissions
  .github/workflows/build-docs.yml
  .github/workflows/codeql.yml
  .github/workflows/infra-image.yml
  .github/workflows/js-tests.yml
  .github/workflows/py-tests.yml
Owners: @dv

Fix permissions
  .github/workflows/py-tests.yml
Owners: @dv

ruff 0.14.1
  pyproject.toml
Owners: @dv, @aversant

Fix
  sa/models/credentialcheckrule.py
Owners: @dv, @aversant

+YTT
  pyproject.toml
Owners: @dv, @aversant

Package-based web endpoints autodiscover
  config.py
  services/web/apps/gis/area/DISABLED
  services/web/apps/gis/area/__init__.py
  services/web/apps/gis/area/views.py
  services/web/apps/gis/overlay/DISABLED
  services/web/apps/gis/overlay/__init__.py
  services/web/apps/gis/overlay/views.py
  services/web/base/site.py
  tests/test_site.py
Owners: @dv, @aversant, @EKbfh

Remove unused code
  services/web/base/site.py
Owners: @dv, @aversant

Remove implicit endpoints discover on importing noc.urls
  commands/sync-perm.py
  config.py
  services/web/base/site.py
  services/web/service.py
  urls.py
Owners: @dv, @aversant, @EKbfh

Maintain old menu items order
  services/web/base/site.py
Owners: @dv, @aversant

Config typing
  config.py
  core/config/params.py
  tests/test_config.py
Owners: @dv, @aversant, @EKbfh

Rename BytesParameter to BytesSizeParameter
  config.py
  core/config/params.py
  tests/test_config.py
Owners: @dv, @aversant, @EKbfh

GetJsonPath protocol
  core/protocols/__init__.py
  core/protocols/get_json_path.py
  tests/models/test_0009_get_json_path.py
Owners: @dv, @aversant

Fix
  tests/models/test_0009_get_json_path.py
Owners: @dv, @aversant

More informative error message
  tests/models/test_0008_to_json.py
Owners: @dv, @aversant

Fix
  core/protocols/get_json_path.py
  tests/models/test_0009_get_json_path.py
Owners: @dv, @aversant

to_json protocol
  core/protocols/to_json.py
  main/models/font.py
  main/models/glyph.py
  services/web/base/extdocapplication.py
  tests/models/test_0008_to_json.py
  tests/models/test_0009_get_json_path.py
  tests/utils.py
  wf/models/state.py
  wf/models/transition.py
  wf/models/wfmigration.py
Owners: @dv, @aversant

More informative message
  commands/collection.py
  core/collection/base.py
  services/web/base/extmodelapplication.py
  tests/models/test_0008_to_json.py
Owners: @dv, @aversant

Fix
  services/web/base/extdocapplication.py
Owners: @dv, @aversant

Fix
  core/collection/base.py
Owners: @dv, @aversant

Fix
  config.py
Owners: @dv, @aversant, @EKbfh

Remove 'Other' option from report type selection
  ui/web/inv/reportmetrics/Application.js
Owners: @uncol, @dv

chore: update package.json and package-lock.json for dependency management
  ui/package-lock.json
  ui/package.json
  ui/pnpm-workspace.yaml
Owners: none

Create CNAME
  CNAME
Owners: none

.github/CODEOWNERS:

# NOC code owners
# Lines starting with `#` will be ignored.
# Rules defined later in the file take precedence over the rules
# defined before.

# Python files
*.py @dv @aversant

# JS files
*.js @uncol @dv

# CSS files
*.css @uncol @dv

# Jinja2 templates
*.j2 @dv @aversant

# Tests
/tests/ @dv

# Dependencies
pyproject.toml @dv @aversant

# Ansible Deploy
/ansible/ @EKbfh

# Fixes
/fixes/ @dv @aversant

# Profiles
/sa/profiles/ @dv @aversant @dmitryluhtionov

# Configuration
/config.py @dv @aversant @EKbfh

# Core
/core/ @dv @aversant
/core/config/ @dv @aversant @EKbfh

# Models
models/ @dv @aversant

# Commands
/commands/ @dv @aversant

# Services
/services/ @dv @aversant

# Rust
/rust/ @dv

# Documentation
/docs/ @dv

# Codeowners itself
CODEOWNERS @dv

# CI settings
/.gitlab-ci.yml @dv @EKbfh

# Docker files
/.docker/ @dv @EKbfh

# Github
.github/ @dv
