Repository gufolabs/noc, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dv, @aversant, @uncol, @EKbfh, @dmitryluhtionov

release-25.1:Backport!9952
  sa/profiles/Iskratel/MSAN/get_inventory.py
Owners: @dv, @aversant, @dmitryluhtionov

Additional log message to interface profile classification
  services/discovery/jobs/box/interface.py
Owners: @dv, @aversant

release-25.1:Backport!9970
  services/discovery/jobs/box/interface.py
Owners: @dv, @aversant

SKS.SKS Fix getting lldp neighbors when they send port with name like "gi 0/27"
  sa/profiles/SKS/SKS/get_lldp_neighbors.py
Owners: @dv, @aversant, @dmitryluhtionov

feat: add topo-map build script and dependency to package.json
  ui/package.json
  ui/pnpm-lock.yaml
Owners: none

feat: refactor MapPanel and MapRendererPlaceholder to remove currentHighlight and enhance event handling
  ui/web/inv/map/MapPanel.js
  ui/web/inv/map/MapRendererPlaceholder.js
Owners: @uncol, @dv

release-25.1:Backport!9744
  sa/profiles/SKS/SKS/get_lldp_neighbors.py
Owners: @dv, @aversant, @dmitryluhtionov

Fix error when save empty last_ts on ManagedObject status
  sa/models/managedobject.py
Owners: @dv, @aversant

feat: remove MiniMap component and refactor event handling in MapPanel and MapRendererPlaceholder
  ui/web/inv/map/Application.js
  ui/web/inv/map/MapPanel.js
  ui/web/inv/map/MapRendererPlaceholder.js
  ui/web/inv/map/MiniMap.js
Owners: @uncol, @dv

release-25.1:Backport!9956
  sa/models/managedobject.py
Owners: @dv, @aversant

feat: enhance map interaction with search functionality and event handling
  ui/web/inv/map/Application.js
  ui/web/inv/map/MapPanel.js
  ui/web/inv/map/MapRendererPlaceholder.js
Owners: @uncol, @dv

feat: enhance context menu handling in MapPanel and MapRendererPlaceholder
  ui/web/inv/map/MapPanel.js
  ui/web/inv/map/MapRendererPlaceholder.js
Owners: @uncol, @dv

feat: refactor onSegmentMenuAddToBasket to use modern syntax and improve object handling
  ui/web/inv/map/MapPanel.js
Owners: @uncol, @dv

feat: refactor node menu handling in MapPanel to simplify object retrieval
  ui/web/inv/map/MapPanel.js
Owners: @uncol, @dv

feat: remove unused scroll handling and related methods in MapPanel
  ui/web/inv/map/MapPanel.js
Owners: @uncol, @dv

release-25.1:Backport!9983
  core/etl/loader/base.py
Owners: @dv, @aversant

Fix glyph size calculations
  core/topology/base.py
Owners: @dv, @aversant

Remove black dependency
  pyproject.toml
Owners: @dv, @aversant

Drop python-multipart dependency
  pyproject.toml
Owners: @dv, @aversant

python-multipart 0.22.0
  pyproject.toml
Owners: @dv, @aversant

Fix
  pyproject.toml
Owners: @dv, @aversant

aiokafka 0.13.0
  pyproject.toml
Owners: @dv, @aversant

Add VyOS.VyOS profile
  collections/inv.vendors/VYOS.json
  collections/sa.profilecheckrules/VyOS/VyOS/sysObjectID.json
  collections/sa.profiles/VyOS/VyOS.json
  docs/profiles-reference/SUMMARY.md
  docs/profiles-reference/VyOS/SUMMARY.md
  docs/profiles-reference/VyOS/VyOS.md
  docs/profiles-reference/VyOS/index.md
  docs/profiles-reference/index.md
  sa/profiles/VyOS/VyOS/__init__.py
  sa/profiles/VyOS/VyOS/get_arp.py
  sa/profiles/VyOS/VyOS/get_capabilities.py
  sa/profiles/VyOS/VyOS/get_chassis_id.py
  sa/profiles/VyOS/VyOS/get_config.py
  sa/profiles/VyOS/VyOS/get_interfaces.py
  sa/profiles/VyOS/VyOS/get_lldp_neighbors.py
  sa/profiles/VyOS/VyOS/get_version.py
  sa/profiles/VyOS/VyOS/ping.py
  sa/profiles/VyOS/VyOS/profile.py
  sa/profiles/VyOS/__init__.py
Owners: @dv, @aversant, @dmitryluhtionov

Fix formatting
  sa/profiles/VyOS/VyOS/get_arp.py
  sa/profiles/VyOS/VyOS/get_interfaces.py
Owners: @dv, @aversant, @dmitryluhtionov

Fix ruff
  sa/profiles/VyOS/VyOS/get_arp.py
  sa/profiles/VyOS/VyOS/get_chassis_id.py
  sa/profiles/VyOS/VyOS/get_lldp_neighbors.py
Owners: @dv, @aversant, @dmitryluhtionov

Update TAU profile for SNMP scripts
  sa/profiles/Eltex/TAU/get_interfaces.py
  sa/profiles/Eltex/TAU/get_lldp_neighbors.py
  sa/profiles/Eltex/TAU/profile.py
Owners: @dv, @aversant, @dmitryluhtionov

Speedup iterate over ManagedObject changed on interface profile.
  fm/models/dispositionrule.py
  inv/models/interfaceprofile.py
  services/login/paths/auth.py
Owners: @dv, @aversant

release-25.1:Backport!9992
  fm/models/dispositionrule.py
  inv/models/interfaceprofile.py
  services/login/paths/auth.py
Owners: @dv, @aversant

Fix Eltex.MES formatting
  sa/profiles/Eltex/MES/profile.py
Owners: @dv, @aversant, @dmitryluhtionov

Update Node.js version and simplify script commands in package.json
  ui/package.json
Owners: none

Update GitHub Actions workflows to use latest action versions
  .github/workflows/build-docs.yml
  .github/workflows/codeql.yml
  .github/workflows/docker-master.yml
  .github/workflows/infra-image.yml
  .github/workflows/js-tests.yml
  .github/workflows/py-tests.yml
  .github/workflows/ui-master.yml
Owners: @dv

Update '@gufo-labs/font' dependency to version 0.0.9
  ui/pnpm-lock.yaml
Owners: none

Fix comments
  sa/profiles/MikroTik/RouterOS/get_interfaces.py
Owners: @dv, @aversant, @dmitryluhtionov

Fix map lookup
  services/web/apps/inv/map/views.py
Owners: @dv, @aversant

Fix lint
  sa/profiles/Eltex/TAU/profile.py
Owners: @dv, @aversant, @dmitryluhtionov

Update SMG profile
  sa/profiles/Eltex/SMG/get_chassis_id.py
  sa/profiles/Eltex/SMG/get_version.py
  sa/profiles/Eltex/SMG/profile.py
Owners: @dv, @aversant, @dmitryluhtionov

Add Eltex VP profile
  collections/sa.profiles/Eltex/VP.json
  sa/profiles/Eltex/VP/__init__.py
  sa/profiles/Eltex/VP/get_config.py
  sa/profiles/Eltex/VP/get_version.py
  sa/profiles/Eltex/VP/profile.py
Owners: @dv, @aversant, @dmitryluhtionov

Fix mistake in message core/datasources/managedobjectds.py
  core/datasources/managedobjectds.py
Owners: @dv, @aversant

release-25.1:Backport!9994
  core/datasources/managedobjectds.py
Owners: @dv, @aversant

requires-python = ">=3.11"
  pyproject.toml
Owners: @dv, @aversant

.github/CODEOWNERS:

# NOC code owners
# Lines starting with `#` will be ignored.
# Rules defined later in the file take precedence over the rules
# defined before.

# Python files
*.py @dv @aversant

# JS files
*.js @uncol @dv

# CSS files
*.css @uncol @dv

# Jinja2 templates
*.j2 @dv @aversant

# Tests
/tests/ @dv

# Dependencies
pyproject.toml @dv @aversant

# Ansible Deploy
/ansible/ @EKbfh

# Fixes
/fixes/ @dv @aversant

# Profiles
/sa/profiles/ @dv @aversant @dmitryluhtionov

# Configuration
/config.py @dv @aversant @EKbfh

# Core
/core/ @dv @aversant
/core/config/ @dv @aversant @EKbfh

# Models
models/ @dv @aversant

# Commands
/commands/ @dv @aversant

# Services
/services/ @dv @aversant

# Rust
/rust/ @dv

# Documentation
/docs/ @dv

# Codeowners itself
CODEOWNERS @dv

# CI settings
/.gitlab-ci.yml @dv @EKbfh

# Docker files
/.docker/ @dv @EKbfh

# Github
.github/ @dv
