Repository gufolabs/noc, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dv, @aversant, @uncol, @EKbfh, @dmitryluhtionov

fic
  services/web/apps/main/csv/views.py
Owners: @dv, @aversant

fix
  services/web/apps/main/csv/views.py
Owners: @dv, @aversant

Replace fsspec with Gufo Blob (#322)
  commands/beef.py
  commands/script.py
  core/script/beef.py
  main/models/extstorage.py
  pyproject.toml
  sa/models/managedobject.py
  services/discovery/jobs/box/config.py
  services/web/apps/inv/inv/plugins/opm.py
  services/web/apps/inv/inv/plugins/pconf.py
  tests/collections/test_fm_eventclassificationrule.py
  tests/conftest.py
  tests/test_beef.py
  tests/test_discovery.py
Owners: @dv, @aversant

Refactor BaseAPI.hashed (#331)
  services/card/base.py
Owners: @dv, @aversant

Remove smart_text("\x00") usage (#328)
  sa/profiles/DLink/DxS/get_lldp_neighbors.py
  sa/profiles/DLink/DxS_Smart/get_lldp_neighbors.py
  sa/profiles/ECI/HiFOCuS/get_inventory.py
  sa/profiles/EdgeCore/ES/get_lldp_neighbors.py
  sa/profiles/EdgeCore/ES/get_vlans.py
  sa/profiles/Generic/get_vlans.py
  sa/profiles/Huawei/VRP/get_vlans.py
  sa/profiles/Juniper/JUNOS/get_capabilities.py
  sa/profiles/Opticin/OS/get_vlans.py
  sa/profiles/Planar/SDO3000/get_version.py
  sa/profiles/TFortis/PSW/get_version.py
Owners: @dv, @aversant, @dmitryluhtionov

Replace .encode(DEFAULT_ENCODING) with .encode() (#330)
  core/clickhouse/connect.py
  core/config/params.py
  core/consul.py
  core/datastream/base.py
  core/datastream/client.py
  core/diagnostic/hub.py
  core/http/async_client.py
  core/http/sync_client.py
  core/mx.py
  core/router/action.py
  core/router/base.py
  core/router/route.py
  core/script/http/base.py
  core/script/http/middleware/digestauth.py
  core/service/rpc.py
  core/span.py
  main/models/notificationgroup.py
  services/activator/paths/activator.py
  services/classifier/service.py
  services/discovery/jobs/box/caps.py
  services/mailsender/service.py
  services/syslogcollector/service.py
  services/tgsender/service.py
Owners: @dv, @aversant, @EKbfh

Remove Application.message_user() method (#327)
  services/web/apps/main/csv/views.py
  services/web/apps/main/refbook/views.py
  services/web/base/application.py
Owners: @dv, @aversant

Fix service profile
  ui/web/sa/serviceprofile/Application.js
Owners: @uncol, @dv

fix
  docs/config-reference/correlator.md
Owners: @dv

Update Application.js
  ui/web/sa/serviceprofile/Application.js
Owners: @uncol, @dv

fix
  docs/config-reference/clickhouse.md
Owners: @dv

fix
  docs/config-reference/cache.md
Owners: @dv

fix bugs
  docs/config-reference/datastream.md
  docs/config-reference/geocoding.md
  docs/config-reference/global.md
  docs/config-reference/liftbridge.md
  docs/config-reference/params.yml
  docs/config-reference/performance.md
Owners: @dv

Remove unused compile-handlebars.py
  scripts/build/compile-handlebars.py
Owners: @dv, @aversant

Remove unused compile-handlebars.py (#337)
  scripts/build/compile-handlebars.py
Owners: @dv, @aversant

core/ip.py: Migrate docstrings to google style
  core/ip.py
Owners: @dv, @aversant

fix typing
  core/ip.py
Owners: @dv, @aversant

fix repr
  core/ip.py
Owners: @dv, @aversant

Fix requestLegacy to handle GET/HEAD parameters correctly and update fetch URL
  ui/web/main/desktop/loader/api.js
Owners: @uncol, @dv

fix typing
  core/ip.py
Owners: @dv, @aversant

Remove Application.lookup() and Application.lookup_json()
  services/web/base/application.py
Owners: @dv, @aversant

core/ip.py: Migrate docstrings to google style + typing (#339)
  core/ip.py
Owners: @dv, @aversant

Remove todos command
  commands/todos.py
  docs/man/SUMMARY.md
  docs/man/todos.md
Owners: @dv, @aversant

Remove Application.lookup() and Application.lookup_json() (#341)
  services/web/base/application.py
Owners: @dv, @aversant

Fix requestLegacy to handle GET/HEAD parameters correctly and update fetch URL (#340)
  ui/web/main/desktop/loader/api.js
Owners: @uncol, @dv

Remove todos command (#342)
  commands/todos.py
  docs/man/SUMMARY.md
  docs/man/todos.md
Owners: @dv, @aversant

Remove unused fileutils functions
  core/fileutils.py
  tests/test_fileutils.py
Owners: @dv, @aversant

Fix
  tests/test_fileutils.py
Owners: @dv

Application: Remove unused render_xxx methods and close_popup
  services/web/base/application.py
  templates/close_popup.html
Owners: @dv, @aversant

Refactor shape overlay fields to use combobox with local query mode and enhanced store configuration
  ui/web/sa/managedobject/form/View.js
Owners: @uncol, @dv

Remove unused fileutils functions (#343)
  core/fileutils.py
  tests/test_fileutils.py
Owners: @dv, @aversant

Remove unused import
  services/web/base/application.py
Owners: @dv, @aversant

Reduce smart_text() usage
  bi/models/dashboard.py
  core/gridvcs/base.py
  core/ioloop/whois.py
  fm/models/alarmdiagnostic.py
  inv/models/l3link.py
  inv/models/link.py
  inv/models/object.py
  inv/models/objectconnection.py
  inv/models/objectfile.py
  ip/models/vrfgroup.py
  kb/models/kbglobalbookmark.py
  kb/models/kbuserbookmark.py
  sa/interfaces/base.py
  services/login/paths/auth.py
  services/login/paths/token.py
  services/mrt/paths/mrt.py
  services/web/base/simplereport.py
  support/models/crashinfo.py
Owners: @dv, @aversant

ecma48: Remove smart_bytes() usage
  core/ecma48.py
Owners: @dv, @aversant

Application: Remove unused render_xxx methods and close_popup (#344)
  services/web/base/application.py
  templates/close_popup.html
Owners: @dv, @aversant

Remove soposition/soform from ref
  services/web/apps/main/ref/views.py
Owners: @dv, @aversant

Enhance shape direction store by adding icons for visual representation
  ui/web/sa/managedobject/form/View.js
Owners: @uncol, @dv

Reduce smart_text() usage (#346)
  bi/models/dashboard.py
  core/gridvcs/base.py
  core/ioloop/whois.py
  fm/models/alarmdiagnostic.py
  inv/models/l3link.py
  inv/models/link.py
  inv/models/object.py
  inv/models/objectconnection.py
  inv/models/objectfile.py
  ip/models/vrfgroup.py
  kb/models/kbglobalbookmark.py
  kb/models/kbuserbookmark.py
  sa/interfaces/base.py
  services/login/paths/auth.py
  services/login/paths/token.py
  services/mrt/paths/mrt.py
  services/web/base/simplereport.py
  support/models/crashinfo.py
Owners: @dv, @aversant

ecma48: Remove smart_bytes() usage (#347)
  core/ecma48.py
Owners: @dv, @aversant

Set typing for __str__ functions
  core/caps/types.py
  core/cdag/node/probe.py
  core/checkers/base.py
  core/confdb/collator/typing.py
  core/confdb/engine/var.py
  core/config/params.py
  core/etl/remotemappings.py
  core/fm/event.py
  core/ip.py
  core/migration/base.py
  core/msgstream/config.py
  core/pm/utils.py
  core/purgatorium.py
  core/reporter/band.py
  core/reporter/formatter/base.py
  core/reporter/types.py
  core/router/route.py
Owners: @dv, @aversant, @EKbfh

.github/CODEOWNERS:

# NOC code owners
# Lines starting with `#` will be ignored.
# Rules defined later in the file take precedence over the rules
# defined before.

# Python files
*.py @dv @aversant

# JS files
*.js @uncol @dv

# CSS files
*.css @uncol @dv

# Jinja2 templates
*.j2 @dv @aversant

# Tests
/tests/ @dv

# Dependencies
pyproject.toml @dv @aversant

# Ansible Deploy
/ansible/ @EKbfh

# Fixes
/fixes/ @dv @aversant

# Profiles
/sa/profiles/ @dv @aversant @dmitryluhtionov

# Configuration
/config.py @dv @aversant @EKbfh

# Core
/core/ @dv @aversant
/core/config/ @dv @aversant @EKbfh

# Models
models/ @dv @aversant

# Commands
/commands/ @dv @aversant

# Services
/services/ @dv @aversant

# Rust
/rust/ @dv

# Documentation
/docs/ @dv

# Codeowners itself
CODEOWNERS @dv

# CI settings
/.gitlab-ci.yml @dv @EKbfh

# Docker files
/.docker/ @dv @EKbfh

# Github
.github/ @dv
