Repository gufolabs/noc, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dv, @aversant, @uncol, @EKbfh, @dmitryluhtionov

js tests fixed
  ui/eslint.config.mjs
  ui/package-lock.json
  ui/scripts/ExtJsParser.ts
  ui/scripts/bundles/src/Yandex.js
  ui/tsconfig.json
  ui/web/core/label/TreePickerController.js
  ui/web/core/mixins/Ballon.js
  ui/web/inv/inv/CreateConnectionForm.js
  ui/web/inv/inv/plugins/pconf/PConfController.js
  ui/web/js/util.js
  ui/web/pm/metricaction/Application.js
Owners: @uncol, @dv

feat: update actions/checkout to v5
  .github/workflows/build-docs.yml
  .github/workflows/codeql.yml
  .github/workflows/docker-master.yml
  .github/workflows/infra-image.yml
  .github/workflows/js-tests.yml
  .github/workflows/py-tests.yml
Owners: @dv

feat: switch to pnpm
  Dockerfile
  scripts/build/build-ui
  ui/package.json
Owners: none

feat: remove unused hasStp property and update renderMap to manage STP button state
  ui/web/inv/map/MapPanel.js
  ui/web/inv/map/MapRendererPlaceholder.js
Owners: @uncol, @dv

feat: refactor STP handling
  ui/web/inv/map/Application.js
  ui/web/inv/map/MapPanel.js
  ui/web/inv/map/MapRendererPlaceholder.js
Owners: @uncol, @dv

feat: streamline UI build process by removing unnecessary build steps
  scripts/build/build-ui
Owners: none

feat: add pnpm installation step in CI workflow for consistency
  .github/workflows/js-tests.yml
Owners: @dv

Add MapRenderer and MapRendererPlaceholder classes for network map visualization
  ui/web/inv/map/MapPanel.js
  ui/web/inv/map/MapRenderer.js
  ui/web/inv/map/MapRendererPlaceholder.js
Owners: @uncol, @dv

feat: remove unused scroll handling and related methods in MapPanel
  ui/web/inv/map/MapPanel.js
Owners: @uncol, @dv

js-package vulnerabilities fixed
  ui/tsconfig.json
Owners: none

feat: update pnpm install command to force install and bump topo-map version to 3.4.9
  scripts/build/build-ui
  ui/pnpm-lock.yaml
Owners: none

feat: integrate Zoom plugin into map application and enhance zoom functionality
  ui/web/inv/inv/plugins/Zoom.js
  ui/web/inv/map/Application.js
  ui/web/inv/map/MapPanel.js
  ui/web/inv/map/MapRendererPlaceholder.js
Owners: @uncol, @dv

feat: update Dockerfile and build script to use pnpm with frozen lockfile
  Dockerfile
  scripts/build/build-ui
Owners: none

feat: simplify URL construction in loadSegment function
  ui/web/inv/map/MapPanel.js
Owners: @uncol, @dv

feat: link hover functionality added
  ui/web/inv/map/MapPanel.js
  ui/web/inv/map/MapRendererPlaceholder.js
Owners: @uncol, @dv

feat: update bundle configuration
  ui/build-bundles-prod.ts
  ui/web/wf/workflow/WFEditor.js
Owners: @uncol, @dv

feat: add random status assignment in applyObjectStatuses for testing purposes
  ui/web/inv/map/MapRendererPlaceholder.js
Owners: @uncol, @dv

feat: integrate polling mixin for enhanced visibility-aware task management across components
  ui/web/core/mixins/Polling.js
  ui/web/fm/alarm/view/grids/ContainerController.js
  ui/web/inv/inv/Application.js
  ui/web/inv/inv/plugins/alarm/AlarmPanel.js
  ui/web/inv/inv/plugins/map/MapPanel.js
  ui/web/inv/map/Application.js
  ui/web/inv/map/MapPanel.js
  ui/web/inv/map/MapRendererPlaceholder.js
Owners: @uncol, @dv

refactor: remove duplicated polling logic, delegate to Polling mixin
  ui/web/core/mixins/Polling.js
  ui/web/fm/alarm/view/grids/ContainerController.js
  ui/web/inv/inv/plugins/alarm/AlarmPanel.js
  ui/web/inv/inv/plugins/map/MapPanel.js
  ui/web/inv/map/MapPanel.js
Owners: @uncol, @dv

feat: update object status handling
  ui/web/inv/map/MapPanel.js
  ui/web/inv/map/MapRendererPlaceholder.js
Owners: @uncol, @dv

feat: refactor map and workflow editor modules
  ui/web/inv/map/Application.js
  ui/web/inv/map/MapPanel.js
  ui/web/inv/map/MapRendererPlaceholder.js
  ui/web/wf/workflow/WFEditor.js
Owners: @uncol, @dv

feat: implement polling mixin for visibility-aware task management
  ui/web/core/mixins/Polling.js
  ui/web/inv/inv/Application.js
  ui/web/inv/inv/plugins/alarm/AlarmPanel.js
  ui/web/inv/inv/plugins/map/MapPanel.js
  ui/web/inv/map/MapPanel.js
  ui/web/inv/map/MapRenderer.js
Owners: @uncol, @dv

feat: remove zoom combo and related components from map application
  ui/web/inv/map/Application.js
Owners: @uncol, @dv

feat: update CI workflow to use latest actions and improve dependency management
  .github/workflows/ui-master.yml
Owners: @dv

feat: update event names in MapPanel and MapRendererPlaceholder for consistency
  ui/web/inv/map/MapPanel.js
  ui/web/inv/map/MapRendererPlaceholder.js
Owners: @uncol, @dv

feat: enhance event handling in MapPanel and MapRendererPlaceholder for improved interactivity
  ui/web/inv/map/MapPanel.js
  ui/web/inv/map/MapRendererPlaceholder.js
Owners: @uncol, @dv

feat: add runtime link presentation controls for utilization and status
  ui/scripts/mocks/metrics.json
  ui/scripts/nginx.conf
  ui/web/inv/map/MapPanel.js
  ui/web/inv/map/MapRendererPlaceholder.js
Owners: @uncol, @dv

refactor(polling): fix disableHandler in mixin and align host classes
  ui/web/core/mixins/Polling.js
  ui/web/fm/alarm/view/grids/ContainerController.js
  ui/web/inv/map/MapPanel.js
Owners: @uncol, @dv

fix(ui): update isFullScreen method to use logical OR for height check
  ui/web/core/mixins/Polling.js
Owners: @uncol, @dv

refactor: track window focus state in Polling mixin via _windowFocused flag
  ui/web/core/mixins/Polling.js
  ui/web/fm/alarm/view/grids/ContainerController.js
  ui/web/inv/inv/Application.js
  ui/web/inv/inv/plugins/Mixins.js
  ui/web/inv/inv/plugins/alarm/AlarmPanel.js
  ui/web/inv/inv/plugins/map/MapPanel.js
  ui/web/inv/map/MapPanel.js
Owners: @uncol, @dv

jitter to polling interval +/- 10% added
  ui/web/core/mixins/Polling.js
  ui/web/fm/alarm/view/grids/ContainerController.js
  ui/web/inv/inv/Application.js
  ui/web/inv/inv/plugins/alarm/AlarmPanel.js
  ui/web/inv/inv/plugins/map/MapPanel.js
Owners: @uncol, @dv

refactor: replace Ext.String.format with template literals
  ui/web/core/ModelApplication.js
  ui/web/core/MonacoPanel.js
  ui/web/core/StateField.js
  ui/web/core/SubscriptionPanel.js
  ui/web/core/TreePanel.js
  ui/web/core/plugins/DynamicModalEditing.js
  ui/web/core/plugins/SubscriptionModalEditing.js
  ui/web/fm/alarmseverity/Application.js
  ui/web/fm/event/EventInspector.js
  ui/web/inv/interface/Application.js
  ui/web/inv/inv/CreateConnectionForm.js
  ui/web/inv/inv/plugins/metric/MetricPanel.js
  ui/web/inv/inv/plugins/opm/OPMLegendSprite.js
  ui/web/inv/inv/sprites/Body.js
  ui/web/inv/inv/sprites/Connection.js
  ui/web/inv/inv/sprites/External.js
  ui/web/inv/inv/sprites/Pin.js
  ui/web/inv/inv/sprites/Pointer.js
  ui/web/inv/macdb/MACLogForm.js
  ui/web/inv/objectmodel/Application.js
  ui/web/inv/objectmodel/CrossDiagram.js
  ui/web/inv/objectmodel/sprites/Connection.js
  ui/web/inv/unknownmodel/Application.js
  ui/web/js/util.js
  ui/web/sa/discoveredobject/widget/Check.js
  ui/web/sa/managedobject/Controller.js
  ui/web/sa/managedobject/InterfacePanel.js
  ui/web/sa/managedobject/RepoPreview.js
  ui/web/sa/managedobject/SensorsPanel.js
  ui/web/sa/managedobject/form/FormController.js
  ui/web/sa/runcommands/Controller.js
Owners: @uncol, @dv

refactor(ui): update MapRenderer and MapPanel to use new MapRenderer class; adjust build scripts for topo-map
  ui/package.json
  ui/pnpm-lock.yaml
  ui/web/inv/map/MapPanel.js
  ui/web/inv/map/MapRenderer.js
Owners: @uncol, @dv

refactor(ui): rename MapRendererPlaceholder to MapRenderer
  ui/web/inv/map/MapPanel.js
  ui/web/inv/map/MapRenderer.js
Owners: @uncol, @dv

chore(ui): migrate topo-map to local workspace package
  ui/package.json
  ui/pnpm-lock.yaml
  ui/pnpm-workspace.yaml
Owners: none

Fix sensor munits hints.
  inv/models/sensor.py
Owners: @dv, @aversant

release-25.1:Backport!10039
  inv/models/sensor.py
Owners: @dv, @aversant

Add register_message action.
  core/fm/request.py
  core/tt/types.py
  fm/models/activealarm.py
  fm/models/alarmjob.py
  fm/models/alarmlog.py
  services/correlator/actionlog.py
  services/correlator/alarmaction.py
  services/correlator/alarmjob.py
  ui/web/fm/escalationprofile/Application.js
  ui/web/main/remotesystem/Model.js
Owners: @dv, @aversant, @uncol

release-25.1:Backport!10041
  core/fm/request.py
  core/tt/types.py
  fm/models/activealarm.py
  fm/models/alarmjob.py
  fm/models/alarmlog.py
  services/correlator/actionlog.py
  services/correlator/alarmaction.py
  services/correlator/alarmjob.py
  ui/web/fm/escalationprofile/Application.js
  ui/web/main/remotesystem/Model.js
Owners: @dv, @aversant, @uncol

Add REMOTE_SYSTEMS message headers.
  core/mx.py
  core/router/route.py
  fm/models/activealarm.py
  fm/models/alarmjob.py
  fm/models/alarmrule.py
  main/models/messageroute.py
  sa/models/managedobject.py
  sa/models/service.py
  services/correlator/alarmaction.py
  services/correlator/alarmjob.py
  services/correlator/alarmrule.py
  services/metricscollector/service.py
  ui/web/fm/alarmrule/Application.js
  ui/web/main/messageroute/Application.js
Owners: @dv, @aversant, @uncol

.github/CODEOWNERS:

# NOC code owners
# Lines starting with `#` will be ignored.
# Rules defined later in the file take precedence over the rules
# defined before.

# Python files
*.py @dv @aversant

# JS files
*.js @uncol @dv

# CSS files
*.css @uncol @dv

# Jinja2 templates
*.j2 @dv @aversant

# Tests
/tests/ @dv

# Dependencies
pyproject.toml @dv @aversant

# Ansible Deploy
/ansible/ @EKbfh

# Fixes
/fixes/ @dv @aversant

# Profiles
/sa/profiles/ @dv @aversant @dmitryluhtionov

# Configuration
/config.py @dv @aversant @EKbfh

# Core
/core/ @dv @aversant
/core/config/ @dv @aversant @EKbfh

# Models
models/ @dv @aversant

# Commands
/commands/ @dv @aversant

# Services
/services/ @dv @aversant

# Rust
/rust/ @dv

# Documentation
/docs/ @dv

# Codeowners itself
CODEOWNERS @dv

# CI settings
/.gitlab-ci.yml @dv @EKbfh

# Docker files
/.docker/ @dv @EKbfh

# Github
.github/ @dv
