Repository gufolabs/noc, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dv, @aversant, @uncol, @EKbfh, @dmitryluhtionov

Django 4.2.27
  pyproject.toml
Owners: @dv, @aversant

Allow authentication of non-latin1 usernames
  core/service/deps/user.py
  services/card/cards/resourcepool.py
  services/card/paths/card.py
  services/login/paths/auth.py
Owners: @dv, @aversant

Add Job action type to MX messages.
  core/mx.py
  core/router/action.py
  core/router/route.py
  main/models/messageroute.py
  services/metricscollector/service.py
  ui/web/main/messageroute/Application.js
Owners: @dv, @aversant, @uncol

release-25.1:Backport!9869
  core/mx.py
  core/router/action.py
  core/router/route.py
  main/models/messageroute.py
  services/metricscollector/service.py
  ui/web/main/messageroute/Application.js
Owners: @dv, @aversant, @uncol

Move noc.urls to noc.services.web.urls
  services/web/service.py
  services/web/urls.py
  settings.py
Owners: @dv, @aversant

Remove symlink
  src/noc/urls.py
Owners: @dv, @aversant

Move noc.urls to noc.services.web.urls (#138)
  services/web/service.py
  services/web/urls.py
  settings.py
  src/noc/urls.py
Owners: @dv, @aversant

Add sync Maintenance on Service model.
  core/etl/loader/maintenance.py
  maintenance/models/maintenance.py
  sa/models/managedobject.py
  sa/models/service.py
Owners: @dv, @aversant

release-25.1:Backport!9870
  core/etl/loader/maintenance.py
  maintenance/models/maintenance.py
  sa/models/managedobject.py
  sa/models/service.py
Owners: @dv, @aversant

feat: rename ACTION_APPLY to ACTION_SAVE_AND_CONTINUE for clarity
  ui/types/noc-glyph.d.ts
Owners: none

Update ASN and IPv4 masks for improved validation
  ui/web/js/util.js
Owners: @uncol, @dv

Update ASNMask regex to be case-insensitive
  ui/web/js/util.js
Owners: @uncol, @dv

Fix ports matching in D-Link DGS-1100-xx/ME series
  sa/profiles/DLink/DxS/profile.py
Owners: @dv, @aversant, @dmitryluhtionov

Fix syntax
  sa/profiles/DLink/DxS/profile.py
Owners: @dv, @aversant, @dmitryluhtionov

Add more root cause to Link Down alarm
  collections/fm.alarmclasses/Network/Link/Link_Down.json
Owners: none

Fix ports matching in D-Link DGS-1100-xx/ME series (#140)
  sa/profiles/DLink/DxS/profile.py
Owners: @dv, @aversant, @dmitryluhtionov

Add more root cause to Link Down alarm (#141)
  collections/fm.alarmclasses/Network/Link/Link_Down.json
Owners: none

Add more DLink.DxS events
  collections/fm.eventclassificationrules/DLink/DxS/Network/DHCP/DHCP_Flood_SYSLOG_.json
  collections/fm.eventclassificationrules/DLink/DxS/Network/IP/ARP_Flood_SYSLOG_.json
Owners: none

Add/Fix DLink.DxS OAM events
  collections/fm.eventclassificationrules/DLink/DxS/Network/Link/DOM/Warning_Out_of_Threshold_Recovered_SYSLOG_.json
Owners: none

Add/Fix DLink.DxS OAM events
  collections/fm.eventclassificationrules/DLink/DxS/Network/Link/DOM/Alarm_Out_of_Threshold_Recovered_SYSLOG_.json
  collections/fm.eventclassificationrules/DLink/DxS/Network/Link/DOM/Alarm_Out_of_Threshold_SYSLOG_.json
  collections/fm.eventclassificationrules/DLink/DxS/Network/Link/DOM/Warning_Out_of_Threshold_Recovered_1_SYSLOG_.json
  collections/fm.eventclassificationrules/DLink/DxS/Network/Link/DOM/Warning_Out_of_Threshold_Recovered_2_SYSLOG_.json
  collections/fm.eventclassificationrules/DLink/DxS/Network/Link/DOM/Warning_Out_of_Threshold_SYSLOG_.json
Owners: none

Add/Fix Cisco.IOS events
  collections/fm.eventclassificationrules/Cisco/IOS/Chassis/Fan/Fan_Failed_9_SYSLOG_.json
  collections/fm.eventclassificationrules/Cisco/IOS/Chassis/Hardware/Module/Module_Inserted_2_SYSLOG_.json
  collections/fm.eventclassificationrules/Cisco/IOS/Chassis/Hardware/Module/Module_Removed_2_SYSLOG_.json
  collections/fm.eventclassificationrules/Cisco/IOS/Chassis/PSU/PSU_Failed_13_SYSLOG_.json
  collections/fm.eventclassificationrules/Cisco/IOS/Chassis/PSU/PSU_Recovered_13_SYSLOG_.json
  collections/fm.eventclassificationrules/Cisco/IOS/Network/LBD/Loop_Detected_1_SYSLOG_.json
  collections/fm.eventclassificationrules/Cisco/IOS/Network/LBD/Loop_Detected_2_SYSLOG_.json
  collections/fm.eventclassificationrules/Cisco/IOS/Network/OAM/Monitoring_Error_SYSLOG_.json
Owners: none

Add watchers waiter job to scheduler.
  core/watchers/decorator.py
  core/watchers/types.py
  maintenance/models/maintenance.py
  sa/models/managedobject.py
  sa/models/service.py
  services/scheduler/jobs/run_watchers.py
  services/scheduler/service.py
Owners: @dv, @aversant

Refresh labels on ManagedObject when Service changed.
  core/caps/types.py
  core/models/valuetype.py
  main/models/label.py
  sa/models/capsprofile.py
  sa/models/servicesummary.py
Owners: @dv, @aversant

release-25.1:Backport!9873
  core/watchers/decorator.py
  core/watchers/types.py
  maintenance/models/maintenance.py
  sa/models/managedobject.py
  sa/models/service.py
  services/scheduler/jobs/run_watchers.py
  services/scheduler/service.py
Owners: @dv, @aversant

Add Watchers mechanics to Maintenance Model.
  core/models/cfgactions.py
  core/mx.py
  core/watchers/types.py
  maintenance/models/maintenance.py
  sa/models/objectwatchersitem.py
  sa/models/service.py
  services/scheduler/jobs/run_watchers.py
Owners: @dv, @aversant

Fix Label.ensure_label API method on ETL loader.
  main/models/label.py
Owners: @dv, @aversant

release-25.1:Backport!9874
  core/caps/types.py
  core/models/valuetype.py
  main/models/label.py
  sa/models/capsprofile.py
  sa/models/servicesummary.py
Owners: @dv, @aversant

Add more DLink.DxS events (#142)
  collections/fm.eventclassificationrules/DLink/DxS/Network/DHCP/DHCP_Flood_SYSLOG_.json
  collections/fm.eventclassificationrules/DLink/DxS/Network/IP/ARP_Flood_SYSLOG_.json
Owners: none

release-25.1:Backport!9875
  core/models/cfgactions.py
  core/mx.py
  core/watchers/types.py
  maintenance/models/maintenance.py
  sa/models/objectwatchersitem.py
  sa/models/service.py
  services/scheduler/jobs/run_watchers.py
Owners: @dv, @aversant

release-25.1:Backport!9879
  main/models/label.py
Owners: @dv, @aversant

Add/Modify DLink.DxS | Network | Link | DOM eventclassificationrules (#143)
  collections/fm.eventclassificationrules/DLink/DxS/Network/Link/DOM/Alarm_Out_of_Threshold_Recovered_SYSLOG_.json
  collections/fm.eventclassificationrules/DLink/DxS/Network/Link/DOM/Alarm_Out_of_Threshold_SYSLOG_.json
  collections/fm.eventclassificationrules/DLink/DxS/Network/Link/DOM/Warning_Out_of_Threshold_Recovered_1_SYSLOG_.json
  collections/fm.eventclassificationrules/DLink/DxS/Network/Link/DOM/Warning_Out_of_Threshold_Recovered_2_SYSLOG_.json
  collections/fm.eventclassificationrules/DLink/DxS/Network/Link/DOM/Warning_Out_of_Threshold_SYSLOG_.json
Owners: none

Fix received sensor metrics on collector service.
  core/model/dynamicprofile.py
  inv/models/sensor.py
  inv/models/sensorprofile.py
  sa/models/servicesummary.py
  services/metricscollector/models/channel.py
  services/metricscollector/service.py
  services/web/apps/pm/ddash/dashboards/mo.py
Owners: @dv, @aversant

Fix typo on refresh_object_label method.
  main/models/label.py
Owners: @dv, @aversant

release-25.1:Backport!9881
  core/model/dynamicprofile.py
  inv/models/sensor.py
  inv/models/sensorprofile.py
  sa/models/servicesummary.py
  services/metricscollector/models/channel.py
  services/metricscollector/service.py
  services/web/apps/pm/ddash/dashboards/mo.py
Owners: @dv, @aversant

release-25.1:Backport!9882
  main/models/label.py
Owners: @dv, @aversant

Fix processed sensors on Metric service.
  core/cdag/node/metrics.py
  services/metrics/models/card.py
  services/metrics/models/target.py
  services/metrics/service.py
  tests/cdag/node/test_util.py
  tests/cdag/test_metrics_case.py
Owners: @dv, @aversant

release-25.1:Backport!9885
  core/cdag/node/metrics.py
  services/metrics/models/card.py
  services/metrics/models/target.py
  services/metrics/service.py
  tests/cdag/node/test_util.py
  tests/cdag/test_metrics_case.py
Owners: @dv, @aversant

Add/Fix Cisco.IOS events (#144)
  collections/fm.eventclassificationrules/Cisco/IOS/Chassis/Fan/Fan_Failed_9_SYSLOG_.json
  collections/fm.eventclassificationrules/Cisco/IOS/Chassis/Hardware/Module/Module_Inserted_2_SYSLOG_.json
  collections/fm.eventclassificationrules/Cisco/IOS/Chassis/Hardware/Module/Module_Removed_2_SYSLOG_.json
  collections/fm.eventclassificationrules/Cisco/IOS/Chassis/PSU/PSU_Failed_13_SYSLOG_.json
  collections/fm.eventclassificationrules/Cisco/IOS/Chassis/PSU/PSU_Recovered_13_SYSLOG_.json
  collections/fm.eventclassificationrules/Cisco/IOS/Network/LBD/Loop_Detected_1_SYSLOG_.json
  collections/fm.eventclassificationrules/Cisco/IOS/Network/LBD/Loop_Detected_2_SYSLOG_.json
  collections/fm.eventclassificationrules/Cisco/IOS/Network/OAM/Monitoring_Error_SYSLOG_.json
Owners: none

Fix processed LinkEvent action.
  Dockerfile
  collections/fm.eventclassificationrules/Network/Link/Link_Up_SNMP_.json
  core/fm/enum.py
  services/classifier/actionset.py
  services/classifier/eventconfig.py
  services/classifier/service.py
Owners: @dv, @aversant

release-25.1:Backport!9888
  Dockerfile
  collections/fm.eventclassificationrules/Network/Link/Link_Up_SNMP_.json
  core/fm/enum.py
  services/classifier/actionset.py
  services/classifier/eventconfig.py
  services/classifier/service.py
Owners: @dv, @aversant

.github/CODEOWNERS:

# NOC code owners
# Lines starting with `#` will be ignored.
# Rules defined later in the file take precedence over the rules
# defined before.

# Python files
*.py @dv @aversant

# JS files
*.js @uncol @dv

# CSS files
*.css @uncol @dv

# Jinja2 templates
*.j2 @dv @aversant

# Tests
/tests/ @dv

# Dependencies
pyproject.toml @dv @aversant

# Ansible Deploy
/ansible/ @EKbfh

# Fixes
/fixes/ @dv @aversant

# Profiles
/sa/profiles/ @dv @aversant @dmitryluhtionov

# Configuration
/config.py @dv @aversant @EKbfh

# Core
/core/ @dv @aversant
/core/config/ @dv @aversant @EKbfh

# Models
models/ @dv @aversant

# Commands
/commands/ @dv @aversant

# Services
/services/ @dv @aversant

# Rust
/rust/ @dv

# Documentation
/docs/ @dv

# Codeowners itself
CODEOWNERS @dv

# CI settings
/.gitlab-ci.yml @dv @EKbfh

# Docker files
/.docker/ @dv @EKbfh

# Github
.github/ @dv
