Repository gufolabs/noc, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dv, @aversant, @uncol, @EKbfh, @dmitryluhtionov

Remove unused import
  services/web/apps/fm/event/views.py
  services/web/apps/sa/job.py
  services/web/apps/sa/service.py
Owners: @dv, @aversant

python naming, refactoring requirements
  requirements/code-quality/python/abc.md
  requirements/code-quality/python/exception-suppression.md
  requirements/code-quality/python/naming/class-names.md
  requirements/code-quality/python/naming/function-names.md
  requirements/code-quality/python/naming/index.md
  requirements/code-quality/python/naming/variable-names.md
  requirements/code-quality/refactoring/avoid-unnecessary-abstractions.md
  requirements/code-quality/refactoring/index.md
  requirements/code-quality/refactoring/preserve-behavior.md
  requirements/code-quality/refactoring/remove-obsolete-code.md
  requirements/code-quality/refactoring/simplify.md
  requirements/dependencies/python/index.md
  requirements/dependencies/python/typing.md
Owners: none

Remove Site.add_contributor() and Application.set_app() methods.
  services/web/base/application.py
  services/web/base/site.py
Owners: @dv, @aversant

Replace several @view with @app
  services/web/apps/inv/macdb.py
  services/web/apps/sa/managedobject.py
  services/web/apps/sa/objectlist.py
Owners: @dv, @aversant

Remove trivial smart_text/smart_bytes usage
  commands/convert-moin.py
  commands/datastream.py
  core/datastream/base.py
  core/http/client.py
  docs/card/index.md
  docs/card/index.ru.md
  sa/profiles/Angtel/Topaz/get_tech_support.py
  sa/profiles/Bradbury/HighVideo/get_config.py
  sa/profiles/Cisco/IOS/get_tech_support.py
  sa/profiles/DLink/DxS/get_tech_support.py
  sa/profiles/Eltex/MES/get_interfaces.py
  sa/profiles/Eltex/MES5448/get_tech_support.py
  sa/profiles/Huawei/VRP/get_tech_support.py
  sa/profiles/Huawei/VRP/get_version.py
  sa/profiles/Iskratel/ESCOM/get_tech_support.py
  sa/profiles/Iskratel/MSAN/get_tech_support.py
  sa/profiles/Juniper/JUNOS/get_tech_support.py
  sa/profiles/Juniper/JUNOSe/get_tech_support.py
  sa/profiles/Orion/NOS/get_tech_support.py
  sa/profiles/Qtech/QOS/get_tech_support.py
  sa/profiles/Raisecom/ROS/get_tech_support.py
  sa/profiles/SKS/SKS/get_tech_support.py
  sa/profiles/Vitesse/VSC/get_tech_support.py
  services/card/cards/path.py
  services/mib/paths/mib.py
  services/web/apps/inv/networksegment.py
  services/web/apps/inv/reportmetrics.py
  services/web/apps/ip/prefix.py
  services/web/apps/sa/administrativedomain.py
Owners: @dv, @aversant, @dmitryluhtionov

Replace several @view with @app (#439)
  services/web/apps/inv/macdb.py
  services/web/apps/sa/managedobject.py
  services/web/apps/sa/objectlist.py
Owners: @dv, @aversant

Remove trivial smart_text/smart_bytes usage (#440)
  commands/convert-moin.py
  commands/datastream.py
  core/datastream/base.py
  core/http/client.py
  docs/card/index.md
  docs/card/index.ru.md
  sa/profiles/Angtel/Topaz/get_tech_support.py
  sa/profiles/Bradbury/HighVideo/get_config.py
  sa/profiles/Cisco/IOS/get_tech_support.py
  sa/profiles/DLink/DxS/get_tech_support.py
  sa/profiles/Eltex/MES/get_interfaces.py
  sa/profiles/Eltex/MES5448/get_tech_support.py
  sa/profiles/Huawei/VRP/get_tech_support.py
  sa/profiles/Huawei/VRP/get_version.py
  sa/profiles/Iskratel/ESCOM/get_tech_support.py
  sa/profiles/Iskratel/MSAN/get_tech_support.py
  sa/profiles/Juniper/JUNOS/get_tech_support.py
  sa/profiles/Juniper/JUNOSe/get_tech_support.py
  sa/profiles/Orion/NOS/get_tech_support.py
  sa/profiles/Qtech/QOS/get_tech_support.py
  sa/profiles/Raisecom/ROS/get_tech_support.py
  sa/profiles/SKS/SKS/get_tech_support.py
  sa/profiles/Vitesse/VSC/get_tech_support.py
  services/card/cards/path.py
  services/mib/paths/mib.py
  services/web/apps/inv/networksegment.py
  services/web/apps/inv/reportmetrics.py
  services/web/apps/ip/prefix.py
  services/web/apps/sa/administrativedomain.py
Owners: @dv, @aversant, @dmitryluhtionov

Metaclass __new__ typing
  core/cdag/node/base.py
  core/clickhouse/dictionary.py
  core/clickhouse/model.py
  core/confdb/normalizer/base.py
  core/config/base.py
  core/etl/portmapper/base.py
  core/interface/base.py
  core/model/base.py
  core/profile/base.py
  core/router/action.py
  core/runner/actions/base.py
  core/script/base.py
  sa/profiles/Generic/get_metrics.py
  sa/profiles/IRE-Polus/Horizon/controller/base.py
  services/web/base/application.py
Owners: @dv, @aversant, @EKbfh, @dmitryluhtionov

Rename http sync_client and async_client to sync and aio
  core/checkers/http.py
  core/clickhouse/connect.py
  core/consul.py
  core/datastream/client.py
  core/etl/extractor/fias.py
  core/etl/extractor/netbox.py
  core/geocoder/base.py
  core/http/aio.py
  core/http/sync.py
  core/script/http/base.py
  core/script/http/middleware/digestauth.py
  core/service/rpc.py
  inv/models/macvendor.py
  main/refbooks/downloaders/url_csv.py
  sa/profiles/Dahua/DH/middleware/dahuaauth.py
  sa/profiles/IRE-Polus/Horizon/middleware/horizonauth.py
  sa/profiles/Ubiquiti/Controller/middleware/ubiquityauth.py
  services/activator/paths/activator.py
  services/chwriter/service.py
  services/escalator/tt/tg_bot.py
  services/tgsender/service.py
  support/cp.py
Owners: @dv, @aversant, @dmitryluhtionov

Replace @view with @api
  services/web/apps/ip/ipam.py
  services/web/apps/ip/tools/views.py
  services/web/apps/main/calculator/views.py
  services/web/apps/main/refbook/views.py
Owners: @dv, @aversant

Metaclass __new__ typing (#443)
  core/cdag/node/base.py
  core/clickhouse/dictionary.py
  core/clickhouse/model.py
  core/confdb/normalizer/base.py
  core/config/base.py
  core/etl/portmapper/base.py
  core/interface/base.py
  core/model/base.py
  core/profile/base.py
  core/router/action.py
  core/runner/actions/base.py
  core/script/base.py
  sa/profiles/Generic/get_metrics.py
  sa/profiles/IRE-Polus/Horizon/controller/base.py
  services/web/base/application.py
Owners: @dv, @aversant, @EKbfh, @dmitryluhtionov

Rename http sync_client and async_client to sync and aio (#444)
  core/checkers/http.py
  core/clickhouse/connect.py
  core/consul.py
  core/datastream/client.py
  core/etl/extractor/fias.py
  core/etl/extractor/netbox.py
  core/geocoder/base.py
  core/http/aio.py
  core/http/sync.py
  core/script/http/base.py
  core/script/http/middleware/digestauth.py
  core/service/rpc.py
  inv/models/macvendor.py
  main/refbooks/downloaders/url_csv.py
  sa/profiles/Dahua/DH/middleware/dahuaauth.py
  sa/profiles/IRE-Polus/Horizon/middleware/horizonauth.py
  sa/profiles/Ubiquiti/Controller/middleware/ubiquityauth.py
  services/activator/paths/activator.py
  services/chwriter/service.py
  services/escalator/tt/tg_bot.py
  services/tgsender/service.py
  support/cp.py
Owners: @dv, @aversant, @dmitryluhtionov

Update views.py
  services/web/apps/main/calculator/views.py
Owners: @dv, @aversant

Application: Remove unused methods
  services/web/apps/ip/reporthistory.py
  services/web/base/application.py
Owners: @dv, @aversant

Remove unnecessary smart_bytes() usage
  core/crypto.py
  core/debug.py
  core/gridvcs/base.py
  core/script/cli/ssh.py
  core/script/http/middleware/digestauth.py
  peer/models/maintainer.py
  services/ui/paths/avatar.py
  services/web/base/reportdatasources/base.py
Owners: @dv, @aversant

Fix
  core/script/cli/ssh.py
Owners: @dv, @aversant

Fix syntax
  collections/fm.dispositionrules/Network/Link/Link_Up_Network/Link/DOM/Warning_Out_of_Threshold_clear_.json
Owners: none

Add more rules
  collections/fm.alarmclasses/Network/xPON/ONU/Laser_Always_On.json
  collections/fm.dispositionrules/Network/xPON/ONU/Laser_Always_On/xPON/ONU/Laser_Always_On_dispose_.json
  collections/fm.eventclasses/Network/xPON/ONU/Laser_Always_On.json
Owners: none

Replace @view with @api (#445)
  services/web/apps/ip/ipam.py
  services/web/apps/ip/tools/views.py
  services/web/apps/main/calculator/views.py
  services/web/apps/main/refbook/views.py
Owners: @dv, @aversant

Fix test
  tests/test_crypto.py
Owners: @dv

Application: Remove unused methods (#446)
  services/web/apps/ip/reporthistory.py
  services/web/base/application.py
Owners: @dv, @aversant

Remove Application.error() and Application.debug() calls
  sa/profiles/Brocade/ADX/get_interfaces.py
  services/web/apps/ip/tools/views.py
  services/web/apps/main/desktop/views.py
  services/web/base/application.py
Owners: @dv, @aversant, @dmitryluhtionov

SupportsStr protocol
  core/typing.py
Owners: @dv, @aversant

Fix docstrings
  core/crypto.py
Owners: @dv, @aversant

mongo: get_connection(), get_db() typing
  core/migration/base.py
  core/mongo/connection.py
Owners: @dv, @aversant

Fix docstring
  core/crypto.py
Owners: @dv, @aversant

Remove Application.error() and Application.debug() calls (#448)
  sa/profiles/Brocade/ADX/get_interfaces.py
  services/web/apps/ip/tools/views.py
  services/web/apps/main/desktop/views.py
  services/web/base/application.py
Owners: @dv, @aversant, @dmitryluhtionov

Move SupportsStr
  core/comp.py
Owners: @dv, @aversant

mongo: get_connection(), get_db() typing (#450)
  core/migration/base.py
  core/mongo/connection.py
Owners: @dv, @aversant

Remove unnecessary smart_bytes() usage (#447)
  core/crypto.py
  core/debug.py
  core/gridvcs/base.py
  core/script/cli/ssh.py
  core/script/http/middleware/digestauth.py
  peer/models/maintainer.py
  services/ui/paths/avatar.py
  services/web/base/reportdatasources/base.py
  tests/test_crypto.py
Owners: @dv, @aversant

Move SupportsStr protocol to noc.core.typing (#449)
  core/comp.py
  core/typing.py
Owners: @dv, @aversant

bi decorators typing
  core/bi/decorator.py
Owners: @dv, @aversant

fix
  core/bi/decorator.py
Owners: @dv, @aversant

bi decorators typing (#451)
  core/bi/decorator.py
Owners: @dv, @aversant

Refactor fm.0059_migrate_disposition_rules
  fm/migrations/0059_migrate_disposition_rules.py
Owners: @dv, @aversant

Refactor fm.0059_migrate_disposition_rules (#452)
  fm/migrations/0059_migrate_disposition_rules.py
Owners: @dv, @aversant

Fix fm.dispositionrules mistype (#293)
  collections/fm.dispositionrules/NOC/SA/Join_Activator_Pool_NOC/SA/Activator_Pool_Degraded_clear_.json
  collections/fm.dispositionrules/NOC/SA/Join_Activator_Pool_NOC/SA/Activator_Pool_Degraded_raise_.json
  collections/fm.dispositionrules/Network/BGP/Peer_State_Changed_Network/BGP/Peer_Down_clear_peer_down_.json
  collections/fm.dispositionrules/Network/BGP/Peer_State_Changed_Network/BGP/Peer_Down_raise_.json
  collections/fm.dispositionrules/Network/BGP/Peer_State_Changed_Network/BGP/Prefix_Limit_Exceeded_clear_maxprefix_.json
  collections/fm.dispositionrules/Network/EIGRP/Neighbor_Up_Network/EIGRP/Neighbor_Down_dispose_.json
  collections/fm.dispositionrules/Network/Link/Link_Down_Network/Link/Link_Down_dispose_.json
  collections/fm.dispositionrules/Network/Link/Link_Up_Network/Link/Link_Down_Clear_Link_Down_.json
  collections/fm.dispositionrules/Network/OSPF/Neighbor_Up_Network/OSPF/Neighbor_Down_dispose_.json
  fm/models/dispositionrule.py
Owners: @dv, @aversant

Fix KeyError in Cisco.IOS confdb normalizer for encrypted SNMP community (#368)
  sa/profiles/Cisco/IOS/confdb/normalizer.py
Owners: @dv, @aversant, @dmitryluhtionov

Fix fm.dispositionrules mistype (#293) (#453)
  collections/fm.dispositionrules/NOC/SA/Join_Activator_Pool_NOC/SA/Activator_Pool_Degraded_clear_.json
  collections/fm.dispositionrules/NOC/SA/Join_Activator_Pool_NOC/SA/Activator_Pool_Degraded_raise_.json
  collections/fm.dispositionrules/Network/BGP/Peer_State_Changed_Network/BGP/Peer_Down_clear_peer_down_.json
  collections/fm.dispositionrules/Network/BGP/Peer_State_Changed_Network/BGP/Peer_Down_raise_.json
  collections/fm.dispositionrules/Network/BGP/Peer_State_Changed_Network/BGP/Prefix_Limit_Exceeded_clear_maxprefix_.json
  collections/fm.dispositionrules/Network/EIGRP/Neighbor_Up_Network/EIGRP/Neighbor_Down_dispose_.json
  collections/fm.dispositionrules/Network/Link/Link_Down_Network/Link/Link_Down_dispose_.json
  collections/fm.dispositionrules/Network/Link/Link_Up_Network/Link/Link_Down_Clear_Link_Down_.json
  collections/fm.dispositionrules/Network/OSPF/Neighbor_Up_Network/OSPF/Neighbor_Down_dispose_.json
  fm/models/dispositionrule.py
Owners: @dv, @aversant

Fix KeyError in Cisco.IOS confdb normalizer for encrypted SNMP community (#368) (#454)
  sa/profiles/Cisco/IOS/confdb/normalizer.py
Owners: @dv, @aversant, @dmitryluhtionov

.github/CODEOWNERS:

# NOC code owners
# Lines starting with `#` will be ignored.
# Rules defined later in the file take precedence over the rules
# defined before.

# Python files
*.py @dv @aversant

# JS files
*.js @uncol @dv

# CSS files
*.css @uncol @dv

# Jinja2 templates
*.j2 @dv @aversant

# Tests
/tests/ @dv

# Dependencies
pyproject.toml @dv @aversant

# Ansible Deploy
/ansible/ @EKbfh

# Fixes
/fixes/ @dv @aversant

# Profiles
/sa/profiles/ @dv @aversant @dmitryluhtionov

# Configuration
/config.py @dv @aversant @EKbfh

# Core
/core/ @dv @aversant
/core/config/ @dv @aversant @EKbfh

# Models
models/ @dv @aversant

# Commands
/commands/ @dv @aversant

# Services
/services/ @dv @aversant

# Rust
/rust/ @dv

# Documentation
/docs/ @dv

# Codeowners itself
CODEOWNERS @dv

# CI settings
/.gitlab-ci.yml @dv @EKbfh

# Docker files
/.docker/ @dv @EKbfh

# Github
.github/ @dv
