Repository gufolabs/noc, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dv, @aversant, @uncol, @EKbfh, @dmitryluhtionov

.github/CODEOWNERS:

# NOC code owners
# Lines starting with `#` will be ignored.
# Rules defined later in the file take precedence over the rules
# defined before.

# Python files
*.py @dv @aversant

# JS files
*.js @uncol @dv

# CSS files
*.css @uncol @dv

# Jinja2 templates
*.j2 @dv @aversant

# Tests
/tests/ @dv

# Dependencies
pyproject.toml @dv @aversant

# Ansible Deploy
/ansible/ @EKbfh

# Fixes
/fixes/ @dv @aversant

# Profiles
/sa/profiles/ @dv @aversant @dmitryluhtionov

# Configuration
/config.py @dv @aversant @EKbfh

# Core
/core/ @dv @aversant
/core/config/ @dv @aversant @EKbfh

# Models
models/ @dv @aversant

# Commands
/commands/ @dv @aversant

# Services
/services/ @dv @aversant

# Rust
/rust/ @dv

# Documentation
/docs/ @dv

# Codeowners itself
CODEOWNERS @dv

# CI settings
/.gitlab-ci.yml @dv @EKbfh

# Docker files
/.docker/ @dv @EKbfh

# Github
.github/ @dv

Fix KeyError in Cisco.IOS confdb normalizer for encrypted SNMP community (#368)
  sa/profiles/Cisco/IOS/confdb/normalizer.py
Owners: @dv, @aversant, @dmitryluhtionov

noc.core.hash: docstrings and typing (#369)
  core/hash.py
Owners: @dv, @aversant

noc.core.window: typing and docstrings (#370)
  core/window.py
Owners: @dv, @aversant

Remove unused templates
  templates/raw.html
  templates/raw.html.j2
  templates/sa_app_form.html
  templates/sa_app_index.html
  templates/sa_app_result.html
  templates/sa_app_wait.html
  templates/stencil_index.html.j2
Owners: @dv, @aversant

SimpleReport: Remove unused code
  services/web/base/simplereport.py
Owners: @dv, @aversant

Remove unused templates (#371)
  templates/raw.html
  templates/raw.html.j2
  templates/sa_app_form.html
  templates/sa_app_index.html
  templates/sa_app_result.html
  templates/sa_app_wait.html
  templates/stencil_index.html.j2
Owners: @dv, @aversant

SimpleReport: Remove unused code (#372)
  services/web/base/simplereport.py
Owners: @dv, @aversant

Replace VERSIOB file with __version__ attribute
  VERSION
  __init__.py
  core/version.py
  pyproject.toml
Owners: @dv, @aversant

Remove deprecated __author__ attribute
  sa/profiles/Bradbury/HighVideo/get_version.py
  sa/profiles/Bradbury/HighVideo/profile.py
  sa/profiles/Bradbury/__init__.py
  sa/profiles/Cisco/DCM/get_config.py
  sa/profiles/Cisco/DCM/profile.py
  sa/profiles/Harmonic/DiviComElectra/get_config.py
  sa/profiles/Harmonic/DiviComElectra/get_version.py
  sa/profiles/Harmonic/DiviComElectra/profile.py
  sa/profiles/Harmonic/ProStream1000/get_version.py
  sa/profiles/Harmonic/ProStream1000/profile.py
  sa/profiles/Harmonic/__init__.py
  sa/profiles/Harmonic/bNSG9000/profile.py
  sa/profiles/Sencore/Probe/get_config.py
  sa/profiles/Sencore/Probe/get_version.py
  sa/profiles/Sencore/Probe/profile.py
  sa/profiles/Sencore/__init__.py
  sa/profiles/Sumavision/EMR/profile.py
  sa/profiles/Sumavision/__init__.py
  sa/profiles/Tangram/GT21/profile.py
  sa/profiles/Tangram/__init__.py
Owners: @dv, @aversant, @dmitryluhtionov

.requirements/reverted-modules.xtx no longer needed
  .requirements/reverted_modules.xtx
  ansible/noc_roles/noc/tasks/init_venv_python3.yml
Owners: @EKbfh

docs: Fix addiitional packages setup procedure
  docs/howto-add-vcenter-to-noc/index.ru.md
  docs/howto-add-zabbix-rs-to-noc/index.md
  docs/howto-add-zabbix-rs-to-noc/index.ru.md
Owners: @dv

Move requirements/ to npkg/
  ansible/noc_roles/bi/tasks/main.yml
  ansible/noc_roles/card/tasks/main.yml
  ansible/noc_roles/mib/tasks/main.yml
  ansible/noc_roles/web/tasks/main.yml
  docs/import-mib-file-howto/index.md
  docs/import-mib-file-howto/index.ru.md
  npkg/bi.json
  npkg/card.json
  npkg/mib.json
  npkg/theme-noc.json
  npkg/web.json
Owners: @EKbfh, @dv

Replace VERSIOB file with __version__ attribute (#373)
  VERSION
  __init__.py
  core/version.py
  pyproject.toml
Owners: @dv, @aversant

clean up newlines
  sa/profiles/Bradbury/__init__.py
  sa/profiles/Harmonic/__init__.py
  sa/profiles/Sencore/__init__.py
  sa/profiles/Sumavision/__init__.py
  sa/profiles/Tangram/__init__.py
Owners: @dv, @aversant, @dmitryluhtionov

test_py_modules::test_init: show violating file path
  tests/test_py_module.py
Owners: @dv

.requirements/reverted-modules.xtx no longer needed (#375)
  .requirements/reverted_modules.xtx
  ansible/noc_roles/noc/tasks/init_venv_python3.yml
Owners: @EKbfh

fix
  dns/migrations/0003_dnszonerecordtype_initial_data.py
Owners: @dv, @aversant

Remove deprecated __author__ attribute (#374)
  sa/profiles/Bradbury/HighVideo/get_version.py
  sa/profiles/Bradbury/HighVideo/profile.py
  sa/profiles/Bradbury/__init__.py
  sa/profiles/Cisco/DCM/get_config.py
  sa/profiles/Cisco/DCM/profile.py
  sa/profiles/Harmonic/DiviComElectra/get_config.py
  sa/profiles/Harmonic/DiviComElectra/get_version.py
  sa/profiles/Harmonic/DiviComElectra/profile.py
  sa/profiles/Harmonic/ProStream1000/get_version.py
  sa/profiles/Harmonic/ProStream1000/profile.py
  sa/profiles/Harmonic/__init__.py
  sa/profiles/Harmonic/bNSG9000/profile.py
  sa/profiles/Sencore/Probe/get_config.py
  sa/profiles/Sencore/Probe/get_version.py
  sa/profiles/Sencore/Probe/profile.py
  sa/profiles/Sencore/__init__.py
  sa/profiles/Sumavision/EMR/profile.py
  sa/profiles/Sumavision/__init__.py
  sa/profiles/Tangram/GT21/profile.py
  sa/profiles/Tangram/__init__.py
Owners: @dv, @aversant, @dmitryluhtionov

Fix
  docs/howto-add-vcenter-to-noc/index.ru.md
  docs/howto-add-zabbix-rs-to-noc/index.md
  docs/howto-add-zabbix-rs-to-noc/index.ru.md
Owners: @dv

Fix docs
  docs/language-translation-howto/index.md
  docs/language-translation-howto/index.ru.md
Owners: @dv

test_py_modules::test_init: show violating file path (#378)
  tests/test_py_module.py
Owners: @dv

fix format
  core/bi/query.py
  core/bioseg/policies/base.py
  core/clickhouse/fields.py
  core/collection/base.py
  core/confdb/db/marshall/tree.py
  core/datasources/movedmacsds.py
  core/dcs/consul.py
  core/http/proxy.py
  core/migration/db.py
  core/model/fields.py
  core/scheduler/job.py
  core/scheduler/scheduler.py
  core/snmp/render.py
Owners: @dv, @aversant

docs: Fix addiitional packages setup procedure (#376)
  docs/howto-add-vcenter-to-noc/index.ru.md
  docs/howto-add-zabbix-rs-to-noc/index.md
  docs/howto-add-zabbix-rs-to-noc/index.ru.md
Owners: @dv

Move requirements/ to npkg/ (#377)
  ansible/noc_roles/bi/tasks/main.yml
  ansible/noc_roles/card/tasks/main.yml
  ansible/noc_roles/mib/tasks/main.yml
  ansible/noc_roles/web/tasks/main.yml
  docs/import-mib-file-howto/index.md
  docs/import-mib-file-howto/index.ru.md
  docs/language-translation-howto/index.md
  docs/language-translation-howto/index.ru.md
  npkg/bi.json
  npkg/card.json
  npkg/mib.json
  npkg/theme-noc.json
  npkg/web.json
Owners: @EKbfh, @dv

fix
  core/migration/db.py
  main/models/apitoken.py
  main/models/crontab.py
  main/models/customfield.py
  main/models/customfieldenumvalue.py
  main/models/messageroute.py
  main/models/mimetype.py
  main/models/modeltemplate.py
  main/models/prefixtable.py
  main/models/pyrule.py
  main/models/refbookdata.py
  main/models/refbookfield.py
  main/models/remotesystem.py
  main/models/textindex.py
  main/models/timepatternterm.py
  main/models/userstate.py
  main/refbooks/downloaders/url_csv.py
  main/reportsources/reporteventsummary.py
  main/templatetags/noctags.py
  main/templatetags/python.py
  main/templatetags/tags.py
Owners: @dv, @aversant

rewrite
  core/prettyjson.py
Owners: @dv, @aversant

Fix test
  tests/test_prettyjson.py
Owners: @dv

docs: NOC Governance
  docs/governance/index.md
  docs/sections-overview/background.md
  mkdocs.yml
Owners: @dv

Fix
  mkdocs.yml
Owners: none

Fix trailing newline
  docs/governance/index.md
Owners: @dv

Refactor to_json, docstrings and typing
  core/escape.py
  core/prettyjson.py
  tests/test_prettyjson.py
Owners: @dv, @aversant

docs: NOC Governance (#383)
  docs/governance/index.md
  docs/sections-overview/background.md
  mkdocs.yml
Owners: @dv

Refactor to_json, docstrings and typing (#384)
  core/escape.py
  core/prettyjson.py
  tests/test_prettyjson.py
Owners: @dv, @aversant

Update commit
  sa/profiles/BDCOM/xPON/get_cpe.py
  sa/profiles/BDCOM/xPON/get_version.py
  sa/profiles/BDCOM/xPON/profile.py
Owners: @dv, @aversant, @dmitryluhtionov

Fix formatting
  sa/profiles/BDCOM/xPON/get_version.py
Owners: @dv, @aversant, @dmitryluhtionov

Fix formatting
  sa/profiles/BDCOM/xPON/get_cpe.py
Owners: @dv, @aversant, @dmitryluhtionov

Fix % inconsistency
  commands/bi.py
Owners: @dv, @aversant

Update commit
  sa/profiles/BDCOM/xPON/get_capabilities.py
Owners: @dv, @aversant, @dmitryluhtionov

Remove scripts/check-labels.py
  scripts/check-labels.py
Owners: @dv, @aversant

print-files utility
  scripts/print-files.py
Owners: @dv, @aversant
