Repository gufolabs/noc, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dv, @aversant, @uncol, @EKbfh, @dmitryluhtionov

.github/CODEOWNERS:

# NOC code owners
# Lines starting with `#` will be ignored.
# Rules defined later in the file take precedence over the rules
# defined before.

# Python files
*.py @dv @aversant

# JS files
*.js @uncol @dv

# CSS files
*.css @uncol @dv

# Jinja2 templates
*.j2 @dv @aversant

# Tests
/tests/ @dv

# Dependencies
pyproject.toml @dv @aversant

# Ansible Deploy
/ansible/ @EKbfh

# Fixes
/fixes/ @dv @aversant

# Profiles
/sa/profiles/ @dv @aversant @dmitryluhtionov

# Configuration
/config.py @dv @aversant @EKbfh

# Core
/core/ @dv @aversant
/core/config/ @dv @aversant @EKbfh

# Models
models/ @dv @aversant

# Commands
/commands/ @dv @aversant

# Services
/services/ @dv @aversant

# Rust
/rust/ @dv

# Documentation
/docs/ @dv

# Codeowners itself
CODEOWNERS @dv

# CI settings
/.gitlab-ci.yml @dv @EKbfh

# Docker files
/.docker/ @dv @EKbfh

# Github
.github/ @dv

feat: enhance context menu handling in MapPanel and MapRendererPlaceholder
  ui/web/inv/map/MapPanel.js
  ui/web/inv/map/MapRendererPlaceholder.js
Owners: @uncol, @dv

feat: remove zoom combo and related components from map application
  ui/web/inv/map/Application.js
Owners: @uncol, @dv

Add MapRenderer and MapRendererPlaceholder classes for network map visualization
  ui/web/inv/map/MapPanel.js
  ui/web/inv/map/MapRenderer.js
  ui/web/inv/map/MapRendererPlaceholder.js
Owners: @uncol, @dv

feat: update Node.js version and adjust build scripts for compatibility
  ui/package.json
  ui/scripts/index-template.html
  ui/web/inv/map/MapRendererPlaceholder.js
Owners: @uncol, @dv

feat: remove MiniMap component and refactor event handling in MapPanel and MapRendererPlaceholder
  ui/web/inv/map/Application.js
  ui/web/inv/map/MapPanel.js
  ui/web/inv/map/MapRendererPlaceholder.js
  ui/web/inv/map/MiniMap.js
Owners: @uncol, @dv

feat: integrate Zoom plugin into map application and enhance zoom functionality
  ui/web/inv/inv/plugins/Zoom.js
  ui/web/inv/map/Application.js
  ui/web/inv/map/MapPanel.js
  ui/web/inv/map/MapRendererPlaceholder.js
Owners: @uncol, @dv

feat: enhance build process and add new bundling scripts for improved development workflow
  ui/build-bundle.ts
  ui/build-bundles-prod.ts
  ui/package.json
  ui/pnpm-lock.yaml
  ui/pnpm-workspace.yaml
  ui/scripts/app-dev.css
  ui/scripts/app-prod.css
  ui/scripts/bundles/joint/index.ts
  ui/scripts/bundles/leaflet.ts
  ui/scripts/bundles/micromark.ts
  ui/scripts/index-template-prod.html
  ui/scripts/index-template.html
  ui/scripts/plugins/ExternalLibsPlugin.ts
  ui/watch-bundles.ts
Owners: @uncol, @dv

feat: implement topology map rendering and update map panel structure
  ui/eslint.config.mjs
  ui/scripts/index-template.html
  ui/web/inv/map/Application.js
  ui/web/inv/map/MapPanel.js
  ui/web/inv/map/MapRenderer.js
  ui/web/inv/map/MapRendererPlaceholder.js
  ui/web/main/desktop/WorkplacePanel.js
Owners: @uncol, @dv

feat: refactor onSegmentMenuAddToBasket to use modern syntax and improve object handling
  ui/web/inv/map/MapPanel.js
Owners: @uncol, @dv

feat: add topo-map build script and dependency to package.json
  ui/pnpm-lock.yaml
Owners: none

feat: update event names in MapPanel and MapRendererPlaceholder for consistency
  ui/web/inv/map/MapPanel.js
  ui/web/inv/map/MapRendererPlaceholder.js
Owners: @uncol, @dv

feat: enhance event handling in MapPanel and MapRendererPlaceholder for improved interactivity
  ui/web/inv/map/MapPanel.js
  ui/web/inv/map/MapRendererPlaceholder.js
Owners: @uncol, @dv

feat: remove unused scroll handling and related methods in MapPanel
  ui/web/inv/map/MapPanel.js
Owners: @uncol, @dv

feat: update object status handling
  ui/web/inv/map/MapPanel.js
  ui/web/inv/map/MapRendererPlaceholder.js
Owners: @uncol, @dv

feat: add pnpm installation step in CI workflow for consistency
  .github/workflows/js-tests.yml
Owners: @dv

feat: add random status assignment in applyObjectStatuses for testing purposes
  ui/web/inv/map/MapRendererPlaceholder.js
Owners: @uncol, @dv

feat: simplify URL construction in loadSegment function
  ui/web/inv/map/MapPanel.js
Owners: @uncol, @dv

chore: restore workflows from master
  .github/workflows/js-tests.yml
Owners: @dv

Refactor code structure for improved readability and maintainability
  ui/package-lock.json
Owners: none

feat: streamline UI build process by removing unnecessary build steps
  scripts/build/build-ui
Owners: none

feat: add runtime link presentation controls for utilization and status
  ui/scripts/mocks/metrics.json
  ui/scripts/nginx.conf
  ui/web/inv/map/MapPanel.js
  ui/web/inv/map/MapRendererPlaceholder.js
Owners: @uncol, @dv

feat: simplify initMap method by removing width and height parameters
  ui/web/inv/map/MapPanel.js
  ui/web/inv/map/MapRendererPlaceholder.js
Owners: @uncol, @dv

feat: undo/redo functionality in WFEditor
  ui/web/wf/workflow/WFEditor.js
Owners: @uncol, @dv

feat: refactor STP handling
  ui/web/inv/map/Application.js
  ui/web/inv/map/MapPanel.js
  ui/web/inv/map/MapRendererPlaceholder.js
Owners: @uncol, @dv

js tests fixed
  ui/eslint.config.mjs
  ui/package-lock.json
  ui/scripts/ExtJsParser.ts
  ui/scripts/bundles/src/Yandex.js
  ui/tsconfig.json
  ui/web/core/label/TreePickerController.js
  ui/web/core/mixins/Ballon.js
  ui/web/inv/inv/CreateConnectionForm.js
  ui/web/inv/inv/plugins/pconf/PConfController.js
  ui/web/js/util.js
  ui/web/pm/metricaction/Application.js
Owners: @uncol, @dv

feat: update dependencies to latest versions for improved compatibility
  ui/package-lock.json
Owners: none

feat: refactor map and workflow editor modules
  ui/web/inv/map/Application.js
  ui/web/inv/map/MapPanel.js
  ui/web/inv/map/MapRendererPlaceholder.js
  ui/web/wf/workflow/WFEditor.js
Owners: @uncol, @dv

feat: integrate polling mixin for enhanced visibility-aware task management across components
  ui/web/core/mixins/Polling.js
  ui/web/fm/alarm/view/grids/ContainerController.js
  ui/web/inv/inv/Application.js
  ui/web/inv/inv/plugins/alarm/AlarmPanel.js
  ui/web/inv/inv/plugins/map/MapPanel.js
  ui/web/inv/map/Application.js
  ui/web/inv/map/MapPanel.js
  ui/web/inv/map/MapRendererPlaceholder.js
Owners: @uncol, @dv

feat: update bundle configuration
  ui/build-bundles-prod.ts
  ui/web/wf/workflow/WFEditor.js
Owners: @uncol, @dv

feat: remove redundant segment loading from getHistoryHash method
  ui/web/inv/map/Application.js
Owners: @uncol, @dv

feat: add check for metrics data in onLinkHover function
  ui/web/inv/map/MapRendererPlaceholder.js
Owners: @uncol, @dv

feat: switch to pnpm
  Dockerfile
  scripts/build/build-ui
  ui/package.json
Owners: none

feat: update disableHandler to accept state parameter for improved functionality
  ui/web/inv/map/MapPanel.js
Owners: @uncol, @dv

feat: add focus handling on user
  ui/web/main/desktop/LoginView.js
Owners: @uncol, @dv

feat: update actions/checkout to v5
  .github/workflows/build-docs.yml
  .github/workflows/codeql.yml
  .github/workflows/docker-master.yml
  .github/workflows/infra-image.yml
  .github/workflows/js-tests.yml
  .github/workflows/py-tests.yml
Owners: @dv

feat: remove unused hasStp property and update renderMap to manage STP button state
  ui/web/inv/map/MapPanel.js
  ui/web/inv/map/MapRendererPlaceholder.js
Owners: @uncol, @dv

feat: remove unused JointJS dependencies and clean up related code
  ui/scripts/app-dev.css
  ui/scripts/app-prod.css
  ui/scripts/plugins/ExternalLibsPlugin.ts
  ui/web/inv/map/MapPanel.js
  ui/web/inv/map/MapRenderer.js
  ui/web/inv/map/ShapeRegistry.js
Owners: @uncol, @dv

js-package vulnerabilities fixed
  ui/tsconfig.json
Owners: none

feat: enhance onResize method to notify renderer
  ui/web/inv/map/MapPanel.js
Owners: @uncol, @dv

feat: implement polling mixin for visibility-aware task management
  ui/web/core/mixins/Polling.js
  ui/web/inv/inv/Application.js
  ui/web/inv/inv/plugins/alarm/AlarmPanel.js
  ui/web/inv/inv/plugins/map/MapPanel.js
  ui/web/inv/map/MapPanel.js
  ui/web/inv/map/MapRenderer.js
Owners: @uncol, @dv
