Repository gufolabs/noc, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dv, @aversant, @uncol, @EKbfh, @dmitryluhtionov

.github/CODEOWNERS:

# NOC code owners
# Lines starting with `#` will be ignored.
# Rules defined later in the file take precedence over the rules
# defined before.

# Python files
*.py @dv @aversant

# JS files
*.js @uncol @dv

# CSS files
*.css @uncol @dv

# Jinja2 templates
*.j2 @dv @aversant

# Tests
/tests/ @dv

# Dependencies
pyproject.toml @dv @aversant

# Ansible Deploy
/ansible/ @EKbfh

# Fixes
/fixes/ @dv @aversant

# Profiles
/sa/profiles/ @dv @aversant @dmitryluhtionov

# Configuration
/config.py @dv @aversant @EKbfh

# Core
/core/ @dv @aversant
/core/config/ @dv @aversant @EKbfh

# Models
models/ @dv @aversant

# Commands
/commands/ @dv @aversant

# Services
/services/ @dv @aversant

# Rust
/rust/ @dv

# Documentation
/docs/ @dv

# Codeowners itself
CODEOWNERS @dv

# CI settings
/.gitlab-ci.yml @dv @EKbfh

# Docker files
/.docker/ @dv @EKbfh

# Github
.github/ @dv

Update 'memory used' metric
  sa/profiles/Eltex/SMG/get_metrics.py
Owners: @dv, @aversant, @dmitryluhtionov

Append 'SIP users' metrics for SMG
  collections/pm.metrictypes/Telephony/SIP/sip_users_active.json
  collections/pm.metrictypes/Telephony/SIP/sip_users_all.json
  sa/profiles/Eltex/SMG/snmp_metrics/telephony_sip_users_active.json
  sa/profiles/Eltex/SMG/snmp_metrics/telephony_sip_users_all.json
Owners: @dv, @aversant, @dmitryluhtionov

Move sensor statuses to get_inventory
  collections/inv.objectmodels/Eltex/SMG/SMG-3016.json
  sa/profiles/Eltex/SMG/get_inventory.py
  sa/profiles/Eltex/SMG/get_metrics.py
Owners: @dv, @aversant, @dmitryluhtionov

Add some patterns for SMG profile scrips
  sa/profiles/Eltex/SMG/get_capabilities.py
  sa/profiles/Eltex/SMG/get_interface_status_ex.py
  sa/profiles/Eltex/SMG/get_interfaces.py
  sa/profiles/Eltex/SMG/get_inventory.py
Owners: @dv, @aversant, @dmitryluhtionov

Replace exception with return None
  sa/profiles/Eltex/SMG/profile.py
Owners: @dv, @aversant, @dmitryluhtionov

Add example of received version for match with regex
  sa/profiles/Eltex/SMG/get_version.py
Owners: @dv, @aversant, @dmitryluhtionov

Cleanup
  sa/profiles/Eltex/SMG/get_inventory.py
  sa/profiles/Eltex/SMG/get_metrics.py
Owners: @dv, @aversant, @dmitryluhtionov

Add Eltex/TAU metrics
  collections/pm.metrictypes/Telephony/voice_calls_count.json
  collections/pm.metrictypes/Telephony/voice_lost_packets.json
  collections/pm.metrictypes/Telephony/voice_peak_jitter.json
  sa/profiles/Eltex/TAU/get_inventory.py
  sa/profiles/Eltex/TAU/get_metrics.py
  sa/profiles/Eltex/TAU/snmp_metrics/environment_temperature.json
  sa/profiles/Eltex/TAU/snmp_metrics/telephony_voice_calls_count.json
Owners: @dv, @aversant, @dmitryluhtionov

Rename 'sip trunk' to 'trunk' metrics
  collections/pm.metrictypes/Telephony/trunk_capacity.json
  collections/pm.metrictypes/Telephony/trunk_chans_busy.json
  collections/pm.metrictypes/Telephony/trunk_chans_free.json
  collections/pm.metrictypes/Telephony/trunk_cps_alarm.json
  collections/pm.metrictypes/Telephony/trunk_cps_max.json
  collections/pm.metrictypes/Telephony/trunk_current_cps.json
  collections/pm.metrictypes/Telephony/trunk_current_egress_calls.json
  collections/pm.metrictypes/Telephony/trunk_current_ingress_calls.json
  collections/pm.metrictypes/Telephony/trunk_current_total_calls.json
  collections/pm.metrictypes/Telephony/trunk_enable.json
  collections/pm.metrictypes/Telephony/trunk_status.json
  collections/pm.metrictypes/Telephony/trunk_unavailable_cic_count.json
  sa/profiles/Eltex/SMG/get_metrics.py
Owners: @dv, @aversant, @dmitryluhtionov

Fix labels
  sa/profiles/Eltex/SMG/get_metrics.py
Owners: @dv, @aversant, @dmitryluhtionov

Fix TAU profile
  sa/profiles/Eltex/TAU/get_interfaces.py
  sa/profiles/Eltex/TAU/get_lldp_neighbors.py
  sa/profiles/Eltex/TAU/get_metrics.py
  sa/profiles/Eltex/TAU/snmp_metrics/telephony_voice_calls_count.json
Owners: @dv, @aversant, @dmitryluhtionov

Add dashboard templates for SMG profile metrics
  templates/ddash/graph_telephony_sip_users_active.j2
  templates/ddash/graph_telephony_sip_users_all.j2
  templates/ddash/graph_telephony_trunk_capacity.j2
  templates/ddash/graph_telephony_trunk_chansbusy.j2
  templates/ddash/graph_telephony_trunk_chansfree.j2
  templates/ddash/graph_telephony_trunk_cpsalarm.j2
  templates/ddash/graph_telephony_trunk_cpsmax.j2
  templates/ddash/graph_telephony_trunk_currentcps.j2
  templates/ddash/graph_telephony_trunk_currentegresscalls.j2
  templates/ddash/graph_telephony_trunk_currentingresscalls.j2
  templates/ddash/graph_telephony_trunk_currenttotalcalls.j2
  templates/ddash/graph_telephony_trunk_enable.j2
  templates/ddash/graph_telephony_trunk_status.j2
  templates/ddash/graph_telephony_trunk_unavailableciccount.j2
Owners: @dv, @aversant

Add dashboard templates for TAU profile metrics
  templates/ddash/graph_telephony_voice_callscount.j2
  templates/ddash/graph_telephony_voice_lostpackets.j2
  templates/ddash/graph_telephony_voice_peakjitter.j2
Owners: @dv, @aversant

Move trunk metrics for SMG to get_inventory
  sa/profiles/Eltex/SMG/get_inventory.py
Owners: @dv, @aversant, @dmitryluhtionov

Remove templates for trunk metrics
  templates/ddash/graph_telephony_trunk_capacity.j2
  templates/ddash/graph_telephony_trunk_chansbusy.j2
  templates/ddash/graph_telephony_trunk_chansfree.j2
  templates/ddash/graph_telephony_trunk_cpsalarm.j2
  templates/ddash/graph_telephony_trunk_cpsmax.j2
  templates/ddash/graph_telephony_trunk_currentcps.j2
  templates/ddash/graph_telephony_trunk_currentegresscalls.j2
  templates/ddash/graph_telephony_trunk_currentingresscalls.j2
  templates/ddash/graph_telephony_trunk_currenttotalcalls.j2
  templates/ddash/graph_telephony_trunk_enable.j2
  templates/ddash/graph_telephony_trunk_status.j2
  templates/ddash/graph_telephony_trunk_unavailableciccount.j2
Owners: @dv, @aversant

Add capability for SMG-device for switch to custom dashboard
  collections/inv.capabilities/Network/SMG.json
  sa/profiles/Eltex/SMG/get_capabilities.py
Owners: @dv, @aversant, @dmitryluhtionov

Add custom dashboard for SMG
  services/web/apps/pm/ddash/dashboards/mosmg.py
  templates/ddash/dash_mosmg.j2
  templates/ddash/graph_fan.j2
  templates/ddash/graph_power_module.j2
  templates/ddash/graph_trunk_calls.j2
  templates/ddash/graph_trunk_channels.j2
  templates/ddash/graph_trunk_cps.j2
  templates/ddash/graph_trunk_en_st.j2
Owners: @dv, @aversant

Update dashboard for SMG
  sa/profiles/Eltex/SMG/get_inventory.py
  templates/ddash/dash_mosmg.j2
  templates/ddash/graph_power_module.j2
  templates/ddash/graph_trunk_calls.j2
  templates/ddash/graph_trunk_capacity.j2
  templates/ddash/graph_trunk_channels.j2
  templates/ddash/graph_trunk_cps.j2
  templates/ddash/graph_trunk_en_st.j2
Owners: @dv, @aversant, @dmitryluhtionov

Change host* ports to physical for SMG
  sa/profiles/Eltex/SMG/profile.py
Owners: @dv, @aversant, @dmitryluhtionov

Make 'id' unique in panel templates
  templates/ddash/graph_telephony_sip_users_active.j2
  templates/ddash/graph_telephony_sip_users_all.j2
  templates/ddash/graph_telephony_voice_callscount.j2
  templates/ddash/graph_telephony_voice_lostpackets.j2
  templates/ddash/graph_telephony_voice_peakjitter.j2
Owners: @dv, @aversant

Add Interfaces(ports) rows to dashboard for SMG
  services/web/apps/pm/ddash/dashboards/mosmg.py
  templates/ddash/dash_mosmg.j2
Owners: @dv, @aversant

Fix get_inventory
  sa/profiles/Eltex/SMG/get_inventory.py
Owners: @dv, @aversant, @dmitryluhtionov

Update trunk-metrics panel for SMG
  templates/ddash/graph_trunk_calls.j2
  templates/ddash/graph_trunk_capacity.j2
  templates/ddash/graph_trunk_channels.j2
  templates/ddash/graph_trunk_cps.j2
Owners: @dv, @aversant

Change rows order in SMG dashboard
  templates/ddash/dash_mosmg.j2
Owners: @dv, @aversant

Add VoIP-submodules sensors for SMG-device
  sa/profiles/Eltex/SMG/get_inventory.py
Owners: @dv, @aversant, @dmitryluhtionov

Exclude Idle CPU-Usage-metric type for SMG
  sa/profiles/Eltex/SMG/get_metrics.py
Owners: @dv, @aversant, @dmitryluhtionov

Add VoIP-submodules row to SMG dashboard
  services/web/apps/pm/ddash/dashboards/mosmg.py
  templates/ddash/dash_mosmg.j2
  templates/ddash/graph_voip_submodule.j2
Owners: @dv, @aversant

Remove noc.core.url
  cm/migrations/0003_access_profile.py
  core/url.py
  tests/test_url.py
Owners: @dv, @aversant

Remove noc.core.url (#302)
  cm/migrations/0003_access_profile.py
  core/url.py
  tests/test_url.py
Owners: @dv, @aversant

Rename RemovedInNOC2601Warning to RemovedInNOC26Warning
  config.py
  core/deprecations.py
Owners: @dv, @aversant, @EKbfh

Fix
  core/deprecations.py
Owners: @dv, @aversant

Rename RemovedInNOC2601Warning to RemovedInNOC26Warning (#303)
  config.py
  core/deprecations.py
Owners: @dv, @aversant, @EKbfh

config.setup() must be explicitly call to apply configured settings
  config.py
  core/management/base.py
  core/service/base.py
Owners: @dv, @aversant, @EKbfh

Set error formatter by default
  config.py
  core/service/base.py
Owners: @dv, @aversant, @EKbfh

Fix circular import problem
  config.py
Owners: @dv, @aversant, @EKbfh

Set devcontainer name to noc-dev
  .devcontainer/devcontainer.json
Owners: none

Apply config.setup() before tests
  tests/conftest.py
Owners: @dv

run-dev script
  .devcontainer/devcontainer.json
  scripts/run-dev
Owners: none

Remove scripts/fetch
  scripts/fetch
Owners: none

Delete scripts/migrate-ignored-interfaces.py
  scripts/migrate-ignored-interfaces.py
Owners: @dv, @aversant
