Repository gufolabs/noc, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dv, @aversant, @uncol, @EKbfh, @dmitryluhtionov

.github/CODEOWNERS:

# NOC code owners
# Lines starting with `#` will be ignored.
# Rules defined later in the file take precedence over the rules
# defined before.

# Python files
*.py @dv @aversant

# JS files
*.js @uncol @dv

# CSS files
*.css @uncol @dv

# Jinja2 templates
*.j2 @dv @aversant

# Tests
/tests/ @dv

# Dependencies
pyproject.toml @dv @aversant

# Ansible Deploy
/ansible/ @EKbfh

# Fixes
/fixes/ @dv @aversant

# Profiles
/sa/profiles/ @dv @aversant @dmitryluhtionov

# Configuration
/config.py @dv @aversant @EKbfh

# Core
/core/ @dv @aversant
/core/config/ @dv @aversant @EKbfh

# Models
models/ @dv @aversant

# Commands
/commands/ @dv @aversant

# Services
/services/ @dv @aversant

# Rust
/rust/ @dv

# Documentation
/docs/ @dv

# Codeowners itself
CODEOWNERS @dv

# CI settings
/.gitlab-ci.yml @dv @EKbfh

# Docker files
/.docker/ @dv @EKbfh

# Github
.github/ @dv

Fix
  core/service/base.py
Owners: @dv, @aversant

Fix date formatting and enhance model data retrieval in remote system application (#392)
  ui/web/main/remotesystem/Application.js
Owners: @uncol, @dv

Fix
  core/service/base.py
Owners: @dv, @aversant

Fix
  services/discovery/service.py
  services/escalator/service.py
  services/metrics/service.py
  services/ping/service.py
Owners: @dv, @aversant

topology map loader: Use Gufo Loader
  core/topology/base.py
  core/topology/loader.py
  inv/models/configuredmap.py
  inv/models/mapsettings.py
  services/web/apps/inv/map/views.py
  services/web/apps/main/ref.py
  vc/models/l2domain.py
Owners: @dv, @aversant

SENTINEL object (#411)
  core/typing.py
  tests/test_typing.py
Owners: @dv, @aversant

Application.render_json: complete typing
  services/web/base/application.py
Owners: @dv, @aversant

TopologyMap: Remove unused `page` parameter from `iter_maps`
  core/topology/base.py
  core/topology/map/configured.py
  core/topology/map/l2domain.py
  core/topology/map/objectcontainer.py
  core/topology/map/objectgroup.py
  core/topology/map/objectlevelneighbor.py
  core/topology/map/segment.py
  services/web/apps/inv/map/views.py
Owners: @dv, @aversant

Additional typing in services (#410)
  core/service/base.py
  services/chwriter/service.py
  services/classifier/service.py
  services/correlator/service.py
  services/discovery/service.py
  services/escalator/service.py
  services/kafkasender/service.py
  services/login/service.py
  services/mailsender/service.py
  services/metrics/service.py
  services/metricscollector/service.py
  services/mrt/service.py
  services/mx/service.py
  services/ping/service.py
  services/runner/service.py
  services/sae/service.py
  services/scheduler/service.py
  services/selfmon/service.py
  services/syslogcollector/service.py
  services/tgsender/service.py
  services/trapcollector/service.py
  services/web/service.py
  services/worker/service.py
Owners: @dv, @aversant

topology map loader: Use Gufo Loader (#412)
  core/topology/base.py
  core/topology/loader.py
  inv/models/configuredmap.py
  inv/models/mapsettings.py
  services/web/apps/inv/map/views.py
  services/web/apps/main/ref.py
  vc/models/l2domain.py
Owners: @dv, @aversant

Application.render_json: complete typing (#413)
  services/web/base/application.py
Owners: @dv, @aversant

TopologyMap: Remove unused `page` parameter from `iter_maps` (#414)
  core/topology/base.py
  core/topology/map/configured.py
  core/topology/map/l2domain.py
  core/topology/map/objectcontainer.py
  core/topology/map/objectgroup.py
  core/topology/map/objectlevelneighbor.py
  core/topology/map/segment.py
  services/web/apps/inv/map/views.py
Owners: @dv, @aversant

update-copyright-year script
  scripts/update-copyright-year.py
Owners: @dv, @aversant

fix
  scripts/update-copyright-year.py
Owners: @dv, @aversant

ugettext typing
  core/translation.py
Owners: @dv, @aversant

update-copyright-year script (#415)
  scripts/update-copyright-year.py
Owners: @dv, @aversant

Remove unnecessary spaces in comments
  services/web/apps/fm/reportescalations.py
  services/web/apps/main/home/views.py
Owners: @dv, @aversant

remove spaces
  __init__.py
  commands/migrate-pools.py
  commands/migrate-slots.py
  commands/migrate.py
  commands/pretty.py
  commands/rpc.py
  core/colors.py
  core/gridvcs/revision.py
  core/handler.py
  core/lock/base.py
  core/lock/distributed.py
  core/lock/process.py
  core/log.py
  fm/handlers/thresholds/iface.py
  sa/profiles/Lucent/Stinger/get_version.py
  sa/profiles/Lucent/Stinger/profile.py
  services/web/apps/fm/reportescalations.py
  services/web/apps/main/home/views.py
  tests/core/test_lock.py
  tests/core/test_metric_proxy.py
Owners: @dv, @aversant, @dmitryluhtionov

noc.md -> index.md
  .frg.yml
  requirements/code-quality/python/formatting/indentation.md
  requirements/code-quality/python/formatting/index.md
  requirements/frg/config.md
  requirements/index.md
  requirements/noc.md
Owners: none

ugettext typing (#416)
  core/translation.py
Owners: @dv, @aversant

Additional view typing
  services/web/base/application.py
Owners: @dv, @aversant

Remove unnecessary spaces in comments (#418)
  __init__.py
  commands/migrate-pools.py
  commands/migrate-slots.py
  commands/migrate.py
  commands/pretty.py
  commands/rpc.py
  core/colors.py
  core/gridvcs/revision.py
  core/handler.py
  core/lock/base.py
  core/lock/distributed.py
  core/lock/process.py
  core/log.py
  fm/handlers/thresholds/iface.py
  sa/profiles/Lucent/Stinger/get_version.py
  sa/profiles/Lucent/Stinger/profile.py
  services/web/apps/fm/reportescalations.py
  services/web/apps/main/home/views.py
  tests/core/test_lock.py
  tests/core/test_metric_proxy.py
Owners: @dv, @aversant, @dmitryluhtionov

Refactor: update LookupField components
  services/web/apps/main/ref.py
  ui/package.json
  ui/web/main/ref/soform/LookupField.js
  ui/web/main/ref/soposition/LookupField.js
  ui/web/sa/managedobject/form/View.js
Owners: @dv, @aversant, @uncol

fix: update icons in LookupField store data
  ui/web/main/ref/soposition/LookupField.js
Owners: @uncol, @dv

Additional view typing (#419)
  services/web/base/application.py
Owners: @dv, @aversant

@api.XXX decorator
  services/web/base/application.py
Owners: @dv, @aversant

Add api=True
  services/web/base/application.py
Owners: @dv, @aversant

@api.XXX decorator (#421)
  services/web/base/application.py
Owners: @dv, @aversant

fix: update icon classes in LookupField component
  ui/web/main/ref/soform/LookupField.js
Owners: @uncol, @dv

Fix
  collections/fm.alarmclasses/Network/xPON/ONU/Config_Failed.json
  collections/fm.dispositionrules/Network/Link/Link_Up_Network/Link/DOM/Warning_Out_of_Threshold_clear_.json
  collections/fm.eventclasses/Network/Link/correlator-default-01.log
  collections/fm.eventclasses/Network/xPON/ONU/Config_Failed.json
Owners: none

Fix
  collections/fm.eventclasses/Network/Link/correlator-default-01.log
Owners: none

User.with_user, User.get_current_user
  aaa/models/user.py
Owners: @dv, @aversant

TopologyBase: Make ABC, additional typing
  core/topology/base.py
  core/topology/map/configured.py
  core/topology/map/l2domain.py
  core/topology/map/objectcontainer.py
  core/topology/map/objectgroup.py
Owners: @dv, @aversant

Fix test
  tests/models/test_signatures.py
Owners: @dv, @aversant

Fix
  core/topology/base.py
Owners: @dv, @aversant

fix: update '@gufo-labs/font' to version 0.0.10 in pnpm-lock.yaml
  ui/pnpm-lock.yaml
Owners: none

Fix
  ui/web/inv/firmwarepolicy/Application.js
Owners: @uncol, @dv

User.with_user, User.get_current_user (#422)
  aaa/models/user.py
  tests/models/test_signatures.py
Owners: @dv, @aversant

Add missed typing
  core/topology/map/objectlevelneighbor.py
  core/topology/map/segment.py
Owners: @dv, @aversant

#150: Limit list of available segments for user
  core/topology/map/segment.py
  services/web/apps/inv/map/views.py
Owners: @dv, @aversant
