Repository gufolabs/noc, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dv, @aversant, @uncol, @EKbfh, @dmitryluhtionov

.github/CODEOWNERS:

# NOC code owners
# Lines starting with `#` will be ignored.
# Rules defined later in the file take precedence over the rules
# defined before.

# Python files
*.py @dv @aversant

# JS files
*.js @uncol @dv

# CSS files
*.css @uncol @dv

# Jinja2 templates
*.j2 @dv @aversant

# Tests
/tests/ @dv

# Dependencies
pyproject.toml @dv @aversant

# Ansible Deploy
/ansible/ @EKbfh

# Fixes
/fixes/ @dv @aversant

# Profiles
/sa/profiles/ @dv @aversant @dmitryluhtionov

# Configuration
/config.py @dv @aversant @EKbfh

# Core
/core/ @dv @aversant
/core/config/ @dv @aversant @EKbfh

# Models
models/ @dv @aversant

# Commands
/commands/ @dv @aversant

# Services
/services/ @dv @aversant

# Rust
/rust/ @dv

# Documentation
/docs/ @dv

# Codeowners itself
CODEOWNERS @dv

# CI settings
/.gitlab-ci.yml @dv @EKbfh

# Docker files
/.docker/ @dv @EKbfh

# Github
.github/ @dv

Rename modules
  core/reporter/band.py
  core/reporter/reportengine.py
Owners: @dv, @aversant

Fix module references
  commands/report.py
  main/reportsources/reportclassificationrule.py
  main/reportsources/reportdiscoverylinks.py
  main/reportsources/reporteventsummary.py
  main/reportsources/reportprofilechecksummary.py
  main/reportsources/reportunclassifiedoids.py
  services/web/apps/main/reportconfig/views.py
  tests/reporter/test_data_band.py
  tests/reporter/test_get_rows.py
  tests/reporter/test_report.py
  tests/reporter/test_report_config.py
Owners: @dv, @aversant

Fix internal module references
  core/reporter/band.py
  core/reporter/formatter/base.py
  core/reporter/formatter/loader.py
  core/reporter/formatter/simplereport.py
  core/reporter/formatter/simpletable.py
  core/reporter/reportengine.py
  core/reporter/reportsource.py
Owners: @dv, @aversant

Refactor query_datasource
  core/reporter/reportengine.py
Owners: @dv, @aversant

Refactor get_datasets
  core/reporter/reportengine.py
Owners: @dv, @aversant

Refactor generate_report
  core/reporter/reportengine.py
Owners: @dv, @aversant

Rename variables report
  commands/report.py
  core/reporter/reportengine.py
  core/reporter/types.py
  services/web/apps/main/reportconfig/views.py
  tests/reporter/test_report.py
  tests/reporter/test_report_config.py
Owners: @dv, @aversant

Remove sender-kafka dependency group
  .github/workflows/py-tests.yml
  Dockerfile
  ansible/noc_roles/noc/tasks/init_venv_python3.yml
  pyproject.toml
Owners: @dv, @EKbfh, @aversant

Fix invalid interfaces type in LLDP discovery
  sa/interfaces/igetlldpneighbors.py
Owners: @dv, @aversant

Add representation methods
  core/reporter/band.py
  core/reporter/formatter/base.py
  core/reporter/types.py
Owners: @dv, @aversant

Fix regexp
  sa/interfaces/igetlldpneighbors.py
Owners: @dv, @aversant

Fix tests
  tests/reporter/test_get_rows.py
Owners: @dv

Fix regexp
  sa/interfaces/igetlldpneighbors.py
Owners: @dv, @aversant

Remove IPv4Parameter()
  sa/interfaces/igetlldpneighbors.py
Owners: @dv, @aversant

Fix formatting
  sa/interfaces/igetlldpneighbors.py
Owners: @dv, @aversant

Add detect alarm changed to AlarmJob.
  core/fm/enum.py
  core/fm/request.py
  fm/models/activealarm.py
  fm/models/alarmjob.py
  fm/models/alarmrule.py
  fm/models/alarmwatch.py
  fm/models/escalationprofile.py
  services/correlator/alarmaction.py
  services/correlator/alarmjob.py
  services/correlator/alarmrule.py
  services/correlator/rule.py
  services/correlator/service.py
  services/escalator/jobs/check_tt.py
  tests/fm/test_alarm_job.py
  ui/web/fm/ttsystem/Application.js
  ui/web/fm/ttsystem/Model.js
Owners: @dv, @aversant, @uncol

release-25.1:Backport!9904
  core/fm/enum.py
  core/fm/request.py
  fm/models/activealarm.py
  fm/models/alarmjob.py
  fm/models/alarmrule.py
  fm/models/alarmwatch.py
  fm/models/escalationprofile.py
  services/correlator/alarmaction.py
  services/correlator/alarmjob.py
  services/correlator/alarmrule.py
  services/correlator/rule.py
  services/correlator/service.py
  services/escalator/jobs/check_tt.py
  tests/fm/test_alarm_job.py
  ui/web/fm/ttsystem/Application.js
  ui/web/fm/ttsystem/Model.js
Owners: @dv, @aversant, @uncol

Refactor core/reporter (#153)
  commands/report.py
  core/reporter/band.py
  core/reporter/formatter/base.py
  core/reporter/formatter/loader.py
  core/reporter/formatter/simplereport.py
  core/reporter/formatter/simpletable.py
  core/reporter/reportengine.py
  core/reporter/reportsource.py
  core/reporter/types.py
  main/reportsources/reportclassificationrule.py
  main/reportsources/reportdiscoverylinks.py
  main/reportsources/reporteventsummary.py
  main/reportsources/reportprofilechecksummary.py
  main/reportsources/reportunclassifiedoids.py
  services/web/apps/main/reportconfig/views.py
  tests/reporter/test_data_band.py
  tests/reporter/test_get_rows.py
  tests/reporter/test_report.py
  tests/reporter/test_report_config.py
Owners: @dv, @aversant

IPv4Parameter: accept_bin option
  sa/interfaces/base.py
  tests/interface/test_base.py
Owners: @dv, @aversant

IPv4Parameter: accept_bin option (#157)
  sa/interfaces/base.py
  tests/interface/test_base.py
Owners: @dv, @aversant

IGetLLDPNeighbor: Disable binary IPv4 recognition
  sa/interfaces/igetlldpneighbors.py
Owners: @dv, @aversant

Fix
  sa/interfaces/igetlldpneighbors.py
Owners: @dv, @aversant

Add support for LLDP_PORT_SUBTYPE_NETWORK_ADDRESS discovery
  services/discovery/jobs/box/lldp.py
Owners: @dv, @aversant

Add support for LLDP_PORT_SUBTYPE_NETWORK_ADDRESS discovery (#159)
  services/discovery/jobs/box/lldp.py
Owners: @dv, @aversant

Add assigned user to TTSystem context.
  commands/alarm.py
  core/fm/request.py
  core/tt/base.py
  core/tt/types.py
  fm/models/archivedalarm.py
  fm/models/escalationprofile.py
  services/correlator/actionlog.py
  services/correlator/alarmaction.py
  services/correlator/alarmjob.py
Owners: @dv, @aversant

release-25.1:Backport!9909
  commands/alarm.py
  core/fm/request.py
  core/tt/base.py
  core/tt/types.py
  fm/models/archivedalarm.py
  fm/models/escalationprofile.py
  services/correlator/actionlog.py
  services/correlator/alarmaction.py
  services/correlator/alarmjob.py
Owners: @dv, @aversant

Add ability pass more then one LLDP neighbors entries
  sa/profiles/Cisco/IOS/get_lldp_neighbors.py
  sa/profiles/DLink/DxS/get_lldp_neighbors.py
  sa/profiles/Juniper/JUNOS/get_lldp_neighbors.py
Owners: @dv, @aversant, @dmitryluhtionov

Add ability D-Link DES-1210-10/ME/B2 to return right amount of MAC address in get_chassis_id script
  sa/profiles/DLink/DxS/get_chassis_id.py
  sa/profiles/DLink/DxS/profile.py
Owners: @dv, @aversant, @dmitryluhtionov

Add more prorocols to IGetInterfaces class
  sa/interfaces/igetinterfaces.py
Owners: @dv, @aversant

Update MikroTik.RouterOS.get_interfaces script
  sa/profiles/MikroTik/RouterOS/get_interfaces.py
Owners: @dv, @aversant, @dmitryluhtionov

Fix use unused variable
  sa/profiles/MikroTik/RouterOS/get_interfaces.py
Owners: @dv, @aversant, @dmitryluhtionov

GufoFont 0.0.9
  ui/package-lock.json
  ui/package.json
Owners: none

GufoFont 0.0.9 (#165)
  ui/package-lock.json
  ui/package.json
Owners: none

Use GF icons for port/object type designation
  inv/models/connectiontype.py
  inv/models/objectmodel.py
Owners: @dv, @aversant

chassis and linecards icons
  inv/models/objectmodel.py
  main/models/glyph.py
Owners: @dv, @aversant

Use GF icons for port/object type designation (#152)
  inv/models/connectiontype.py
  inv/models/objectmodel.py
  main/models/glyph.py
Owners: @dv, @aversant

Update Juniper.JUNOS.get_inventory script
  sa/profiles/Juniper/JUNOS/get_inventory.py
  sa/profiles/Juniper/JUNOS/profile.py
Owners: @dv, @aversant, @dmitryluhtionov

Fix FPC number
  sa/profiles/Juniper/JUNOS/get_inventory.py
Owners: @dv, @aversant, @dmitryluhtionov

Fix syntax
  sa/profiles/Juniper/JUNOS/get_inventory.py
Owners: @dv, @aversant, @dmitryluhtionov

Fix syntax
  sa/profiles/Juniper/JUNOS/profile.py
Owners: @dv, @aversant, @dmitryluhtionov
