Repository gufolabs/noc, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dv, @aversant, @uncol, @EKbfh, @dmitryluhtionov

.github/CODEOWNERS:

# NOC code owners
# Lines starting with `#` will be ignored.
# Rules defined later in the file take precedence over the rules
# defined before.

# Python files
*.py @dv @aversant

# JS files
*.js @uncol @dv

# CSS files
*.css @uncol @dv

# Jinja2 templates
*.j2 @dv @aversant

# Tests
/tests/ @dv

# Dependencies
pyproject.toml @dv @aversant

# Ansible Deploy
/ansible/ @EKbfh

# Fixes
/fixes/ @dv @aversant

# Profiles
/sa/profiles/ @dv @aversant @dmitryluhtionov

# Configuration
/config.py @dv @aversant @EKbfh

# Core
/core/ @dv @aversant
/core/config/ @dv @aversant @EKbfh

# Models
models/ @dv @aversant

# Commands
/commands/ @dv @aversant

# Services
/services/ @dv @aversant

# Rust
/rust/ @dv

# Documentation
/docs/ @dv

# Codeowners itself
CODEOWNERS @dv

# CI settings
/.gitlab-ci.yml @dv @EKbfh

# Docker files
/.docker/ @dv @EKbfh

# Github
.github/ @dv

release-25.1:Backport!9971
  collections/fm.dispositionrules/Network/BGP/Peer_State_Changed_Network/BGP/Peer_Down_raise_.json
Owners: none

Add Administrative Domain description in managedobject context
  docs/mx-messages-reference/event.md
  docs/mx-messages-reference/interface_status_change.md
  docs/mx-messages-reference/reboot.md
  docs/mx-messages-reference/syslog.md
  sa/models/managedobject.py
Owners: @dv, @aversant

release-25.1:Backport!9969
  docs/mx-messages-reference/event.md
  docs/mx-messages-reference/interface_status_change.md
  docs/mx-messages-reference/reboot.md
  docs/mx-messages-reference/syslog.md
  sa/models/managedobject.py
Owners: @dv, @aversant

Pretty print resource on Service UI.
  services/web/apps/sa/service/views.py
Owners: @dv, @aversant

release-25.1:Backport!9974
  services/web/apps/sa/service/views.py
Owners: @dv, @aversant

Add cmibs UPS-MIB
  cmibs/ups_mib.py
Owners: @dv, @aversant

Fix uvicorn loop setup
  core/service/fastapi.py
Owners: @dv, @aversant

Fix uvicorn (#195)
  core/service/fastapi.py
Owners: @dv, @aversant

release-25.1:Backport!9967
  cmibs/ups_mib.py
Owners: @dv, @aversant

Replace not maintained python-consul client to py-consul.
  core/config/proto/consul.py
  core/consul.py
  core/dcs/consul.py
  pyproject.toml
Owners: @dv, @aversant, @EKbfh

Cisco.IOS Add HundredGigE interface type.
  sa/profiles/Cisco/IOS/get_interfaces.py
  sa/profiles/Cisco/IOS/get_lldp_neighbors.py
  sa/profiles/Cisco/IOS/get_version.py
  sa/profiles/Cisco/IOS/profile.py
Owners: @dv, @aversant, @dmitryluhtionov

release-25.1:Backport!9975
  .requirements/node.txt
  core/config/proto/consul.py
  core/consul.py
  core/dcs/consul.py
Owners: @dv, @aversant, @EKbfh

Add python3-yaml installation
  ansible/noc_roles/noc/tasks/os/Debian_10/main.yml
  ansible/noc_roles/noc/tasks/os/Debian_11/main.yml
Owners: @EKbfh

release-25.1:Backport#196
  ansible/noc_roles/noc/tasks/os/Debian_10/main.yml
  ansible/noc_roles/noc/tasks/os/Debian_11/main.yml
Owners: @EKbfh

Some fix for Brocade.IronWare
  sa/profiles/Brocade/IronWare/get_interfaces.py
  sa/profiles/Brocade/IronWare/get_version.py
  sa/profiles/Brocade/IronWare/profile.py
Owners: @dv, @aversant, @dmitryluhtionov

Update get_interfaces.py
  sa/profiles/Brocade/IronWare/get_interfaces.py
Owners: @dv, @aversant, @dmitryluhtionov

Fix MES-5324 and MES-3324 indexes
  sa/profiles/Eltex/MES/profile.py
Owners: @dv, @aversant, @dmitryluhtionov

f notation
  sa/profiles/Eltex/ESR/get_arp.py
  sa/profiles/Eltex/ESR/get_interfaces.py
  sa/profiles/Eltex/ESR/get_mpls_vpn.py
Owners: @dv, @aversant, @dmitryluhtionov

f notation
  sa/profiles/Eltex/ESR/get_interfaces.py
Owners: @dv, @aversant, @dmitryluhtionov

feat: update Node.js version and adjust build scripts for compatibility
  Dockerfile
  ui/package.json
  ui/scripts/index-template.html
  ui/web/inv/map/MapRendererPlaceholder.js
Owners: @uncol, @dv

Add inv/Load_Metrics_max report
  collections/main.reports/Load_Metrics_max.json
  core/datasources/maxmetricsds.py
Owners: @dv, @aversant

Rename datasource
  collections/main.reports/Load_Metrics_max.json
  core/datasources/loadmetricsmaxds.py
Owners: @dv, @aversant

Add time_params to report config
  collections/main.reports/Load_Metrics_max.json
  core/datasources/loadmetricsmaxds.py
Owners: @dv, @aversant

Add diagram for Band instance
  core/reporter/band.py
Owners: @dv, @aversant

Change combo-box to radio-box in report dialog
  collections/main.reports/Load_Metrics.json
Owners: none

Add inv/Load_Metrics_max report (transferred from GitLab)
  collections/main.reports/Load_Metrics.json
  core/datasources/base.py
  core/datasources/loadmetricsds.py
  core/reporter/formatter/simplereport.py
Owners: @dv, @aversant

Extend localization in report config
  collections/main.reports/Load_Metrics.json
Owners: none

Refactor field_by_name
  core/datasources/base.py
Owners: @dv, @aversant

Change column titles in report config
  collections/main.reports/Load_Metrics.json
Owners: none

Add functional of selected fields for simplereport-formatter
  core/reporter/formatter/base.py
  core/reporter/formatter/simplereport.py
  core/reporter/reportengine.py
Owners: @dv, @aversant

Add time_params parameter to report config
  collections/main.reports/Load_Metrics.json
  core/datasources/loadmetricsds.py
Owners: @dv, @aversant

Add columns defaults to report config
  collections/main.reports/Load_Metrics.json
Owners: none

Fix config
  collections/main.reports/Load_Metrics.json
Owners: none

Cleanup report config
  collections/main.reports/Load_Metrics.json
Owners: none

Add inv/Load_Metrics_max report (#116)
  collections/main.reports/Load_Metrics_max.json
  core/datasources/loadmetricsmaxds.py
Owners: @dv, @aversant

Add inv/Load_Metrics report (#164)
  collections/main.reports/Load_Metrics.json
  core/datasources/base.py
  core/datasources/loadmetricsds.py
  core/reporter/band.py
  core/reporter/formatter/base.py
  core/reporter/formatter/simplereport.py
  core/reporter/reportengine.py
Owners: @dv, @aversant

Fix CLI credential check order
  core/script/diagnostic.py
Owners: @dv, @aversant

release-25.1:Backport!9958
  core/script/diagnostic.py
Owners: @dv, @aversant

Fix check labels on ETL Loader processed.
  core/etl/loader/base.py
Owners: @dv, @aversant

release-25.1:Backport!9979
  sa/profiles/Cisco/IOS/get_interfaces.py
  sa/profiles/Cisco/IOS/get_lldp_neighbors.py
  sa/profiles/Cisco/IOS/get_version.py
  sa/profiles/Cisco/IOS/profile.py
Owners: @dv, @aversant, @dmitryluhtionov
