Repository gufolabs/noc, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dv, @aversant, @uncol, @EKbfh, @dmitryluhtionov

.github/CODEOWNERS:

# NOC code owners
# Lines starting with `#` will be ignored.
# Rules defined later in the file take precedence over the rules
# defined before.

# Python files
*.py @dv @aversant

# JS files
*.js @uncol @dv

# CSS files
*.css @uncol @dv

# Jinja2 templates
*.j2 @dv @aversant

# Tests
/tests/ @dv

# Dependencies
pyproject.toml @dv @aversant

# Ansible Deploy
/ansible/ @EKbfh

# Fixes
/fixes/ @dv @aversant

# Profiles
/sa/profiles/ @dv @aversant @dmitryluhtionov

# Configuration
/config.py @dv @aversant @EKbfh

# Core
/core/ @dv @aversant
/core/config/ @dv @aversant @EKbfh

# Models
models/ @dv @aversant

# Commands
/commands/ @dv @aversant

# Services
/services/ @dv @aversant

# Rust
/rust/ @dv

# Documentation
/docs/ @dv

# Codeowners itself
CODEOWNERS @dv

# CI settings
/.gitlab-ci.yml @dv @EKbfh

# Docker files
/.docker/ @dv @EKbfh

# Github
.github/ @dv

feat: add link inspection functionality to MapPanel
  ui/web/inv/map/MapPanel.js
  ui/web/inv/map/MapRendererPlaceholder.js
Owners: @uncol, @dv

feat: link hover functionality added
  ui/web/inv/map/MapPanel.js
  ui/web/inv/map/MapRendererPlaceholder.js
Owners: @uncol, @dv

feat: update CI workflow to use latest actions and improve dependency management
  .github/workflows/ui-master.yml
Owners: @dv

refactor(ui): update MapRenderer and MapPanel to use new MapRenderer class; adjust build scripts for topo-map
  ui/package.json
  ui/pnpm-lock.yaml
  ui/web/inv/map/MapPanel.js
  ui/web/inv/map/MapRenderer.js
Owners: @uncol, @dv

refactor: replace Ext.String.format with template literals
  ui/web/core/ModelApplication.js
  ui/web/core/MonacoPanel.js
  ui/web/core/StateField.js
  ui/web/core/SubscriptionPanel.js
  ui/web/core/TreePanel.js
  ui/web/core/plugins/DynamicModalEditing.js
  ui/web/core/plugins/SubscriptionModalEditing.js
  ui/web/fm/alarmseverity/Application.js
  ui/web/fm/event/EventInspector.js
  ui/web/inv/interface/Application.js
  ui/web/inv/inv/CreateConnectionForm.js
  ui/web/inv/inv/plugins/metric/MetricPanel.js
  ui/web/inv/inv/plugins/opm/OPMLegendSprite.js
  ui/web/inv/inv/sprites/Body.js
  ui/web/inv/inv/sprites/Connection.js
  ui/web/inv/inv/sprites/External.js
  ui/web/inv/inv/sprites/Pin.js
  ui/web/inv/inv/sprites/Pointer.js
  ui/web/inv/macdb/MACLogForm.js
  ui/web/inv/objectmodel/Application.js
  ui/web/inv/objectmodel/CrossDiagram.js
  ui/web/inv/objectmodel/sprites/Connection.js
  ui/web/inv/unknownmodel/Application.js
  ui/web/js/util.js
  ui/web/sa/discoveredobject/widget/Check.js
  ui/web/sa/managedobject/Controller.js
  ui/web/sa/managedobject/InterfacePanel.js
  ui/web/sa/managedobject/RepoPreview.js
  ui/web/sa/managedobject/SensorsPanel.js
  ui/web/sa/managedobject/form/FormController.js
  ui/web/sa/runcommands/Controller.js
Owners: @uncol, @dv

refactor: remove duplicated polling logic, delegate to Polling mixin
  ui/web/core/mixins/Polling.js
  ui/web/fm/alarm/view/grids/ContainerController.js
  ui/web/inv/inv/plugins/alarm/AlarmPanel.js
  ui/web/inv/inv/plugins/map/MapPanel.js
  ui/web/inv/map/MapPanel.js
Owners: @uncol, @dv

feat: update pnpm install command to force install and bump topo-map version to 3.4.9
  scripts/build/build-ui
  ui/pnpm-lock.yaml
Owners: none

refactor: track window focus state in Polling mixin via _windowFocused flag
  ui/web/core/mixins/Polling.js
  ui/web/fm/alarm/view/grids/ContainerController.js
  ui/web/inv/inv/Application.js
  ui/web/inv/inv/plugins/Mixins.js
  ui/web/inv/inv/plugins/alarm/AlarmPanel.js
  ui/web/inv/inv/plugins/map/MapPanel.js
  ui/web/inv/map/MapPanel.js
Owners: @uncol, @dv

refactor(ui): rename MapRendererPlaceholder to MapRenderer
  ui/web/inv/map/MapPanel.js
  ui/web/inv/map/MapRenderer.js
Owners: @uncol, @dv

feat: update Dockerfile and build script to use pnpm with frozen lockfile
  Dockerfile
  scripts/build/build-ui
Owners: none

chore(ui): migrate topo-map to local workspace package
  ui/package.json
  ui/pnpm-lock.yaml
  ui/pnpm-workspace.yaml
Owners: none

refactor(polling): fix disableHandler in mixin and align host classes
  ui/web/core/mixins/Polling.js
  ui/web/fm/alarm/view/grids/ContainerController.js
  ui/web/inv/map/MapPanel.js
Owners: @uncol, @dv

fix: simplify URL construction in preview method of AlarmPanel
  ui/web/sa/managedobject/AlarmPanel.js
Owners: @uncol, @dv

Fix labels
  sa/profiles/Eltex/SMG/get_metrics.py
Owners: @dv, @aversant, @dmitryluhtionov

python-multipart 0.0.28
  pyproject.toml
Owners: @dv, @aversant

Remove unrelevant noqa
  services/correlator/service.py
Owners: @dv, @aversant

python-multipart 0.0.28 (#239)
  pyproject.toml
Owners: @dv, @aversant

Remove unrelevant noqa (#240)
  services/correlator/service.py
Owners: @dv, @aversant

Add Vertiv PDU profile.
  collections/inv.vendors/VERTIV.json
  collections/sa.profilecheckrules/Vertiv/PDU/Generic_sysObjectID.json
  collections/sa.profiles/Vertiv/PDU.json
  docs/profiles-reference/SUMMARY.md
  docs/profiles-reference/Vertiv/PDU.md
  docs/profiles-reference/Vertiv/SUMMARY.md
  docs/profiles-reference/Vertiv/index.md
  docs/profiles-reference/index.md
  sa/profiles/Vertiv/PDU/__init__.py
  sa/profiles/Vertiv/PDU/get_interfaces.py
  sa/profiles/Vertiv/PDU/get_inventory.py
  sa/profiles/Vertiv/PDU/get_metrics.py
  sa/profiles/Vertiv/PDU/get_version.py
  sa/profiles/Vertiv/PDU/profile.py
  sa/profiles/Vertiv/__init__.py
Owners: @dv, @aversant, @dmitryluhtionov

release-25.1:Backport!10017
  collections/inv.vendors/VERTIV.json
  collections/sa.profilecheckrules/Vertiv/PDU/Generic_sysObjectID.json
  collections/sa.profiles/Vertiv/PDU.json
  docs/profiles-reference/SUMMARY.md
  docs/profiles-reference/Vertiv/PDU.md
  docs/profiles-reference/Vertiv/SUMMARY.md
  docs/profiles-reference/Vertiv/index.md
  docs/profiles-reference/index.md
  sa/profiles/Vertiv/PDU/__init__.py
  sa/profiles/Vertiv/PDU/get_interfaces.py
  sa/profiles/Vertiv/PDU/get_inventory.py
  sa/profiles/Vertiv/PDU/get_metrics.py
  sa/profiles/Vertiv/PDU/get_version.py
  sa/profiles/Vertiv/PDU/profile.py
  sa/profiles/Vertiv/__init__.py
Owners: @dv, @aversant, @dmitryluhtionov

Add register TRAP and SYSLOG diagnostic checks.
  config.py
  core/checkers/base.py
  services/scheduler/jobs/update_checks.py
  services/scheduler/service.py
  services/syslogcollector/service.py
  services/syslogcollector/sourceconfig.py
  services/trapcollector/sourceconfig.py
Owners: @dv, @aversant, @EKbfh

Add CleverElectronic.MPDU profile.
  collections/inv.vendors/CLEVER_ELECTRONIC.json
  collections/sa.profiles/CleverElectronic/MPDU.json
  docs/profiles-reference/CleverElectronic/MPDU.md
  docs/profiles-reference/CleverElectronic/SUMMARY.md
  docs/profiles-reference/CleverElectronic/index.md
  docs/profiles-reference/SUMMARY.md
  docs/profiles-reference/index.md
  sa/profiles/CleverElectronic/MPDU/__init__.py
  sa/profiles/CleverElectronic/MPDU/get_fqdn.py
  sa/profiles/CleverElectronic/MPDU/get_interfaces.py
  sa/profiles/CleverElectronic/MPDU/get_inventory.py
  sa/profiles/CleverElectronic/MPDU/get_metrics.py
  sa/profiles/CleverElectronic/MPDU/get_version.py
  sa/profiles/CleverElectronic/MPDU/profile.py
  sa/profiles/CleverElectronic/__init__.py
Owners: @dv, @aversant, @dmitryluhtionov

release-25.1:Backport!10016
  config.py
  core/checkers/base.py
  services/scheduler/jobs/update_checks.py
  services/scheduler/service.py
  services/syslogcollector/service.py
  services/syslogcollector/sourceconfig.py
  services/trapcollector/sourceconfig.py
Owners: @dv, @aversant, @EKbfh

release-25.1:Backport!10019
  collections/inv.vendors/CLEVER_ELECTRONIC.json
  collections/sa.profiles/CleverElectronic/MPDU.json
  docs/profiles-reference/CleverElectronic/MPDU.md
  docs/profiles-reference/CleverElectronic/SUMMARY.md
  docs/profiles-reference/CleverElectronic/index.md
  docs/profiles-reference/SUMMARY.md
  docs/profiles-reference/index.md
  sa/profiles/CleverElectronic/MPDU/__init__.py
  sa/profiles/CleverElectronic/MPDU/get_fqdn.py
  sa/profiles/CleverElectronic/MPDU/get_interfaces.py
  sa/profiles/CleverElectronic/MPDU/get_inventory.py
  sa/profiles/CleverElectronic/MPDU/get_metrics.py
  sa/profiles/CleverElectronic/MPDU/get_version.py
  sa/profiles/CleverElectronic/MPDU/profile.py
  sa/profiles/CleverElectronic/__init__.py
Owners: @dv, @aversant, @dmitryluhtionov

Fix duplicate part_no migration.
  inv/migrations/0045_fix_duplicate_part_no_list.py
Owners: @dv, @aversant

release-25.1:Backport!10022
  inv/migrations/0045_fix_duplicate_part_no_list.py
Owners: @dv, @aversant

Fix part_no migration typo.
  inv/migrations/0045_fix_duplicate_part_no_list.py
Owners: @dv, @aversant

release-25.1:Backport!10024
  inv/migrations/0045_fix_duplicate_part_no_list.py
Owners: @dv, @aversant

Fix 'Profile check detail' report (#232)
  collections/main.reports/Profile_Check_Detail.json
Owners: none

Fix 'Profile check detail' report (#232)
  collections/main.reports/Profile_Check_Detail.json
Owners: none

release-25.1:Backport!232 (#241)
  collections/main.reports/Profile_Check_Detail.json
Owners: none

Refresh service dependency from config.
  core/diagnostic/decorator.py
  core/etl/loader/service.py
  core/models/serviceinstanceconfig.py
  core/models/servicestatus.py
  core/models/valuetype.py
  sa/models/service.py
  sa/models/serviceinstance.py
Owners: @dv, @aversant

release-25.1:Backport!10026
  core/diagnostic/decorator.py
  core/etl/loader/service.py
  core/models/serviceinstanceconfig.py
  core/models/servicestatus.py
  core/models/valuetype.py
  sa/models/service.py
  sa/models/serviceinstance.py
Owners: @dv, @aversant

Fix transimission munits to sensor discovery.
  core/cdag/node/probe.py
  inv/models/sensor.py
  sa/profiles/Generic/get_metrics.py
  services/metrics/models/card.py
  services/metrics/service.py
  services/metricscollector/service.py
Owners: @dv, @aversant, @dmitryluhtionov

release-25.1:Backport!10028
  core/cdag/node/probe.py
  inv/models/sensor.py
  sa/profiles/Generic/get_metrics.py
  services/metrics/models/card.py
  services/metrics/service.py
  services/metricscollector/service.py
Owners: @dv, @aversant, @dmitryluhtionov

Fix TAU profile
  sa/profiles/Eltex/TAU/get_interfaces.py
  sa/profiles/Eltex/TAU/get_lldp_neighbors.py
  sa/profiles/Eltex/TAU/get_metrics.py
  sa/profiles/Eltex/TAU/snmp_metrics/telephony_voice_calls_count.json
Owners: @dv, @aversant, @dmitryluhtionov

Add dashboard templates for SMG profile metrics
  templates/ddash/graph_telephony_sip_users_active.j2
  templates/ddash/graph_telephony_sip_users_all.j2
  templates/ddash/graph_telephony_trunk_capacity.j2
  templates/ddash/graph_telephony_trunk_chansbusy.j2
  templates/ddash/graph_telephony_trunk_chansfree.j2
  templates/ddash/graph_telephony_trunk_cpsalarm.j2
  templates/ddash/graph_telephony_trunk_cpsmax.j2
  templates/ddash/graph_telephony_trunk_currentcps.j2
  templates/ddash/graph_telephony_trunk_currentegresscalls.j2
  templates/ddash/graph_telephony_trunk_currentingresscalls.j2
  templates/ddash/graph_telephony_trunk_currenttotalcalls.j2
  templates/ddash/graph_telephony_trunk_enable.j2
  templates/ddash/graph_telephony_trunk_status.j2
  templates/ddash/graph_telephony_trunk_unavailableciccount.j2
Owners: @dv, @aversant

Fix trunk-metric
  sa/profiles/OmegaTelecom/SBC/snmp_metrics/telephony_trunk_currentcps.json
Owners: @dv, @aversant, @dmitryluhtionov

Change apply cfg metrics rules.
  pm/models/metricaction.py
  pm/models/metricrule.py
  services/datastream/models/cfgmetricrules.py
  services/datastream/streams/cfgmetricrules.py
  services/metrics/models/card.py
  services/metrics/models/rule.py
  services/metrics/models/target.py
  services/metrics/service.py
Owners: @dv, @aversant

release-25.1:Backport!10030
  pm/models/metricaction.py
  pm/models/metricrule.py
  services/datastream/models/cfgmetricrules.py
  services/datastream/streams/cfgmetricrules.py
  services/metrics/models/card.py
  services/metrics/models/rule.py
  services/metrics/models/target.py
  services/metrics/service.py
Owners: @dv, @aversant
