Repository gufolabs/noc, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dv, @aversant, @uncol, @EKbfh, @dmitryluhtionov

Fix
  core/topology/map/segment.py
Owners: @dv, @aversant

TopologyBase: Make ABC, additional typing (#423)
  core/topology/base.py
  core/topology/map/configured.py
  core/topology/map/l2domain.py
  core/topology/map/objectcontainer.py
  core/topology/map/objectgroup.py
  core/topology/map/objectlevelneighbor.py
  core/topology/map/segment.py
Owners: @dv, @aversant

#150: Limit list of available segments for user (#424)
  core/topology/map/segment.py
  services/web/apps/inv/map/views.py
Owners: @dv, @aversant

move @view and @api definition to separate modules. Make @api.xxx url parameter positional-only
  services/web/base/api.py
  services/web/base/application.py
Owners: @dv, @aversant

Remove multiple methods in @view
  services/web/apps/fm/alarm/views.py
  services/web/apps/fm/event/views.py
  services/web/apps/inv/macdb.py
  services/web/apps/sa/managedobject.py
  services/web/apps/sa/objectlist.py
Owners: @dv, @aversant

move @view and @api definition to separate modules. Make @api.xxx url parameter positional-only (#426)
  services/web/base/api.py
  services/web/base/application.py
Owners: @dv, @aversant

Fix
  ui/web/peer/asset/Application.js
  ui/web/sa/capsprofile/Application.js
Owners: @uncol, @dv

Application: Reexport `api` and `view` properly
  services/web/base/api.py
  services/web/base/application.py
  services/web/base/extapplication.py
  services/web/base/extdocapplication.py
  services/web/base/extmodelapplication.py
  services/web/base/reportapplication.py
Owners: @dv, @aversant

Fix
  services/web/base/extapplication.py
Owners: @dv, @aversant

Restore api_list_full
  services/web/apps/sa/managedobject.py
Owners: @dv, @aversant

login: improve kafka support for revokedtokens
  services/login/service.py
Owners: @dv, @aversant

config: additional typing
  core/config/base.py
Owners: @dv, @aversant, @EKbfh

Fix
  services/web/apps/fm/alarm/views.py
Owners: @dv, @aversant

install gufo-liftbridge only when liftbridge selected
  ansible/noc_roles/noc/tasks/init_venv_python3.yml
  pyproject.toml
Owners: @EKbfh, @dv, @aversant

Remove multiple methods in @view (#427)
  services/web/apps/fm/alarm/views.py
  services/web/apps/fm/event/views.py
  services/web/apps/inv/macdb.py
  services/web/apps/sa/managedobject.py
  services/web/apps/sa/objectlist.py
Owners: @dv, @aversant

Application: Reexport `api` and `view` properly (#428)
  services/web/base/api.py
  services/web/base/application.py
  services/web/base/extapplication.py
  services/web/base/extdocapplication.py
  services/web/base/extmodelapplication.py
  services/web/base/reportapplication.py
Owners: @dv, @aversant

Fix
  services/login/service.py
Owners: @dv, @aversant

./noc compile-docs: sort choices for stable diff
  commands/config.py
  docs/config-reference/params.yml
Owners: @dv, @aversant

Install liftbridge to test environment
  .github/workflows/py-tests.yml
Owners: @dv

Remove unused gis/geo.py module
  gis/geo.py
  tests/test_geo.py
Owners: @dv, @aversant

install gufo-liftbridge only when liftbridge selected (#431)
  .github/workflows/py-tests.yml
  ansible/noc_roles/noc/tasks/init_venv_python3.yml
  pyproject.toml
Owners: @dv, @EKbfh, @aversant

login: improve kafka support for revokedtokens (#429)
  services/login/service.py
Owners: @dv, @aversant

Revert get_protocol typing
  core/config/base.py
Owners: @dv, @aversant, @EKbfh

./noc compile-docs: sort choices for stable diff (#432)
  commands/config.py
  docs/config-reference/params.yml
Owners: @dv, @aversant

Remove `legacy` config scheme
  config.py
  core/config/base.py
  core/config/proto/legacy.py
  docs/config-reference/index.md
  docs/config-reference/path.md
  docs/man/config.md
  scripts/deploy/apply-pools
Owners: @dv, @aversant, @EKbfh

Remove unused param
  docs/config-reference/params.yml
Owners: @dv

Remove unused gis/geo.py module (#434)
  gis/geo.py
  tests/test_geo.py
Owners: @dv, @aversant

config: additional typing (#430)
  core/config/base.py
Owners: @dv, @aversant, @EKbfh

Remove unused import
  scripts/deploy/apply-pools
Owners: none

Fix typo
  docs/config-reference/index.md
Owners: @dv

Remove `legacy` config scheme (#433)
  config.py
  core/config/base.py
  core/config/proto/legacy.py
  docs/config-reference/index.md
  docs/config-reference/params.yml
  docs/config-reference/path.md
  docs/man/config.md
  scripts/deploy/apply-pools
Owners: @dv, @aversant, @EKbfh

Configuration system refactoring
  commands/config.py
  config.py
  core/config/backends/__init__.py
  core/config/backends/base.py
  core/config/backends/consul.py
  core/config/backends/env.py
  core/config/backends/yaml.py
  core/config/base.py
  core/config/proto/base.py
  core/config/proto/consul.py
  core/config/proto/env.py
  core/config/proto/yaml.py
  tests/config/__init__.py
  tests/config/test_consul.py
  tests/config/test_env.py
  tests/config/test_params.py
  tests/config/test_yaml.py
  tests/test_config.py
Owners: @dv, @aversant, @EKbfh

Fix typo
  core/config/backends/base.py
Owners: @dv, @aversant, @EKbfh

Configuration system refactoring (#435)
  commands/config.py
  config.py
  core/config/backends/__init__.py
  core/config/backends/base.py
  core/config/backends/consul.py
  core/config/backends/env.py
  core/config/backends/yaml.py
  core/config/base.py
  core/config/proto/base.py
  core/config/proto/consul.py
  core/config/proto/env.py
  core/config/proto/yaml.py
  tests/config/__init__.py
  tests/config/test_consul.py
  tests/config/test_env.py
  tests/config/test_params.py
  tests/config/test_yaml.py
  tests/test_config.py
Owners: @dv, @aversant, @EKbfh

fix missed url
  services/web/apps/inv/container.py
  services/web/apps/inv/inv/views.py
Owners: @dv, @aversant

Remove yedit
  ansible/AGENTS.md
  ansible/library/yedit.py
  ansible/noc_roles/noc/tasks/config.yml
  ansible/noc_roles/noc/templates/etc/settings.yml.j2
Owners: @EKbfh

fix
  services/web/apps/inv/inv/views.py
Owners: @dv, @aversant

Mo form position shape ii (#420)
  services/web/apps/main/ref.py
  ui/package.json
  ui/pnpm-lock.yaml
  ui/web/main/ref/soform/LookupField.js
  ui/web/main/ref/soposition/LookupField.js
  ui/web/sa/managedobject/form/View.js
Owners: @dv, @aversant, @uncol

Remove yedit (#437)
  ansible/AGENTS.md
  ansible/library/yedit.py
  ansible/noc_roles/noc/tasks/config.yml
  ansible/noc_roles/noc/templates/etc/settings.yml.j2
Owners: @EKbfh

Replace @view
  services/web/apps/fm/event/views.py
  services/web/apps/sa/job.py
  services/web/apps/sa/service.py
Owners: @dv, @aversant

.github/CODEOWNERS:

# NOC code owners
# Lines starting with `#` will be ignored.
# Rules defined later in the file take precedence over the rules
# defined before.

# Python files
*.py @dv @aversant

# JS files
*.js @uncol @dv

# CSS files
*.css @uncol @dv

# Jinja2 templates
*.j2 @dv @aversant

# Tests
/tests/ @dv

# Dependencies
pyproject.toml @dv @aversant

# Ansible Deploy
/ansible/ @EKbfh

# Fixes
/fixes/ @dv @aversant

# Profiles
/sa/profiles/ @dv @aversant @dmitryluhtionov

# Configuration
/config.py @dv @aversant @EKbfh

# Core
/core/ @dv @aversant
/core/config/ @dv @aversant @EKbfh

# Models
models/ @dv @aversant

# Commands
/commands/ @dv @aversant

# Services
/services/ @dv @aversant

# Rust
/rust/ @dv

# Documentation
/docs/ @dv

# Codeowners itself
CODEOWNERS @dv

# CI settings
/.gitlab-ci.yml @dv @EKbfh

# Docker files
/.docker/ @dv @EKbfh

# Github
.github/ @dv
