Repository gufolabs/noc, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dv, @aversant, @uncol, @EKbfh, @dmitryluhtionov

.github/CODEOWNERS:

# NOC code owners
# Lines starting with `#` will be ignored.
# Rules defined later in the file take precedence over the rules
# defined before.

# Python files
*.py @dv @aversant

# JS files
*.js @uncol @dv

# CSS files
*.css @uncol @dv

# Jinja2 templates
*.j2 @dv @aversant

# Tests
/tests/ @dv

# Dependencies
pyproject.toml @dv @aversant

# Ansible Deploy
/ansible/ @EKbfh

# Fixes
/fixes/ @dv @aversant

# Profiles
/sa/profiles/ @dv @aversant @dmitryluhtionov

# Configuration
/config.py @dv @aversant @EKbfh

# Core
/core/ @dv @aversant
/core/config/ @dv @aversant @EKbfh

# Models
models/ @dv @aversant

# Commands
/commands/ @dv @aversant

# Services
/services/ @dv @aversant

# Rust
/rust/ @dv

# Documentation
/docs/ @dv

# Codeowners itself
CODEOWNERS @dv

# CI settings
/.gitlab-ci.yml @dv @EKbfh

# Docker files
/.docker/ @dv @EKbfh

# Github
.github/ @dv

python-jose 3.5.0
  pyproject.toml
Owners: @dv, @aversant

django 4.2.30
  pyproject.toml
Owners: @dv, @aversant

Fix
  pyproject.toml
Owners: @dv, @aversant

Fix multiple list when set part_no on asset discovery.
  inv/migrations/0045_fix_duplicate_part_no_list.py
  services/discovery/jobs/box/asset.py
Owners: @dv, @aversant

release-25.1:Backport!9996
  inv/migrations/0045_fix_duplicate_part_no_list.py
  services/discovery/jobs/box/asset.py
Owners: @dv, @aversant

Fix set Default Service Oper Status.
  core/models/servicestatus.py
  sa/models/service.py
Owners: @dv, @aversant

release-25.1:Backport!9999
  core/models/servicestatus.py
  sa/models/service.py
Owners: @dv, @aversant

Add doc-file for Eltex VP
  docs/profiles-reference/Eltex/VP.md
Owners: @dv

Clean up map generation code
  core/topology/base.py
  core/topology/types.py
  inv/models/cpe.py
  inv/models/mapsettings.py
  inv/models/networksegment.py
  inv/models/object.py
  inv/models/resourcegroup.py
  sa/models/managedobject.py
  services/web/apps/inv/map/views.py
Owners: @dv, @aversant

Fix
  core/topology/base.py
  core/topology/types.py
  inv/models/resourcegroup.py
Owners: @dv, @aversant

Add get_metrics for SMG
  sa/profiles/Eltex/SMG/get_metrics.py
Owners: @dv, @aversant, @dmitryluhtionov

sentry-sdk 2.57.0
  core/debug.py
  pyproject.toml
Owners: @dv, @aversant

Django 4.2.30
  pyproject.toml
Owners: @dv, @aversant

Update project's metadata
  pyproject.toml
Owners: @dv, @aversant

ruff 0.15.9
  commands/gridvcs.py
  core/datasources/managedobjectavailabilityds.py
  core/facade/utils.py
  core/script/base.py
  core/techdomain/controller/otn_odu.py
  core/timepattern.py
  inv/models/object.py
  pyproject.toml
  sa/models/managedobject.py
  services/correlator/service.py
  services/datastream/models/managedobject.py
Owners: @dv, @aversant

Use node 24 in containers
  Dockerfile
Owners: none

Update get_metrics for SMG (trunks)
  collections/pm.metrictypes/Telephony/SIP/sip_trunk_capacity.json
  collections/pm.metrictypes/Telephony/SIP/sip_trunk_current_egress_calls.json
  collections/pm.metrictypes/Telephony/SIP/sip_trunk_current_ingress_calls.json
  collections/pm.metrictypes/Telephony/SIP/sip_trunk_current_total_calls.json
  collections/pm.metrictypes/Telephony/SIP/sip_trunk_enable.json
  sa/profiles/Eltex/SMG/get_metrics.py
Owners: @dv, @aversant, @dmitryluhtionov

noc-supp-fix-qtech2800-normalizer-card
  sa/profiles/Qtech/QSW2800/confdb/normalizer.py
  tests/confdb/profiles/Qtech/QSW2800/snmp4.yml
Owners: @dv, @aversant, @dmitryluhtionov

release-25.1:Backport!9995
  sa/profiles/Qtech/QSW2800/confdb/normalizer.py
  tests/confdb/profiles/Qtech/QSW2800/snmp4.yml
Owners: @dv, @aversant, @dmitryluhtionov

use get_interface_type, convert_interface_name, is_mac
  sa/profiles/Eltex/ESR/get_arp.py
  sa/profiles/Eltex/ESR/get_interfaces.py
  sa/profiles/Eltex/ESR/get_ip_discovery.py
  sa/profiles/Eltex/ESR/get_mpls_vpn.py
  sa/profiles/Eltex/ESR/profile.py
Owners: @dv, @aversant, @dmitryluhtionov

remove comments
  sa/profiles/Eltex/ESR/get_interfaces.py
  sa/profiles/Eltex/ESR/profile.py
Owners: @dv, @aversant, @dmitryluhtionov

Fix Formatting
  sa/profiles/Eltex/ESR/get_arp.py
  sa/profiles/Eltex/ESR/get_interfaces.py
  sa/profiles/Eltex/ESR/get_mpls_vpn.py
  sa/profiles/Eltex/ESR/profile.py
Owners: @dv, @aversant, @dmitryluhtionov

Fix Formatting
  sa/profiles/Eltex/ESR/get_interfaces.py
  sa/profiles/Eltex/ESR/get_mpls_vpn.py
  sa/profiles/Eltex/ESR/profile.py
Owners: @dv, @aversant, @dmitryluhtionov

Fix Formatting
  sa/profiles/Eltex/ESR/get_mpls_vpn.py
Owners: @dv, @aversant, @dmitryluhtionov

Check ruff
  sa/profiles/Eltex/ESR/get_interfaces.py
  sa/profiles/Eltex/ESR/get_ip_discovery.py
  sa/profiles/Eltex/ESR/get_mpls_vpn.py
Owners: @dv, @aversant, @dmitryluhtionov

Check Formatting
  sa/profiles/Eltex/ESR/get_interfaces.py
  sa/profiles/Eltex/ESR/get_ip_discovery.py
Owners: @dv, @aversant, @dmitryluhtionov

Check Formatting
  sa/profiles/Eltex/ESR/get_ip_discovery.py
Owners: @dv, @aversant, @dmitryluhtionov

fix collection
  collections/inv.objectmodels/Eltex/ESR/3200.json
Owners: none

Add 25G connections
  collections/inv.objectmodels/Eltex/ESR/3200.json
Owners: none

Remove name=Generic.get_ip_discovery
  sa/profiles/Eltex/ESR/get_ip_discovery.py
Owners: @dv, @aversant, @dmitryluhtionov

add name to get_ip_discovery.py
  sa/profiles/Eltex/ESR/get_ip_discovery.py
Owners: @dv, @aversant, @dmitryluhtionov

add name to get_ip_discovery.py
  sa/profiles/Eltex/ESR/get_ip_discovery.py
Owners: @dv, @aversant, @dmitryluhtionov

Move some metrics to snmp_metrics
  sa/profiles/Eltex/SMG/get_metrics.py
  sa/profiles/Eltex/SMG/snmp_metrics/environment_temperature.json
  sa/profiles/Eltex/SMG/snmp_metrics/telephony_sip_register_contacts_active.json
  sa/profiles/Eltex/SMG/snmp_metrics/telephony_sip_sessions_active.json
Owners: @dv, @aversant, @dmitryluhtionov

Fix
  sa/profiles/Eltex/SMG/get_metrics.py
Owners: @dv, @aversant, @dmitryluhtionov

Fix trunk metric
  sa/profiles/Eltex/SMG/get_metrics.py
Owners: @dv, @aversant, @dmitryluhtionov

Catch SNMP Authentication failed
  commands/snmp.py
Owners: @dv, @aversant

Additional checks
  commands/snmp.py
Owners: @dv, @aversant

gufo-snmp 0.12
  pyproject.toml
Owners: @dv, @aversant

Update trunk metrics
  collections/pm.metrictypes/Telephony/SIP/sip_trunk_chans_busy.json
  collections/pm.metrictypes/Telephony/SIP/sip_trunk_chans_free.json
  collections/pm.metrictypes/Telephony/SIP/sip_trunk_cps_alarm.json
  collections/pm.metrictypes/Telephony/SIP/sip_trunk_cps_max.json
  collections/pm.metrictypes/Telephony/SIP/sip_trunk_current_cps.json
  collections/pm.metrictypes/Telephony/SIP/sip_trunk_status.json
  collections/pm.metrictypes/Telephony/SIP/sip_trunk_unavailable_cic_count.json
  sa/profiles/Eltex/SMG/get_metrics.py
Owners: @dv, @aversant, @dmitryluhtionov

Append columns for CPU usage metrics
  sa/profiles/Eltex/SMG/get_metrics.py
Owners: @dv, @aversant, @dmitryluhtionov
