Repository gufolabs/noc, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dv, @aversant, @uncol, @EKbfh, @dmitryluhtionov

.github/CODEOWNERS:

# NOC code owners
# Lines starting with `#` will be ignored.
# Rules defined later in the file take precedence over the rules
# defined before.

# Python files
*.py @dv @aversant

# JS files
*.js @uncol @dv

# CSS files
*.css @uncol @dv

# Jinja2 templates
*.j2 @dv @aversant

# Tests
/tests/ @dv

# Dependencies
pyproject.toml @dv @aversant

# Ansible Deploy
/ansible/ @EKbfh

# Fixes
/fixes/ @dv @aversant

# Profiles
/sa/profiles/ @dv @aversant @dmitryluhtionov

# Configuration
/config.py @dv @aversant @EKbfh

# Core
/core/ @dv @aversant
/core/config/ @dv @aversant @EKbfh

# Models
models/ @dv @aversant

# Commands
/commands/ @dv @aversant

# Services
/services/ @dv @aversant

# Rust
/rust/ @dv

# Documentation
/docs/ @dv

# Codeowners itself
CODEOWNERS @dv

# CI settings
/.gitlab-ci.yml @dv @EKbfh

# Docker files
/.docker/ @dv @EKbfh

# Github
.github/ @dv

improved translation handling and polyfill removal
  ui/scripts/plugins/LanguagePlugin.ts
  ui/scripts/plugins/ReplaceMethodsPlugin.ts
  ui/web/locale/gettext.js
Owners: @uncol, @dv

Add command
  commands/mitya_classify.py
Owners: @dv, @aversant

Update
  commands/mitya_classify.py
Owners: @dv, @aversant

Fix
  core/collection/base.py
Owners: @dv, @aversant

to_json protocol
  core/protocols/to_json.py
  main/models/font.py
  main/models/glyph.py
  services/web/base/extdocapplication.py
  tests/models/test_0008_to_json.py
  tests/models/test_0009_get_json_path.py
  tests/utils.py
  wf/models/state.py
  wf/models/transition.py
  wf/models/wfmigration.py
Owners: @dv, @aversant

Fix
  services/web/base/extdocapplication.py
Owners: @dv, @aversant

More informative error message
  tests/models/test_0008_to_json.py
Owners: @dv, @aversant

Fix
  core/protocols/get_json_path.py
  tests/models/test_0009_get_json_path.py
Owners: @dv, @aversant

More informative message
  commands/collection.py
  core/collection/base.py
  services/web/base/extmodelapplication.py
  tests/models/test_0008_to_json.py
Owners: @dv, @aversant

GetJsonPath protocol
  core/protocols/__init__.py
  core/protocols/get_json_path.py
  tests/models/test_0009_get_json_path.py
Owners: @dv, @aversant

Fix
  tests/models/test_0009_get_json_path.py
Owners: @dv, @aversant

testing dump
  tests/models/test_0008_to_json.py
Owners: @dv, @aversant

fix
  tests/models/test_0008_to_json.py
Owners: @dv, @aversant

Fix
  tests/models/test_0008_to_json.py
Owners: @dv, @aversant

Fix
  tests/models/test_0008_to_json.py
Owners: @dv, @aversant

Fix
  tests/models/test_0008_to_json.py
Owners: @dv, @aversant

Add DLink.DxS network OAM events
  collections/fm.eventclassificationrules/DLink/DxS/Network/OAM/Monitoring_Error_SYSLOG.json
Owners: none

Register test markers
  tests/conftest.py
Owners: @dv

Add DLink.DxS network STP classification rules
  collections/fm.eventclassificationrules/DLink/DxS/Network/STP/STP_Port_Role_Changed_SYSLOG_.json
  collections/fm.eventclassificationrules/DLink/DxS/Network/STP/STP_Port_State_Changed_SYSLOG_.json
Owners: none

cli: Replace Event with Future in wait_for_read()
  core/script/cli/stream.py
Owners: @dv, @aversant

Fix
  core/script/cli/cli.py
Owners: @dv, @aversant

cli: Optimized parsing
  core/script/cli/cli.py
  core/script/cli/stream.py
Owners: @dv, @aversant

Add missed wait
  core/script/cli/ssh.py
Owners: @dv, @aversant

Revert
  core/script/cli/stream.py
Owners: @dv, @aversant

Revert
  core/script/cli/ssh.py
Owners: @dv, @aversant

Add Qtech.QSW2800 event classification rules
  collections/fm.eventclassificationrules/Qtech/QSW2800/Network/Link/Link_Down_SYSLOG_.json
  collections/fm.eventclassificationrules/Qtech/QSW2800/Network/Link/Link_Up_SYSLOG_.json
  collections/fm.eventclassificationrules/Qtech/QSW2800/Network/STP/STP_Port_State_Changed_SYSLOG_.json
  collections/fm.eventclassificationrules/Qtech/QSW2800/Security/Audit/Command_SYSLOG_.json
Owners: none

Normalize match labels file names
  main/models/label.py
Owners: @dv, @aversant

Store error reference
  core/script/cli/cli.py
Owners: @dv, @aversant

Refactor error processing
  core/script/cli/cli.py
Owners: @dv, @aversant

Fix lint
  core/script/cli/cli.py
Owners: @dv, @aversant

Simplify code
  core/script/cli/cli.py
Owners: @dv, @aversant

Debug
  core/script/cli/cli.py
Owners: @dv, @aversant

Fix
  core/script/cli/cli.py
Owners: @dv, @aversant

Additional debug
  core/script/cli/cli.py
Owners: @dv, @aversant

Fix
  core/script/cli/cli.py
Owners: @dv, @aversant

Remove debugging
  core/script/cli/cli.py
Owners: @dv, @aversant

Fix
  core/script/cli/cli.py
Owners: @dv, @aversant

Fix deprecation warning in svg.py
  core/svg.py
Owners: @dv, @aversant

Fix
  core/svg.py
Owners: @dv, @aversant

Run github tests on collections change
  .github/workflows/py-tests.yml
Owners: @dv
