Repository gufolabs/noc, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dv, @aversant, @uncol, @EKbfh, @dmitryluhtionov

Pygments 2.20.0 (#291)
  pyproject.toml
Owners: @dv, @aversant

Adopt Gufo Loader
  core/handler.py
  core/scheduler/scheduler.py
  pyproject.toml
Owners: @dv, @aversant

Fix
  core/scheduler/scheduler.py
Owners: @dv, @aversant

Rename vars to vars_op in fm.dispositionrules collections
  collections/fm.dispositionrules/NOC/SA/Join_Activator_Pool_NOC/SA/Activator_Pool_Degraded_clear_.json
  collections/fm.dispositionrules/NOC/SA/Join_Activator_Pool_NOC/SA/Activator_Pool_Degraded_raise_.json
  collections/fm.dispositionrules/Network/BGP/Peer_State_Changed_Network/BGP/Peer_Down_clear_peer_down_.json
  collections/fm.dispositionrules/Network/BGP/Peer_State_Changed_Network/BGP/Peer_Down_raise_.json
  collections/fm.dispositionrules/Network/BGP/Peer_State_Changed_Network/BGP/Prefix_Limit_Exceeded_clear_maxprefix_.json
  collections/fm.dispositionrules/Network/EIGRP/Neighbor_Up_Network/EIGRP/Neighbor_Down_dispose_.json
  collections/fm.dispositionrules/Network/Link/Link_Down_Network/Link/Link_Down_dispose_.json
  collections/fm.dispositionrules/Network/Link/Link_Up_Network/Link/Link_Down_Clear_Link_Down_.json
  collections/fm.dispositionrules/Network/OSPF/Neighbor_Up_Network/OSPF/Neighbor_Down_dispose_.json
Owners: none

fix mistype
  fm/models/dispositionrule.py
Owners: @dv, @aversant

discovery jobs use typed lazy import
  commands/discovery.py
  services/discovery/jobs/base.py
Owners: @dv, @aversant

Fix tests
  tests/test_handler.py
Owners: @dv

Adopt Gufo Loader (#292)
  commands/discovery.py
  core/handler.py
  core/scheduler/scheduler.py
  pyproject.toml
  services/discovery/jobs/base.py
  tests/test_handler.py
Owners: @dv, @aversant

Fix fm.dispositionrules mistype (#293)
  collections/fm.dispositionrules/NOC/SA/Join_Activator_Pool_NOC/SA/Activator_Pool_Degraded_clear_.json
  collections/fm.dispositionrules/NOC/SA/Join_Activator_Pool_NOC/SA/Activator_Pool_Degraded_raise_.json
  collections/fm.dispositionrules/Network/BGP/Peer_State_Changed_Network/BGP/Peer_Down_clear_peer_down_.json
  collections/fm.dispositionrules/Network/BGP/Peer_State_Changed_Network/BGP/Peer_Down_raise_.json
  collections/fm.dispositionrules/Network/BGP/Peer_State_Changed_Network/BGP/Prefix_Limit_Exceeded_clear_maxprefix_.json
  collections/fm.dispositionrules/Network/EIGRP/Neighbor_Up_Network/EIGRP/Neighbor_Down_dispose_.json
  collections/fm.dispositionrules/Network/Link/Link_Down_Network/Link/Link_Down_dispose_.json
  collections/fm.dispositionrules/Network/Link/Link_Up_Network/Link/Link_Down_Clear_Link_Down_.json
  collections/fm.dispositionrules/Network/OSPF/Neighbor_Up_Network/OSPF/Neighbor_Down_dispose_.json
  fm/models/dispositionrule.py
Owners: @dv, @aversant

Fix IPv4 neighbor handling in Generic.get_lldp_neighbors (#174)
  sa/profiles/Generic/get_lldp_neighbors.py
Owners: @dv, @aversant, @dmitryluhtionov

Update Application.js
  ui/web/sa/managedobject/Application.js
Owners: @uncol, @dv

Update Application.js
  ui/web/sa/managedobject/Application.js
Owners: @uncol, @dv

Update ApplicationModel.js
  ui/web/sa/managedobject/ApplicationModel.js
Owners: @uncol, @dv

Clear alarms (#284)
  collections/fm.dispositionrules/Network/DHCP/DHCP_Flood/DHCP/DHCP_Flood_clear_.json
  collections/fm.dispositionrules/Network/IP/ARP_Flood/IP/ARP_Flood_clear_.json
  collections/fm.dispositionrules/Network/xPON/ONU/Power_Failed_ONU/xPON/ONU/Power_Failed_clear_.json
Owners: none

Update Application.js
  ui/web/sa/managedobject/Application.js
Owners: @uncol, @dv

Update Application.js
  ui/web/sa/managedobject/Application.js
Owners: @uncol, @dv

Update ApplicationModel.js
  ui/web/sa/managedobject/ApplicationModel.js
Owners: @uncol, @dv

Add FQDN field to ApplicationModel and managed object table (#220)
  services/web/apps/sa/managedobject/views.py
  ui/web/sa/managedobject/Application.js
  ui/web/sa/managedobject/ApplicationModel.js
Owners: @dv, @aversant, @uncol

Backport GitHub action
  .github/workflows/backport.yml
Owners: @dv

Backport GitHub action (#295)
  .github/workflows/backport.yml
Owners: @dv

Enable PR labeler
  .github/labeler.yml
  .github/workflows/labeler.yml
Owners: @dv

Enable PR labeler (#294)
  .github/labeler.yml
  .github/workflows/labeler.yml
Owners: @dv

Adjust backporing
  .github/labeler.yml
  .github/workflows/ansible-e2e.yml
Owners: @dv

fix
  .github/workflows/ansible-e2e.yml
  .github/workflows/backport.yml
Owners: @dv

Adjust backporing (#296)
  .github/labeler.yml
  .github/workflows/backport.yml
Owners: @dv

Add more CPE capabilities
  collections/inv.capabilities/CPE/IP_Address.json
  collections/inv.capabilities/CPE/Location.json
  collections/inv.capabilities/CPE/Modulation.json
  collections/inv.capabilities/CPE/Revision.json
  collections/inv.capabilities/CPE/SW_Version.json
  services/discovery/jobs/box/cpe.py
Owners: @dv, @aversant

CH Table TTL
  commands/migrate-ch.py
  core/clickhouse/ensure.py
  main/models/chpolicy.py
  services/web/apps/main/chpolicy/views.py
  ui/web/js/util.js
  ui/web/main/chpolicy/Application.js
  ui/web/main/chpolicy/Model.js
Owners: @dv, @aversant, @uncol

find_balanced() function
  core/text.py
  tests/test_text.py
Owners: @dv, @aversant

CH DDL Parser
  core/clickhouse/parser.py
  tests/test_clickhouse.py
Owners: @dv, @aversant

Policy migration
  commands/migrate-ch.py
  core/clickhouse/ensure.py
  core/clickhouse/info.py
  core/clickhouse/parser.py
  tests/test_clickhouse.py
Owners: @dv, @aversant

Add documentation
  commands/ch-policy.py
  docs/reclaim-db-space-howto/index.md
  docs/reclaim-db-space-howto/index.ru.md
Owners: @dv, @aversant

Fix
  core/text.py
Owners: @dv, @aversant

Apply lint checks
  core/clickhouse/info.py
  services/web/apps/main/chpolicy/views.py
  tests/test_text.py
Owners: @dv, @aversant

Fix typo
  ui/web/main/chpolicy/Application.js
Owners: @uncol, @dv

CH Table TTL (#120)
  commands/ch-policy.py
  commands/migrate-ch.py
  core/clickhouse/ensure.py
  core/clickhouse/info.py
  core/text.py
  docs/reclaim-db-space-howto/index.md
  docs/reclaim-db-space-howto/index.ru.md
  main/models/chpolicy.py
  services/web/apps/main/chpolicy/views.py
  tests/test_clickhouse.py
  tests/test_text.py
  ui/web/js/util.js
  ui/web/main/chpolicy/Application.js
  ui/web/main/chpolicy/Model.js
Owners: @dv, @aversant, @uncol

Fix polling behavior without smartrefresh by forcing visibility and focus states
  ui/web/core/mixins/Polling.js
Owners: @uncol, @dv

Implement smartrefresh feature in Polling mixin
  ui/web/core/mixins/Polling.js
Owners: @uncol, @dv

Harden Polling mixin (smartrefresh fallback, observer lifecycle) and migrate sa/monitor
  ui/web/core/mixins/Polling.js
  ui/web/fm/alarm/view/grids/ContainerController.js
  ui/web/inv/map/Application.js
  ui/web/inv/map/MapPanel.js
  ui/web/inv/map/MapRenderer.js
  ui/web/sa/monitor/Application.js
  ui/web/sa/monitor/Controller.js
  ui/web/sa/monitor/SelectionGrid.js
  ui/web/sa/monitor/ViewModel.js
Owners: @uncol, @dv

Dockerfile: install pnpm in build-ui target
  Dockerfile
Owners: none

Dockerfile: install pnpm into build-ui target
  Dockerfile
Owners: none

.github/CODEOWNERS:

# NOC code owners
# Lines starting with `#` will be ignored.
# Rules defined later in the file take precedence over the rules
# defined before.

# Python files
*.py @dv @aversant

# JS files
*.js @uncol @dv

# CSS files
*.css @uncol @dv

# Jinja2 templates
*.j2 @dv @aversant

# Tests
/tests/ @dv

# Dependencies
pyproject.toml @dv @aversant

# Ansible Deploy
/ansible/ @EKbfh

# Fixes
/fixes/ @dv @aversant

# Profiles
/sa/profiles/ @dv @aversant @dmitryluhtionov

# Configuration
/config.py @dv @aversant @EKbfh

# Core
/core/ @dv @aversant
/core/config/ @dv @aversant @EKbfh

# Models
models/ @dv @aversant

# Commands
/commands/ @dv @aversant

# Services
/services/ @dv @aversant

# Rust
/rust/ @dv

# Documentation
/docs/ @dv

# Codeowners itself
CODEOWNERS @dv

# CI settings
/.gitlab-ci.yml @dv @EKbfh

# Docker files
/.docker/ @dv @EKbfh

# Github
.github/ @dv
