Repository gufolabs/noc, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dv, @aversant, @uncol, @EKbfh, @dmitryluhtionov

Add time_params parameter to report config
  collections/main.reports/Load_Metrics.json
  core/datasources/loadmetricsds.py
Owners: @dv, @aversant

Add columns defaults to report config
  collections/main.reports/Load_Metrics.json
Owners: none

Change column titles in report config
  collections/main.reports/Load_Metrics.json
Owners: none

Extend localization in report config
  collections/main.reports/Load_Metrics.json
Owners: none

Cleanup report config
  collections/main.reports/Load_Metrics.json
Owners: none

Add DB backup script for singlenode installation
  scripts/backup-singlenode
Owners: none

Replace stencils with glyphs (#175)
  commands/stencil.py
  core/stencil.py
  core/topology/base.py
  core/topology/types.py
  docs/man/SUMMARY.md
  docs/man/stencil.md
  inv/models/configuredmap.py
  inv/models/cpe.py
  inv/models/cpeprofile.py
  main/models/glyph.py
  requirements/web.json
  sa/migrations/0270_mo_glyphs.py
  sa/models/managedobject.py
  sa/models/managedobjectprofile.py
  scripts/build/build-ui
  services/web/apps/main/glyph/views.py
  services/web/apps/main/ref/views.py
  services/web/base/extmodelapplication.py
  settings.py
  ui/web/inv/configuredmap/Application.js
  ui/web/inv/cpeprofile/Application.js
  ui/web/inv/cpeprofile/Model.js
  ui/web/inv/map/MapPanel.js
  ui/web/inv/map/SelectIconForm.js
  ui/web/inv/map/ShapeRegistry.js
  ui/web/main/glyph/LookupField.js
  ui/web/main/ref/stencil/LookupField.js
  ui/web/sa/managedobject/Application.js
  ui/web/sa/managedobject/Model.js
  ui/web/sa/managedobject/form/View.js
  ui/web/sa/managedobjectprofile/Application.js
  ui/web/sa/managedobjectprofile/Model.js
Owners: @dv, @aversant, @uncol

Fix setting default peer on PeerDiscovery.
  collections/fm.eventclassificationrules/WiFi_Controller/AP_Unavailable_Zabbix.json
  peer/models/asn.py
  peer/models/peerprofile.py
  sa/migrations/0261_managedobjectprofile_add_discovery_bgpeer.py
  sa/migrations/0270_managedobjectprofile_peerprofile_db_table_fix.py
  services/discovery/jobs/box/address.py
  services/discovery/jobs/box/bgppeer.py
Owners: @dv, @aversant

release-25.1:Backport!9950
  collections/fm.eventclassificationrules/WiFi_Controller/AP_Unavailable_Zabbix.json
  peer/models/asn.py
  peer/models/peerprofile.py
  sa/migrations/0261_managedobjectprofile_add_discovery_bgpeer.py
  sa/migrations/0270_managedobjectprofile_peerprofile_db_table_fix.py
  services/discovery/jobs/box/address.py
  services/discovery/jobs/box/bgppeer.py
Owners: @dv, @aversant

feat: add apply button functionality and update button states in form management
  ui/web/sa/managedobject/Controller.js
  ui/web/sa/managedobject/form/FormController.js
  ui/web/sa/managedobject/form/View.js
Owners: @uncol, @dv

fix: add label padding to the login text field for improved layout
  ui/web/main/desktop/LoginView.js
Owners: @uncol, @dv

feat: add apply button functionality and update button states in form management (#187)
  ui/web/sa/managedobject/Controller.js
  ui/web/sa/managedobject/form/FormController.js
  ui/web/sa/managedobject/form/View.js
Owners: @uncol, @dv

fix: add label padding to the login text field for improved layout (#188)
  ui/web/main/desktop/LoginView.js
Owners: @uncol, @dv

Add MapRenderer and MapRendererPlaceholder classes for network map visualization
  ui/web/inv/map/MapPanel.js
  ui/web/inv/map/MapRenderer.js
  ui/web/inv/map/MapRendererPlaceholder.js
Owners: @uncol, @dv

Add inv/Load_Metrics_max report
  collections/main.reports/Load_Metrics_max.json
  core/datasources/maxmetricsds.py
Owners: @dv, @aversant

Rename datasource
  collections/main.reports/Load_Metrics_max.json
  core/datasources/loadmetricsmaxds.py
Owners: @dv, @aversant

Add time_params to report config
  collections/main.reports/Load_Metrics_max.json
  core/datasources/loadmetricsmaxds.py
Owners: @dv, @aversant

feat: enhance build process and add new bundling scripts for improved development workflow
  ui/build-bundle.ts
  ui/build-bundles-prod.ts
  ui/package.json
  ui/pnpm-lock.yaml
  ui/scripts/app-dev.css
  ui/scripts/app-prod.css
  ui/scripts/bundles/joint/index.ts
  ui/scripts/bundles/leaflet.ts
  ui/scripts/bundles/micromark.ts
  ui/scripts/index-template-prod.html
  ui/scripts/index-template.html
  ui/scripts/plugins/ExternalLibsPlugin.ts
  ui/watch-bundles.ts
Owners: @uncol, @dv

Add hardware revision to IGetCPE interface
  sa/interfaces/igetcpe.py
Owners: @dv, @aversant

Add hardware revision to IGetCPE interface (#190)
  sa/interfaces/igetcpe.py
Owners: @dv, @aversant

Iskratel.MSAN.get_inventory
  sa/profiles/Iskratel/MSAN/get_inventory.py
Owners: @dv, @aversant, @dmitryluhtionov

periodic disocovery. Change division to integer division
  services/discovery/jobs/periodic/job.py
Owners: @dv, @aversant

feat: implement topology map rendering and update map panel structure
  ui/eslint.config.mjs
  ui/scripts/index-template.html
  ui/web/inv/map/Application.js
  ui/web/inv/map/MapPanel.js
  ui/web/inv/map/MapRenderer.js
  ui/web/inv/map/MapRendererPlaceholder.js
  ui/web/main/desktop/WorkplacePanel.js
Owners: @uncol, @dv

release-25.1:Backport!9953
  services/discovery/jobs/periodic/job.py
Owners: @dv, @aversant

feat: integrate Zoom plugin into map application and enhance zoom functionality
  ui/web/inv/inv/plugins/Zoom.js
  ui/web/inv/map/Application.js
  ui/web/inv/map/MapPanel.js
  ui/web/inv/map/MapRendererPlaceholder.js
Owners: @uncol, @dv

feat: add event handler removal
  ui/web/inv/map/MapPanel.js
  ui/web/inv/map/MapRendererPlaceholder.js
Owners: @uncol, @dv

feat: remove zoom combo and related components from map application
  ui/web/inv/map/Application.js
Owners: @uncol, @dv

Add some useful logging messages
  services/discovery/jobs/box/interface.py
Owners: @dv, @aversant

fix help for approve
  commands/gridvcs.py
Owners: @dv, @aversant

release-25.1:Backport!9960
  commands/gridvcs.py
Owners: @dv, @aversant

release-25.1:Backport!9959
  services/discovery/jobs/box/interface.py
Owners: @dv, @aversant

Add MES-5324 and MES-3324 indexes
  sa/profiles/Eltex/MES/profile.py
Owners: @dv, @aversant, @dmitryluhtionov

Add Eltex ESR MPLS Functions
  sa/profiles/Eltex/ESR/get_arp.py
  sa/profiles/Eltex/ESR/get_interfaces.py
  sa/profiles/Eltex/ESR/get_ip_discovery.py
  sa/profiles/Eltex/ESR/get_mpls_vpn.py
Owners: @dv, @aversant, @dmitryluhtionov

Add Eltex ESR MPLS Model
  collections/inv.objectmodels/Eltex/ESR/3200.json
Owners: none

wf.transition. Fix event name in restore from unmanaged to managed. Add transition from removing to managed
  collections/wf.transitions/ManagedObject_Default_Removing_Managed_Restore.json
  sa/profiles/Cisco/IOS/get_version.py
Owners: @dv, @aversant, @dmitryluhtionov

release-25.1:Backport!9964
  collections/wf.transitions/ManagedObject_Default_Removing_Managed_Restore.json
  sa/profiles/Cisco/IOS/get_version.py
Owners: @dv, @aversant, @dmitryluhtionov

Update profile Eltex SMG for SMG-3016
  sa/profiles/Eltex/SMG/profile.py
Owners: @dv, @aversant, @dmitryluhtionov

Fix BGP Peer Down raise
  collections/fm.dispositionrules/Network/BGP/Peer_State_Changed_Network/BGP/Peer_Down_raise_.json
Owners: none

Add Environment Temperature for BDCOM.xPON CDATA.xPON
  sa/profiles/BDCOM/xPON/snmp_metrics/environment_temperature.json
  sa/profiles/CData/xPON/snmp_metrics/environment_temperature.json
Owners: @dv, @aversant, @dmitryluhtionov

Update backup-singlenode
  scripts/backup-singlenode
Owners: none

.github/CODEOWNERS:

# NOC code owners
# Lines starting with `#` will be ignored.
# Rules defined later in the file take precedence over the rules
# defined before.

# Python files
*.py @dv @aversant

# JS files
*.js @uncol @dv

# CSS files
*.css @uncol @dv

# Jinja2 templates
*.j2 @dv @aversant

# Tests
/tests/ @dv

# Dependencies
pyproject.toml @dv @aversant

# Ansible Deploy
/ansible/ @EKbfh

# Fixes
/fixes/ @dv @aversant

# Profiles
/sa/profiles/ @dv @aversant @dmitryluhtionov

# Configuration
/config.py @dv @aversant @EKbfh

# Core
/core/ @dv @aversant
/core/config/ @dv @aversant @EKbfh

# Models
models/ @dv @aversant

# Commands
/commands/ @dv @aversant

# Services
/services/ @dv @aversant

# Rust
/rust/ @dv

# Documentation
/docs/ @dv

# Codeowners itself
CODEOWNERS @dv

# CI settings
/.gitlab-ci.yml @dv @EKbfh

# Docker files
/.docker/ @dv @EKbfh

# Github
.github/ @dv
