Repository gufolabs/noc, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dv, @aversant, @uncol, @EKbfh, @dmitryluhtionov

Fix apply MetricRules threshold to sensor scopes.
  core/cdag/node/alarm.py
  core/cdag/node/threshold.py
  core/convert/percent.py
  core/expr.py
  inv/models/cpe.py
  inv/models/cpeprofile.py
  inv/models/sensor.py
  inv/models/sensorprofile.py
  pm/migrations/0015_rebuild_cfgmetricrules_datastream.py
  pm/models/metricaction.py
  pm/models/metricrule.py
  sa/models/managedobject.py
  services/metrics/models/card.py
  services/metrics/models/target.py
  services/metrics/service.py
  sla/models/slaprobe.py
  tests/cdag/node/test_util.py
  tests/cdag/node/util.py
  ui/web/pm/metricrule/Application.js
Owners: @dv, @aversant, @uncol

release-25.1:Backport!9887
  core/cdag/node/alarm.py
  core/cdag/node/threshold.py
  core/convert/percent.py
  core/expr.py
  inv/models/cpe.py
  inv/models/cpeprofile.py
  inv/models/sensor.py
  inv/models/sensorprofile.py
  pm/migrations/0015_rebuild_cfgmetricrules_datastream.py
  pm/models/metricaction.py
  pm/models/metricrule.py
  sa/models/managedobject.py
  services/metrics/models/card.py
  services/metrics/models/target.py
  services/metrics/service.py
  sla/models/slaprobe.py
  tests/cdag/node/test_util.py
  tests/cdag/node/util.py
  ui/web/pm/metricrule/Application.js
Owners: @dv, @aversant, @uncol

Skip deleted data on DiscoveredObject.
  sa/models/discoveredobject.py
Owners: @dv, @aversant

Fix correlator dispose condition, use request value.
  services/correlator/service.py
  services/metricscollector/models/channel.py
Owners: @dv, @aversant

release-25.1:Backport!9892
  services/correlator/service.py
  services/metricscollector/models/channel.py
Owners: @dv, @aversant

release-25.1:Backport!9891
  sa/models/discoveredobject.py
Owners: @dv, @aversant

Fix queryset on MetricRule iter_changed_datastream.
  pm/models/metricrule.py
  services/metrics/service.py
Owners: @dv, @aversant

Fix condition when call maintenance on_save method.
  maintenance/models/maintenance.py
  services/scheduler/jobs/run_watchers.py
Owners: @dv, @aversant

release-25.1:Backport!9895
  pm/models/metricrule.py
  services/metrics/service.py
Owners: @dv, @aversant

release-25.1:Backport!9896
  maintenance/models/maintenance.py
  services/scheduler/jobs/run_watchers.py
Owners: @dv, @aversant

Fix used labels and ex_labels condition on Message Route.
  core/router/route.py
Owners: @dv, @aversant

Add link_event option to EventClass Config.
  core/fm/enum.py
  fm/models/eventclass.py
  services/classifier/actionset.py
  services/classifier/eventconfig.py
  services/classifier/service.py
  services/datastream/models/cfgevent.py
Owners: @dv, @aversant

classifier: Remove XRuleLookup (#94)
  config.py
  core/config/proto/legacy.py
  docs/config-reference/classifier.md
  docs/config-reference/params.yml
  docs/internal-metrics-reference/index.md
  docs/internal-metrics-reference/index.ru.md
  services/classifier/ruleset.py
  services/classifier/service.py
  services/classifier/xrulelookup.py
  tests/test_py_module.py
Owners: @dv, @aversant, @EKbfh

gufo-ping 0.7.0
  pyproject.toml
Owners: @dv, @aversant

release-25.1:Backport!9899
  core/fm/enum.py
  fm/models/eventclass.py
  services/classifier/actionset.py
  services/classifier/eventconfig.py
  services/classifier/service.py
  services/datastream/models/cfgevent.py
Owners: @dv, @aversant

Rebuild CfgEvent Datastream.
  collections/fm.dispositionrules/Network/BGP/Peer_State_Changed_Network/BGP/Peer_Down_clear_peer_down_.json
  core/mx.py
  fm/migrations/0065_rebuld_dispositionrule_datastream.py
  maintenance/models/maintenance.py
  services/classifier/actionset.py
  services/classifier/service.py
Owners: @dv, @aversant

release-25.1:Backport!9900
  core/router/route.py
Owners: @dv, @aversant

release-25.1:Backport!9903
  collections/fm.dispositionrules/Network/BGP/Peer_State_Changed_Network/BGP/Peer_Down_clear_peer_down_.json
  core/mx.py
  fm/migrations/0065_rebuld_dispositionrule_datastream.py
  maintenance/models/maintenance.py
  services/classifier/actionset.py
  services/classifier/service.py
Owners: @dv, @aversant

remove i option in mask pattern
  ui/web/js/util.js
Owners: @uncol, @dv

Update ASN and IPv4 masks for improved validation (#139)
  ui/web/js/util.js
Owners: @uncol, @dv

Update to GF 0.0.8
  collections/main.glyphs/GufoFont.json
Owners: none

GufoFont 0.0.8
  ui/package-lock.json
  ui/package.json
Owners: none

XCVR Type
  inv/models/connectiontype.py
  inv/models/objectmodel.py
  services/card/cards/alarm.py
Owners: @dv, @aversant

Rack and linecard icons
  inv/models/objectmodel.py
Owners: @dv, @aversant

Rename RedPandaClient to KafkaClient
  .github/workflows/py-tests.yml
  ansible/noc_roles/migrate/tasks/configure_consul.yml
  ansible/noc_roles/noc/tasks/config.yml
  config.py
  core/config/base.py
  core/deprecations.py
  core/msgstream/kafka.py
  docs/config-reference/SUMMARY.md
  docs/config-reference/kafka.md
  docs/config-reference/params.yml
  docs/config-reference/redpanda.md
  docs/liftbridge-to-kafka-howto/index.md
  docs/liftbridge-to-kafka-howto/index.ru.md
Owners: @dv, @EKbfh, @aversant

Set rewritten parameters
  core/config/base.py
Owners: @dv, @aversant, @EKbfh

fix redpanda for kafka collector
  services/selfmon/collectors/kafka.py
Owners: @dv, @aversant

Fix
  core/msgstream/kafka.py
Owners: @dv, @aversant

Fix
  commands/config.py
  docs/config-reference/params.yml
Owners: @dv, @aversant

Fix
  docs/config-reference/params.yml
Owners: @dv

Rename RedPandaClient to KafkaClient (#101)
  .github/workflows/py-tests.yml
  ansible/noc_roles/migrate/tasks/configure_consul.yml
  ansible/noc_roles/noc/tasks/config.yml
  commands/config.py
  config.py
  core/config/base.py
  core/deprecations.py
  core/msgstream/kafka.py
  docs/config-reference/SUMMARY.md
  docs/config-reference/kafka.md
  docs/config-reference/params.yml
  docs/config-reference/redpanda.md
  docs/liftbridge-to-kafka-howto/index.md
  docs/liftbridge-to-kafka-howto/index.ru.md
  services/selfmon/collectors/kafka.py
Owners: @dv, @EKbfh, @aversant

GufoFont 0.0.8
  ui/package-lock.json
  ui/package.json
Owners: none

GufoFont 0.0.8 (#151)
  ui/package-lock.json
  ui/package.json
Owners: none

Use GF icons for port/object type designation
  inv/models/connectiontype.py
  inv/models/objectmodel.py
Owners: @dv, @aversant

home: Community widget uses Gufo Font
  services/web/apps/main/home/templates/Community.html.j2
Owners: @dv, @aversant

Set icons
  services/web/apps/main/home/templates/Community.html.j2
Owners: @dv, @aversant

home: Community widget uses Gufo Font (#123)
  services/web/apps/main/home/templates/Community.html.j2
Owners: @dv, @aversant

Switch to gufolabs/noc repo by default (#58)
  ansible/molecule/debian10/inv.yml
  ansible/molecule/debian11/inv.yml
  ansible/molecule/default/inv.yml
  ansible/molecule/freebsd/inv.yml
  ansible/molecule/oel7/inv.yml
  ansible/molecule/redos/inv.yml
  ansible/molecule/ubuntu20/inv.yml
  ansible/molecule/ubuntu22/inv.yml
  ansible/noc_roles/noc/defaults/main.yml
  ansible/noc_roles/noc/meta/tower.yml
Owners: @EKbfh

Add third part of BDCOM.xPON event classification rules (#113)
  collections/fm.eventclassificationrules/BDCOM/xPON/Network/xPON/Laser_Always_On_1_SYSLOG.json
  collections/fm.eventclassificationrules/BDCOM/xPON/Network/xPON/ONU/Activated_1_SYSLOG.json
  collections/fm.eventclassificationrules/BDCOM/xPON/Network/xPON/ONU/Activated_2_SYSLOG.json
  collections/fm.eventclassificationrules/BDCOM/xPON/Network/xPON/ONU/Discovered_1_SYSLOG.json
  collections/fm.eventclassificationrules/BDCOM/xPON/Network/xPON/ONU/Discovered_2_SYSLOG.json
  collections/fm.eventclassificationrules/BDCOM/xPON/Network/xPON/ONU/Offline_1_SYSLOG.json
  collections/fm.eventclassificationrules/BDCOM/xPON/Network/xPON/ONU/Offline_2_SYSLOG.json
  collections/fm.eventclassificationrules/BDCOM/xPON/Network/xPON/ONU/Power_Failed_1_SYSLOG.json
  collections/fm.eventclassificationrules/BDCOM/xPON/Network/xPON/ONU/Power_Failed_2_SYSLOG.json
  collections/fm.eventclassificationrules/BDCOM/xPON/Security/Authentication/Login_1_SYSLOG.json
  collections/fm.eventclassificationrules/BDCOM/xPON/Security/Authentication/Privilege_Level_Changed_1_SYSLOG.json
  collections/fm.eventclassificationrules/BDCOM/xPON/Unknown/Ignore_SSL_Accept_SYSLOG_.json
Owners: none

Refactor parse_fields
  core/reporter/base.py
Owners: @dv, @aversant

.github/CODEOWNERS:

# NOC code owners
# Lines starting with `#` will be ignored.
# Rules defined later in the file take precedence over the rules
# defined before.

# Python files
*.py @dv @aversant

# JS files
*.js @uncol @dv

# CSS files
*.css @uncol @dv

# Jinja2 templates
*.j2 @dv @aversant

# Tests
/tests/ @dv

# Dependencies
pyproject.toml @dv @aversant

# Ansible Deploy
/ansible/ @EKbfh

# Fixes
/fixes/ @dv @aversant

# Profiles
/sa/profiles/ @dv @aversant @dmitryluhtionov

# Configuration
/config.py @dv @aversant @EKbfh

# Core
/core/ @dv @aversant
/core/config/ @dv @aversant @EKbfh

# Models
models/ @dv @aversant

# Commands
/commands/ @dv @aversant

# Services
/services/ @dv @aversant

# Rust
/rust/ @dv

# Documentation
/docs/ @dv

# Codeowners itself
CODEOWNERS @dv

# CI settings
/.gitlab-ci.yml @dv @EKbfh

# Docker files
/.docker/ @dv @EKbfh

# Github
.github/ @dv
