Repository gufolabs/noc, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dv, @aversant, @uncol, @EKbfh, @dmitryluhtionov

Fix cpu_load metric
  sa/profiles/OmegaTelecom/SBC/snmp_metrics/cpu_load_1min.json
  sa/profiles/OmegaTelecom/SBC/snmp_metrics/cpu_usage_1min.json
Owners: @dv, @aversant, @dmitryluhtionov

Add dashboard templates for TAU profile metrics
  templates/ddash/graph_telephony_voice_callscount.j2
  templates/ddash/graph_telephony_voice_lostpackets.j2
  templates/ddash/graph_telephony_voice_peakjitter.j2
Owners: @dv, @aversant

Fix processed Measurement Units on sensor in MetricsService.
  inv/models/sensor.py
  services/metrics/models/card.py
  services/metrics/models/target.py
  services/metrics/service.py
Owners: @dv, @aversant

release-25.1:Backport!10032
  inv/models/sensor.py
  services/metrics/models/card.py
  services/metrics/models/target.py
  services/metrics/service.py
Owners: @dv, @aversant

Move refresh metric rules to card.
  core/cdag/factory/config.py
  core/cdag/graph.py
  core/cdag/node/base.py
  core/cdag/node/threshold.py
  pm/models/metricrule.py
  pm/models/metrictype.py
  services/metrics/models/card.py
  services/metrics/models/rule.py
  services/metrics/service.py
Owners: @dv, @aversant

release-25.1:Backport!10034
  core/cdag/factory/config.py
  core/cdag/graph.py
  core/cdag/node/base.py
  core/cdag/node/threshold.py
  pm/models/metricrule.py
  pm/models/metrictype.py
  services/metrics/models/card.py
  services/metrics/models/rule.py
  services/metrics/service.py
Owners: @dv, @aversant

Fix fullscreen detection logic in isFullScreen method
  ui/web/fm/alarm/view/grids/ContainerController.js
Owners: @uncol, @dv

run_sync: Remove close_all parameter
  core/ioloop/util.py
  core/script/snmp/base.py
Owners: @dv, @aversant

run_sync: Remove close_all parameter (#242)
  core/ioloop/util.py
  core/script/snmp/base.py
Owners: @dv, @aversant

run_sync code cleanup
  core/ioloop/util.py
Owners: @dv, @aversant

Remove reraise
  core/comp.py
  core/ioloop/util.py
Owners: @dv, @aversant

Add dashboard templates
  templates/ddash/graph_peernodes_value.j2
Owners: @dv, @aversant

fix access clear views
  services/web/apps/fm/alarm/views.py
Owners: @dv, @aversant

run_sync code cleanup (#243)
  core/comp.py
  core/ioloop/util.py
Owners: @dv, @aversant

Save Status Affected Factors to Service Instance.
  bi/models/serviceoutages.py
  commands/alarm.py
  core/etl/bi/extractor/alarms.py
  core/models/escalationpolicy.py
  core/models/servicestatus.py
  core/tt/base.py
  core/tt/types.py
  fm/models/activealarm.py
  fm/models/alarmjob.py
  fm/models/escalationprofile.py
  sa/models/service.py
  services/correlator/actionlog.py
  services/correlator/alarmaction.py
  services/correlator/alarmjob.py
  services/escalator/jobs/escalation.py
Owners: @dv, @aversant

release-25.1:Backport!10037
  bi/models/serviceoutages.py
  commands/alarm.py
  core/etl/bi/extractor/alarms.py
  core/models/escalationpolicy.py
  core/models/servicestatus.py
  core/tt/base.py
  core/tt/types.py
  fm/models/activealarm.py
  fm/models/alarmjob.py
  fm/models/escalationprofile.py
  sa/models/service.py
  services/correlator/actionlog.py
  services/correlator/alarmaction.py
  services/correlator/alarmjob.py
  services/escalator/jobs/escalation.py
Owners: @dv, @aversant

Move trunk metrics for SMG to get_inventory
  sa/profiles/Eltex/SMG/get_inventory.py
Owners: @dv, @aversant, @dmitryluhtionov

feat: enhance onResize method to notify renderer
  ui/web/inv/map/MapPanel.js
Owners: @uncol, @dv

feat: refactor MapPanel and MapRendererPlaceholder to remove currentHighlight and enhance event handling
  ui/web/inv/map/MapPanel.js
  ui/web/inv/map/MapRendererPlaceholder.js
Owners: @uncol, @dv

feat: enhance context menu handling in MapPanel and MapRendererPlaceholder
  ui/web/inv/map/MapPanel.js
  ui/web/inv/map/MapRendererPlaceholder.js
Owners: @uncol, @dv

feat: remove MiniMap component and refactor event handling in MapPanel and MapRendererPlaceholder
  ui/web/inv/map/Application.js
  ui/web/inv/map/MapPanel.js
  ui/web/inv/map/MapRendererPlaceholder.js
  ui/web/inv/map/MiniMap.js
Owners: @uncol, @dv

feat: implement topology map rendering and update map panel structure
  ui/eslint.config.mjs
  ui/scripts/index-template.html
  ui/web/inv/map/Application.js
  ui/web/inv/map/MapPanel.js
  ui/web/inv/map/MapRenderer.js
  ui/web/inv/map/MapRendererPlaceholder.js
  ui/web/main/desktop/WorkplacePanel.js
Owners: @uncol, @dv

feat: add focus handling on user
  ui/web/main/desktop/LoginView.js
Owners: @uncol, @dv

feat: refactor node menu handling in MapPanel to simplify object retrieval
  ui/web/inv/map/MapPanel.js
Owners: @uncol, @dv

feat: update disableHandler to accept state parameter for improved functionality
  ui/web/inv/map/MapPanel.js
Owners: @uncol, @dv

feat: add link inspection functionality to MapPanel
  ui/web/inv/map/MapPanel.js
  ui/web/inv/map/MapRendererPlaceholder.js
Owners: @uncol, @dv

feat: refactor onSegmentMenuAddToBasket to use modern syntax and improve object handling
  ui/web/inv/map/MapPanel.js
Owners: @uncol, @dv

Refactor code structure for improved readability and maintainability
  ui/package-lock.json
Owners: none

feat: add check for metrics data in onLinkHover function
  ui/web/inv/map/MapRendererPlaceholder.js
Owners: @uncol, @dv

feat: enhance build process and add new bundling scripts for improved development workflow
  ui/build-bundle.ts
  ui/build-bundles-prod.ts
  ui/package.json
  ui/pnpm-lock.yaml
  ui/pnpm-workspace.yaml
  ui/scripts/app-dev.css
  ui/scripts/app-prod.css
  ui/scripts/bundles/joint/index.ts
  ui/scripts/bundles/leaflet.ts
  ui/scripts/bundles/micromark.ts
  ui/scripts/index-template-prod.html
  ui/scripts/index-template.html
  ui/scripts/plugins/ExternalLibsPlugin.ts
  ui/watch-bundles.ts
Owners: @uncol, @dv

feat: update Node.js version and adjust build scripts for compatibility
  ui/package.json
  ui/scripts/index-template.html
  ui/web/inv/map/MapRendererPlaceholder.js
Owners: @uncol, @dv

feat: remove redundant segment loading from getHistoryHash method
  ui/web/inv/map/Application.js
Owners: @uncol, @dv

feat: add event handler removal
  ui/web/inv/map/MapPanel.js
  ui/web/inv/map/MapRendererPlaceholder.js
Owners: @uncol, @dv

feat: simplify initMap method by removing width and height parameters
  ui/web/inv/map/MapPanel.js
  ui/web/inv/map/MapRendererPlaceholder.js
Owners: @uncol, @dv

feat: enhance map interaction with search functionality and event handling
  ui/web/inv/map/Application.js
  ui/web/inv/map/MapPanel.js
  ui/web/inv/map/MapRendererPlaceholder.js
Owners: @uncol, @dv

feat: remove unused JointJS dependencies and clean up related code
  ui/scripts/app-dev.css
  ui/scripts/app-prod.css
  ui/scripts/plugins/ExternalLibsPlugin.ts
  ui/web/inv/map/MapPanel.js
  ui/web/inv/map/MapRenderer.js
  ui/web/inv/map/ShapeRegistry.js
Owners: @uncol, @dv

feat: update dependencies to latest versions for improved compatibility
  ui/package-lock.json
Owners: none

chore: restore workflows from master
  .github/workflows/js-tests.yml
Owners: @dv

feat: add topo-map build script and dependency to package.json
  ui/pnpm-lock.yaml
Owners: none

feat: undo/redo functionality in WFEditor
  ui/web/wf/workflow/WFEditor.js
Owners: @uncol, @dv

.github/CODEOWNERS:

# NOC code owners
# Lines starting with `#` will be ignored.
# Rules defined later in the file take precedence over the rules
# defined before.

# Python files
*.py @dv @aversant

# JS files
*.js @uncol @dv

# CSS files
*.css @uncol @dv

# Jinja2 templates
*.j2 @dv @aversant

# Tests
/tests/ @dv

# Dependencies
pyproject.toml @dv @aversant

# Ansible Deploy
/ansible/ @EKbfh

# Fixes
/fixes/ @dv @aversant

# Profiles
/sa/profiles/ @dv @aversant @dmitryluhtionov

# Configuration
/config.py @dv @aversant @EKbfh

# Core
/core/ @dv @aversant
/core/config/ @dv @aversant @EKbfh

# Models
models/ @dv @aversant

# Commands
/commands/ @dv @aversant

# Services
/services/ @dv @aversant

# Rust
/rust/ @dv

# Documentation
/docs/ @dv

# Codeowners itself
CODEOWNERS @dv

# CI settings
/.gitlab-ci.yml @dv @EKbfh

# Docker files
/.docker/ @dv @EKbfh

# Github
.github/ @dv
