Repository gufolabs/noc, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dv, @aversant, @uncol, @EKbfh, @dmitryluhtionov

.github/CODEOWNERS:

# NOC code owners
# Lines starting with `#` will be ignored.
# Rules defined later in the file take precedence over the rules
# defined before.

# Python files
*.py @dv @aversant

# JS files
*.js @uncol @dv

# CSS files
*.css @uncol @dv

# Jinja2 templates
*.j2 @dv @aversant

# Tests
/tests/ @dv

# Dependencies
pyproject.toml @dv @aversant

# Ansible Deploy
/ansible/ @EKbfh

# Fixes
/fixes/ @dv @aversant

# Profiles
/sa/profiles/ @dv @aversant @dmitryluhtionov

# Configuration
/config.py @dv @aversant @EKbfh

# Core
/core/ @dv @aversant
/core/config/ @dv @aversant @EKbfh

# Models
models/ @dv @aversant

# Commands
/commands/ @dv @aversant

# Services
/services/ @dv @aversant

# Rust
/rust/ @dv

# Documentation
/docs/ @dv

# Codeowners itself
CODEOWNERS @dv

# CI settings
/.gitlab-ci.yml @dv @EKbfh

# Docker files
/.docker/ @dv @EKbfh

# Github
.github/ @dv

Remove scripts/check-labels.py (#389)
  scripts/check-labels.py
Owners: @dv, @aversant

print-files utility (#390)
  scripts/print-files.py
Owners: @dv, @aversant

Fix date formatting and enhance model data retrieval in remote system application
  ui/web/main/remotesystem/Application.js
Owners: @uncol, @dv

Update BDCOM.xPON profile (#252)
  sa/profiles/BDCOM/xPON/get_capabilities.py
  sa/profiles/BDCOM/xPON/get_cpe.py
  sa/profiles/BDCOM/xPON/get_cpe_status.py
  sa/profiles/BDCOM/xPON/get_interfaces.py
  sa/profiles/BDCOM/xPON/get_inventory.py
  sa/profiles/BDCOM/xPON/get_mac_address_table.py
  sa/profiles/BDCOM/xPON/get_version.py
  sa/profiles/BDCOM/xPON/profile.py
Owners: @dv, @aversant, @dmitryluhtionov

Update Revision.json
  collections/inv.capabilities/CPE/Revision.json
Owners: none

pyproject.toml: Remove `black` settings
  pyproject.toml
Owners: @dv, @aversant

DLink.DxS.get_interface_status_ex - Avoiding crashes on service interfaces
  sa/profiles/DLink/DxS/get_interface_status_ex.py
Owners: @dv, @aversant, @dmitryluhtionov

pyproject.toml: Remove `black` settings (#393)
  pyproject.toml
Owners: @dv, @aversant

print-files: Print `\ No newline at end of file` if there is no trailing newline
  scripts/print-files.py
Owners: @dv, @aversant

Add field label for name input in remote system application
  ui/web/main/remotesystem/Application.js
Owners: @uncol, @dv

optimize code
  scripts/print-files.py
Owners: @dv, @aversant

Fix syntax
  sa/profiles/DLink/DxS/get_interface_status_ex.py
Owners: @dv, @aversant, @dmitryluhtionov

Update collection
  collections/fm.alarmclasses/Network/DHCP/DHCP_Flood.json
  collections/fm.alarmclasses/Network/IP/ARP_Flood.json
  collections/fm.alarmclasses/Network/IP/ICMP_Flood.json
  collections/fm.alarmclasses/Network/Link/Link_Down.json
  collections/fm.alarmclasses/Network/xPON/ONU/Config_Failed.json
  collections/fm.dispositionrules/Network/Link_Up_Network/LBD/LBD_Clear_.json
  collections/fm.dispositionrules/Network/Link_Up_Network/Link/DOM/Alarm_Out_of_Threshold_clear_.json
  collections/fm.dispositionrules/Network/Link_Up_Network/Link/DOM/Warning_Out_of_Threshold_clear_.json
  collections/fm.dispositionrules/Network/Link_Up_Network/Link/Err-Disable_Clear_Err-Disable_.json
  collections/fm.dispositionrules/Network/Link_Up_Network/Link/Link_Down_Clear_Link_Down_.json
  collections/fm.dispositionrules/Network/Link_Up_Network/STP/BPDU_Guard_Violation_Clear_BPDU_Guard_Violation_.json
  collections/fm.dispositionrules/Network/Link_Up_Network/STP/Root_Guard_Violation_Clear_Root_Guard_Violation_.json
  collections/fm.dispositionrules/Network/Link_Up_Network/Storm_Control/Broadcast_Storm_Clear_.json
  collections/fm.dispositionrules/Network/Link_Up_Network/Storm_Control/Multicast_Storm_Clear_.json
  collections/fm.dispositionrules/Network/Link_Up_Network/Storm_Control/Storm_Clear_.json
  collections/fm.dispositionrules/Network/Link_Up_Network/Storm_Control/Unicast_Storm_Clear_.json
  collections/fm.dispositionrules/Network/Link_Up_Network/UDLD/UDLD_Clear_.json
  collections/fm.dispositionrules/Network/xPON/ONU/Power_Failed_ONU/xPON/ONU/Config_Failed_dispose_.json
  collections/fm.dispositionrules/Network/xPON/ONU/Power_Failed_ONU/xPON/ONU/Power_Failed_clear_.json
  collections/fm.dispositionrules/Started_System/Total_Power_Loss_clear_.json
  collections/fm.eventclasses/Network/LLDP/Vlan_Absent.json
  collections/fm.eventclasses/Network/LLDP/Vlan_Name_Not_Match.json
  collections/fm.eventclasses/Network/xPON/ONU/Config_Failed.json
  collections/fm.eventclassificationrules/BDCOM/xPON/Unknown/Ignore_CTC_OAM_SYSLOG_.json
  collections/fm.eventclassificationrules/DLink/DxS/Chassis/Fan/Fan_Failed_SYSLOG_.json
  collections/fm.eventclassificationrules/DLink/DxS/Network/STP/STP_Port_State_Changed_SYSLOG_.json
Owners: none

Update collection
  collections/fm.alarmclasses/Network/DHCP/DHCP_Flood.json
  collections/fm.alarmclasses/Network/IP/ARP_Flood.json
  collections/fm.alarmclasses/Network/LLDP/Vlan_Absent.json
  collections/fm.alarmclasses/Network/Link/Link_Down.json
  collections/fm.alarmclasses/Network/xPON/ONU/Config_Failed.json
  collections/fm.dispositionrules/Network/LLDP/Vlan_Absent/Vlan_Absent_dispose_.json
  collections/fm.dispositionrules/Network/Link/Link_Up_Network/LBD/LBD_Clear_.json
  collections/fm.dispositionrules/Network/Link/Link_Up_Network/Link/DOM/Alarm_Out_of_Threshold_clear_.json
  collections/fm.dispositionrules/Network/Link/Link_Up_Network/Link/DOM/Warning_Out_of_Threshold_clear_.json
  collections/fm.dispositionrules/Network/Link/Link_Up_Network/Storm_Control/Broadcast_Storm_Clear_.json
  collections/fm.dispositionrules/Network/Link/Link_Up_Network/Storm_Control/Multicast_Storm_Clear_.json
  collections/fm.dispositionrules/Network/Link/Link_Up_Network/Storm_Control/Storm_Clear_.json
  collections/fm.dispositionrules/Network/Link/Link_Up_Network/Storm_Control/Unicast_Storm_Clear_.json
  collections/fm.dispositionrules/Network/Link/Link_Up_Network/UDLD/UDLD_Clear_.json
  collections/fm.dispositionrules/Network/xPON/ONU/Config_Failed_ONU/xPON/ONU/Config_Failed_dispose_.json
  collections/fm.dispositionrules/System/Started_System/Total_Power_Loss_clear_.json
  collections/fm.eventclasses/Network/LLDP/Vlan_Absent.json
  collections/fm.eventclasses/Network/LLDP/Vlan_Name_Not_Match.json
  collections/fm.eventclasses/Network/xPON/ONU/Config_Failed.json
Owners: none

print-files: Print `\ No newline at end of file` if there is no trail… (#395)
  scripts/print-files.py
Owners: @dv, @aversant

fix
  commands/snmp.py
  core/checkers/cli.py
  core/checkers/snmp.py
  core/etl/extractor/zabbix.py
  core/techdomain/controller/base.py
  dns/models/dnszone.py
  inv/models/object.py
  main/reportsources/reporteventsummary.py
  sa/interfaces/base.py
  sa/models/serviceinstance.py
  services/discovery/jobs/box/asset.py
  services/discovery/jobs/box/configparam.py
  services/discovery/jobs/ipping/address.py
  services/grafanads/jsonds.py
  services/grafanads/paths/grafanajsonds.py
  services/grafanads/paths/managedobject.py
  services/web/apps/fm/event/views.py
  services/web/base/reportdatasources/base.py
Owners: @dv, @aversant

Fix
  core/etl/bi/extractor/archive.py
Owners: @dv, @aversant

Replace python-jose with PyJWT
  pyproject.toml
  services/login/auth.py
  services/login/paths/is_logged.py
Owners: @dv, @aversant

Fix
  services/login/paths/is_logged.py
Owners: @dv, @aversant

smart_text/smart_bytes typing
  core/comp.py
Owners: @dv, @aversant

Remove excessive smart_text usage
  sa/profiles/Alcatel/TIMOS/get_lldp_neighbors.py
  sa/profiles/DCN/DCWL/get_interface_status_ex.py
  sa/profiles/DCN/DCWL/get_interfaces.py
  sa/profiles/DCN/DCWL/get_metrics.py
  sa/profiles/Eltex/WOP/get_interface_status_ex.py
  sa/profiles/Eltex/WOP/get_interfaces.py
  sa/profiles/Eltex/WOP/get_metrics.py
  sa/profiles/MikroTik/SwOS/get_interfaces.py
  sa/profiles/MikroTik/SwOS/get_inventory.py
  sa/profiles/MikroTik/SwOS/get_version.py
  sa/profiles/NSN/TIMOS/get_lldp_neighbors.py
Owners: @dv, @aversant, @dmitryluhtionov

Replace python-jose with PyJWT (#399)
  pyproject.toml
  services/login/auth.py
  services/login/paths/is_logged.py
Owners: @dv, @aversant

smart_text/smart_bytes typing (#404)
  core/comp.py
Owners: @dv, @aversant

Remove excessive smart_text usage (#405)
  sa/profiles/Alcatel/TIMOS/get_lldp_neighbors.py
  sa/profiles/DCN/DCWL/get_interface_status_ex.py
  sa/profiles/DCN/DCWL/get_interfaces.py
  sa/profiles/DCN/DCWL/get_metrics.py
  sa/profiles/Eltex/WOP/get_interface_status_ex.py
  sa/profiles/Eltex/WOP/get_interfaces.py
  sa/profiles/Eltex/WOP/get_metrics.py
  sa/profiles/MikroTik/SwOS/get_interfaces.py
  sa/profiles/MikroTik/SwOS/get_inventory.py
  sa/profiles/MikroTik/SwOS/get_version.py
  sa/profiles/NSN/TIMOS/get_lldp_neighbors.py
Owners: @dv, @aversant, @dmitryluhtionov

Remove rulename_quote function
  fm/models/eventclass.py
Owners: @dv, @aversant

Remove unneccessary type=smart_text usage in commands
  commands/beef.py
  commands/confdb.py
  commands/script.py
Owners: @dv, @aversant

correlator: remove self.version (one-time usage)
  services/correlator/service.py
Owners: @dv, @aversant

Remove rulename_quote function (#406)
  fm/models/eventclass.py
Owners: @dv, @aversant

Remove unneccessary type=smart_text usage in commands (#407)
  commands/beef.py
  commands/confdb.py
  commands/script.py
Owners: @dv, @aversant

correlator: remove self.version (one-time usage) (#408)
  services/correlator/service.py
Owners: @dv, @aversant

Additional typing in services
  core/service/base.py
  services/chwriter/service.py
  services/classifier/service.py
  services/correlator/service.py
  services/discovery/service.py
  services/escalator/service.py
  services/kafkasender/service.py
  services/login/service.py
  services/mailsender/service.py
  services/metrics/service.py
  services/metricscollector/service.py
  services/mrt/service.py
  services/mx/service.py
  services/ping/service.py
  services/runner/service.py
  services/sae/service.py
  services/scheduler/service.py
  services/selfmon/service.py
  services/syslogcollector/service.py
  services/tgsender/service.py
  services/trapcollector/service.py
  services/web/service.py
  services/worker/service.py
Owners: @dv, @aversant

SENTINEL object
  core/typing.py
  tests/test_typing.py
Owners: @dv, @aversant

Project requirements
  .frg.yml
  requirements/code-quality/common/algorithmic-efficiency.md
  requirements/code-quality/common/code-complexity.md
  requirements/code-quality/common/code-duplication.md
  requirements/code-quality/common/correct-syntax.md
  requirements/code-quality/common/dependencies.md
  requirements/code-quality/common/documentation-comments.md
  requirements/code-quality/common/file-encoding.md
  requirements/code-quality/common/formatting.md
  requirements/code-quality/common/index.md
  requirements/code-quality/common/no-dead-code.md
  requirements/code-quality/common/no-secrets.md
  requirements/code-quality/common/source-code-size.md
  requirements/code-quality/index.md
  requirements/code-quality/python/index.md
  requirements/code-quality/python/pep8.md
  requirements/code-quality/python/typing/index.md
  requirements/code-quality/python/typing/signatures.md
  requirements/code-quality/sql/index.md
  requirements/code-quality/sql/record-existence.md
  requirements/code-quality/sql/table-existence.md
  requirements/dependencies/approved-licenses.md
  requirements/dependencies/binary-distribution.md
  requirements/dependencies/health.md
  requirements/dependencies/index.md
  requirements/dependencies/licensing.md
  requirements/dependencies/prohibited-licenses.md
  requirements/dependencies/python/index.md
  requirements/dependencies/restricted-licenses.md
  requirements/dependencies/version-pinning.md
  requirements/frg/clarity.md
  requirements/frg/common.md
  requirements/frg/config.md
  requirements/frg/index.md
  requirements/frg/structure.md
  requirements/functional/index.md
  requirements/noc.md
  requirements/open-source.md
Owners: none

frg config
  .frg.yml
  .gitignore
Owners: none

docker and os
  requirements/runtime/compiler-free.md
  requirements/runtime/containers/docker/index.md
  requirements/runtime/containers/docker/orbstack.md
  requirements/runtime/operation-systems/debian-12.md
  requirements/runtime/operation-systems/debian-13.md
  requirements/runtime/operation-systems/index.md
  requirements/runtime/operation-systems/ubuntu-24.04.md
  requirements/runtime/python.md
Owners: none

fix violations
  requirements/code-quality/markdown/quote-style.md
  requirements/code-quality/python/pep8.md
  requirements/code-quality/python/typing/signatures.md
  requirements/documentation-quality/no-ambiguous-references.md
  requirements/frg/common.md
  requirements/frg/config.md
  requirements/frg/structure.md
  requirements/runtime/containers/index.md
Owners: none

make modality bold
  requirements/code-quality/markdown/content-presentation-separation.md
  requirements/code-quality/markdown/emphasis-style.md
  requirements/code-quality/markdown/front-matter-style.md
  requirements/code-quality/markdown/line-break-style.md
  requirements/code-quality/markdown/link-format.md
  requirements/code-quality/markdown/link-style.md
  requirements/code-quality/markdown/list-formatting.md
  requirements/code-quality/markdown/no-html.md
  requirements/code-quality/markdown/quote-style.md
  requirements/code-quality/sql/record-existence.md
  requirements/documentation-quality/abbreviation-style.md
  requirements/documentation-quality/active-voice.md
  requirements/documentation-quality/audience-awareness.md
  requirements/documentation-quality/clear-language.md
  requirements/documentation-quality/concise-language.md
  requirements/documentation-quality/consistent-terminology.md
  requirements/documentation-quality/consistent-tone.md
  requirements/documentation-quality/index.md
  requirements/documentation-quality/narrative-perspective.md
  requirements/documentation-quality/no-ambiguous-references.md
  requirements/documentation-quality/no-informal-language.md
  requirements/documentation-quality/precise-language.md
  requirements/documentation-quality/terminology-across-artifacts.md
  requirements/documentation-quality/unambiguous-language.md
  requirements/frg/common.md
Owners: none

markdown code quality, documentation quality
  requirements/code-quality/markdown/code-block-language.md
  requirements/code-quality/markdown/content-presentation-separation.md
  requirements/code-quality/markdown/emphasis-style.md
  requirements/code-quality/markdown/file-ending.md
  requirements/code-quality/markdown/front-matter-style.md
  requirements/code-quality/markdown/heading-hierarchy.md
  requirements/code-quality/markdown/heading-style.md
  requirements/code-quality/markdown/index.md
  requirements/code-quality/markdown/inline-code-style.md
  requirements/code-quality/markdown/line-break-style.md
  requirements/code-quality/markdown/link-format.md
  requirements/code-quality/markdown/link-style.md
  requirements/code-quality/markdown/list-formatting.md
  requirements/code-quality/markdown/no-html.md
  requirements/code-quality/markdown/quote-style.md
  requirements/code-quality/markdown/single-line-paragraph.md
  requirements/code-quality/markdown/table-style.md
  requirements/code-quality/markdown/whitespace.md
  requirements/dependencies/python/index.md
  requirements/documentation-quality/abbreviation-style.md
  requirements/documentation-quality/active-voice.md
  requirements/documentation-quality/audience-awareness.md
  requirements/documentation-quality/clear-language.md
  requirements/documentation-quality/concise-language.md
  requirements/documentation-quality/consistent-terminology.md
  requirements/documentation-quality/consistent-tone.md
  requirements/documentation-quality/index.md
  requirements/documentation-quality/narrative-perspective.md
  requirements/documentation-quality/no-ambiguous-references.md
  requirements/documentation-quality/no-informal-language.md
  requirements/documentation-quality/precise-language.md
  requirements/documentation-quality/terminology-across-artifacts.md
  requirements/documentation-quality/unambiguous-language.md
  requirements/runtime/index.md
  requirements/runtime/no-native-toolchain.md
Owners: none

python requirements
  requirements/code-quality/python/class-names.md
  requirements/code-quality/python/comments/empty-init-header-comments.md
  requirements/code-quality/python/comments/header-comments.md
  requirements/code-quality/python/comments/index.md
  requirements/code-quality/python/dicts/get-sentinel.md
  requirements/code-quality/python/dicts/index.md
  requirements/code-quality/python/dicts/membership-check.md
  requirements/code-quality/python/docstrings/google-style.md
  requirements/code-quality/python/docstrings/index.md
  requirements/code-quality/python/imports/groups.md
  requirements/code-quality/python/imports/index.md
  requirements/code-quality/python/imports/no-wildcards.md
  requirements/code-quality/python/imports/order.md
  requirements/code-quality/python/lists/append.md
  requirements/code-quality/python/lists/comprehensions.md
  requirements/code-quality/python/lists/index.md
  requirements/code-quality/python/module-size.md
  requirements/code-quality/python/re/compile.md
  requirements/code-quality/python/re/compiled-name.md
  requirements/code-quality/python/re/index.md
  requirements/code-quality/python/typing/index.md
  requirements/code-quality/python/typing/never.md
  requirements/code-quality/python/variable-names.md
  requirements/frg/file-names.md
Owners: none

regulations, runtime, standards, and vision
  requirements/noc.md
  requirements/regulations/index.md
  requirements/runtime/containers/index.md
  requirements/runtime/hardware/arm64.md
  requirements/runtime/hardware/index.md
  requirements/runtime/hardware/x86-64.md
  requirements/runtime/index.md
  requirements/runtime/operation-systems/index.md
  requirements/runtime/virtualization/index.md
  requirements/standards/golden-rule.md
  requirements/standards/index.md
  requirements/vision/index.md
  requirements/vision/macos-amd64.md
Owners: none
