Repository gufolabs/noc, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dv, @aversant, @uncol, @EKbfh, @dmitryluhtionov

.github/CODEOWNERS:

# NOC code owners
# Lines starting with `#` will be ignored.
# Rules defined later in the file take precedence over the rules
# defined before.

# Python files
*.py @dv @aversant

# JS files
*.js @uncol @dv

# CSS files
*.css @uncol @dv

# Jinja2 templates
*.j2 @dv @aversant

# Tests
/tests/ @dv

# Dependencies
pyproject.toml @dv @aversant

# Ansible Deploy
/ansible/ @EKbfh

# Fixes
/fixes/ @dv @aversant

# Profiles
/sa/profiles/ @dv @aversant @dmitryluhtionov

# Configuration
/config.py @dv @aversant @EKbfh

# Core
/core/ @dv @aversant
/core/config/ @dv @aversant @EKbfh

# Models
models/ @dv @aversant

# Commands
/commands/ @dv @aversant

# Services
/services/ @dv @aversant

# Rust
/rust/ @dv

# Documentation
/docs/ @dv

# Codeowners itself
CODEOWNERS @dv

# CI settings
/.gitlab-ci.yml @dv @EKbfh

# Docker files
/.docker/ @dv @EKbfh

# Github
.github/ @dv

BoundView wrapper
  services/web/base/application.py
Owners: @dv, @aversant

Batch MO resolution in map metrics api (#223)
  services/web/apps/inv/map/views.py
Owners: @dv, @aversant

Update Application.js
  ui/web/sa/serviceprofile/Application.js
Owners: @uncol, @dv

Update Application.js
  ui/web/crm/subscriberprofile/Application.js
Owners: @uncol, @dv

Delete ui/web/main/ref/glyph directory
  ui/web/main/ref/glyph/LookupField.js
Owners: @uncol, @dv

Update views.py
  services/web/apps/main/ref/views.py
Owners: @dv, @aversant

Implement deferred overrides for ExtJS components to enhance loading behavior and prevent clobbering by theme overrides
  ui/web/js/override.js
Owners: @uncol, @dv

Remove unused import
  services/web/apps/main/ref/views.py
Owners: @dv, @aversant

Fix event handler scope in InlineGrid and update unmasking in FormController
  ui/web/core/InlineGrid.js
  ui/web/sa/managedobject/form/FormController.js
Owners: @uncol, @dv

Application: BoundView wrapper for add_view method (#324)
  services/web/base/application.py
Owners: @dv, @aversant

Remove noc.main.ref.glyph.LookupField (#323)
  services/web/apps/main/ref/views.py
  ui/web/crm/subscriberprofile/Application.js
  ui/web/main/ref/glyph/LookupField.js
  ui/web/sa/serviceprofile/Application.js
Owners: @dv, @aversant, @uncol

run-dev: git worktree support
  scripts/run-dev
Owners: none

Remove Application.message_user() method
  services/web/base/application.py
Owners: @dv, @aversant

Remove smart_text("\x00") usage
  sa/profiles/DLink/DxS/get_lldp_neighbors.py
  sa/profiles/DLink/DxS_Smart/get_lldp_neighbors.py
  sa/profiles/ECI/HiFOCuS/get_inventory.py
  sa/profiles/EdgeCore/ES/get_lldp_neighbors.py
  sa/profiles/EdgeCore/ES/get_vlans.py
  sa/profiles/Generic/get_vlans.py
  sa/profiles/Huawei/VRP/get_vlans.py
  sa/profiles/Juniper/JUNOS/get_capabilities.py
  sa/profiles/Opticin/OS/get_vlans.py
  sa/profiles/Planar/SDO3000/get_version.py
  sa/profiles/TFortis/PSW/get_version.py
Owners: @dv, @aversant, @dmitryluhtionov

draft: semantic layer for glyph
  ui/build.ts
  ui/scripts/builders/BaseBuilder.ts
  ui/scripts/builders/DevBuilder.ts
  ui/scripts/plugins/GlyphTransformer.ts
  ui/scripts/plugins/ReplaceMethodsPlugin.ts
  ui/web/core/ModelApplication.js
  ui/web/js/glyph.semantic.d.ts
Owners: @uncol, @dv

feat: update glyph transformer and semantic definitions for improved glyph handling
  ui/build.ts
  ui/jsconfig.json
  ui/scripts/__test__/RemoveMethodsPlugin.test.ts
  ui/scripts/plugins/GlyphTransformer.ts
  ui/types/noc-glyph.d.ts
  ui/web/core/ModelApplication.js
  ui/web/js/glyph.semantic.d.ts
  ui/web/js/glyph.semantic.js
Owners: @uncol, @dv

feat: update glyph handling and semantic definitions, refactor glyph transformer and replace methods plugin
  ui/build.ts
  ui/scripts/builders/DevBuilder.ts
  ui/scripts/plugins/GlyphTransformer.ts
  ui/scripts/plugins/ReplaceMethodsPlugin.ts
  ui/types/noc-glyph.d.ts
  ui/web/core/ModelApplication.js
Owners: @uncol, @dv

feat: rename ACTION_APPLY to ACTION_SAVE_AND_CONTINUE for clarity
  ui/types/noc-glyph.d.ts
Owners: none

fix: restore GufoFont glyph family switch lost in rebase
  ui/web/main/desktop/loader/ext-application.js
Owners: @uncol, @dv

fix: declare @typescript-eslint parser deps used by GlyphTransformer
  ui/package.json
  ui/pnpm-lock.yaml
Owners: none

Replace .encode(DEFAULT_ENCODING) with .encode()
  core/clickhouse/connect.py
  core/config/params.py
  core/consul.py
  core/datastream/base.py
  core/datastream/client.py
  core/diagnostic/hub.py
  core/http/async_client.py
  core/http/sync_client.py
  core/mx.py
  core/router/action.py
  core/router/base.py
  core/router/route.py
  core/script/http/base.py
  core/script/http/middleware/digestauth.py
  core/service/rpc.py
  core/span.py
  main/models/notificationgroup.py
  sa/models/managedobject.py
  services/activator/paths/activator.py
  services/classifier/service.py
  services/discovery/jobs/box/caps.py
  services/mailsender/service.py
  services/syslogcollector/service.py
  services/tgsender/service.py
Owners: @dv, @aversant, @EKbfh

Refactor BaseAPI.hashed
  services/card/base.py
Owners: @dv, @aversant

Implement deferred overrides for ExtJS components to enhance loading behavior and prevent clobbering by theme overrides (#325)
  ui/web/core/InlineGrid.js
  ui/web/js/override.js
  ui/web/sa/managedobject/form/FormController.js
Owners: @uncol, @dv

Docker: do not add .worktrees to image
  .dockerignore
Owners: none

Docker: do not add .worktrees to image (#333)
  .dockerignore
Owners: none

fix
  scripts/run-dev
Owners: none

Remove message_user callers
  services/web/apps/main/csv/views.py
  services/web/apps/main/refbook/views.py
Owners: @dv, @aversant

update years
  services/web/apps/main/csv/views.py
  services/web/apps/main/refbook/views.py
Owners: @dv, @aversant

Gufo Loader 2.0.1
  pyproject.toml
Owners: @dv, @aversant

Gufo Loader 2.0.1 (#334)
  pyproject.toml
Owners: @dv, @aversant

Replace fsspec with Gufo Blob
  commands/beef.py
  commands/script.py
  core/script/beef.py
  main/models/extstorage.py
  pyproject.toml
  sa/models/managedobject.py
  services/discovery/jobs/box/config.py
  services/web/apps/inv/inv/plugins/opm.py
  services/web/apps/inv/inv/plugins/pconf.py
Owners: @dv, @aversant

Fix fixture loading
  tests/conftest.py
Owners: @dv

Remove unused imports
  tests/test_beef.py
  tests/test_discovery.py
Owners: @dv

Remove fsspec usage
  tests/collections/test_fm_eventclassificationrule.py
  tests/conftest.py
  tests/test_beef.py
  tests/test_discovery.py
Owners: @dv

actions/checkout@v7, actions/setup-python@v6, actions/sectup-node@v7
  .github/workflows/backport.yml
  .github/workflows/build-docs.yml
  .github/workflows/codeql.yml
  .github/workflows/docker-master.yml
  .github/workflows/infra-image.yml
  .github/workflows/js-tests.yml
  .github/workflows/py-tests.yml
  .github/workflows/ui-master.yml
Owners: @dv

NOC Theme: Set GF icons in navigation tree to black
  ui/web/css/theme-patch-noc.css
Owners: @uncol, @dv

run-dev: git worktree support (#326)
  scripts/run-dev
Owners: none

NOC Theme: Set GF icons in navigation tree to black (#336)
  ui/web/css/theme-patch-noc.css
Owners: @uncol, @dv

actions/checkout@v7, actions/setup-python@v6, actions/sectup-node@v7 (#335)
  .github/workflows/backport.yml
  .github/workflows/build-docs.yml
  .github/workflows/codeql.yml
  .github/workflows/docker-master.yml
  .github/workflows/infra-image.yml
  .github/workflows/js-tests.yml
  .github/workflows/py-tests.yml
  .github/workflows/ui-master.yml
Owners: @dv

Fix
  commands/beef.py
Owners: @dv, @aversant
