Repository gufolabs/noc, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dv, @aversant, @uncol, @EKbfh, @dmitryluhtionov

.github/CODEOWNERS:

# NOC code owners
# Lines starting with `#` will be ignored.
# Rules defined later in the file take precedence over the rules
# defined before.

# Python files
*.py @dv @aversant

# JS files
*.js @uncol @dv

# CSS files
*.css @uncol @dv

# Jinja2 templates
*.j2 @dv @aversant

# Tests
/tests/ @dv

# Dependencies
pyproject.toml @dv @aversant

# Ansible Deploy
/ansible/ @EKbfh

# Fixes
/fixes/ @dv @aversant

# Profiles
/sa/profiles/ @dv @aversant @dmitryluhtionov

# Configuration
/config.py @dv @aversant @EKbfh

# Core
/core/ @dv @aversant
/core/config/ @dv @aversant @EKbfh

# Models
models/ @dv @aversant

# Commands
/commands/ @dv @aversant

# Services
/services/ @dv @aversant

# Rust
/rust/ @dv

# Documentation
/docs/ @dv

# Codeowners itself
CODEOWNERS @dv

# CI settings
/.gitlab-ci.yml @dv @EKbfh

# Docker files
/.docker/ @dv @EKbfh

# Github
.github/ @dv

Fix docs links
  docs/profiles-reference/SUMMARY.md
Owners: @dv

Fix typo
  services/web/apps/sa/managedobject/views.py
Owners: @dv, @aversant

Remove import-rancid command
  commands/import-rancid.py
  docs/man/SUMMARY.md
  docs/man/import-rancid.md
Owners: @dv, @aversant

sa.managedobject: Show all cloud links in Links tab (#229)
  services/web/apps/sa/managedobject/views.py
Owners: @dv, @aversant

fix: web alarm panel
  ui/web/sa/managedobject/AlarmPanel.js
Owners: @uncol, @dv

sa.managedobject: Show all cloud links in Links tab (#229)
  services/web/apps/sa/managedobject/views.py
Owners: @dv, @aversant

Remove import-rancid command (#230)
  commands/import-rancid.py
  docs/man/SUMMARY.md
  docs/man/import-rancid.md
Owners: @dv, @aversant

sa.managedobject: Show all cloud links in Links tab (#229) (#231)
  services/web/apps/sa/managedobject/views.py
Owners: @dv, @aversant

Managed Object: Fix interface panel when using styles (#179)
  services/web/apps/sa/managedobject/views.py
Owners: @dv, @aversant

Fix 'Profile check detail' report
  collections/main.reports/Profile_Check_Detail.json
Owners: none

Add Register as Notification Method to MessageRoute.
  core/mx.py
  core/router/action.py
  core/router/base.py
  core/router/route.py
  main/models/messageroute.py
  main/models/notificationgroup.py
  services/web/apps/main/notificationgroup/views.py
  services/web/apps/main/ref/views.py
  ui/web/main/messageroute/Application.js
  ui/web/main/messageroute/Model.js
  ui/web/main/notificationgroup/Application.js
Owners: @dv, @aversant, @uncol

release-25.1:Backport!10006
  core/mx.py
  core/router/action.py
  core/router/base.py
  core/router/route.py
  main/models/messageroute.py
  main/models/notificationgroup.py
  services/web/apps/main/notificationgroup/views.py
  services/web/apps/main/ref/views.py
  ui/web/main/messageroute/Application.js
  ui/web/main/messageroute/Model.js
  ui/web/main/notificationgroup/Application.js
Owners: @dv, @aversant, @uncol

Fix duplicates when add watchers and add tests.
  core/watchers/decorator.py
  maintenance/models/maintenance.py
  sa/models/objectwatchersitem.py
  sa/models/service.py
  services/scheduler/jobs/run_watchers.py
Owners: @dv, @aversant

release-25.1:Backport!10010
  core/watchers/decorator.py
  maintenance/models/maintenance.py
  sa/models/objectwatchersitem.py
  sa/models/service.py
  services/scheduler/jobs/run_watchers.py
Owners: @dv, @aversant

Add Eltex/TAU metrics
  collections/pm.metrictypes/Telephony/voice_calls_count.json
  collections/pm.metrictypes/Telephony/voice_lost_packets.json
  collections/pm.metrictypes/Telephony/voice_peak_jitter.json
  sa/profiles/Eltex/TAU/get_inventory.py
  sa/profiles/Eltex/TAU/get_metrics.py
  sa/profiles/Eltex/TAU/snmp_metrics/environment_temperature.json
  sa/profiles/Eltex/TAU/snmp_metrics/telephony_voice_calls_count.json
Owners: @dv, @aversant, @dmitryluhtionov

Cleanup
  sa/profiles/OmegaTelecom/SBC/get_metrics.py
Owners: @dv, @aversant, @dmitryluhtionov

Fix diagnostics
  core/diagnostic/decorator.py
  core/script/diagnostic.py
Owners: @dv, @aversant

Fix
  core/diagnostic/decorator.py
Owners: @dv, @aversant

Fix diagnostics (#233)
  core/diagnostic/decorator.py
  core/script/diagnostic.py
Owners: @dv, @aversant

Fix processed diagnostic handler.
  core/diagnostic/decorator.py
  core/script/diagnostic.py
Owners: @dv, @aversant

VyOS: get_interface compatibility with 1.5
  sa/profiles/VyOS/VyOS/get_interfaces.py
Owners: @dv, @aversant, @dmitryluhtionov

Fix
  sa/profiles/VyOS/VyOS/get_interfaces.py
Owners: @dv, @aversant, @dmitryluhtionov

VyOS: get_interface compatibility with 1.5 (#234)
  sa/profiles/VyOS/VyOS/get_interfaces.py
Owners: @dv, @aversant, @dmitryluhtionov

release-25.1:Backport!10012
  core/diagnostic/decorator.py
  core/script/diagnostic.py
Owners: @dv, @aversant

VyOS.VyOS.get_interfaces: Set enabled_afi
  sa/profiles/VyOS/VyOS/get_interfaces.py
Owners: @dv, @aversant, @dmitryluhtionov

VyOS.VyOS.get_interfaces: Set enabled_afi (#235)
  sa/profiles/VyOS/VyOS/get_interfaces.py
Owners: @dv, @aversant, @dmitryluhtionov

VyOS.VyOS.get_chassis_id: Fix macs recognition
  sa/profiles/VyOS/VyOS/get_chassis_id.py
Owners: @dv, @aversant, @dmitryluhtionov

VyOS.VyOS.get_chassis_id: Fix macs recognition (#236)
  sa/profiles/VyOS/VyOS/get_chassis_id.py
Owners: @dv, @aversant, @dmitryluhtionov

Remove sender-kafka dependency group (#155)
  .github/workflows/py-tests.yml
  Dockerfile
  ansible/noc_roles/noc/tasks/init_venv_python3.yml
  pyproject.toml
Owners: @dv, @EKbfh, @aversant

Fix MapSettings
  inv/models/mapsettings.py
Owners: @dv, @aversant

Fix MapSettings (#237)
  inv/models/mapsettings.py
Owners: @dv, @aversant

Drop pytz dependency
  config.py
  core/config/params.py
  pyproject.toml
Owners: @dv, @aversant, @EKbfh

Drop pytz dependency (#238)
  config.py
  core/config/params.py
  pyproject.toml
Owners: @dv, @aversant, @EKbfh

Add CheckHistory BI Table, for calculate expired checks.
  bi/models/checkhistory.py
  core/checkers/base.py
  core/checkers/registry.py
  core/diagnostic/hub.py
  core/diagnostic/item.py
  core/script/diagnostic.py
  core/watchers/decorator.py
  core/watchers/types.py
  sa/models/managedobject.py
  sa/models/managedobjectprofile.py
  sa/models/service.py
  services/discovery/jobs/periodic/diagnostic.py
  services/scheduler/jobs/run_watchers.py
  services/scheduler/jobs/update_checks.py
  services/trapcollector/service.py
  services/trapcollector/sourceconfig.py
Owners: @dv, @aversant

release-25.1:Backport!10014
  bi/models/checkhistory.py
  core/checkers/base.py
  core/checkers/registry.py
  core/diagnostic/hub.py
  core/diagnostic/item.py
  core/script/diagnostic.py
  core/watchers/decorator.py
  core/watchers/types.py
  sa/models/managedobject.py
  sa/models/managedobjectprofile.py
  sa/models/service.py
  services/discovery/jobs/periodic/diagnostic.py
  services/scheduler/jobs/run_watchers.py
  services/scheduler/jobs/update_checks.py
  services/trapcollector/service.py
  services/trapcollector/sourceconfig.py
Owners: @dv, @aversant

Rename 'sip trunk' to 'trunk' metrics
  collections/pm.metrictypes/Telephony/trunk_capacity.json
  collections/pm.metrictypes/Telephony/trunk_chans_busy.json
  collections/pm.metrictypes/Telephony/trunk_chans_free.json
  collections/pm.metrictypes/Telephony/trunk_cps_alarm.json
  collections/pm.metrictypes/Telephony/trunk_cps_max.json
  collections/pm.metrictypes/Telephony/trunk_current_cps.json
  collections/pm.metrictypes/Telephony/trunk_current_egress_calls.json
  collections/pm.metrictypes/Telephony/trunk_current_ingress_calls.json
  collections/pm.metrictypes/Telephony/trunk_current_total_calls.json
  collections/pm.metrictypes/Telephony/trunk_enable.json
  collections/pm.metrictypes/Telephony/trunk_status.json
  collections/pm.metrictypes/Telephony/trunk_unavailable_cic_count.json
  sa/profiles/Eltex/SMG/get_metrics.py
Owners: @dv, @aversant, @dmitryluhtionov

feat: enhance map interaction with search functionality and event handling
  ui/web/inv/map/Application.js
  ui/web/inv/map/MapPanel.js
  ui/web/inv/map/MapRendererPlaceholder.js
Owners: @uncol, @dv

feat: add event handler removal
  ui/web/inv/map/MapPanel.js
  ui/web/inv/map/MapRendererPlaceholder.js
Owners: @uncol, @dv

feat: refactor node menu handling in MapPanel to simplify object retrieval
  ui/web/inv/map/MapPanel.js
Owners: @uncol, @dv

feat: refactor MapPanel and MapRendererPlaceholder to remove currentHighlight and enhance event handling
  ui/web/inv/map/MapPanel.js
  ui/web/inv/map/MapRendererPlaceholder.js
Owners: @uncol, @dv
