Repository gufolabs/noc, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dv, @aversant, @uncol, @EKbfh, @dmitryluhtionov

.github/CODEOWNERS:

# NOC code owners
# Lines starting with `#` will be ignored.
# Rules defined later in the file take precedence over the rules
# defined before.

# Python files
*.py @dv @aversant

# JS files
*.js @uncol @dv

# CSS files
*.css @uncol @dv

# Jinja2 templates
*.j2 @dv @aversant

# Tests
/tests/ @dv

# Dependencies
pyproject.toml @dv @aversant

# Ansible Deploy
/ansible/ @EKbfh

# Fixes
/fixes/ @dv @aversant

# Profiles
/sa/profiles/ @dv @aversant @dmitryluhtionov

# Configuration
/config.py @dv @aversant @EKbfh

# Core
/core/ @dv @aversant
/core/config/ @dv @aversant @EKbfh

# Models
models/ @dv @aversant

# Commands
/commands/ @dv @aversant

# Services
/services/ @dv @aversant

# Rust
/rust/ @dv

# Documentation
/docs/ @dv

# Codeowners itself
CODEOWNERS @dv

# CI settings
/.gitlab-ci.yml @dv @EKbfh

# Docker files
/.docker/ @dv @EKbfh

# Github
.github/ @dv

fix: add uiStyle property to Lookup filter field configuration
  ui/web/core/modelfilter/Lookup.js
Owners: @uncol, @dv

chore: update js-yaml to version 4.1.1 and ensure dompurify is set to ^3.3.0 in package.json and pnpm-lock.yaml
  ui/package-lock.json
  ui/package.json
  ui/pnpm-lock.yaml
Owners: none

Fallout OS.FreeBSD profile
  collections/inv.vendors/FREEBSD.json
  collections/sa.profilecheckrules/OS/BSD/FreeBSD_sysObjectID.json
  sa/profiles/OS/FreeBSD/__init__.py
  sa/profiles/OS/FreeBSD/get_arp.py
  sa/profiles/OS/FreeBSD/get_capabilities.py
  sa/profiles/OS/FreeBSD/get_config.py
  sa/profiles/OS/FreeBSD/get_fqdn.py
  sa/profiles/OS/FreeBSD/get_interface_status.py
  sa/profiles/OS/FreeBSD/get_interfaces.py
  sa/profiles/OS/FreeBSD/get_lldp_neighbors.py
  sa/profiles/OS/FreeBSD/get_local_users.py
  sa/profiles/OS/FreeBSD/get_ntp_status.py
  sa/profiles/OS/FreeBSD/get_portchannel.py
  sa/profiles/OS/FreeBSD/get_resolver_config.py
  sa/profiles/OS/FreeBSD/get_uptime.py
  sa/profiles/OS/FreeBSD/get_version.py
  sa/profiles/OS/FreeBSD/ping.py
  sa/profiles/OS/FreeBSD/profile.py
  sa/profiles/OS/FreeBSD/snmp_metrics/cpu_load_1min.json
  sa/profiles/OS/FreeBSD/snmp_metrics/cpu_load_5min.json
  sa/profiles/OS/FreeBSD/snmp_metrics/memory_usage.json
  sa/profiles/OS/FreeBSD/snmp_metrics/memory_usage_bytes.json
Owners: @dv, @aversant, @dmitryluhtionov

fix style
  sa/profiles/OS/FreeBSD/get_lldp_neighbors.py
  sa/profiles/OS/FreeBSD/get_ntp_status.py
  sa/profiles/OS/FreeBSD/snmp_metrics/memory_usage.json
  sa/profiles/OS/FreeBSD/snmp_metrics/memory_usage_bytes.json
Owners: @dv, @aversant, @dmitryluhtionov

fix style
  sa/profiles/OS/FreeBSD/get_lldp_neighbors.py
Owners: @dv, @aversant, @dmitryluhtionov

fix syntax
  sa/profiles/OS/FreeBSD/get_arp.py
  sa/profiles/OS/FreeBSD/get_interfaces.py
  sa/profiles/OS/FreeBSD/get_portchannel.py
  sa/profiles/OS/FreeBSD/get_uptime.py
  sa/profiles/OS/FreeBSD/ping.py
Owners: @dv, @aversant, @dmitryluhtionov

fix syntax
  sa/profiles/OS/FreeBSD/get_lldp_neighbors.py
Owners: @dv, @aversant, @dmitryluhtionov

Disable Export button when no objects
  ui/web/maintenance/maintenance/ObjectsPanel.js
Owners: @uncol, @dv

Fix syntax
  sa/profiles/OS/FreeBSD/get_arp.py
  sa/profiles/OS/FreeBSD/get_config.py
  sa/profiles/OS/FreeBSD/get_lldp_neighbors.py
  sa/profiles/OS/FreeBSD/get_ntp_status.py
Owners: @dv, @aversant, @dmitryluhtionov

Fix syntax
  get_arp.py
  get_ntp_status.py
Owners: @dv, @aversant

Fix syntax
  get_arp.py
  get_ntp_status.py
  sa/profiles/OS/FreeBSD/get_arp.py
  sa/profiles/OS/FreeBSD/get_ntp_status.py
Owners: @dv, @aversant, @dmitryluhtionov

Fix syntax
  sa/profiles/OS/FreeBSD/get_ntp_status.py
Owners: @dv, @aversant, @dmitryluhtionov

ClickHouseClient typing and code cleanup
  commands/migrate-ch.py
  core/clickhouse/connect.py
  core/clickhouse/ensure.py
Owners: @dv, @aversant

mkdocs-material 9.7.0, disable mkdocs-static-i18n on blog items
  mkdocs.yml
  pyproject.toml
  scripts/docs/hooks/blog.py
Owners: @dv, @aversant

Fix
  scripts/docs/hooks/blog.py
Owners: @dv, @aversant

refactor: enforce unique dynamic order and improve validity checks
  ui/web/inv/interfaceprofile/Application.js
Owners: @uncol, @dv

fix: set scrollBeyondLastLine and scrollBeyondLastColumn properties in monaco editor
  ui/web/core/CodeViewer.js
Owners: @uncol, @dv

Optimize
  sa/profiles/OS/FreeBSD/get_capabilities.py
Owners: @dv, @aversant, @dmitryluhtionov

Add third part of BDCOM.xPON event classification rules
  collections/fm.eventclassificationrules/BDCOM/xPON/Network/xPON/Laser_Always_On_1_SYSLOG.json
  collections/fm.eventclassificationrules/BDCOM/xPON/Network/xPON/ONU/Activated_1_SYSLOG.json
  collections/fm.eventclassificationrules/BDCOM/xPON/Network/xPON/ONU/Activated_2_SYSLOG.json
  collections/fm.eventclassificationrules/BDCOM/xPON/Network/xPON/ONU/Discovered_1_SYSLOG.json
  collections/fm.eventclassificationrules/BDCOM/xPON/Network/xPON/ONU/Discovered_2_SYSLOG.json
  collections/fm.eventclassificationrules/BDCOM/xPON/Network/xPON/ONU/Offline_1_SYSLOG.json
  collections/fm.eventclassificationrules/BDCOM/xPON/Network/xPON/ONU/Offline_2_SYSLOG.json
  collections/fm.eventclassificationrules/BDCOM/xPON/Network/xPON/ONU/Power_Failed_1_SYSLOG.json
  collections/fm.eventclassificationrules/BDCOM/xPON/Network/xPON/ONU/Power_Failed_2_SYSLOG.json
  collections/fm.eventclassificationrules/BDCOM/xPON/Security/Authentication/Login_1_SYSLOG.json
  collections/fm.eventclassificationrules/BDCOM/xPON/Security/Authentication/Privilege_Level_Changed_1_SYSLOG.json
  collections/fm.eventclassificationrules/BDCOM/xPON/Unknown/Ignore_SSL_Accept_SYSLOG_.json
Owners: none

Update description
  collections/fm.eventclassificationrules/BDCOM/xPON/Network/xPON/ONU/Discovered_1_SYSLOG.json
Owners: none

Fix classifier error output
  services/classifier/ruleset.py
Owners: @dv, @aversant

Fix formatting
  services/classifier/ruleset.py
Owners: @dv, @aversant

Use f-string
  services/classifier/ruleset.py
Owners: @dv, @aversant

Add quotes
  services/classifier/ruleset.py
Owners: @dv, @aversant

Fix formatting
  services/classifier/ruleset.py
Owners: @dv, @aversant

Fix xPON | ONU classes
  collections/fm.alarmclasses/Network/xPON/ONU/Power_Failed.json
  collections/fm.eventclasses/Network/xPON/ONU/Activated.json
  collections/fm.eventclasses/Network/xPON/ONU/Discovered.json
  collections/fm.eventclasses/Network/xPON/ONU/Offline.json
  collections/fm.eventclasses/Network/xPON/ONU/Power_Failed.json
Owners: none

Set rewritten parameters
  core/config/base.py
Owners: @dv, @aversant, @EKbfh

Add inv/Load_Metrics_max report
  collections/main.reports/Load_Metrics_max.json
  core/datasources/maxmetricsds.py
Owners: @dv, @aversant

Package-based web endpoints autodiscover
  config.py
  services/web/apps/gis/area/DISABLED
  services/web/apps/gis/area/__init__.py
  services/web/apps/gis/area/views.py
  services/web/apps/gis/overlay/DISABLED
  services/web/apps/gis/overlay/__init__.py
  services/web/apps/gis/overlay/views.py
  services/web/base/site.py
  tests/test_site.py
Owners: @dv, @aversant, @EKbfh

Remove unused code
  services/web/base/site.py
Owners: @dv, @aversant

Maintain old menu items order
  services/web/base/site.py
Owners: @dv, @aversant

Remove implicit endpoints discover on importing noc.urls
  commands/sync-perm.py
  config.py
  services/web/base/site.py
  services/web/service.py
  urls.py
Owners: @dv, @aversant, @EKbfh

Remove main.Checkpoint model
  aaa/models/user.py
  main/models/checkpoint.py
  models.py
  services/web/apps/main/checkpoint/__init__.py
  services/web/apps/main/checkpoint/templates/create.html
  services/web/apps/main/checkpoint/views.py
Owners: @dv, @aversant

add @gufo-labs/font dependency
  ui/package-lock.json
  ui/package.json
  ui/pnpm-lock.yaml
  ui/scripts/app-dev.css
  ui/scripts/app-prod.css
  ui/web/main/desktop/HeaderPanel.js
Owners: @uncol, @dv

Use glyph in welcome
  services/web/apps/main/home/templates/Welcome.html.j2
Owners: @dv, @aversant

Remove features/ folder
  features/setup-facades.feature
  features/show-equipment-view.feature
Owners: none

CH Table TTL
  commands/migrate-ch.py
  core/clickhouse/ensure.py
  main/models/chpolicy.py
  services/web/apps/main/chpolicy/views.py
  ui/web/js/util.js
  ui/web/main/chpolicy/Application.js
  ui/web/main/chpolicy/Model.js
Owners: @dv, @aversant, @uncol

find_balanced() function
  core/text.py
  tests/test_text.py
Owners: @dv, @aversant

CH DDL Parser
  core/clickhouse/parser.py
  tests/test_clickhouse.py
Owners: @dv, @aversant

Policy migration
  commands/migrate-ch.py
  core/clickhouse/ensure.py
  core/clickhouse/info.py
  core/clickhouse/parser.py
  tests/test_clickhouse.py
Owners: @dv, @aversant
