Repository gufolabs/noc, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dv, @aversant, @uncol, @EKbfh, @dmitryluhtionov

.github/CODEOWNERS:

# NOC code owners
# Lines starting with `#` will be ignored.
# Rules defined later in the file take precedence over the rules
# defined before.

# Python files
*.py @dv @aversant

# JS files
*.js @uncol @dv

# CSS files
*.css @uncol @dv

# Jinja2 templates
*.j2 @dv @aversant

# Tests
/tests/ @dv

# Dependencies
pyproject.toml @dv @aversant

# Ansible Deploy
/ansible/ @EKbfh

# Fixes
/fixes/ @dv @aversant

# Profiles
/sa/profiles/ @dv @aversant @dmitryluhtionov

# Configuration
/config.py @dv @aversant @EKbfh

# Core
/core/ @dv @aversant
/core/config/ @dv @aversant @EKbfh

# Models
models/ @dv @aversant

# Commands
/commands/ @dv @aversant

# Services
/services/ @dv @aversant

# Rust
/rust/ @dv

# Documentation
/docs/ @dv

# Codeowners itself
CODEOWNERS @dv

# CI settings
/.gitlab-ci.yml @dv @EKbfh

# Docker files
/.docker/ @dv @EKbfh

# Github
.github/ @dv

Fix formatting
  sa/profiles/BDCOM/xPON/get_cpe.py
Owners: @dv, @aversant, @dmitryluhtionov

Fix ruff warnings
  sa/profiles/BDCOM/xPON/get_cpe.py
  sa/profiles/BDCOM/xPON/get_inventory.py
  sa/profiles/BDCOM/xPON/get_version.py
  sa/profiles/BDCOM/xPON/profile.py
Owners: @dv, @aversant, @dmitryluhtionov

Fix formatting
  sa/profiles/BDCOM/xPON/profile.py
Owners: @dv, @aversant, @dmitryluhtionov

Fix ruff warnings
  sa/profiles/BDCOM/xPON/get_cpe_status.py
  sa/profiles/BDCOM/xPON/profile.py
Owners: @dv, @aversant, @dmitryluhtionov

Add more CPE capabilities
  collections/inv.capabilities/CPE/IP_Address.json
  collections/inv.capabilities/CPE/Location.json
  collections/inv.capabilities/CPE/Modulation.json
  collections/inv.capabilities/CPE/Revision.json
  collections/inv.capabilities/CPE/SW_Version.json
  services/discovery/jobs/box/cpe.py
Owners: @dv, @aversant

Add exposed capabilities mechanism to Service.
  core/caps/decorator.py
  sa/models/capsprofile.py
  sa/models/service.py
  sa/models/serviceprofile.py
  sa/models/servicesummary.py
  services/discovery/jobs/box/nri_service.py
  ui/web/sa/capsprofile/Application.js
  ui/web/sa/serviceprofile/Application.js
  ui/web/sa/serviceprofile/Model.js
Owners: @dv, @aversant, @uncol

release-25.1:Backport!10060
  core/caps/decorator.py
  sa/models/capsprofile.py
  sa/models/service.py
  sa/models/serviceprofile.py
  sa/models/servicesummary.py
  services/discovery/jobs/box/nri_service.py
  ui/web/sa/capsprofile/Application.js
  ui/web/sa/serviceprofile/Application.js
  ui/web/sa/serviceprofile/Model.js
Owners: @dv, @aversant, @uncol

Fix apply mappings when create ManagedObject from Discovered object.
  core/purgatorium.py
  sa/models/discoveredobject.py
  sa/models/managedobject.py
Owners: @dv, @aversant

release-25.1:Backport!10062
  core/purgatorium.py
  sa/models/discoveredobject.py
  sa/models/managedobject.py
Owners: @dv, @aversant

Add C3Solution.PDU profile.
  collections/inv.vendors/C3SOLUTION.json
  collections/sa.profilecheckrules/C3Solution/sysObjectID.json
  collections/sa.profilecheckrules/Vertiv/PDU/Generic_sysObjectID.json
  collections/sa.profiles/C3Solution/PDU.json
  docs/profiles-reference/C3Solution/PDU.md
  docs/profiles-reference/C3Solution/SUMMARY.md
  docs/profiles-reference/C3Solution/index.md
  docs/profiles-reference/SUMMARY.md
  docs/profiles-reference/index.md
  sa/profiles/C3Solution/PDU/__init__.py
  sa/profiles/C3Solution/PDU/get_interfaces.py
  sa/profiles/C3Solution/PDU/get_inventory.py
  sa/profiles/C3Solution/PDU/get_version.py
  sa/profiles/C3Solution/PDU/profile.py
  sa/profiles/C3Solution/__init__.py
Owners: @dv, @aversant, @dmitryluhtionov

release-25.1:Backport!10064
  collections/inv.vendors/C3SOLUTION.json
  collections/sa.profilecheckrules/C3Solution/sysObjectID.json
  collections/sa.profilecheckrules/Vertiv/PDU/Generic_sysObjectID.json
  collections/sa.profiles/C3Solution/PDU.json
  docs/profiles-reference/C3Solution/PDU.md
  docs/profiles-reference/C3Solution/SUMMARY.md
  docs/profiles-reference/C3Solution/index.md
  docs/profiles-reference/SUMMARY.md
  docs/profiles-reference/index.md
  sa/profiles/C3Solution/PDU/__init__.py
  sa/profiles/C3Solution/PDU/get_interfaces.py
  sa/profiles/C3Solution/PDU/get_inventory.py
  sa/profiles/C3Solution/PDU/get_version.py
  sa/profiles/C3Solution/PDU/profile.py
  sa/profiles/C3Solution/__init__.py
Owners: @dv, @aversant, @dmitryluhtionov

Fix audittrail filtering
  services/web/apps/main/audittrail/views.py
Owners: @dv, @aversant

Settings for translate sensors metrics to MX.
  core/cdag/node/metrics.py
  inv/models/sensor.py
  inv/models/sensorprofile.py
  services/datastream/models/cfgmetricstarget.py
  services/metrics/models/target.py
  services/metrics/service.py
  tests/cdag/node/test_util.py
  tests/cdag/test_metrics_case.py
  ui/web/inv/sensorprofile/Application.js
  ui/web/inv/sensorprofile/Model.js
Owners: @dv, @aversant, @uncol

release-25.1:Backport!10066
  core/cdag/node/metrics.py
  inv/models/sensor.py
  inv/models/sensorprofile.py
  services/datastream/models/cfgmetricstarget.py
  services/metrics/models/target.py
  services/metrics/service.py
  tests/cdag/node/test_util.py
  tests/cdag/test_metrics_case.py
  ui/web/inv/sensorprofile/Application.js
  ui/web/inv/sensorprofile/Model.js
Owners: @dv, @aversant, @uncol

release-25.1:Backport!10049
  services/web/apps/main/audittrail/views.py
Owners: @dv, @aversant

feat: set pageSize to 0 for InlineModelStore in ModelApplication
  ui/web/core/ModelApplication.js
Owners: @uncol, @dv

Fix processed sensor asset without Object instance.
  core/cdag/node/metrics.py
  core/etl/loader/base.py
  core/etl/loader/sensor.py
  core/etl/remotemappings.py
  inv/models/sensor.py
  services/discovery/jobs/box/asset.py
  ui/web/inv/sensorprofile/Application.js
Owners: @dv, @aversant, @uncol

release-25.1:Backport!10069
  core/cdag/node/metrics.py
  core/etl/loader/base.py
  core/etl/loader/sensor.py
  core/etl/remotemappings.py
  inv/models/sensor.py
  services/discovery/jobs/box/asset.py
  ui/web/inv/sensorprofile/Application.js
Owners: @dv, @aversant, @uncol

Add required_reference settings for processed alarm service component on
  sa/models/service.py
  sa/models/serviceprofile.py
  services/classifier/sourcelookup.py
  services/datastream/models/cfgtarget.py
  services/datastream/streams/cfgtarget.py
  ui/web/sa/serviceprofile/Application.js
Owners: @dv, @aversant, @uncol

release-25.1:Backport!10071
  sa/models/service.py
  sa/models/serviceprofile.py
  services/classifier/sourcelookup.py
  services/datastream/models/cfgtarget.py
  services/datastream/streams/cfgtarget.py
  ui/web/sa/serviceprofile/Application.js
Owners: @dv, @aversant, @uncol

Fix processed Notification Message for Forwaded to webhook.
  core/mx.py
  core/router/action.py
  core/router/base.py
  core/router/route.py
  core/runner/actions/base.py
  main/models/notificationgroup.py
Owners: @dv, @aversant

release-25.1:Backport!10073
  core/mx.py
  core/router/action.py
  core/router/base.py
  core/router/route.py
  core/runner/actions/base.py
  main/models/notificationgroup.py
Owners: @dv, @aversant

add LookupField to managed object form dependencies
  ui/web/sa/managedobject/form/View.js
Owners: @uncol, @dv

add LookupField to managed object form dependencies (#255)
  ui/web/sa/managedobject/form/View.js
Owners: @uncol, @dv

Fix docs toc handling
  tests/docs/conftest.py
  tests/docs/test_profile.py
Owners: @dv

Refine types
  tests/docs/conftest.py
Owners: @dv

Fix
  tests/docs/conftest.py
Owners: @dv

Fix docs toc handling (#257)
  tests/docs/conftest.py
  tests/docs/test_profile.py
Owners: @dv

docs: ConfDB syntax tree and polished docs
  commands/confdb.py
  docs/assets/confdb-syntax.css
  docs/confdb-reference/SUMMARY.md
  docs/confdb-reference/fetching.md
  docs/confdb-reference/index.md
  docs/confdb-reference/normalizer.md
  docs/confdb-reference/query.md
  docs/confdb-reference/storage.md
  docs/confdb-reference/syntax-meta.md
  docs/confdb-reference/syntax.md
  docs/confdb-reference/tokenizer.md
  docs/src/en/dev/confdb-fetching.rst
  docs/src/en/dev/confdb-normalizer.rst
  docs/src/en/dev/confdb-overview.rst
  docs/src/en/dev/confdb-query.rst
  docs/src/en/dev/confdb-storage.rst
  docs/src/en/dev/confdb-syntax-hints.rst
  docs/src/en/dev/confdb-syntax-interfaces.rst
  docs/src/en/dev/confdb-syntax-media.rst
  docs/src/en/dev/confdb-syntax-meta.rst
  docs/src/en/dev/confdb-syntax-protocols.rst
  docs/src/en/dev/confdb-syntax-syntax.rst
  docs/src/en/dev/confdb-syntax-system.rst
  docs/src/en/dev/confdb-syntax-vr1.rst
  docs/src/en/dev/confdb-syntax-vr2.rst
  docs/src/en/dev/confdb-syntax-vr3.rst
  docs/src/en/dev/confdb-syntax-vr4.rst
  docs/src/en/dev/confdb-syntax.rst
  docs/src/en/dev/confdb-tokenizer.rst
  docs/src/en/dev/confdb.rst
  scripts/docs/update-confdb-syntax.py
Owners: @dv, @aversant

docs: ConfDB syntax tree and polished docs (#256)
  commands/confdb.py
  docs/assets/confdb-syntax.css
  docs/confdb-reference/SUMMARY.md
  docs/confdb-reference/fetching.md
  docs/confdb-reference/index.md
  docs/confdb-reference/normalizer.md
  docs/confdb-reference/query.md
  docs/confdb-reference/storage.md
  docs/confdb-reference/syntax-meta.md
  docs/confdb-reference/syntax.md
  docs/confdb-reference/tokenizer.md
  docs/src/en/dev/confdb-fetching.rst
  docs/src/en/dev/confdb-normalizer.rst
  docs/src/en/dev/confdb-overview.rst
  docs/src/en/dev/confdb-query.rst
  docs/src/en/dev/confdb-storage.rst
  docs/src/en/dev/confdb-syntax-hints.rst
  docs/src/en/dev/confdb-syntax-interfaces.rst
  docs/src/en/dev/confdb-syntax-media.rst
  docs/src/en/dev/confdb-syntax-meta.rst
  docs/src/en/dev/confdb-syntax-protocols.rst
  docs/src/en/dev/confdb-syntax-syntax.rst
  docs/src/en/dev/confdb-syntax-system.rst
  docs/src/en/dev/confdb-syntax-vr1.rst
  docs/src/en/dev/confdb-syntax-vr2.rst
  docs/src/en/dev/confdb-syntax-vr3.rst
  docs/src/en/dev/confdb-syntax-vr4.rst
  docs/src/en/dev/confdb-syntax.rst
  docs/src/en/dev/confdb-tokenizer.rst
  docs/src/en/dev/confdb.rst
  scripts/docs/update-confdb-syntax.py
Owners: @dv, @aversant

feat: set pageSize to 0 for InlineModelStore in ModelApplication (#254)
  ui/web/core/ModelApplication.js
Owners: @uncol, @dv

enhance grid scrollability and correct URL formatting in prefix retrieval
  services/web/apps/ip/ipam/views.py
  ui/web/ip/ipam/ApplicationController.js
  ui/web/ip/ipam/view/forms/prefix/PrefixAddressLists.js
Owners: @dv, @aversant, @uncol

Fix processed item changed to Alarm Job.
  fm/models/activealarm.py
  fm/models/alarmrule.py
  fm/models/escalationprofile.py
  sa/models/service.py
  sa/models/serviceprofile.py
  services/correlator/alarmjob.py
  ui/web/sa/serviceprofile/Application.js
Owners: @dv, @aversant, @uncol

release-25.1:Backport!10075
  fm/models/activealarm.py
  fm/models/alarmrule.py
  fm/models/escalationprofile.py
  sa/models/service.py
  sa/models/serviceprofile.py
  services/correlator/alarmjob.py
  ui/web/sa/serviceprofile/Application.js
Owners: @dv, @aversant, @uncol

extract Navigation API router to framework-neutral ES module
  ui/web/core/Navigation.js
  ui/web/main/desktop/Application.js
  ui/web/main/desktop/loader/bootstrap.js
  ui/web/main/desktop/loader/ext-application.js
  ui/web/main/desktop/loader/navigation.js
Owners: @uncol, @dv

add debounced loading bar to NOC.api in-flight requests
  ui/web/main/desktop/loader/bootstrap.js
Owners: @uncol, @dv

Update BDCOM.xPON profile
  sa/profiles/BDCOM/xPON/get_cpe.py
  sa/profiles/BDCOM/xPON/get_cpe_status.py
  sa/profiles/BDCOM/xPON/get_interfaces.py
  sa/profiles/BDCOM/xPON/get_inventory.py
  sa/profiles/BDCOM/xPON/get_mac_address_table.py
  sa/profiles/BDCOM/xPON/get_version.py
  sa/profiles/BDCOM/xPON/profile.py
Owners: @dv, @aversant, @dmitryluhtionov

Fix formatting
  sa/profiles/BDCOM/xPON/profile.py
Owners: @dv, @aversant, @dmitryluhtionov

Fix formatting
  sa/profiles/BDCOM/xPON/get_cpe.py
  sa/profiles/BDCOM/xPON/get_cpe_status.py
  sa/profiles/BDCOM/xPON/get_inventory.py
Owners: @dv, @aversant, @dmitryluhtionov

Fix formatting
  sa/profiles/BDCOM/xPON/get_cpe.py
Owners: @dv, @aversant, @dmitryluhtionov
