Repository gufolabs/noc, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dv, @aversant, @uncol, @EKbfh, @dmitryluhtionov

.github/CODEOWNERS:

# NOC code owners
# Lines starting with `#` will be ignored.
# Rules defined later in the file take precedence over the rules
# defined before.

# Python files
*.py @dv @aversant

# JS files
*.js @uncol @dv

# CSS files
*.css @uncol @dv

# Jinja2 templates
*.j2 @dv @aversant

# Tests
/tests/ @dv

# Dependencies
pyproject.toml @dv @aversant

# Ansible Deploy
/ansible/ @EKbfh

# Fixes
/fixes/ @dv @aversant

# Profiles
/sa/profiles/ @dv @aversant @dmitryluhtionov

# Configuration
/config.py @dv @aversant @EKbfh

# Core
/core/ @dv @aversant
/core/config/ @dv @aversant @EKbfh

# Models
models/ @dv @aversant

# Commands
/commands/ @dv @aversant

# Services
/services/ @dv @aversant

# Rust
/rust/ @dv

# Documentation
/docs/ @dv

# Codeowners itself
CODEOWNERS @dv

# CI settings
/.gitlab-ci.yml @dv @EKbfh

# Docker files
/.docker/ @dv @EKbfh

# Github
.github/ @dv

Update 'memory used' metric
  sa/profiles/Eltex/SMG/get_metrics.py
Owners: @dv, @aversant, @dmitryluhtionov

Refactor
  sa/profiles/Eltex/SMG/get_metrics.py
Owners: @dv, @aversant, @dmitryluhtionov

gufo-snmp 0.12 (#219)
  pyproject.toml
Owners: @dv, @aversant

release-25.1:Backport#196 (#197)
  ansible/noc_roles/noc/tasks/os/Debian_10/main.yml
  ansible/noc_roles/noc/tasks/os/Debian_11/main.yml
Owners: @EKbfh

ConfDB: Py 3.14 support (#176)
  core/confdb/engine/transformer.py
Owners: @dv, @aversant

Remove prints
  core/topology/base.py
Owners: @dv, @aversant

Clean up map generation code (#212)
  core/topology/base.py
  core/topology/types.py
  inv/models/cpe.py
  inv/models/mapsettings.py
  inv/models/networksegment.py
  inv/models/object.py
  inv/models/resourcegroup.py
  sa/models/managedobject.py
  services/web/apps/inv/map/views.py
Owners: @dv, @aversant

Migration aliases
  core/migration/base.py
  core/migration/runner.py
  core/model/decorator.py
  sa/migrations/0271_mo_glyphs.py
Owners: @dv, @aversant

Migration aliases (#221)
  core/migration/base.py
  core/migration/runner.py
  core/model/decorator.py
  sa/migrations/0271_mo_glyphs.py
Owners: @dv, @aversant

Append 'SIP users' metrics for SMG
  collections/pm.metrictypes/Telephony/SIP/sip_users_active.json
  collections/pm.metrictypes/Telephony/SIP/sip_users_all.json
  sa/profiles/Eltex/SMG/snmp_metrics/telephony_sip_users_active.json
  sa/profiles/Eltex/SMG/snmp_metrics/telephony_sip_users_all.json
Owners: @dv, @aversant, @dmitryluhtionov

Add example of received version for match with regex
  sa/profiles/Eltex/SMG/get_version.py
Owners: @dv, @aversant, @dmitryluhtionov

config.listen can be set to interface name
  core/service/base.py
  docs/config-reference/global.md
  pyproject.toml
Owners: @dv, @aversant

config.listen can be set to interface name (#222)
  core/service/base.py
  docs/config-reference/global.md
  pyproject.toml
Owners: @dv, @aversant

Replace exception with return None
  sa/profiles/Eltex/SMG/profile.py
Owners: @dv, @aversant, @dmitryluhtionov

Add some patterns for SMG profile scrips
  sa/profiles/Eltex/SMG/get_capabilities.py
  sa/profiles/Eltex/SMG/get_interface_status_ex.py
  sa/profiles/Eltex/SMG/get_interfaces.py
  sa/profiles/Eltex/SMG/get_inventory.py
Owners: @dv, @aversant, @dmitryluhtionov

Move sensor statuses to get_inventory
  collections/inv.objectmodels/Eltex/SMG/SMG-3016.json
  sa/profiles/Eltex/SMG/get_inventory.py
  sa/profiles/Eltex/SMG/get_metrics.py
Owners: @dv, @aversant, @dmitryluhtionov

Update Juniper.JUNOS.get_inventory script (#166)
  sa/profiles/Juniper/JUNOS/get_inventory.py
  sa/profiles/Juniper/JUNOS/profile.py
Owners: @dv, @aversant, @dmitryluhtionov

IGetLLDPNeighbor: Disable binary IPv4 recognition (#158)
  sa/interfaces/igetlldpneighbors.py
Owners: @dv, @aversant

Add ability pass more then one LLDP neighbors entries (#160)
  sa/profiles/Cisco/IOS/get_lldp_neighbors.py
  sa/profiles/DLink/DxS/get_lldp_neighbors.py
  sa/profiles/Juniper/JUNOS/get_lldp_neighbors.py
Owners: @dv, @aversant, @dmitryluhtionov

Batch MO resolution in map metrics api
  services/web/apps/inv/map/views.py
Owners: @dv, @aversant

fix kafka commited offset
  core/msgstream/kafka.py
Owners: @dv, @aversant

Add fullscreen/maxSize check to handleWindowBlur method
  ui/web/fm/alarm/view/grids/ContainerController.js
Owners: @uncol, @dv

Enhance focus check in handleWindowBlur to include fullscreen state
  ui/web/fm/alarm/view/grids/ContainerController.js
Owners: @uncol, @dv

Refactor MAC functions, MAC.oui and MAC.is_same_oui()
  core/mac.py
  tests/test_mac.py
Owners: @dv, @aversant

test_distance
  tests/test_mac.py
Owners: @dv

Refactor mac (#226)
  core/mac.py
  tests/test_mac.py
Owners: @dv, @aversant

fix kafka commited offset (#224)
  core/msgstream/kafka.py
Owners: @dv, @aversant

discovery: MAC range sanity check in id discovery
  config.py
  docs/config-reference/discovery.md
  services/discovery/jobs/box/id.py
Owners: @dv, @aversant, @EKbfh

Add OmegaTelecom/SBC profile
  collections/inv.vendors/OMEGATELECOM.json
  collections/sa.profiles/OmegaTelecom/SBC.json
  sa/profiles/OmegaTelecom/SBC/__init__.py
  sa/profiles/OmegaTelecom/SBC/get_metrics.py
  sa/profiles/OmegaTelecom/SBC/get_version.py
  sa/profiles/OmegaTelecom/SBC/profile.py
  sa/profiles/OmegaTelecom/SBC/snmp_metrics/check_result.json
  sa/profiles/OmegaTelecom/SBC/snmp_metrics/check_status.json
  sa/profiles/OmegaTelecom/SBC/snmp_metrics/cpu_usage_1min.json
  sa/profiles/OmegaTelecom/SBC/snmp_metrics/memory_usage.json
  sa/profiles/OmegaTelecom/SBC/snmp_metrics/telephony_sip_register_contacts_active.json
  sa/profiles/OmegaTelecom/SBC/snmp_metrics/telephony_sip_sessions_active.json
  sa/profiles/OmegaTelecom/SBC/snmp_metrics/telephony_sip_trunk_currentcps.json
  sa/profiles/OmegaTelecom/__init__.py
Owners: @dv, @aversant, @dmitryluhtionov

Add Expired checkers by TTL.
  core/checkers/base.py
  core/checkers/fail.py
  core/checkers/http.py
  core/checkers/loader.py
  core/checkers/registry.py
  core/diagnostic/decorator.py
  core/diagnostic/handler.py
  core/diagnostic/hub.py
  core/diagnostic/item.py
  core/diagnostic/types.py
  core/models/cfgactions.py
  core/profile/diagnostic.py
  core/script/credentialchecker.py
  core/script/diagnostic.py
  core/watchers/types.py
  core/wf/decorator.py
  sa/models/diagnosticitem.py
  sa/models/managedobject.py
  sa/models/service.py
  tests/models/test_sa_diagnostics.py
Owners: @dv, @aversant

release-25.1:Backport!10003
  core/checkers/base.py
  core/checkers/fail.py
  core/checkers/http.py
  core/checkers/loader.py
  core/checkers/registry.py
  core/diagnostic/decorator.py
  core/diagnostic/handler.py
  core/diagnostic/hub.py
  core/diagnostic/item.py
  core/diagnostic/types.py
  core/models/cfgactions.py
  core/profile/diagnostic.py
  core/script/credentialchecker.py
  core/script/diagnostic.py
  core/watchers/types.py
  core/wf/decorator.py
  sa/models/diagnosticitem.py
  sa/models/managedobject.py
  sa/models/service.py
  tests/models/test_sa_diagnostics.py
Owners: @dv, @aversant

Add OmegaTelecom/SBC doc-file
  docs/profiles-reference/OmegaTelecom/SBC.md
Owners: @dv

Add changed to Peer.
  core/diagnostic/item.py
  core/wf/decorator.py
  peer/models/peer.py
  sa/models/managedobject.py
Owners: @dv, @aversant

Add PeerNodes metrics
  collections/pm.metrictypes/PeerNodes/PeerNodes_Value.json
  sa/profiles/OmegaTelecom/SBC/get_metrics.py
Owners: @dv, @aversant, @dmitryluhtionov

Cleanup
  sa/profiles/Eltex/SMG/get_inventory.py
  sa/profiles/Eltex/SMG/get_metrics.py
Owners: @dv, @aversant, @dmitryluhtionov

sa.managedobject: Show all cloud links in Links tab
  services/web/apps/sa/managedobject/views.py
Owners: @dv, @aversant

Add OmegaTelecom index doc-file
  docs/profiles-reference/OmegaTelecom/index.md
Owners: @dv

Fix
  docs/profiles-reference/index.md
Owners: @dv

release-25.1:Backport!10005
  core/diagnostic/item.py
  core/wf/decorator.py
  peer/models/peer.py
  sa/models/managedobject.py
Owners: @dv, @aversant

Fix
  services/web/apps/sa/managedobject/views.py
Owners: @dv, @aversant
