Repository gufolabs/noc, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dv, @aversant, @uncol, @EKbfh, @dmitryluhtionov

.github/CODEOWNERS:

# NOC code owners
# Lines starting with `#` will be ignored.
# Rules defined later in the file take precedence over the rules
# defined before.

# Python files
*.py @dv @aversant

# JS files
*.js @uncol @dv

# CSS files
*.css @uncol @dv

# Jinja2 templates
*.j2 @dv @aversant

# Tests
/tests/ @dv

# Dependencies
pyproject.toml @dv @aversant

# Ansible Deploy
/ansible/ @EKbfh

# Fixes
/fixes/ @dv @aversant

# Profiles
/sa/profiles/ @dv @aversant @dmitryluhtionov

# Configuration
/config.py @dv @aversant @EKbfh

# Core
/core/ @dv @aversant
/core/config/ @dv @aversant @EKbfh

# Models
models/ @dv @aversant

# Commands
/commands/ @dv @aversant

# Services
/services/ @dv @aversant

# Rust
/rust/ @dv

# Documentation
/docs/ @dv

# Codeowners itself
CODEOWNERS @dv

# CI settings
/.gitlab-ci.yml @dv @EKbfh

# Docker files
/.docker/ @dv @EKbfh

# Github
.github/ @dv

Bump grafana to 10.4.19-01
  ansible/system_roles/grafana/defaults/main.yml
Owners: @EKbfh

Fix trace in inv.map.get_object_statuses
  services/web/apps/inv/map/views.py
Owners: @dv, @aversant

update Russian translation for "Home" and ensure consistent usage in application
  services/web/translations/ru/LC_MESSAGES/messages.po
  ui/web/main/desktop/Application.js
  ui/web/main/desktop/HeaderPanel.js
  ui/web/main/desktop/WorkplacePanel.js
  ui/web/translations/ru.json
Owners: @dv, @aversant, @uncol

replace <snap> tags with <span> for consistent HTML structure in HeaderPanel
  ui/web/main/desktop/HeaderPanel.js
Owners: @uncol, @dv

update Russian translation for tab "Home" (#170)
  services/web/translations/ru/LC_MESSAGES/messages.po
  ui/web/main/desktop/Application.js
  ui/web/main/desktop/HeaderPanel.js
  ui/web/main/desktop/WorkplacePanel.js
  ui/web/translations/ru.json
Owners: @dv, @aversant, @uncol

Fix trace in inv.map.get_object_statuses (#168)
  services/web/apps/inv/map/views.py
Owners: @dv, @aversant

Processed Escalation profile for group alarm policy.
  core/fm/enum.py
  fm/models/activealarm.py
  fm/models/alarmjob.py
  fm/models/alarmwatch.py
  fm/models/archivedalarm.py
  fm/models/escalationprofile.py
  services/correlator/actionlog.py
  services/correlator/alarmjob.py
  services/correlator/service.py
Owners: @dv, @aversant

release-25.1:Backport!9912
  core/fm/enum.py
  fm/models/activealarm.py
  fm/models/alarmjob.py
  fm/models/alarmwatch.py
  fm/models/archivedalarm.py
  fm/models/escalationprofile.py
  services/correlator/actionlog.py
  services/correlator/alarmjob.py
  services/correlator/service.py
Owners: @dv, @aversant

Add more prorocols to IGetInterfaces class (#162)
  sa/interfaces/igetinterfaces.py
Owners: @dv, @aversant

Add ability D-Link DES-1210-10/ME/B2 to return right amount of MAC address in get_chassis_id script (#161)
  sa/profiles/DLink/DxS/get_chassis_id.py
  sa/profiles/DLink/DxS/profile.py
Owners: @dv, @aversant, @dmitryluhtionov

Set object models' glyphs
  collections/inv.objectmodels/City.json
  collections/inv.objectmodels/Lost_Found.json
  collections/inv.objectmodels/PoP/Access.json
  collections/inv.objectmodels/PoP/Aggregation.json
  collections/inv.objectmodels/PoP/Core.json
  collections/inv.objectmodels/PoP/International.json
  collections/inv.objectmodels/PoP/National.json
  collections/inv.objectmodels/PoP/Regional.json
  collections/inv.objectmodels/Sandbox.json
Owners: none

Object Model: Show glyph in grid
  ui/web/inv/objectmodel/Application.js
Owners: @uncol, @dv

Update to GF 0.0.8
  collections/main.glyphs/GufoFont.json
Owners: none

Fix
  collections/main.glyphs/GufoFont.json
Owners: none

Glyph preview
  ui/web/main/glyph/Application.js
  ui/web/main/glyph/Model.js
Owners: @uncol, @dv

Update to master
  collections/main.glyphs/GufoFont.json
Owners: none

XCVR Type
  services/card/cards/alarm.py
Owners: @dv, @aversant

Update GF
  collections/main.glyphs/GufoFont.json
Owners: none

Huawei.VRP fix stucking get_interfaces after get_inventory
  sa/profiles/Huawei/VRP/get_inventory.py
Owners: @dv, @aversant, @dmitryluhtionov

Fix AlarmJob processed for group Alarm.
  core/fm/enum.py
  sa/models/service.py
  services/card/templates/alarm.html.j2
  services/correlator/alarmjob.py
  services/web/apps/fm/alarm/views.py
Owners: @dv, @aversant

release-25.1:Backport!9915
  core/fm/enum.py
  sa/models/service.py
  services/card/templates/alarm.html.j2
  services/correlator/alarmjob.py
  services/web/apps/fm/alarm/views.py
Owners: @dv, @aversant

Add new vendor ids
  collections/inv.vendors/ALLNET.json
  collections/inv.vendors/ALU.json
  collections/inv.vendors/AVM.json
  collections/inv.vendors/BDCOM.json
  collections/inv.vendors/DLINK.json
  collections/inv.vendors/ELTEX.json
  collections/inv.vendors/FIBEROME.json
  collections/inv.vendors/FOXGATE.json
  collections/inv.vendors/GENERIC.json
  collections/inv.vendors/HISENSE.json
  collections/inv.vendors/HOSECOM.json
  collections/inv.vendors/ISKRATEL.json
  collections/inv.vendors/REALTEK.json
  collections/inv.vendors/TECHNICOLOR.json
  collections/inv.vendors/TELSTREAM.json
  collections/inv.vendors/TPLINK.json
  collections/inv.vendors/UBIQUITI.json
  collections/inv.vendors/ZTE.json
  collections/inv.vendors/ZYXEL.json
Owners: none

Fix detect configured metrics on SLAProbes
  inv/models/cpe.py
  inv/models/interfaceprofile.py
  inv/models/object.py
  inv/models/sensor.py
  sla/models/slaprobe.py
Owners: @dv, @aversant

release-25.1:Backport!9918
  inv/models/cpe.py
  inv/models/interfaceprofile.py
  inv/models/object.py
  inv/models/sensor.py
  sla/models/slaprobe.py
Owners: @dv, @aversant

release-25.1:Backport!9914
  sa/profiles/Huawei/VRP/get_inventory.py
Owners: @dv, @aversant, @dmitryluhtionov

Add ETL Event PUSH to Router Config.
  core/etl/remotesystem/base.py
  core/mx.py
  core/router/base.py
  core/router/route.py
  main/models/messageroute.py
  main/models/remotesystem.py
  services/metricscollector/models/channel.py
  services/metricscollector/paths/zabbix.py
  services/metricscollector/service.py
  services/metricscollector/sourceconfig.py
  ui/web/main/remotesystem/Application.js
  ui/web/main/remotesystem/Model.js
Owners: @dv, @aversant, @uncol

release-25.1:Backport!9921
  core/etl/remotesystem/base.py
  core/mx.py
  core/router/base.py
  core/router/route.py
  main/models/messageroute.py
  main/models/remotesystem.py
  services/metricscollector/models/channel.py
  services/metricscollector/paths/zabbix.py
  services/metricscollector/service.py
  services/metricscollector/sourceconfig.py
  ui/web/main/remotesystem/Application.js
  ui/web/main/remotesystem/Model.js
Owners: @dv, @aversant, @uncol

Add sync alarm log to TT System comment.
  core/fm/enum.py
  core/fm/request.py
  core/tt/base.py
  fm/models/activealarm.py
  fm/models/alarmlog.py
  fm/models/alarmwatch.py
  fm/models/escalationprofile.py
  services/correlator/actionlog.py
  services/correlator/alarmaction.py
  services/correlator/alarmjob.py
  services/correlator/service.py
  services/escalator/jobs/check_tt.py
  services/escalator/tt/tg_bot.py
  tests/fm/test_alarm_job.py
Owners: @dv, @aversant

release-25.1:Backport!9924
  core/fm/enum.py
  core/fm/request.py
  core/tt/base.py
  fm/models/activealarm.py
  fm/models/alarmlog.py
  fm/models/alarmwatch.py
  fm/models/escalationprofile.py
  services/correlator/actionlog.py
  services/correlator/alarmaction.py
  services/correlator/alarmjob.py
  services/correlator/service.py
  services/escalator/jobs/check_tt.py
  services/escalator/tt/tg_bot.py
  tests/fm/test_alarm_job.py
Owners: @dv, @aversant

Add condition_param to ReportParam (for fields_selector)
  main/models/report.py
  services/web/apps/main/reportconfig/views.py
Owners: @dv, @aversant

Update get_columns_filter for conditions
  main/models/report.py
  services/web/apps/main/reportconfig/views.py
Owners: @dv, @aversant

Fix not found default_value
  services/web/apps/main/reportconfig/views.py
Owners: @dv, @aversant

metrics report code has been refactoring to use a declarative approach.
  ui/web/inv/reportmetrics/Application.js
Owners: @uncol, @dv

Move fields selection to form-API
  main/models/report.py
  services/web/apps/main/reportconfig/views.py
Owners: @dv, @aversant

Update API for fields_selector
  main/models/report.py
  services/web/apps/main/reportconfig/views.py
Owners: @dv, @aversant

Unite condition_values and default_values
  main/models/report.py
  services/web/apps/main/reportconfig/views.py
Owners: @dv, @aversant

fix report: adjust padding in form panel for better layout
  ui/web/main/desktop/Report.js
Owners: @uncol, @dv

Noc supp fix qtech normalizer community
  sa/profiles/Qtech/QSW2800/confdb/normalizer.py
  tests/confdb/profiles/Qtech/QSW2800/snmp1.yml
  tests/confdb/profiles/Qtech/QSW2800/snmp2.yml
  tests/confdb/profiles/Qtech/QSW2800/snmp3.yml
Owners: @dv, @aversant, @dmitryluhtionov

Add new vendor ids (#171)
  collections/inv.vendors/ALLNET.json
  collections/inv.vendors/ALU.json
  collections/inv.vendors/AVM.json
  collections/inv.vendors/BDCOM.json
  collections/inv.vendors/DLINK.json
  collections/inv.vendors/ELTEX.json
  collections/inv.vendors/FIBEROME.json
  collections/inv.vendors/FOXGATE.json
  collections/inv.vendors/GENERIC.json
  collections/inv.vendors/HISENSE.json
  collections/inv.vendors/HOSECOM.json
  collections/inv.vendors/ISKRATEL.json
  collections/inv.vendors/REALTEK.json
  collections/inv.vendors/TECHNICOLOR.json
  collections/inv.vendors/TELSTREAM.json
  collections/inv.vendors/TPLINK.json
  collections/inv.vendors/UBIQUITI.json
  collections/inv.vendors/ZTE.json
  collections/inv.vendors/ZYXEL.json
Owners: none

release-25.1:Backport!9917
  sa/profiles/Qtech/QSW2800/confdb/normalizer.py
  tests/confdb/profiles/Qtech/QSW2800/snmp1.yml
  tests/confdb/profiles/Qtech/QSW2800/snmp2.yml
  tests/confdb/profiles/Qtech/QSW2800/snmp3.yml
Owners: @dv, @aversant, @dmitryluhtionov
