Repository gufolabs/noc, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dv, @aversant, @uncol, @EKbfh, @dmitryluhtionov

.github/CODEOWNERS:

# NOC code owners
# Lines starting with `#` will be ignored.
# Rules defined later in the file take precedence over the rules
# defined before.

# Python files
*.py @dv @aversant

# JS files
*.js @uncol @dv

# CSS files
*.css @uncol @dv

# Jinja2 templates
*.j2 @dv @aversant

# Tests
/tests/ @dv

# Dependencies
pyproject.toml @dv @aversant

# Ansible Deploy
/ansible/ @EKbfh

# Fixes
/fixes/ @dv @aversant

# Profiles
/sa/profiles/ @dv @aversant @dmitryluhtionov

# Configuration
/config.py @dv @aversant @EKbfh

# Core
/core/ @dv @aversant
/core/config/ @dv @aversant @EKbfh

# Models
models/ @dv @aversant

# Commands
/commands/ @dv @aversant

# Services
/services/ @dv @aversant

# Rust
/rust/ @dv

# Documentation
/docs/ @dv

# Codeowners itself
CODEOWNERS @dv

# CI settings
/.gitlab-ci.yml @dv @EKbfh

# Docker files
/.docker/ @dv @EKbfh

# Github
.github/ @dv

Fix
  pyproject.toml
Owners: @dv, @aversant

classifier: Remove XRuleLookup
  config.py
  core/config/proto/legacy.py
  docs/config-reference/classifier.md
  docs/config-reference/params.yml
  docs/internal-metrics-reference/index.md
  docs/internal-metrics-reference/index.ru.md
  services/classifier/ruleset.py
  services/classifier/service.py
  services/classifier/xrulelookup.py
  tests/test_py_module.py
Owners: @dv, @aversant, @EKbfh

Configurable home dashboards
  config.py
  docs/config-reference/SUMMARY.md
  docs/config-reference/home.md
  services/web/apps/main/home/views.py
Owners: @dv, @aversant, @EKbfh

Fix
  config.py
Owners: @dv, @aversant, @EKbfh

Fix
  services/classifier/ruleset.py
Owners: @dv, @aversant

fix: reorder stylesheet links and enhance ColorField functionality
  ui/scripts/index-template-prod.html
  ui/web/core/ModelApplication.js
  ui/web/ux/form/ColorField.js
Owners: @uncol, @dv

feat: implement async CSS loading in app.js and remove unused CSS link in templates
  ui/scripts/index-template-prod.html
  ui/scripts/index-template.html
  ui/web/main/desktop/app.js
Owners: @uncol, @dv

fix: correct function call to loadCss in application startup
  ui/web/main/desktop/app.js
Owners: @uncol, @dv

refactor: enhance ColorField to use HTML5 color input and improve color handling
  ui/web/ux/form/ColorField.js
Owners: @uncol, @dv

Add second part of BDCOM.xPON event classification rules
  collections/fm.eventclassificationrules/BDCOM/xPON/Network/STP/BPDU_Root_Violation_SYSLOG.json
  collections/fm.eventclassificationrules/BDCOM/xPON/Network/STP/Root_Guard_Recovery_SYSLOG.json
  collections/fm.eventclassificationrules/BDCOM/xPON/Security/Authentication/Login_1_SYSLOG.json
  collections/fm.eventclassificationrules/BDCOM/xPON/Security/Authentication/Login_2_SYSLOG.json
  collections/fm.eventclassificationrules/BDCOM/xPON/Security/Authentication/Logout_1_SYSLOG.json
  collections/fm.eventclassificationrules/BDCOM/xPON/Security/Authentication/Logout_2_SYSLOG.json
Owners: none

Fix duplicate uuids
  collections/fm.eventclassificationrules/BDCOM/xPON/Security/Authentication/Login_2_SYSLOG.json
  collections/fm.eventclassificationrules/BDCOM/xPON/Security/Authentication/Logout_2_SYSLOG.json
Owners: none

Fix stp events
  collections/fm.eventclassificationrules/BDCOM/xPON/Network/STP/BPDU_Root_Violation_SYSLOG.json
  collections/fm.eventclassificationrules/BDCOM/xPON/Network/STP/Root_Guard_Recovery_SYSLOG.json
Owners: none

Adjust form's layout
  ui/web/main/style/Application.js
Owners: @uncol, @dv

Add first part of xPON event/alarm classes
  collections/fm.alarmclasses/Network/xPON/Laser_Always_On.json
  collections/fm.alarmclasses/Network/xPON/ONU/Power_Failed.json
  collections/fm.eventclasses/Network/xPON/Laser_Always_On.json
  collections/fm.eventclasses/Network/xPON/ONU/Activated.json
  collections/fm.eventclasses/Network/xPON/ONU/Discovered.json
  collections/fm.eventclasses/Network/xPON/ONU/Offline.json
  collections/fm.eventclasses/Network/xPON/ONU/Power_Failed.json
Owners: none

Rename RedPandaClient to KafkaClient
  .github/workflows/py-tests.yml
  ansible/noc_roles/migrate/tasks/configure_consul.yml
  ansible/noc_roles/noc/tasks/config.yml
  config.py
  core/config/base.py
  core/deprecations.py
  core/msgstream/kafka.py
  docs/config-reference/SUMMARY.md
  docs/config-reference/kafka.md
  docs/config-reference/params.yml
  docs/config-reference/redpanda.md
  docs/liftbridge-to-kafka-howto/index.md
  docs/liftbridge-to-kafka-howto/index.ru.md
Owners: @dv, @EKbfh, @aversant

Fix
  core/msgstream/kafka.py
Owners: @dv, @aversant

feat: add color-input dependency and integrate custom color picker in ColorField
  ui/package.json
  ui/pnpm-lock.yaml
  ui/scripts/plugins/ExternalLibsPlugin.ts
  ui/web/main/style/Application.js
  ui/web/ux/form/ColorField.js
Owners: @uncol, @dv

fix: resolve background image issue in color-input for better cross-browser compatibility
  ui/web/ux/form/ColorField.js
Owners: @uncol, @dv

New batch
  crm/models/subscriberprofile.py
  crm/models/supplier.py
  crm/models/supplierprofile.py
  fm/models/alarmseverity.py
  inv/models/cpeprofile.py
  inv/models/interfaceprofile.py
  inv/models/networksegment.py
  inv/models/networksegmentprofile.py
  inv/models/sensor.py
  inv/models/sensorprofile.py
  ip/models/address.py
  ip/models/addressprofile.py
  ip/models/prefix.py
  ip/models/prefixprofile.py
  services/web/apps/crm/supplier/views.py
  services/web/apps/crm/supplierprofile/views.py
  services/web/apps/fm/alarmseverity/views.py
  services/web/apps/inv/cpeprofile/views.py
  services/web/apps/inv/interfaceprofile/views.py
  services/web/apps/inv/networksegment/views.py
  services/web/apps/inv/networksegmentprofile/views.py
  services/web/apps/inv/sensor/views.py
  services/web/apps/inv/sensorprofile/views.py
  services/web/apps/ip/address/views.py
  services/web/apps/ip/addressprofile/views.py
  services/web/apps/ip/prefix/views.py
  services/web/apps/ip/prefixprofile/views.py
  services/web/apps/main/style/views.py
Owners: @dv, @aversant

GetStyle protocol
  core/protocols/get_style.py
  crm/models/subscriber.py
  crm/models/subscriberprofile.py
  main/models/style.py
  services/login/paths/auth.py
  services/web/apps/crm/subscriber/views.py
  services/web/apps/crm/subscriberprofile/views.py
  services/web/apps/main/desktop/templates/desktop.html
  services/web/apps/main/style/views.py
  services/web/base/extdocapplication.py
  services/web/base/extmodelapplication.py
  ui/scripts/bundles/leaflet.ts
  ui/scripts/bundles/micromark.ts
  ui/scripts/bundles/monaco-workers.ts
  ui/scripts/bundles/monaco.ts
  ui/scripts/bundles/src/Yandex.js
  ui/scripts/index-template-prod.html
  ui/scripts/index-template.html
  ui/web/core/ModelApplication.js
  ui/web/ux/grid/RowStyle.js
Owners: @dv, @aversant, @uncol

implement GetStyle interface for models
  ip/models/vrf.py
  peer/models/asn.py
  peer/models/asprofile.py
  phone/models/phonenumber.py
  phone/models/phonenumberprofile.py
  phone/models/phonerange.py
  phone/models/phonerangeprofile.py
  sa/models/managedobject.py
  sa/models/managedobjectprofile.py
  services/web/apps/ip/vrf/views.py
  services/web/apps/peer/as/views.py
  services/web/apps/peer/asprofile/views.py
  services/web/apps/phone/phonenumber/views.py
  services/web/apps/phone/phonenumberprofile/views.py
  services/web/apps/phone/phonerange/views.py
  services/web/apps/phone/phonerangeprofile/views.py
  services/web/apps/sa/managedobject/views.py
  services/web/apps/sa/managedobjectprofile/views.py
  services/web/apps/sla/slaprobe/views.py
  services/web/apps/sla/slaprofile/views.py
  services/web/apps/vc/l2domain/views.py
  services/web/apps/vc/l2domainprofile/views.py
  services/web/apps/vc/vlan/views.py
  services/web/apps/vc/vlanprofile/views.py
  services/web/apps/vc/vpn/views.py
  services/web/apps/vc/vpnprofile/views.py
  sla/models/slaprobe.py
  sla/models/slaprofile.py
  vc/models/l2domain.py
  vc/models/l2domainprofile.py
  vc/models/vlan.py
  vc/models/vlanprofile.py
  vc/models/vpn.py
  vc/models/vpnprofile.py
Owners: @dv, @aversant

Coloured lookup items
  services/web/base/extdocapplication.py
  services/web/base/extmodelapplication.py
  ui/web/fm/alarm/view/form/Alarm.js
  ui/web/main/style/LookupField.js
Owners: @dv, @aversant, @uncol

Fix
  services/web/apps/fm/alarm/views.py
Owners: @dv, @aversant

fix: reorder stylesheet links and enhance ColorField functionality
  ui/web/core/ModelApplication.js
Owners: @uncol, @dv

Revert to CSS classes
  core/protocols/get_css_class.py
  crm/models/subscriber.py
  crm/models/subscriberprofile.py
  crm/models/supplier.py
  crm/models/supplierprofile.py
  fm/models/alarmseverity.py
  inv/models/cpeprofile.py
  inv/models/interfaceprofile.py
  inv/models/networksegment.py
  inv/models/networksegmentprofile.py
  inv/models/sensor.py
  inv/models/sensorprofile.py
  ip/models/address.py
  ip/models/addressprofile.py
  ip/models/prefix.py
  ip/models/prefixprofile.py
  ip/models/vrf.py
  main/models/style.py
  peer/models/asn.py
  peer/models/asprofile.py
  phone/models/phonenumber.py
  phone/models/phonenumberprofile.py
  phone/models/phonerange.py
  phone/models/phonerangeprofile.py
  sa/models/managedobject.py
  sa/models/managedobjectprofile.py
  services/web/base/extdocapplication.py
  services/web/base/extmodelapplication.py
  sla/models/slaprobe.py
  sla/models/slaprofile.py
  vc/models/l2domain.py
  vc/models/l2domainprofile.py
  vc/models/vlan.py
  vc/models/vlanprofile.py
  vc/models/vpn.py
  vc/models/vpnprofile.py
Owners: @dv, @aversant

feat: add dynamic CSS creation and update color scheme on application launch
  ui/web/main/desktop/app.js
  ui/web/main/style/Application.js
Owners: @uncol, @dv

Rewrite plugin
  ui/web/main/desktop/app.js
  ui/web/ux/grid/RowStyle.js
Owners: @uncol, @dv

Fix
  services/web/apps/sa/managedobject/views.py
  services/web/base/extdocapplication.py
  services/web/base/extmodelapplication.py
  ui/web/core/ComboBox.js
  ui/web/main/style/LookupField.js
Owners: @dv, @aversant, @uncol

Restore files
  ui/scripts/bundles/leaflet.ts
  ui/scripts/bundles/micromark.ts
  ui/scripts/bundles/monaco-workers.ts
  ui/scripts/bundles/monaco.ts
  ui/scripts/bundles/src/Yandex.js
Owners: @uncol, @dv

Pass style to the settings
  main/models/style.py
  services/web/apps/main/desktop/views.py
  services/web/apps/main/style/views.py
Owners: @dv, @aversant

feat: add RowStyle plugin dependency and simplify getRowClass function
  ui/web/fm/alarm/view/form/Alarm.js
  ui/web/main/desktop/app.js
  ui/web/ux/grid/RowStyle.js
Owners: @uncol, @dv

Add MAC exceed alarm/eventclasses
  collections/fm.alarmclasses/Network/MAC/BD_MAC_Exceed.json
  collections/fm.alarmclasses/Network/MAC/Link_MAC_Exceed.json
  collections/fm.alarmclasses/Network/MAC/MAC_Exceed.json
  collections/fm.eventclasses/Network/MAC/BD_MAC_Exceed.json
  collections/fm.eventclasses/Network/MAC/MAC_Exceed.json
Owners: none

Fix typos
  collections/fm.alarmclasses/Network/MAC/Link_MAC_Exceed.json
  collections/fm.alarmclasses/Network/MAC/MAC_Exceed.json
  collections/fm.eventclasses/Network/MAC/Link_MAC_Exceed.json
  collections/fm.eventclasses/Network/MAC/MAC_Exceed.json
Owners: none

feat: enhance styling capabilities by adding font-weight, font-style, and text-decoration properties
  ui/web/inv/macdb/Application.js
  ui/web/main/desktop/app.js
  ui/web/main/style/Application.js
  ui/web/main/style/LookupField.js
Owners: @uncol, @dv

yappi 1.7.3
  pyproject.toml
Owners: @dv, @aversant

fix: simplify getInnerTpl structure in LookupField component
  ui/web/main/style/LookupField.js
Owners: @uncol, @dv

feat: add isDev option to ReplaceMethodsPlugin and update related builders
  ui/scripts/__test__/RemoveMethodsPlugin.test.ts
  ui/scripts/builders/BaseBuilder.ts
  ui/scripts/builders/DevBuilder.ts
  ui/scripts/plugins/ReplaceMethodsPlugin.ts
Owners: none

feat: add source-map dependency and integrate source map generation in ReplaceMethodsPlugin
  ui/package.json
  ui/pnpm-lock.yaml
  ui/scripts/plugins/ReplaceMethodsPlugin.ts
Owners: none

refactor: remove unused ApplicationLoaderPlugin and clean up imports in BaseBuilder
  ui/scripts/builders/BaseBuilder.ts
  ui/scripts/plugins/ApplicationLoaderPlugin.ts
Owners: none

feat: add magic-string dependency and integrate it into NocLoaderPlugin for improved code transformation in development mode
  ui/package.json
  ui/pnpm-lock.yaml
  ui/scripts/builders/BaseBuilder.ts
  ui/scripts/plugins/NocLoaderPlugin.ts
Owners: none
