Repository gufolabs/noc, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dv, @aversant, @uncol, @EKbfh, @dmitryluhtionov

.github/CODEOWNERS:

# NOC code owners
# Lines starting with `#` will be ignored.
# Rules defined later in the file take precedence over the rules
# defined before.

# Python files
*.py @dv @aversant

# JS files
*.js @uncol @dv

# CSS files
*.css @uncol @dv

# Jinja2 templates
*.j2 @dv @aversant

# Tests
/tests/ @dv

# Dependencies
pyproject.toml @dv @aversant

# Ansible Deploy
/ansible/ @EKbfh

# Fixes
/fixes/ @dv @aversant

# Profiles
/sa/profiles/ @dv @aversant @dmitryluhtionov

# Configuration
/config.py @dv @aversant @EKbfh

# Core
/core/ @dv @aversant
/core/config/ @dv @aversant @EKbfh

# Models
models/ @dv @aversant

# Commands
/commands/ @dv @aversant

# Services
/services/ @dv @aversant

# Rust
/rust/ @dv

# Documentation
/docs/ @dv

# Codeowners itself
CODEOWNERS @dv

# CI settings
/.gitlab-ci.yml @dv @EKbfh

# Docker files
/.docker/ @dv @EKbfh

# Github
.github/ @dv

Fix check_tt job processed.
  core/fm/enum.py
  core/fm/request.py
  core/tt/base.py
  fm/models/activealarm.py
  fm/models/alarmjob.py
  services/correlator/actionlog.py
  services/correlator/alarmaction.py
  services/correlator/alarmjob.py
  services/escalator/jobs/check_tt.py
  tests/fm/test_alarm_job.py
Owners: @dv, @aversant

fix: disable scrollable property in Application and FileSchemePluginAbstract, update style handling in Zoom plugin
  ui/web/inv/inv/Application.js
  ui/web/inv/inv/plugins/FileSchemePluginAbstract.js
  ui/web/inv/inv/plugins/Zoom.js
Owners: @uncol, @dv

fix: simplify renderer function in Application and adjust dimensions calculation in Zoom plugin
  ui/web/inv/inv/plugins/Zoom.js
  ui/web/main/glyph/Application.js
Owners: @uncol, @dv

release-25.1:Backport!9928
  core/fm/enum.py
  core/fm/request.py
  core/tt/base.py
  fm/models/activealarm.py
  fm/models/alarmjob.py
  services/correlator/actionlog.py
  services/correlator/alarmaction.py
  services/correlator/alarmjob.py
  services/escalator/jobs/check_tt.py
  tests/fm/test_alarm_job.py
Owners: @dv, @aversant

fix: disable scrollable property in multiple panels for consistent layout
  ui/web/inv/inv/plugins/alarm/AlarmPanel.js
  ui/web/inv/inv/plugins/bom/BoMPanel.js
  ui/web/inv/inv/plugins/channel/ChannelPanel.js
  ui/web/inv/inv/plugins/channel/MagicPanel.js
  ui/web/inv/inv/plugins/comment/CommentPanel.js
  ui/web/inv/inv/plugins/commutation/CommutationPanel.js
  ui/web/inv/inv/plugins/conduits/ConduitsPanel.js
  ui/web/inv/inv/plugins/contacts/ContactsPanel.js
  ui/web/inv/inv/plugins/cross/CrossPanel.js
  ui/web/inv/inv/plugins/crossing/CrossingPanel.js
  ui/web/inv/inv/plugins/data/DataPanel.js
  ui/web/inv/inv/plugins/file/FilePanel.js
  ui/web/inv/inv/plugins/inventory/InventoryPanel.js
  ui/web/inv/inv/plugins/job/JobPanel.js
  ui/web/inv/inv/plugins/log/LogPanel.js
  ui/web/inv/inv/plugins/map/MapPanel.js
  ui/web/inv/inv/plugins/sensor/SensorPanel.js
Owners: @uncol, @dv

Fixed attempts return for ping service
  services/ping/service.py
Owners: @dv, @aversant

noc-supp-fix-EdgeCore-ES-get_ifindexes
  sa/profiles/EdgeCore/ES/get_ifindexes.py
  sa/profiles/EdgeCore/ES/get_lldp_neighbors.py
Owners: @dv, @aversant, @dmitryluhtionov

Add remote_system, remote_id to Ignored fields for ManagedObject.
  services/web/apps/sa/managedobject/views.py
Owners: @dv, @aversant

release-25.1:Backport!9930
  services/ping/service.py
Owners: @dv, @aversant

release-25.1:Backport!9931
  services/web/apps/sa/managedobject/views.py
Owners: @dv, @aversant

Change form-api output structure
  services/web/apps/main/reportconfig/views.py
Owners: @dv, @aversant

Fix form-api
  services/web/apps/main/reportconfig/views.py
Owners: @dv, @aversant

release-25.1:Backport!9923
  sa/profiles/EdgeCore/ES/get_ifindexes.py
  sa/profiles/EdgeCore/ES/get_lldp_neighbors.py
Owners: @dv, @aversant, @dmitryluhtionov

Fix form-api
  services/web/apps/main/reportconfig/views.py
Owners: @dv, @aversant

fix: reportMeta added and refactor ReportColSelect to extend grid.Panel
  ui/web/main/desktop/Report.js
  ui/web/main/desktop/ReportColSelect.js
Owners: @uncol, @dv

fix: add spacing to be compliant with mkdocs bullet styling
  docs/quickstart-guide/index.md
  docs/quickstart-guide/index.ru.md
Owners: @dv

Fix form-api for common case
  services/web/apps/main/reportconfig/views.py
Owners: @dv, @aversant

reportcolumnselect widget initComponent remove
  ui/web/main/desktop/ReportColSelect.js
Owners: @uncol, @dv

Add id for columns in form-api
  services/web/apps/main/reportconfig/views.py
Owners: @dv, @aversant

fix: update getValue method to return field_name instead of id
  ui/web/main/desktop/ReportColSelect.js
Owners: @uncol, @dv

Replace pyfs requirements to fsspec for tests fixed.
  commands/beef.py
  commands/script.py
  main/models/extstorage.py
  pyproject.toml
  tests/collections/test_fm_eventclassificationrule.py
  tests/conftest.py
  tests/test_beef.py
  tests/test_discovery.py
Owners: @dv, @aversant

Fix deduplication filter for event.
  services/classifier/evfilter/dedup.py
Owners: @dv, @aversant

fix: implement clearTabPanel method for improved tab management
  ui/web/inv/inv/Application.js
  ui/web/inv/inv/plugins/rack/RackPanel.js
Owners: @uncol, @dv

fix: update report configuration fields add condition/values column
  ui/web/main/reportconfig/Application.js
Owners: @uncol, @dv

release-25.1:Backport!9938
  .requirements/node.txt
  commands/beef.py
  commands/script.py
  main/models/extstorage.py
  tests/collections/test_fm_eventclassificationrule.py
  tests/test_0008_load_data.py
  tests/test_beef.py
  tests/test_discovery.py
Owners: @dv, @aversant

feat: add condition/param column to report configuration
  ui/web/main/reportconfig/Application.js
Owners: @uncol, @dv

Modify columns order in ReportConfig.Params tab in UI
  ui/web/main/reportconfig/Application.js
Owners: @uncol, @dv

fix: simplify renderer function in Glyph column
  ui/web/main/glyph/Application.js
Owners: @uncol, @dv

fix: disable scrollable property in Application and FileSchemePluginAbstract, update style handling in Zoom plugin (#172)
  ui/web/inv/inv/Application.js
  ui/web/inv/inv/plugins/FileSchemePluginAbstract.js
  ui/web/inv/inv/plugins/Zoom.js
  ui/web/inv/inv/plugins/alarm/AlarmPanel.js
  ui/web/inv/inv/plugins/bom/BoMPanel.js
  ui/web/inv/inv/plugins/channel/ChannelPanel.js
  ui/web/inv/inv/plugins/channel/MagicPanel.js
  ui/web/inv/inv/plugins/comment/CommentPanel.js
  ui/web/inv/inv/plugins/commutation/CommutationPanel.js
  ui/web/inv/inv/plugins/conduits/ConduitsPanel.js
  ui/web/inv/inv/plugins/contacts/ContactsPanel.js
  ui/web/inv/inv/plugins/cross/CrossPanel.js
  ui/web/inv/inv/plugins/crossing/CrossingPanel.js
  ui/web/inv/inv/plugins/data/DataPanel.js
  ui/web/inv/inv/plugins/file/FilePanel.js
  ui/web/inv/inv/plugins/inventory/InventoryPanel.js
  ui/web/inv/inv/plugins/job/JobPanel.js
  ui/web/inv/inv/plugins/log/LogPanel.js
  ui/web/inv/inv/plugins/map/MapPanel.js
  ui/web/inv/inv/plugins/rack/RackPanel.js
  ui/web/inv/inv/plugins/sensor/SensorPanel.js
  ui/web/main/glyph/Application.js
Owners: @uncol, @dv

release-25.1:Backport!9936
  services/classifier/evfilter/dedup.py
Owners: @dv, @aversant

Fix IPv4 neighbor handling in Generic.get_lldp_neighbors
  sa/profiles/Generic/get_lldp_neighbors.py
Owners: @dv, @aversant, @dmitryluhtionov

Fix processed event on collector.
  services/metricscollector/models/channel.py
  services/metricscollector/paths/vmagent.py
  services/metricscollector/paths/zabbix.py
  services/metricscollector/service.py
  services/scheduler/jobs/remote_system.py
Owners: @dv, @aversant

Refactor get-methods
  main/models/report.py
Owners: @dv, @aversant

release-25.1:Backport!9937
  services/metricscollector/models/channel.py
  services/metricscollector/paths/vmagent.py
  services/metricscollector/paths/zabbix.py
  services/metricscollector/service.py
  services/scheduler/jobs/remote_system.py
Owners: @dv, @aversant

Add ObjectEffect to Workflow Decorator.
  collections/wf.states/Sensor_Default_Removing.json
  collections/wf.transitions/Sensor_Default_Missed_Removing_Removing.json
  collections/wf.transitions/Sensor_Default_Removing_Ok_Restore.json
  core/etl/loader/base.py
  core/watchers/decorator.py
  core/wf/decorator.py
  inv/models/sensor.py
  inv/models/sensorprofile.py
  sa/models/managedobject.py
  sa/models/objectwatchersitem.py
  sa/models/service.py
  services/scheduler/jobs/run_watchers.py
  services/scheduler/service.py
Owners: @dv, @aversant

release-25.1:Backport!9943
  collections/wf.states/Sensor_Default_Removing.json
  collections/wf.transitions/Sensor_Default_Missed_Removing_Removing.json
  collections/wf.transitions/Sensor_Default_Removing_Ok_Restore.json
  core/etl/loader/base.py
  core/watchers/decorator.py
  core/wf/decorator.py
  inv/models/sensor.py
  inv/models/sensorprofile.py
  sa/models/managedobject.py
  sa/models/objectwatchersitem.py
  sa/models/service.py
  services/scheduler/jobs/run_watchers.py
  services/scheduler/service.py
Owners: @dv, @aversant

noc-supp-fix-models-mac-macdb
  bi/models/mac.py
Owners: @dv, @aversant

Add conditions to report parameters (#169)
  main/models/report.py
  services/web/apps/main/reportconfig/views.py
  ui/web/inv/reportmetrics/Application.js
  ui/web/main/desktop/Report.js
  ui/web/main/desktop/ReportColSelect.js
  ui/web/main/reportconfig/Application.js
Owners: @dv, @aversant, @uncol

Add inv/Load_Metrics_max report (transferred from GitLab)
  collections/main.reports/Load_Metrics.json
  core/datasources/base.py
  core/datasources/loadmetricsds.py
  core/reporter/formatter/simplereport.py
Owners: @dv, @aversant

fix: add spacing to be compliant with mkdocs bullet styling (#173)
  docs/quickstart-guide/index.md
  docs/quickstart-guide/index.ru.md
Owners: @dv
