Repository gufolabs/noc, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dv, @aversant, @uncol, @EKbfh, @dmitryluhtionov

ConfDB: Py 3.14 support
  core/confdb/engine/transformer.py
Owners: @dv, @aversant

Change combo-box to radio-box in report dialog
  collections/main.reports/Load_Metrics.json
Owners: none

orjson 3.11.7
  pyproject.toml
Owners: @dv, @aversant

orjson 3.11.7 (#177)
  pyproject.toml
Owners: @dv, @aversant

Remove classifier dependency section
  .github/workflows/py-tests.yml
  Dockerfile
  ansible/noc_roles/noc/tasks/init_venv_python3.yml
  pyproject.toml
Owners: @dv, @EKbfh, @aversant

Managed Object: Fix interface panel when using styles
  services/web/apps/sa/managedobject/views.py
Owners: @dv, @aversant

ssh2-python 1.2.0.post1
  pyproject.toml
Owners: @dv, @aversant

Interface status discovery: Process LAG statuses
  services/discovery/jobs/periodic/interfacestatus.py
Owners: @dv, @aversant

Fix pydantic 'dict is deprecated' warning (#90)
  core/cdag/graph.py
  core/cdag/node/base.py
  core/cdag/tx.py
  core/etl/loader/base.py
  core/inv/codec.py
  services/web/apps/pm/agent/views.py
  tests/cdag/node/test_window.py
Owners: @dv, @aversant

redis 7.1.1
  pyproject.toml
Owners: @dv, @aversant

psycopg2-binary 2.9.11
  pyproject.toml
Owners: @dv, @aversant

psycopg2-binary 2.9.11 (#183)
  pyproject.toml
Owners: @dv, @aversant

uvicorn 0.40.0
  pyproject.toml
Owners: @dv, @aversant

uvicorn 0.40.0 (#184)
  pyproject.toml
Owners: @dv, @aversant

FastAPI 0.128.8
  pyproject.toml
Owners: @dv, @aversant

FastAPI 0.128.8 (#185)
  pyproject.toml
Owners: @dv, @aversant

Django 4.2.27
  pyproject.toml
Owners: @dv, @aversant

Django 4.2.27 (#135)
  pyproject.toml
Owners: @dv, @aversant

cli: Optimized parsing (#67)
  core/script/cli/cli.py
Owners: @dv, @aversant

cli: Replace Event with Future in wait_for_read()
  core/script/cli/stream.py
Owners: @dv, @aversant

cli: Replace Event with Future in wait_for_read() (#71)
  core/script/cli/stream.py
Owners: @dv, @aversant

Add diagram for Band instance
  core/reporter/band.py
Owners: @dv, @aversant

Fix config
  collections/main.reports/Load_Metrics.json
Owners: none

Replace stencils with glyphs
  commands/stencil.py
  core/stencil.py
  core/topology/base.py
  core/topology/types.py
  docs/man/SUMMARY.md
  docs/man/stencil.md
  services/web/apps/main/ref/views.py
Owners: @dv, @aversant

Fix
  sa/migrations/0270_mo_glyphs.py
  settings.py
Owners: @dv, @aversant

Replace shape with glyph
  core/topology/base.py
  inv/models/configuredmap.py
  inv/models/cpeprofile.py
  requirements/web.json
  sa/migrations/0270_mo_glyphs.py
  sa/models/managedobject.py
  sa/models/managedobjectprofile.py
  services/web/base/extmodelapplication.py
  ui/web/inv/configuredmap/Application.js
  ui/web/inv/cpeprofile/Application.js
  ui/web/inv/cpeprofile/Model.js
  ui/web/inv/map/SelectIconForm.js
  ui/web/main/ref/stencil/LookupField.js
  ui/web/sa/managedobject/Application.js
  ui/web/sa/managedobject/Model.js
  ui/web/sa/managedobject/form/View.js
  ui/web/sa/managedobjectprofile/Application.js
  ui/web/sa/managedobjectprofile/Model.js
Owners: @dv, @aversant, @uncol

Fix
  inv/models/cpe.py
  sa/models/managedobject.py
Owners: @dv, @aversant

Fix
  main/models/glyph.py
Owners: @dv, @aversant

Fix migration
  sa/migrations/0270_mo_glyphs.py
  sa/models/managedobject.py
Owners: @dv, @aversant

Fix label
  ui/web/sa/managedobject/form/View.js
Owners: @uncol, @dv

refactor: simplify afterRender method by removing script loading
  ui/web/inv/map/MapPanel.js
Owners: @uncol, @dv

Fix lookup fields
  services/web/apps/main/glyph/views.py
  ui/web/main/glyph/LookupField.js
Owners: @dv, @aversant, @uncol

Build UI without stencils packs
  sa/migrations/0270_mo_glyphs.py
  scripts/build/build-ui
Owners: @dv, @aversant

icon use gufo-font
  ui/web/inv/map/MapPanel.js
  ui/web/inv/map/ShapeRegistry.js
Owners: @uncol, @dv

cls field
  core/topology/base.py
Owners: @dv, @aversant

fix: change core.combo to main.glyph.LookupField. improve template structure in LookupField
  ui/web/main/glyph/LookupField.js
  ui/web/sa/managedobject/form/View.js
Owners: @uncol, @dv

Add functional of selected fields for simplereport-formatter
  core/reporter/formatter/base.py
  core/reporter/formatter/simplereport.py
  core/reporter/reportengine.py
Owners: @dv, @aversant

Refactor field_by_name
  core/datasources/base.py
Owners: @dv, @aversant

Fix processed sensor metrics from metricscollector.
  core/wf/decorator.py
  services/datastream/models/cfgmetricstarget.py
  services/discovery/jobs/box/nri_portmap.py
  services/metricscollector/models/channel.py
Owners: @dv, @aversant

release-25.1:Backport!9948
  core/wf/decorator.py
  services/datastream/models/cfgmetricstarget.py
  services/discovery/jobs/box/nri_portmap.py
  services/metricscollector/models/channel.py
Owners: @dv, @aversant

.github/CODEOWNERS:

# NOC code owners
# Lines starting with `#` will be ignored.
# Rules defined later in the file take precedence over the rules
# defined before.

# Python files
*.py @dv @aversant

# JS files
*.js @uncol @dv

# CSS files
*.css @uncol @dv

# Jinja2 templates
*.j2 @dv @aversant

# Tests
/tests/ @dv

# Dependencies
pyproject.toml @dv @aversant

# Ansible Deploy
/ansible/ @EKbfh

# Fixes
/fixes/ @dv @aversant

# Profiles
/sa/profiles/ @dv @aversant @dmitryluhtionov

# Configuration
/config.py @dv @aversant @EKbfh

# Core
/core/ @dv @aversant
/core/config/ @dv @aversant @EKbfh

# Models
models/ @dv @aversant

# Commands
/commands/ @dv @aversant

# Services
/services/ @dv @aversant

# Rust
/rust/ @dv

# Documentation
/docs/ @dv

# Codeowners itself
CODEOWNERS @dv

# CI settings
/.gitlab-ci.yml @dv @EKbfh

# Docker files
/.docker/ @dv @EKbfh

# Github
.github/ @dv
