Repository gufolabs/noc, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dv, @aversant, @uncol, @EKbfh, @dmitryluhtionov

.github/CODEOWNERS:

# NOC code owners
# Lines starting with `#` will be ignored.
# Rules defined later in the file take precedence over the rules
# defined before.

# Python files
*.py @dv @aversant

# JS files
*.js @uncol @dv

# CSS files
*.css @uncol @dv

# Jinja2 templates
*.j2 @dv @aversant

# Tests
/tests/ @dv

# Dependencies
pyproject.toml @dv @aversant

# Ansible Deploy
/ansible/ @EKbfh

# Fixes
/fixes/ @dv @aversant

# Profiles
/sa/profiles/ @dv @aversant @dmitryluhtionov

# Configuration
/config.py @dv @aversant @EKbfh

# Core
/core/ @dv @aversant
/core/config/ @dv @aversant @EKbfh

# Models
models/ @dv @aversant

# Commands
/commands/ @dv @aversant

# Services
/services/ @dv @aversant

# Rust
/rust/ @dv

# Documentation
/docs/ @dv

# Codeowners itself
CODEOWNERS @dv

# CI settings
/.gitlab-ci.yml @dv @EKbfh

# Docker files
/.docker/ @dv @EKbfh

# Github
.github/ @dv

Dockerfile: install pnpm into build-ui target (#299)
  Dockerfile
Owners: none

Dockerfile: Set debian frontend to noninteractive
  Dockerfile
Owners: none

Dockerfile: Set debian frontend to noninteractive (#300)
  Dockerfile
Owners: none

Remove obsolete gitlab ci settings
  .docker/Readme.md
  .docker/docker-compose.yml
  .docker/files/mongo-init.js
  .docker/files/mongodb.key
  .docker/files/nginx.conf
  .docker/files/rs-init.sh
  .docker/noc.conf
  .gitlab-ci.yml
  Dockerfile
  ansible/.ansible-ci.yml
Owners: @dv, @EKbfh

Remove obsolete gitlab ci settings (#301)
  .docker/Readme.md
  .docker/docker-compose.yml
  .docker/files/mongo-init.js
  .docker/files/mongodb.key
  .docker/files/nginx.conf
  .docker/files/rs-init.sh
  .docker/noc.conf
  .gitlab-ci.yml
  Dockerfile
  ansible/.ansible-ci.yml
Owners: @dv, @EKbfh

Harden Polling mixin (smartrefresh fallback, observer lifecycle) and migrate sa/monitor
  ui/web/core/mixins/Polling.js
  ui/web/fm/alarm/view/grids/ContainerController.js
  ui/web/inv/map/Application.js
  ui/web/inv/map/MapPanel.js
  ui/web/inv/map/MapRenderer.js
  ui/web/sa/monitor/Application.js
  ui/web/sa/monitor/Controller.js
  ui/web/sa/monitor/SelectionGrid.js
  ui/web/sa/monitor/ViewModel.js
Owners: @uncol, @dv

Implement smartrefresh feature in Polling mixin
  ui/web/core/mixins/Polling.js
Owners: @uncol, @dv

Fix polling behavior without smartrefresh by forcing visibility and focus states
  ui/web/core/mixins/Polling.js
Owners: @uncol, @dv

Remove fullscreen check from window blur handler in Polling mixin
  ui/web/core/mixins/Polling.js
Owners: @uncol, @dv

Implement smartrefresh feature in Polling mixin (#282)
  ui/web/core/mixins/Polling.js
  ui/web/fm/alarm/view/grids/ContainerController.js
  ui/web/inv/map/Application.js
  ui/web/inv/map/MapPanel.js
  ui/web/inv/map/MapRenderer.js
  ui/web/sa/monitor/Application.js
  ui/web/sa/monitor/Controller.js
  ui/web/sa/monitor/SelectionGrid.js
  ui/web/sa/monitor/ViewModel.js
Owners: @uncol, @dv

Noc smartrefresh 25.1 (#283)
  ui/web/fm/alarm/view/grids/ContainerController.js
Owners: @uncol, @dv

Add OmegaTelecom/SBC profile
  collections/inv.vendors/OMEGATELECOM.json
  collections/sa.profiles/OmegaTelecom/SBC.json
  sa/profiles/OmegaTelecom/SBC/__init__.py
  sa/profiles/OmegaTelecom/SBC/get_metrics.py
  sa/profiles/OmegaTelecom/SBC/get_version.py
  sa/profiles/OmegaTelecom/SBC/profile.py
  sa/profiles/OmegaTelecom/SBC/snmp_metrics/check_result.json
  sa/profiles/OmegaTelecom/SBC/snmp_metrics/check_status.json
  sa/profiles/OmegaTelecom/SBC/snmp_metrics/cpu_usage_1min.json
  sa/profiles/OmegaTelecom/SBC/snmp_metrics/memory_usage.json
  sa/profiles/OmegaTelecom/SBC/snmp_metrics/telephony_sip_register_contacts_active.json
  sa/profiles/OmegaTelecom/SBC/snmp_metrics/telephony_sip_sessions_active.json
  sa/profiles/OmegaTelecom/SBC/snmp_metrics/telephony_sip_trunk_currentcps.json
  sa/profiles/OmegaTelecom/__init__.py
Owners: @dv, @aversant, @dmitryluhtionov

Add OmegaTelecom/SBC doc-file
  docs/profiles-reference/OmegaTelecom/SBC.md
Owners: @dv

Add PeerNodes metrics
  collections/pm.metrictypes/PeerNodes/PeerNodes_Value.json
  sa/profiles/OmegaTelecom/SBC/get_metrics.py
Owners: @dv, @aversant, @dmitryluhtionov

Add OmegaTelecom index doc-file
  docs/profiles-reference/OmegaTelecom/index.md
Owners: @dv

Fix
  docs/profiles-reference/index.md
Owners: @dv

Fix docs links
  docs/profiles-reference/SUMMARY.md
Owners: @dv

Add dashboard templates
  templates/ddash/graph_peernodes_value.j2
Owners: @dv, @aversant

Make 'id' unique in panel templates
  templates/ddash/graph_peernodes_value.j2
Owners: @dv, @aversant

Fix trunk-metric
  sa/profiles/OmegaTelecom/SBC/snmp_metrics/telephony_trunk_currentcps.json
Owners: @dv, @aversant, @dmitryluhtionov

Fix cpu_load metric
  sa/profiles/OmegaTelecom/SBC/snmp_metrics/cpu_load_1min.json
  sa/profiles/OmegaTelecom/SBC/snmp_metrics/cpu_usage_1min.json
Owners: @dv, @aversant, @dmitryluhtionov

Cleanup
  sa/profiles/OmegaTelecom/SBC/get_metrics.py
Owners: @dv, @aversant, @dmitryluhtionov

Update metrics Health, HAState, GlobalCPS
  collections/pm.metrictypes/Object/HAState.json
  collections/pm.metrictypes/Object/Health.json
  collections/pm.metrictypes/Telephony/voice_global_cps.json
  sa/profiles/OmegaTelecom/SBC/snmp_metrics/object_hastate.json
  sa/profiles/OmegaTelecom/SBC/snmp_metrics/object_health.json
  sa/profiles/OmegaTelecom/SBC/snmp_metrics/telephony_sip_register_contacts_active.json
  sa/profiles/OmegaTelecom/SBC/snmp_metrics/telephony_sip_sessions_active.json
  sa/profiles/OmegaTelecom/SBC/snmp_metrics/telephony_trunk_currentcps.json
  sa/profiles/OmegaTelecom/SBC/snmp_metrics/telephony_voice_globalcps.json
  templates/ddash/graph_object_hastate.j2
  templates/ddash/graph_object_health.j2
  templates/ddash/graph_telephony_sip_register_contacts_active.j2
  templates/ddash/graph_telephony_voice_globalcps.j2
Owners: @dv, @aversant, @dmitryluhtionov

Add capability for SBC-device
  collections/inv.capabilities/Network/SBC.json
  sa/profiles/OmegaTelecom/SBC/get_capabilities.py
Owners: @dv, @aversant, @dmitryluhtionov

Update PeerNodes panel
  templates/ddash/graph_peernodes_value.j2
Owners: @dv, @aversant

Update labels for peer_nodes metrics
  collections/pm.metricscopes/Object.json
  sa/profiles/OmegaTelecom/SBC/get_metrics.py
Owners: @dv, @aversant, @dmitryluhtionov

Add custom dashboard for SBC-device
  services/web/apps/pm/ddash/dashboards/mosbc.py
  templates/ddash/dash_mosbc.j2
  templates/ddash/graph_peer_nodes_as.j2
  templates/ddash/graph_peer_nodes_pasr.j2
  templates/ddash/graph_peer_nodes_sr.j2
Owners: @dv, @aversant

Fix lint
  sa/profiles/Eltex/TAU/profile.py
Owners: @dv, @aversant, @dmitryluhtionov

Update TAU profile for SNMP scripts
  sa/profiles/Eltex/TAU/get_interfaces.py
  sa/profiles/Eltex/TAU/get_lldp_neighbors.py
  sa/profiles/Eltex/TAU/profile.py
Owners: @dv, @aversant, @dmitryluhtionov

Update SMG profile
  sa/profiles/Eltex/SMG/get_chassis_id.py
  sa/profiles/Eltex/SMG/get_version.py
  sa/profiles/Eltex/SMG/profile.py
Owners: @dv, @aversant, @dmitryluhtionov

Add Eltex VP profile
  collections/sa.profiles/Eltex/VP.json
  sa/profiles/Eltex/VP/__init__.py
  sa/profiles/Eltex/VP/get_config.py
  sa/profiles/Eltex/VP/get_version.py
  sa/profiles/Eltex/VP/profile.py
Owners: @dv, @aversant, @dmitryluhtionov

Add doc-file for Eltex VP
  docs/profiles-reference/Eltex/VP.md
Owners: @dv

Add get_metrics for SMG
  sa/profiles/Eltex/SMG/get_metrics.py
Owners: @dv, @aversant, @dmitryluhtionov

Update get_metrics for SMG (trunks)
  collections/pm.metrictypes/Telephony/SIP/sip_trunk_capacity.json
  collections/pm.metrictypes/Telephony/SIP/sip_trunk_current_egress_calls.json
  collections/pm.metrictypes/Telephony/SIP/sip_trunk_current_ingress_calls.json
  collections/pm.metrictypes/Telephony/SIP/sip_trunk_current_total_calls.json
  collections/pm.metrictypes/Telephony/SIP/sip_trunk_enable.json
  sa/profiles/Eltex/SMG/get_metrics.py
Owners: @dv, @aversant, @dmitryluhtionov

Move some metrics to snmp_metrics
  sa/profiles/Eltex/SMG/get_metrics.py
  sa/profiles/Eltex/SMG/snmp_metrics/environment_temperature.json
  sa/profiles/Eltex/SMG/snmp_metrics/telephony_sip_register_contacts_active.json
  sa/profiles/Eltex/SMG/snmp_metrics/telephony_sip_sessions_active.json
Owners: @dv, @aversant, @dmitryluhtionov

Fix
  sa/profiles/Eltex/SMG/get_metrics.py
Owners: @dv, @aversant, @dmitryluhtionov

Append columns for CPU usage metrics
  sa/profiles/Eltex/SMG/get_metrics.py
Owners: @dv, @aversant, @dmitryluhtionov

Update trunk metrics
  collections/pm.metrictypes/Telephony/SIP/sip_trunk_chans_busy.json
  collections/pm.metrictypes/Telephony/SIP/sip_trunk_chans_free.json
  collections/pm.metrictypes/Telephony/SIP/sip_trunk_cps_alarm.json
  collections/pm.metrictypes/Telephony/SIP/sip_trunk_cps_max.json
  collections/pm.metrictypes/Telephony/SIP/sip_trunk_current_cps.json
  collections/pm.metrictypes/Telephony/SIP/sip_trunk_status.json
  collections/pm.metrictypes/Telephony/SIP/sip_trunk_unavailable_cic_count.json
  sa/profiles/Eltex/SMG/get_metrics.py
Owners: @dv, @aversant, @dmitryluhtionov

Fix trunk metric
  sa/profiles/Eltex/SMG/get_metrics.py
Owners: @dv, @aversant, @dmitryluhtionov

Refactor
  sa/profiles/Eltex/SMG/get_metrics.py
Owners: @dv, @aversant, @dmitryluhtionov
