Repository gufolabs/noc, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dv, @aversant, @uncol, @EKbfh, @dmitryluhtionov

Fix ruff warnings
  sa/profiles/BDCOM/xPON/get_cpe.py
  sa/profiles/BDCOM/xPON/get_inventory.py
  sa/profiles/BDCOM/xPON/get_version.py
  sa/profiles/BDCOM/xPON/profile.py
Owners: @dv, @aversant, @dmitryluhtionov

Fix ruff warnings
  sa/profiles/BDCOM/xPON/get_cpe_status.py
  sa/profiles/BDCOM/xPON/profile.py
Owners: @dv, @aversant, @dmitryluhtionov

enhance grid scrollability and correct URL formatting in prefix retrieval (#258)
  services/web/apps/ip/ipam/views.py
  ui/web/ip/ipam/ApplicationController.js
  ui/web/ip/ipam/view/forms/prefix/PrefixAddressLists.js
Owners: @dv, @aversant, @uncol

fix: auto-run vendor build when external.js is missing on dev start
  Dockerfile
  ui/build.ts
  ui/tsconfig.json
  ui/web/main/desktop/loader/navigation.js
Owners: @uncol, @dv

add auth, config, events neutral modules; monaco loading bar
  ui/web/main/desktop/Application.js
  ui/web/main/desktop/loader/auth.js
  ui/web/main/desktop/loader/bootstrap.js
  ui/web/main/desktop/loader/config.js
  ui/web/main/desktop/loader/events.js
  ui/web/main/desktop/loader/ext-application.js
  ui/web/main/desktop/loader/lazy-loader.js
Owners: @uncol, @dv

fix access clear views (#244)
  services/web/apps/fm/alarm/views.py
Owners: @dv, @aversant

Add nbi path mac_lookup
  services/nbi/paths/mac_lookup.py
Owners: @dv, @aversant

FastAPI==0.138.0
  pyproject.toml
Owners: @dv, @aversant

FastAPI==0.138.0 (#260)
  pyproject.toml
Owners: @dv, @aversant

ruff 0.15.18
  pyproject.toml
Owners: @dv, @aversant

ruff 0.15.18 (#261)
  pyproject.toml
Owners: @dv, @aversant

Fix error when chagned mongoengine DictField.
  core/change/decorator.py
  core/model/decorator.py
Owners: @dv, @aversant

release-25.1:Backport!10078
  core/change/decorator.py
  core/model/decorator.py
Owners: @dv, @aversant

release-25.1!Backport#157
  sa/interfaces/base.py
  tests/interface/test_base.py
Owners: @dv, @aversant

release-25.1!Backport#157 (#262)
  sa/interfaces/base.py
  tests/interface/test_base.py
Owners: @dv, @aversant

IGetLLDPNeighbor: Disable binary IPv4 recognition (#158)
  sa/interfaces/igetlldpneighbors.py
Owners: @dv, @aversant

release-25.1!Backport#158
  sa/interfaces/igetlldpneighbors.py
Owners: @dv, @aversant

smartrefresh feature gate
  core/feature.py
  docs/feature-gates-reference/index.md
Owners: @dv, @aversant

smartrefresh feature gate (#265)
  core/feature.py
  docs/feature-gates-reference/index.md
Owners: @dv, @aversant

release-25.1!Backport#265
  core/feature.py
  docs/feature-gates-reference/index.md
Owners: @dv, @aversant

release-25.1!Backport#265 (#266)
  core/feature.py
  docs/feature-gates-reference/index.md
Owners: @dv, @aversant

pytest 9.1.1, pytest-cov 7.1.0
  pyproject.toml
Owners: @dv, @aversant

pytest 9.1.1, pytest-cov 7.1.0 (#267)
  pyproject.toml
Owners: @dv, @aversant

ruff: Enable "UP" checks group
  pyproject.toml
Owners: @dv, @aversant

ruff: Enable "UP" checks group (#268)
  pyproject.toml
Owners: @dv, @aversant

Enforce UP009 check
  commands/network-scan.py
  pyproject.toml
  sa/profiles/Eltex/MES24xx/get_lldp_neighbors.py
  sa/profiles/H3C/VRP/get_portchannel.py
  sa/profiles/Huawei/VRP/get_interfaces.py
  sa/profiles/Nateks/NetXpert/get_lldp_neighbors.py
  sa/profiles/OS/Linux/get_chassis_id.py
  sa/profiles/OS/Linux/get_config.py
  sa/profiles/OS/Linux/get_fqdn.py
  sa/profiles/OS/Linux/get_ifindexes.py
  sa/profiles/OS/Linux/get_interfaces.py
  sa/profiles/OS/Linux/get_local_users.py
  sa/profiles/OS/Linux/get_mac_address_table.py
  sa/profiles/OS/Linux/get_version.py
  sa/profiles/OS/Linux/get_vlans.py
  sa/profiles/OS/Linux/ping.py
  sa/profiles/TPLink/T2600G/get_lldp_neighbors.py
  sa/profiles/Telecom/FXS/get_capabilities.py
  sa/profiles/Telecom/FXS/get_metrics.py
  sa/profiles/Telecom/FXS/get_version.py
  sa/profiles/Telecom/FXS/profile.py
  services/web/apps/inv/reportifacestatus/views.py
Owners: @dv, @aversant, @dmitryluhtionov

Enforce UP009 check (#269)
  commands/network-scan.py
  pyproject.toml
  sa/profiles/Eltex/MES24xx/get_lldp_neighbors.py
  sa/profiles/H3C/VRP/get_portchannel.py
  sa/profiles/Huawei/VRP/get_interfaces.py
  sa/profiles/Nateks/NetXpert/get_lldp_neighbors.py
  sa/profiles/OS/Linux/get_chassis_id.py
  sa/profiles/OS/Linux/get_config.py
  sa/profiles/OS/Linux/get_fqdn.py
  sa/profiles/OS/Linux/get_ifindexes.py
  sa/profiles/OS/Linux/get_interfaces.py
  sa/profiles/OS/Linux/get_local_users.py
  sa/profiles/OS/Linux/get_mac_address_table.py
  sa/profiles/OS/Linux/get_version.py
  sa/profiles/OS/Linux/get_vlans.py
  sa/profiles/OS/Linux/ping.py
  sa/profiles/TPLink/T2600G/get_lldp_neighbors.py
  sa/profiles/Telecom/FXS/get_capabilities.py
  sa/profiles/Telecom/FXS/get_metrics.py
  sa/profiles/Telecom/FXS/get_version.py
  sa/profiles/Telecom/FXS/profile.py
  services/web/apps/inv/reportifacestatus/views.py
Owners: @dv, @aversant, @dmitryluhtionov

Enforce UP029 check
  pyproject.toml
  sa/profiles/DLink/DxS_Smart/get_lldp_neighbors.py
  sa/profiles/DLink/DxS_Smart/get_portchannel.py
  sa/profiles/DLink/DxS_Smart/get_switchport.py
  services/discovery/jobs/base.py
  services/web/base/extapplication.py
  tests/models/test_0006_get_by_id.py
  tests/models/test_inv_discoveryid.py
Owners: @dv, @aversant, @dmitryluhtionov

Enforce UP029 check (#270)
  pyproject.toml
  sa/profiles/DLink/DxS_Smart/get_lldp_neighbors.py
  sa/profiles/DLink/DxS_Smart/get_portchannel.py
  sa/profiles/DLink/DxS_Smart/get_switchport.py
  services/discovery/jobs/base.py
  services/web/base/extapplication.py
  tests/models/test_0006_get_by_id.py
  tests/models/test_inv_discoveryid.py
Owners: @dv, @aversant, @dmitryluhtionov

ruff: Enforce UP008 check
  core/etl/extractor/fias.py
  core/mac.py
  core/model/base.py
  pyproject.toml
  sa/profiles/Generic/get_metrics.py
  services/escalator/tt/tg_bot.py
Owners: @dv, @aversant, @dmitryluhtionov

ruff: Enforce UP008 check (#271)
  core/etl/extractor/fias.py
  core/mac.py
  core/model/base.py
  pyproject.toml
  sa/profiles/Generic/get_metrics.py
  services/escalator/tt/tg_bot.py
Owners: @dv, @aversant, @dmitryluhtionov

ruff: Enforce UP015 check
  commands/beef.py
  commands/classify.py
  commands/help.py
  commands/inventory.py
  commands/sync-mibs.py
  commands/tech-report.py
  core/etl/loader/base.py
  core/fileutils.py
  pyproject.toml
  scripts/deploy/change-ip.py
  tests/docs/conftest.py
  tests/reporter/test_report.py
Owners: @dv, @aversant

ruff: Enforce UP015 check (#272)
  commands/beef.py
  commands/classify.py
  commands/help.py
  commands/inventory.py
  commands/sync-mibs.py
  commands/tech-report.py
  core/etl/loader/base.py
  core/fileutils.py
  pyproject.toml
  scripts/deploy/change-ip.py
  tests/docs/conftest.py
  tests/reporter/test_report.py
Owners: @dv, @aversant

ruff: Enforce UP012 check
  core/script/http/middleware/basicauth.py
  pyproject.toml
  services/chwriter/channel.py
Owners: @dv, @aversant

ruff: Enforce UP012 check (#273)
  core/script/http/middleware/basicauth.py
  pyproject.toml
  services/chwriter/channel.py
Owners: @dv, @aversant

Fix
  core/confdb/normalizer/base.py
Owners: @dv, @aversant

ruff: Enforce UP018 check
  core/dns/encoding.py
  core/gridvcs/base.py
  pyproject.toml
  tests/test_comp.py
  tests/test_dns.py
Owners: @dv, @aversant

ruff: Enforce UP018 check (#276)
  core/dns/encoding.py
  core/gridvcs/base.py
  pyproject.toml
  tests/test_comp.py
  tests/test_dns.py
Owners: @dv, @aversant

ruff: Enforce UP024 check
  commands/beef.py
  commands/prefix-list.py
  core/debug.py
  core/etl/extractor/base.py
  core/fileutils.py
  core/script/base.py
  core/script/beef.py
  main/refbooks/downloaders/url_csv.py
  pyproject.toml
  scripts/deploy/change-ip.py
Owners: @dv, @aversant

ruff: Enforce UP024 check (#277)
  commands/beef.py
  commands/prefix-list.py
  core/debug.py
  core/etl/extractor/base.py
  core/fileutils.py
  core/script/base.py
  core/script/beef.py
  main/refbooks/downloaders/url_csv.py
  pyproject.toml
  scripts/deploy/change-ip.py
Owners: @dv, @aversant

.github/CODEOWNERS:

# NOC code owners
# Lines starting with `#` will be ignored.
# Rules defined later in the file take precedence over the rules
# defined before.

# Python files
*.py @dv @aversant

# JS files
*.js @uncol @dv

# CSS files
*.css @uncol @dv

# Jinja2 templates
*.j2 @dv @aversant

# Tests
/tests/ @dv

# Dependencies
pyproject.toml @dv @aversant

# Ansible Deploy
/ansible/ @EKbfh

# Fixes
/fixes/ @dv @aversant

# Profiles
/sa/profiles/ @dv @aversant @dmitryluhtionov

# Configuration
/config.py @dv @aversant @EKbfh

# Core
/core/ @dv @aversant
/core/config/ @dv @aversant @EKbfh

# Models
models/ @dv @aversant

# Commands
/commands/ @dv @aversant

# Services
/services/ @dv @aversant

# Rust
/rust/ @dv

# Documentation
/docs/ @dv

# Codeowners itself
CODEOWNERS @dv

# CI settings
/.gitlab-ci.yml @dv @EKbfh

# Docker files
/.docker/ @dv @EKbfh

# Github
.github/ @dv
