Repository gufolabs/noc, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dv, @aversant, @uncol, @EKbfh, @dmitryluhtionov

Delete scripts/migrate-ignored-interfaces.py (#307)
  scripts/migrate-ignored-interfaces.py
Owners: @dv, @aversant

run-dev script (#305)
  scripts/run-dev
Owners: none

Remove scripts/fetch (#306)
  scripts/fetch
Owners: none

Restore BaseCommand.is_debug
  core/management/base.py
Owners: @dv, @aversant

config.setup() must be explicitly call to apply configured settings (#304)
  config.py
  core/management/base.py
  core/service/base.py
  tests/conftest.py
Owners: @dv, @aversant, @EKbfh

Timezone setup moved to config.setup()
  config.py
  core/management/base.py
  core/service/base.py
  core/tz.py
Owners: @dv, @aversant, @EKbfh

add description field
  ui/web/dns/dnszone/Application.js
  ui/web/dns/dnszoneprofile/Application.js
  ui/web/sa/actioncommands/Application.js
  ui/web/sa/capsprofile/Application.js
  ui/web/sa/commandsnippet/Application.js
  ui/web/sa/profile/Application.js
  ui/web/sa/profilecheckrule/Application.js
  ui/web/sa/reactionrule/Application.js
  ui/web/vc/l2domainprofile/Application.js
  ui/web/vc/vlanfilter/Application.js
  ui/web/vc/vlanprofile/Application.js
  ui/web/vc/vlantemplate/Application.js
  ui/web/vc/vpn/Application.js
  ui/web/vc/vpnprofile/Application.js
Owners: @uncol, @dv

Timezone setup moved to config.setup() (#308)
  config.py
  core/management/base.py
  core/service/base.py
  core/tz.py
Owners: @dv, @aversant, @EKbfh

command_loader
  core/management/base.py
  tests/conftest.py
Owners: @dv, @aversant

moc.models typing
  models.py
Owners: @dv, @aversant

Docstrings
  models.py
Owners: @dv, @aversant

Fix typing
  models.py
Owners: @dv, @aversant

Model Types — Strict typing for lazy-loading model utilities (#311)
  models.py
Owners: @dv, @aversant

Update Eltex SMG/TAU/VP adapters - add models
  collections/inv.capabilities/Network/SMG.json
  collections/inv.objectmodels/Eltex/SMG/SMG-3016.json
  collections/pm.metrictypes/Telephony/SIP/sip_users_active.json
  collections/pm.metrictypes/Telephony/SIP/sip_users_all.json
  collections/pm.metrictypes/Telephony/trunk_capacity.json
  collections/pm.metrictypes/Telephony/trunk_chans_busy.json
  collections/pm.metrictypes/Telephony/trunk_chans_free.json
  collections/pm.metrictypes/Telephony/trunk_cps_alarm.json
  collections/pm.metrictypes/Telephony/trunk_cps_max.json
  collections/pm.metrictypes/Telephony/trunk_current_cps.json
  collections/pm.metrictypes/Telephony/trunk_current_egress_calls.json
  collections/pm.metrictypes/Telephony/trunk_current_ingress_calls.json
  collections/pm.metrictypes/Telephony/trunk_current_total_calls.json
  collections/pm.metrictypes/Telephony/trunk_enable.json
  collections/pm.metrictypes/Telephony/trunk_status.json
  collections/pm.metrictypes/Telephony/trunk_unavailable_cic_count.json
  collections/pm.metrictypes/Telephony/voice_calls_count.json
  collections/pm.metrictypes/Telephony/voice_lost_packets.json
  collections/pm.metrictypes/Telephony/voice_peak_jitter.json
  collections/sa.profiles/Eltex/VP.json
Owners: none

Update Eltex SMG/TAU/VP adapters - add scripts
  docs/profiles-reference/Eltex/VP.md
  sa/profiles/Eltex/SMG/get_capabilities.py
  sa/profiles/Eltex/SMG/get_chassis_id.py
  sa/profiles/Eltex/SMG/get_interface_status_ex.py
  sa/profiles/Eltex/SMG/get_interfaces.py
  sa/profiles/Eltex/SMG/get_inventory.py
  sa/profiles/Eltex/SMG/get_metrics.py
  sa/profiles/Eltex/SMG/get_version.py
  sa/profiles/Eltex/SMG/profile.py
  sa/profiles/Eltex/SMG/snmp_metrics/environment_temperature.json
  sa/profiles/Eltex/SMG/snmp_metrics/telephony_sip_register_contacts_active.json
  sa/profiles/Eltex/SMG/snmp_metrics/telephony_sip_sessions_active.json
  sa/profiles/Eltex/SMG/snmp_metrics/telephony_sip_users_active.json
  sa/profiles/Eltex/SMG/snmp_metrics/telephony_sip_users_all.json
  sa/profiles/Eltex/TAU/get_interfaces.py
  sa/profiles/Eltex/TAU/get_inventory.py
  sa/profiles/Eltex/TAU/get_lldp_neighbors.py
  sa/profiles/Eltex/TAU/get_metrics.py
  sa/profiles/Eltex/TAU/profile.py
  sa/profiles/Eltex/TAU/snmp_metrics/environment_temperature.json
  sa/profiles/Eltex/VP/__init__.py
  sa/profiles/Eltex/VP/get_config.py
  sa/profiles/Eltex/VP/get_version.py
  sa/profiles/Eltex/VP/profile.py
  services/web/apps/pm/ddash/dashboards/mosmg.py
  templates/ddash/dash_mosmg.j2
  templates/ddash/graph_fan.j2
  templates/ddash/graph_power_module.j2
  templates/ddash/graph_telephony_sip_users_active.j2
  templates/ddash/graph_telephony_sip_users_all.j2
  templates/ddash/graph_telephony_voice_callscount.j2
  templates/ddash/graph_telephony_voice_lostpackets.j2
  templates/ddash/graph_telephony_voice_peakjitter.j2
  templates/ddash/graph_trunk_calls.j2
  templates/ddash/graph_trunk_capacity.j2
  templates/ddash/graph_trunk_channels.j2
  templates/ddash/graph_trunk_cps.j2
  templates/ddash/graph_trunk_en_st.j2
  templates/ddash/graph_voip_submodule.j2
Owners: @dv, @aversant, @dmitryluhtionov

Count deprecation warnings in tests
  tests/conftest.py
Owners: @dv

Refine typing
  tests/conftest.py
Owners: @dv

Fix
  tests/conftest.py
Owners: @dv

Fix
  tests/conftest.py
Owners: @dv

Show totals
  tests/conftest.py
Owners: @dv

Fix
  tests/conftest.py
Owners: @dv

Fix
  tests/conftest.py
Owners: @dv

Show DeprecationWarning summary in tests (#314)
  tests/conftest.py
Owners: @dv

fsspec 2026.6.0
  pyproject.toml
Owners: @dv, @aversant

fsspec 2026.6.0 (#315)
  pyproject.toml
Owners: @dv, @aversant

Fix export basket functionality by resetting grid plugins before saving
  ui/web/sa/managedobject/Controller.js
Owners: @uncol, @dv

Models: Refine typing
  models.py
Owners: @dv, @aversant

tests: Replace model generators for @parametrize with lists
  tests/models/util.py
Owners: @dv, @aversant

Models: Refine typing (#317)
  models.py
Owners: @dv, @aversant

tests: Replace model generators for @parametrize with lists (#318)
  tests/models/util.py
Owners: @dv, @aversant

Move NOC.UPS to Generic.UPS
  collections/sa.profiles/Generic/UPS.json
  docs/profiles-reference/Generic/UPS.md
  sa/profiles/Generic/UPS/__init__.py
  sa/profiles/Generic/UPS/get_capabilities.py
  sa/profiles/Generic/UPS/get_inventory.py
  sa/profiles/Generic/UPS/get_metrics.py
  sa/profiles/Generic/UPS/get_version.py
  sa/profiles/Generic/UPS/profile.py
  sa/profiles/NOC/UPS/get_inventory.py
  sa/profiles/NOC/UPS/profile.py
Owners: @dv, @aversant, @dmitryluhtionov

missed caps
  collections/inv.capabilities/Device/UPS.json
Owners: none

Remove grid plugins reset before saving in managed object controller and disable buffered rendering in the selected grid
  ui/web/sa/managedobject/Application.js
  ui/web/sa/managedobject/Controller.js
Owners: @uncol, @dv

Route Ext stores through NOC.api and drop grid load masks
  ui/web/core/label/LabelField.js
  ui/web/js/override.js
  ui/web/maintenance/maintenance/ObjectsPanel.js
Owners: @uncol, @dv

Route Ext stores through NOC.api and drop grid load masks (#321)
  ui/web/core/label/LabelField.js
  ui/web/js/override.js
  ui/web/maintenance/maintenance/ObjectsPanel.js
Owners: @uncol, @dv

Fix export basket functionality by resetting grid plugins before saving (#316)
  ui/web/sa/managedobject/Application.js
  ui/web/sa/managedobject/Controller.js
Owners: @uncol, @dv

Batch MO resolution in map metrics api
  services/web/apps/inv/map/views.py
Owners: @dv, @aversant

Add docstrings
  services/web/apps/inv/map/views.py
Owners: @dv, @aversant

Fix service profile
  ui/web/sa/serviceprofile/Application.js
Owners: @uncol, @dv

Application: Replace functool.partial with code wrappers
  services/web/base/application.py
Owners: @dv, @aversant

.github/CODEOWNERS:

# NOC code owners
# Lines starting with `#` will be ignored.
# Rules defined later in the file take precedence over the rules
# defined before.

# Python files
*.py @dv @aversant

# JS files
*.js @uncol @dv

# CSS files
*.css @uncol @dv

# Jinja2 templates
*.j2 @dv @aversant

# Tests
/tests/ @dv

# Dependencies
pyproject.toml @dv @aversant

# Ansible Deploy
/ansible/ @EKbfh

# Fixes
/fixes/ @dv @aversant

# Profiles
/sa/profiles/ @dv @aversant @dmitryluhtionov

# Configuration
/config.py @dv @aversant @EKbfh

# Core
/core/ @dv @aversant
/core/config/ @dv @aversant @EKbfh

# Models
models/ @dv @aversant

# Commands
/commands/ @dv @aversant

# Services
/services/ @dv @aversant

# Rust
/rust/ @dv

# Documentation
/docs/ @dv

# Codeowners itself
CODEOWNERS @dv

# CI settings
/.gitlab-ci.yml @dv @EKbfh

# Docker files
/.docker/ @dv @EKbfh

# Github
.github/ @dv
