Repository gufolabs/noc, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dv, @aversant, @uncol, @EKbfh, @dmitryluhtionov

.github/CODEOWNERS:

# NOC code owners
# Lines starting with `#` will be ignored.
# Rules defined later in the file take precedence over the rules
# defined before.

# Python files
*.py @dv @aversant

# JS files
*.js @uncol @dv

# CSS files
*.css @uncol @dv

# Jinja2 templates
*.j2 @dv @aversant

# Tests
/tests/ @dv

# Dependencies
pyproject.toml @dv @aversant

# Ansible Deploy
/ansible/ @EKbfh

# Fixes
/fixes/ @dv @aversant

# Profiles
/sa/profiles/ @dv @aversant @dmitryluhtionov

# Configuration
/config.py @dv @aversant @EKbfh

# Core
/core/ @dv @aversant
/core/config/ @dv @aversant @EKbfh

# Models
models/ @dv @aversant

# Commands
/commands/ @dv @aversant

# Services
/services/ @dv @aversant

# Rust
/rust/ @dv

# Documentation
/docs/ @dv

# Codeowners itself
CODEOWNERS @dv

# CI settings
/.gitlab-ci.yml @dv @EKbfh

# Docker files
/.docker/ @dv @EKbfh

# Github
.github/ @dv

enhance LookupField components with icons and improved configuration
  ui/web/main/ref/soform/LookupField.js
  ui/web/main/ref/soposition/LookupField.js
  ui/web/sa/managedobject/form/View.js
Owners: @uncol, @dv

py-typing KPI script
  scripts/kpi/py-typing.py
Owners: @dv, @aversant

Set typing for __str__ functions (#349)
  core/caps/types.py
  core/cdag/node/probe.py
  core/checkers/base.py
  core/confdb/collator/typing.py
  core/confdb/engine/var.py
  core/config/params.py
  core/etl/remotemappings.py
  core/fm/event.py
  core/ip.py
  core/migration/base.py
  core/msgstream/config.py
  core/pm/utils.py
  core/purgatorium.py
  core/reporter/band.py
  core/reporter/formatter/base.py
  core/reporter/types.py
  core/router/route.py
Owners: @dv, @aversant, @EKbfh

__repr__ typing
  core/clickhouse/functions.py
  core/confdb/db/node.py
  core/confdb/engine/var.py
  core/confdb/normalizer/base.py
  core/confdb/syntax/patterns.py
  core/config/params.py
  core/dns/rr.py
  core/ip.py
  core/reporter/band.py
  core/reporter/formatter/base.py
  core/reporter/types.py
  core/router/route.py
  core/snmp/error.py
Owners: @dv, @aversant, @EKbfh

setuptools >= 83.0.0, prevent PYSEC-2026-3447
  pyproject.toml
Owners: @dv, @aversant

fix selection grid data handling
  ui/web/js/override.js
  ui/web/sa/managedobject/Application.js
  ui/web/sa/managedobject/Controller.js
Owners: @uncol, @dv

py-typing KPI script (#350)
  scripts/kpi/py-typing.py
Owners: @dv, @aversant

kpi/py-typing: update function names for better readability
  scripts/kpi/py-typing.py
Owners: @dv, @aversant

__repr__ typing (#351)
  core/clickhouse/functions.py
  core/confdb/db/node.py
  core/confdb/engine/var.py
  core/confdb/normalizer/base.py
  core/confdb/syntax/patterns.py
  core/config/params.py
  core/dns/rr.py
  core/ip.py
  core/reporter/band.py
  core/reporter/formatter/base.py
  core/reporter/types.py
  core/router/route.py
  core/snmp/error.py
Owners: @dv, @aversant, @EKbfh

double-underscore functions typing
  core/cdag/node/alarm.py
  core/cdag/node/threshold.py
  core/checkers/base.py
  core/datasources/base.py
  core/etl/bi/stream.py
  core/ioloop/udp.py
  core/ip.py
  core/mx.py
  core/script/cli/ssh.py
  core/topology/base.py
Owners: @dv, @aversant

fix selection grid data handling (#355)
  ui/web/js/override.js
  ui/web/sa/managedobject/Application.js
  ui/web/sa/managedobject/Controller.js
Owners: @uncol, @dv

Update py-typing.py
  scripts/kpi/py-typing.py
Owners: @dv, @aversant

double-underscore functions typing (#357)
  core/cdag/node/alarm.py
  core/cdag/node/threshold.py
  core/checkers/base.py
  core/datasources/base.py
  core/etl/bi/stream.py
  core/ioloop/udp.py
  core/ip.py
  core/mx.py
  core/script/cli/ssh.py
  core/topology/base.py
Owners: @dv, @aversant

kpi/py-typing: update function names for better readability (#356)
  scripts/kpi/py-typing.py
Owners: @dv, @aversant

setuptools >= 83.0.0, prevent PYSEC-2026-3447 (#354)
  pyproject.toml
Owners: @dv, @aversant

kpi/py-typing.py: Fix module name detection
  scripts/kpi/py-typing.py
Owners: @dv, @aversant

kpi/py-typing.py: Fix module name detection (#358)
  scripts/kpi/py-typing.py
Owners: @dv, @aversant

Fix docs
  docs/confdb-reference/tokenizer.md
  docs/etl/index.md
  docs/etl/index.ru.md
Owners: @dv

noc.core.text: docstrings and typing
  core/text.py
Owners: @dv, @aversant

noc.core.script: Convert docstrings to google format
  core/script/base.py
  core/script/beef.py
  core/script/caller.py
  core/script/cli/base.py
  core/script/cli/beef.py
  core/script/cli/cli.py
  core/script/cli/ssh.py
  core/script/cli/stream.py
  core/script/cli/telnet.py
  core/script/context.py
  core/script/credentialchecker.py
  core/script/diagnostic.py
  core/script/http/base.py
  core/script/http/middleware/basicauth.py
  core/script/http/middleware/digestauth.py
  core/script/http/middleware/jsonrequestid.py
  core/script/http/middleware/jsonsession.py
  core/script/http/middleware/urlrequestid.py
  core/script/http/middleware/urlsession.py
  core/script/loader.py
  core/script/metrics.py
  core/script/mml/base.py
  core/script/oidrules/bool.py
  core/script/oidrules/capindex.py
  core/script/oidrules/caplist.py
  core/script/oidrules/caps.py
  core/script/oidrules/counter.py
  core/script/oidrules/hires.py
  core/script/oidrules/ifindex.py
  core/script/oidrules/loader.py
  core/script/oidrules/match.py
  core/script/oidrules/oid.py
  core/script/oidrules/oids.py
  core/script/rtsp/base.py
  core/script/snmp/base.py
  core/script/snmp/beef.py
Owners: @dv, @aversant

noc.core.confdb: Convert docstrings to google format
  core/confdb/applicator/adminstatus.py
  core/confdb/applicator/cdpstatus.py
  core/confdb/applicator/fitype.py
  core/confdb/applicator/interfacetype.py
  core/confdb/applicator/interfaceuntaggedvlan.py
  core/confdb/applicator/lldpstatus.py
  core/confdb/applicator/loopdetectstatus.py
  core/confdb/applicator/meta.py
  core/confdb/applicator/rebase.py
  core/confdb/applicator/stppriority.py
  core/confdb/applicator/stpstatus.py
  core/confdb/applicator/systemaaaorder.py
  core/confdb/applicator/systemaaaservicelocal.py
  core/confdb/applicator/systemaaasourceaddresslookup.py
  core/confdb/collator/ifname.py
  core/confdb/collator/ifpath.py
  core/confdb/collator/profile.py
  core/confdb/collator/typing.py
  core/confdb/db/base.py
  core/confdb/db/marshall/base.py
  core/confdb/db/node.py
  core/confdb/engine/base.py
  core/confdb/engine/transformer.py
  core/confdb/normalizer/base.py
  core/confdb/tokenizer/context.py
  core/confdb/tokenizer/ini.py
  core/confdb/tokenizer/line.py
  core/confdb/tokenizer/routeros.py
Owners: @dv, @aversant

fix docstring
  core/confdb/applicator/adminstatus.py
Owners: @dv, @aversant

noc.core.datastream: Convert docstrings to google format
  core/datastream/base.py
  core/datastream/client.py
Owners: @dv, @aversant

kpi/py-pyping: Ignore non-pythonic directories
  scripts/kpi/py-typing.py
Owners: @dv, @aversant

Ruff: Enforce UP032 checks, replace str.format() with f-strings
  commands/job.py
  commands/liftbridge.py
  commands/msgstream.py
  core/datasources/loadmetricsmaxds.py
  pm/models/scale.py
  pyproject.toml
  sa/profiles/Cisco/ASA/get_capabilities.py
  sa/profiles/Cisco/IOS/get_interfaces.py
  sa/profiles/Cisco/IOS/get_switchport.py
  sa/profiles/Cisco/NXOS/get_portchannel.py
  sa/profiles/Generic/get_interfaces.py
  sa/profiles/Generic/get_switchport.py
  sa/profiles/Huawei/VRP/get_interfaces.py
  sa/profiles/Huawei/VRP/get_switchport.py
  sa/profiles/VMWare/connection.py
  services/web/apps/inv/reportmaxmetrics.py
Owners: @dv, @aversant, @dmitryluhtionov

noc.core.text: docstrings and typing (#361)
  core/text.py
Owners: @dv, @aversant

Fix return type
  core/script/metrics.py
Owners: @dv, @aversant

noc.core.script: Convert docstrings to google format (#362)
  core/script/base.py
  core/script/beef.py
  core/script/caller.py
  core/script/cli/base.py
  core/script/cli/beef.py
  core/script/cli/cli.py
  core/script/cli/ssh.py
  core/script/cli/stream.py
  core/script/cli/telnet.py
  core/script/context.py
  core/script/credentialchecker.py
  core/script/diagnostic.py
  core/script/http/base.py
  core/script/http/middleware/basicauth.py
  core/script/http/middleware/digestauth.py
  core/script/http/middleware/jsonrequestid.py
  core/script/http/middleware/jsonsession.py
  core/script/http/middleware/urlrequestid.py
  core/script/http/middleware/urlsession.py
  core/script/loader.py
  core/script/metrics.py
  core/script/mml/base.py
  core/script/oidrules/bool.py
  core/script/oidrules/capindex.py
  core/script/oidrules/caplist.py
  core/script/oidrules/caps.py
  core/script/oidrules/counter.py
  core/script/oidrules/hires.py
  core/script/oidrules/ifindex.py
  core/script/oidrules/loader.py
  core/script/oidrules/match.py
  core/script/oidrules/oid.py
  core/script/oidrules/oids.py
  core/script/rtsp/base.py
  core/script/snmp/base.py
  core/script/snmp/beef.py
Owners: @dv, @aversant

fix formatting
  sa/profiles/Cisco/IOS/get_interfaces.py
  sa/profiles/Huawei/VRP/get_interfaces.py
Owners: @dv, @aversant, @dmitryluhtionov

Fix typo
  core/datastream/base.py
  core/datastream/client.py
Owners: @dv, @aversant

noc.core.datastream: Convert docstrings to google format (#363)
  core/datastream/base.py
  core/datastream/client.py
Owners: @dv, @aversant

kpi/py-pyping: Ignore non-pythonic directories (#364)
  scripts/kpi/py-typing.py
Owners: @dv, @aversant

Update commit
  sa/profiles/BDCOM/xPON/get_cpe.py
  sa/profiles/BDCOM/xPON/get_cpe_status.py
Owners: @dv, @aversant, @dmitryluhtionov

Fix status
  sa/profiles/BDCOM/xPON/get_cpe_status.py
Owners: @dv, @aversant, @dmitryluhtionov

Ruff: Enforce UP032 checks, replace str.format() with f-strings (#366)
  commands/job.py
  commands/liftbridge.py
  commands/msgstream.py
  core/datasources/loadmetricsmaxds.py
  pm/models/scale.py
  pyproject.toml
  sa/profiles/Cisco/ASA/get_capabilities.py
  sa/profiles/Cisco/IOS/get_interfaces.py
  sa/profiles/Cisco/IOS/get_switchport.py
  sa/profiles/Cisco/NXOS/get_portchannel.py
  sa/profiles/Generic/get_interfaces.py
  sa/profiles/Generic/get_switchport.py
  sa/profiles/Huawei/VRP/get_interfaces.py
  sa/profiles/Huawei/VRP/get_switchport.py
  sa/profiles/VMWare/connection.py
  services/web/apps/inv/reportmaxmetrics.py
Owners: @dv, @aversant, @dmitryluhtionov

Replace __import__ with importlib
  commands/newapp.py
  commands/sync-refbooks.py
  core/clickhouse/dictionary.py
  core/config/base.py
  core/etl/loader/loader.py
  core/interface/loader.py
  core/loader/base.py
  core/mib.py
  core/migration/loader.py
  core/service/paths/loader.py
  gis/models/overlay.py
  services/card/paths/card.py
  services/web/apps/fm/alarm/views.py
  services/web/apps/inv/inv/views.py
  services/web/apps/main/reportloc.py
  services/web/apps/main/reporttaggedmodels.py
  services/web/base/application.py
  services/web/base/site.py
  tests/test_mib.py
  tests/test_py_module.py
Owners: @dv, @aversant, @EKbfh

Replace __import__ with importlib (#367)
  commands/newapp.py
  commands/sync-refbooks.py
  core/clickhouse/dictionary.py
  core/config/base.py
  core/etl/loader/loader.py
  core/interface/loader.py
  core/loader/base.py
  core/mib.py
  core/migration/loader.py
  core/service/paths/loader.py
  gis/models/overlay.py
  services/card/paths/card.py
  services/web/apps/fm/alarm/views.py
  services/web/apps/inv/inv/views.py
  services/web/apps/main/reportloc.py
  services/web/apps/main/reporttaggedmodels.py
  services/web/base/application.py
  services/web/base/site.py
  tests/test_mib.py
  tests/test_py_module.py
Owners: @dv, @aversant, @EKbfh

Fix KeyError in Cisco.IOS confdb normalizer for encrypted SNMP community
  sa/profiles/Cisco/IOS/confdb/normalizer.py
Owners: @dv, @aversant, @dmitryluhtionov

noc.core.hash: docstrings and typing
  core/hash.py
Owners: @dv, @aversant

noc.core.window: typing and docstrings
  core/window.py
Owners: @dv, @aversant
