Repository gufolabs/noc, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dv, @aversant, @uncol, @EKbfh, @dmitryluhtionov

Add first part of BDCOM.xPON event classification rules
  collections/fm.eventclassificationrules/BDCOM/xPON/Chassis/CPU/CPU_Usage_Above_Threshold_SYSLOG_.json
  collections/fm.eventclassificationrules/BDCOM/xPON/Chassis/CPU/CPU_Usage_Drops_Below_Threshold_SYSLOG_.json
  collections/fm.eventclassificationrules/BDCOM/xPON/Chassis/Fan/Fan_Recovered_SYSLOG_.json
  collections/fm.eventclassificationrules/BDCOM/xPON/Chassis/PSU/PSU_Failed_SYSLOG_.json
  collections/fm.eventclassificationrules/BDCOM/xPON/Chassis/PSU/PSU_Recovered_SYSLOG_.json
  collections/fm.eventclassificationrules/BDCOM/xPON/Config/Config_Changed_SYSLOG_.json
  collections/fm.eventclassificationrules/BDCOM/xPON/Network/DHCP/Untrusted_Server_SYSLOG_.json
  collections/fm.eventclassificationrules/BDCOM/xPON/Network/LBD/Loop_Cleared_1_SYSLOG_.json
  collections/fm.eventclassificationrules/BDCOM/xPON/Network/LBD/Loop_Detected_1_SYSLOG.json
  collections/fm.eventclassificationrules/BDCOM/xPON/Network/Link/DOM/Alarm_Out_of_Threshold_Recovered_SYSLOG_.json
  collections/fm.eventclassificationrules/BDCOM/xPON/Network/Link/DOM/Alarm_Out_of_Threshold_SYSLOG_.json
  collections/fm.eventclassificationrules/BDCOM/xPON/Network/Link/DOM/Warning_Out_of_Threshold_Recovered_SYSLOG_.json
  collections/fm.eventclassificationrules/BDCOM/xPON/Network/Link/DOM/Warning_Out_of_Threshold_SYSLOG_.json
  collections/fm.eventclassificationrules/BDCOM/xPON/Network/Link/Link_Down_SYSLOG_.json
  collections/fm.eventclassificationrules/BDCOM/xPON/Network/Link/Link_Up_SYSLOG_.json
  collections/fm.eventclassificationrules/BDCOM/xPON/Network/STP/STP_Port_State_Changed_MSTP_SYSLOG_.json
  collections/fm.eventclassificationrules/BDCOM/xPON/Security/Authentication/Login_Failed_SYSLOG_.json
  collections/fm.eventclassificationrules/BDCOM/xPON/Security/Authentication/Login_SYSLOG_.json
  collections/fm.eventclassificationrules/BDCOM/xPON/Security/Authentication/Logout_SYSLOG_.json
  collections/fm.eventclassificationrules/BDCOM/xPON/System/Started_SYSLOG_.json
  collections/fm.eventclassificationrules/BDCOM/xPON/Unknown/Ignore_Line_Protocol_SYSLOG_.json
Owners: none

Add more events to Cisco modules errors
  collections/fm.eventclassificationrules/Cisco/IOS/Chassis/Hardware/Module/Invalid_Module_3_SYSLOG_.json
  collections/fm.eventclassificationrules/Cisco/IOS/Chassis/Hardware/Module/Module_Error_10_SYSLOG_.json
  collections/fm.eventclassificationrules/Cisco/IOS/Chassis/Hardware/Module/Module_Error_9_SYSLOG_.json
Owners: none

ObjectModel: Container Type
  inv/models/object.py
  inv/models/objectmodel.py
  services/web/apps/inv/inv/views.py
  services/web/apps/main/ref/views.py
  ui/web/inv/objectmodel/Model.js
  ui/web/main/ref/containertype/LookupField.js
Owners: @dv, @aversant, @uncol

Web data, collections updates and tests
  collections/inv.objectmodels/City.json
  collections/inv.objectmodels/Group.json
  collections/inv.objectmodels/PoP/Access.json
  collections/inv.objectmodels/PoP/Aggregation.json
  collections/inv.objectmodels/PoP/Core.json
  collections/inv.objectmodels/PoP/International.json
  collections/inv.objectmodels/PoP/National.json
  collections/inv.objectmodels/PoP/Regional.json
  collections/inv.objectmodels/Sandbox.json
  services/web/apps/main/ref/views.py
  tests/collections/test_inv_objectmodels.py
  ui/web/inv/objectmodel/Application.js
Owners: @dv, @aversant, @uncol

Set container type
  collections/inv.objectmodels/APC/NetShelter_SX/24U_AR3104.json
  collections/inv.objectmodels/APC/NetShelter_SX/42U_AR3100.json
  collections/inv.objectmodels/APC/NetShelter_SX/48U_AR3107.json
  collections/inv.objectmodels/APC/NetShelter_SX/48U_AR3307.json
  collections/inv.objectmodels/APC/NetShelter_SX/48U_AR3357.json
Owners: none

Fix
  collections/inv.modelinterfaces/container.json
  collections/inv.objectmodels/APC/NetShelter_SX/24U_AR3104.json
  collections/inv.objectmodels/APC/NetShelter_SX/42U_AR3100.json
  collections/inv.objectmodels/APC/NetShelter_SX/48U_AR3107.json
  collections/inv.objectmodels/APC/NetShelter_SX/48U_AR3307.json
  collections/inv.objectmodels/APC/NetShelter_SX/48U_AR3357.json
  collections/inv.objectmodels/Area.json
  collections/inv.objectmodels/Building.json
  collections/inv.objectmodels/City.json
  collections/inv.objectmodels/Country.json
  collections/inv.objectmodels/Rack_Row.json
  inv/util/pop_links.py
Owners: @dv, @aversant

Fix
  collections/inv.objectmodels/Ducts/Cable_Entry.json
  collections/inv.objectmodels/Ducts/Manhole.json
  collections/inv.objectmodels/Floor.json
  collections/inv.objectmodels/Group.json
  collections/inv.objectmodels/NoName/Rack/19_18U_Wall-Mount_Cabinet.json
  collections/inv.objectmodels/NoName/Rack/19_24U_1000mm_Shelf.json
  collections/inv.objectmodels/NoName/Rack/19_42U_1000mm_Shelf.json
  collections/inv.objectmodels/NoName/Rack/19_44U_1000mm_Shelf.json
  collections/inv.objectmodels/NoName/Rack/19_48U_1000mm_Shelf.json
  collections/inv.objectmodels/NoName/Rack/19_4U_Wall-Mount_Shelf.json
Owners: none

Fix
  collections/inv.objectmodels/PoP/Access.json
  collections/inv.objectmodels/PoP/Aggregation.json
  collections/inv.objectmodels/PoP/Core.json
  collections/inv.objectmodels/PoP/International.json
  collections/inv.objectmodels/PoP/National.json
  collections/inv.objectmodels/PoP/Regional.json
  collections/inv.objectmodels/Room.json
Owners: none

Fix
  collections/inv.objectmodels/Lost_Found.json
  collections/inv.objectmodels/NoName/Rack/19_42U_1000mm_Shelf.json
  collections/inv.objectmodels/Root.json
  collections/inv.objectmodels/Sandbox.json
Owners: none

Fix
  inv/models/objectmodel.py
  services/web/apps/inv/inv/views.py
Owners: @dv, @aversant

Input validation
  inv/models/object.py
  inv/models/objectmodel.py
  services/web/apps/inv/inv/views.py
  services/web/apps/inv/objectmodel/views.py
  services/web/apps/main/label/views.py
Owners: @dv, @aversant

Additional tests
  tests/collections/test_inv_objectmodels.py
Owners: @dv

Set collection's cr_context
  collections/inv.objectmodels/Alstec/241XX/ALS-24100LVT-03.json
  collections/inv.objectmodels/Angtel/Topaz/Topaz-2O-8E.json
  collections/inv.objectmodels/Avaya/ERS/3510GT-PWR+.json
  collections/inv.objectmodels/Avaya/ERS/4850GTS-PWR+.json
  collections/inv.objectmodels/Brocade/JetCore/B10G.json
  collections/inv.objectmodels/Cisco/6500/WS-C6509-V-E.json
  collections/inv.objectmodels/Cisco/7100/7100_Chassis.json
  collections/inv.objectmodels/Cisco/7200/7201_Chassis.json
  collections/inv.objectmodels/Cisco/C2960/WS-C2960C-8TC-S.json
  collections/inv.objectmodels/Cisco/C2960/WS-C2960R+24PC-S.json
  collections/inv.objectmodels/Cisco/C3750/WS-C3750V2-48TS-S.json
  collections/inv.objectmodels/Cisco/C3750X/WS-C3750X-48PF-L.json
  collections/inv.objectmodels/Cisco/SCE/SCE8000_Chassis.json
  collections/inv.objectmodels/DLink/DAS/DAS-3248.json
  collections/inv.objectmodels/DLink/DES/DES-1210-10_ME_B1.json
  collections/inv.objectmodels/DLink/DES/DES-3016.json
  collections/inv.objectmodels/DLink/DES/DES-3018.json
  collections/inv.objectmodels/DLink/DES/DES-3528.json
  collections/inv.objectmodels/DLink/DES/DES-3528P.json
  collections/inv.objectmodels/DLink/DES/DES-3828P.json
  collections/inv.objectmodels/DLink/DGS/DGS-1100-06_ME.json
  collections/inv.objectmodels/DLink/DGS/DGS-1510-28X_ME.json
  collections/inv.objectmodels/DLink/DGS/DGS-3000-26TC.json
  collections/inv.objectmodels/Eltex/MES/2308P.json
  collections/inv.objectmodels/Huawei/AR_1200/AR1220E.json
  collections/inv.objectmodels/Huawei/CX600/CX600-X8.json
  collections/inv.objectmodels/Huawei/Quidway_S2300/S2309TP-SI-AC.json
  collections/inv.objectmodels/Huawei/Quidway_S2300/S2352P-EI-AC.json
  collections/inv.objectmodels/Huawei/Quidway_S3300/S3328TP-EI-24S-AC.json
  collections/inv.objectmodels/Huawei/Quidway_S3300/S3328TP-EI-AC.json
  collections/inv.objectmodels/Juniper/EX/EX3300-48T.json
  collections/inv.objectmodels/NAG/SNR/SNR-S2962-24T.json
  collections/inv.objectmodels/NAG/SNR/SNR-S2990G-24FX.json
  collections/inv.objectmodels/Qtech/QSW/QSW-3450-28T-AC.json
  collections/inv.objectmodels/Qtech/QSW/QSW-4610-18T-AC.json
  collections/inv.objectmodels/Supertel/K2X/K23.json
  collections/inv.objectmodels/Zhone/DSLAM/4229-A2-520.json
  collections/inv.objectmodels/Zyxel/ES-2024A.json
  collections/inv.objectmodels/Zyxel/MES-3728.json
  collections/inv.objectmodels/Zyxel/MSAN/IES-1248.json
Owners: none

ServiceStub: batching publisher
  core/service/stub.py
Owners: @dv, @aversant

load leaflet
  .gitignore
  ui/build.ts
  ui/package.json
  ui/playwright.config.ts
  ui/pnpm-lock.yaml
  ui/scripts/__test__/DependencyGraph.test.ts
  ui/scripts/__test__/ExtApplicationVisitor.test.ts
  ui/scripts/__test__/ExtDefineVisitor.test.ts
  ui/scripts/__test__/RemoveMethodsPlugin.test.ts
  ui/scripts/app-dev.css
  ui/scripts/app-prod.css
  ui/scripts/builders/DevBuilder.ts
  ui/scripts/plugins/ExternalLibsPlugin.ts
  ui/scripts/plugins/ReplaceMethodsPlugin.ts
  ui/scripts/visitors/MethodReplaceVisitor.ts
  ui/tests-playwright/login.spec.ts
  ui/vitest.config.js
Owners: @uncol, @dv

Ruff PT001, PT003, PT023
  tests/fm/test_alarm_job.py
  tests/fm/test_alarm_watchers.py
  tests/fm/test_calculate_severity.py
  tests/models/test_capabilities.py
  tests/models/test_remote_mappings.py
  tests/test_ber.py
Owners: @dv, @aversant

Fix ContainerType.is_container()
  inv/models/objectmodel.py
Owners: @dv, @aversant

Combine npkg to a single bundle
  scripts/build/build-ui
Owners: none

ruff: Enable PT tests
  pyproject.toml
  tests/cdag/node/test_state.py
  tests/cdag/node/test_window.py
  tests/conftest.py
  tests/core/models/test_escalationpolicy.py
  tests/fm/test_alarm_watchers.py
  tests/interface/test_base.py
  tests/models/test_0004_models.py
  tests/nbi/test_getmappings.py
  tests/reporter/test_get_rows.py
  tests/test_ber.py
  tests/test_ip.py
  tests/test_vlanmap.py
Owners: @dv, @aversant

GetStyle protocol
  core/protocols/get_style.py
  crm/models/subscriber.py
  crm/models/subscriberprofile.py
  main/models/style.py
  services/login/paths/auth.py
  services/web/apps/crm/subscriber/views.py
  services/web/apps/crm/subscriberprofile/views.py
  services/web/apps/main/desktop/templates/desktop.html
  services/web/apps/main/style/views.py
  services/web/base/extdocapplication.py
  services/web/base/extmodelapplication.py
  ui/scripts/index-template-prod.html
  ui/scripts/index-template.html
  ui/web/core/ModelApplication.js
  ui/web/ux/grid/RowStyle.js
Owners: @dv, @aversant, @uncol

Leaflet and Yandex API load async
  .gitignore
  ui/build-bundle.ts
  ui/build.ts
  ui/package.json
  ui/pnpm-lock.yaml
  ui/scripts/__test__/RemoveMethodsPlugin.test.ts
  ui/scripts/app-dev.css
  ui/scripts/app-prod.css
  ui/scripts/builders/DevBuilder.ts
  ui/scripts/bundles/leaflet.ts
  ui/scripts/bundles/src/Yandex.js
  ui/scripts/plugins/ExternalLibsPlugin.ts
Owners: @uncol, @dv

New batch
  crm/models/subscriberprofile.py
  crm/models/supplier.py
  crm/models/supplierprofile.py
  fm/models/alarmseverity.py
  inv/models/cpeprofile.py
  inv/models/interfaceprofile.py
  inv/models/networksegment.py
  inv/models/networksegmentprofile.py
  inv/models/sensor.py
  inv/models/sensorprofile.py
  ip/models/address.py
  ip/models/addressprofile.py
  ip/models/prefix.py
  ip/models/prefixprofile.py
  services/web/apps/crm/supplier/views.py
  services/web/apps/crm/supplierprofile/views.py
  services/web/apps/fm/alarmseverity/views.py
  services/web/apps/inv/cpeprofile/views.py
  services/web/apps/inv/interfaceprofile/views.py
  services/web/apps/inv/networksegment/views.py
  services/web/apps/inv/networksegmentprofile/views.py
  services/web/apps/inv/sensor/views.py
  services/web/apps/inv/sensorprofile/views.py
  services/web/apps/ip/address/views.py
  services/web/apps/ip/addressprofile/views.py
  services/web/apps/ip/prefix/views.py
  services/web/apps/ip/prefixprofile/views.py
  services/web/apps/main/style/views.py
Owners: @dv, @aversant

implement GetStyle interface for models
  ip/models/vrf.py
  peer/models/asn.py
  peer/models/asprofile.py
  phone/models/phonenumber.py
  phone/models/phonenumberprofile.py
  phone/models/phonerange.py
  phone/models/phonerangeprofile.py
  sa/models/managedobject.py
  sa/models/managedobjectprofile.py
  services/web/apps/ip/vrf/views.py
  services/web/apps/peer/as/views.py
  services/web/apps/peer/asprofile/views.py
  services/web/apps/phone/phonenumber/views.py
  services/web/apps/phone/phonenumberprofile/views.py
  services/web/apps/phone/phonerange/views.py
  services/web/apps/phone/phonerangeprofile/views.py
  services/web/apps/sa/managedobject/views.py
  services/web/apps/sa/managedobjectprofile/views.py
  services/web/apps/sla/slaprobe/views.py
  services/web/apps/sla/slaprofile/views.py
  services/web/apps/vc/l2domain/views.py
  services/web/apps/vc/l2domainprofile/views.py
  services/web/apps/vc/vlan/views.py
  services/web/apps/vc/vlanprofile/views.py
  services/web/apps/vc/vpn/views.py
  services/web/apps/vc/vpnprofile/views.py
  sla/models/slaprobe.py
  sla/models/slaprofile.py
  vc/models/l2domain.py
  vc/models/l2domainprofile.py
  vc/models/vlan.py
  vc/models/vlanprofile.py
  vc/models/vpn.py
  vc/models/vpnprofile.py
Owners: @dv, @aversant

chore: add leaflet build step to UI build process
  scripts/build/build-ui
Owners: none

fix: reorder CSS link for app-prod-bundle to ensure proper loading
  ui/scripts/index-template-prod.html
Owners: none

Coloured lookup items
  services/web/base/extdocapplication.py
  services/web/base/extmodelapplication.py
  ui/web/fm/alarm/view/form/Alarm.js
  ui/web/main/style/LookupField.js
Owners: @dv, @aversant, @uncol

Run js-build after js-lint
  .github/workflows/js-tests.yml
Owners: @dv

Clean up ui/pkg before build
  scripts/build/build-ui
Owners: none

feat: reintroduce JSONPreview component with enhanced functionality
  ui/web/core/JSONPreview.js
Owners: @uncol, @dv

ModuleSpec/Loader protocol for pyrule and custom loader
  core/importer.py
Owners: @dv, @aversant

fix: update monaco.css import path in app-dev and app-prod stylesheets
  ui/scripts/app-dev.css
  ui/scripts/app-prod.css
Owners: @uncol, @dv

Fix pydantic 'dict is deprecated' warning
  core/cdag/graph.py
  core/cdag/node/base.py
  core/cdag/tx.py
  core/etl/loader/base.py
  core/inv/codec.py
  services/web/apps/pm/agent/views.py
Owners: @dv, @aversant

Cleanup tests
  tests/cdag/node/test_window.py
Owners: @dv

get_filename returns str
  core/importer.py
Owners: @dv, @aversant

Django 4.2.26
  pyproject.toml
Owners: @dv, @aversant

Fix
  core/importer.py
Owners: @dv, @aversant

Fix
  services/web/apps/fm/alarm/views.py
Owners: @dv, @aversant

Gufo Ping 0.6.0
  pyproject.toml
Owners: @dv, @aversant

Deprecate memcached
  ansible/molecule/debian10/inv.yml
  ansible/molecule/debian11/inv.yml
  ansible/molecule/default/inv.yml
  ansible/molecule/freebsd/inv.yml
  ansible/molecule/oel7/inv.yml
  ansible/molecule/redos/inv.yml
  ansible/molecule/ubuntu20/inv.yml
  ansible/molecule/ubuntu22/inv.yml
  ansible/noc_roles/noc/tasks/init_venv_python3.yml
  ansible/noc_roles/noc/tasks/os/CentOS_7/main.yml
  ansible/noc_roles/noc/tasks/os/Debian_10/main.yml
  ansible/noc_roles/noc/tasks/os/Debian_11/main.yml
  ansible/noc_roles/noc/tasks/os/FreeBSD_12/main.yml
  ansible/noc_roles/noc/tasks/os/OracleLinux_7/main.yml
  ansible/noc_roles/noc/tasks/os/RED_7/main.yml
  ansible/noc_roles/noc/tasks/os/RedHat_7/main.yml
  ansible/noc_roles/noc/tasks/os/Ubuntu_20/main.yml
  ansible/noc_roles/noc/tasks/os/Ubuntu_22/main.yml
  ansible/vars/CentOS_7.yml
  ansible/vars/OracleLinux_7.yml
  ansible/vars/RedHat_7.yml
  config.py
  core/cache/base.py
  core/cache/mongo.py
  docs/config-reference/SUMMARY.md
  docs/config-reference/memcached.md
  docs/config-reference/params.yml
  docs/internal-metrics-reference/index.md
  docs/internal-metrics-reference/index.ru.md
  pyproject.toml
Owners: @EKbfh, @dv, @aversant

Fix
  core/cache/base.py
  core/deprecations.py
Owners: @dv, @aversant

.github/CODEOWNERS:

# NOC code owners
# Lines starting with `#` will be ignored.
# Rules defined later in the file take precedence over the rules
# defined before.

# Python files
*.py @dv @aversant

# JS files
*.js @uncol @dv

# CSS files
*.css @uncol @dv

# Jinja2 templates
*.j2 @dv @aversant

# Tests
/tests/ @dv

# Dependencies
pyproject.toml @dv @aversant

# Ansible Deploy
/ansible/ @EKbfh

# Fixes
/fixes/ @dv @aversant

# Profiles
/sa/profiles/ @dv @aversant @dmitryluhtionov

# Configuration
/config.py @dv @aversant @EKbfh

# Core
/core/ @dv @aversant
/core/config/ @dv @aversant @EKbfh

# Models
models/ @dv @aversant

# Commands
/commands/ @dv @aversant

# Services
/services/ @dv @aversant

# Rust
/rust/ @dv

# Documentation
/docs/ @dv

# Codeowners itself
CODEOWNERS @dv

# CI settings
/.gitlab-ci.yml @dv @EKbfh

# Docker files
/.docker/ @dv @EKbfh

# Github
.github/ @dv
