Repository gufolabs/noc, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dv, @aversant, @uncol, @EKbfh, @dmitryluhtionov

release-25.1:Backport!10043
  core/mx.py
  core/router/route.py
  fm/models/activealarm.py
  fm/models/alarmjob.py
  fm/models/alarmrule.py
  main/models/messageroute.py
  sa/models/managedobject.py
  sa/models/service.py
  services/correlator/alarmaction.py
  services/correlator/alarmjob.py
  services/correlator/alarmrule.py
  services/metricscollector/service.py
  ui/web/fm/alarmrule/Application.js
  ui/web/main/messageroute/Application.js
Owners: @dv, @aversant, @uncol

Add processed caps error to Diagnostic Check.
  core/caps/types.py
  core/checkers/base.py
  core/checkers/nodata.py
  core/diagnostic/decorator.py
  core/diagnostic/hub.py
  sa/models/capsprofile.py
  sa/models/diagnosticitem.py
  sa/models/service.py
  ui/web/sa/capsprofile/Application.js
  ui/web/sa/capsprofile/Model.js
Owners: @dv, @aversant, @uncol

release-25.1:Backport!10045
  core/caps/types.py
  core/checkers/base.py
  core/checkers/nodata.py
  core/diagnostic/decorator.py
  core/diagnostic/hub.py
  sa/models/capsprofile.py
  sa/models/diagnosticitem.py
  sa/models/service.py
  ui/web/sa/capsprofile/Application.js
  ui/web/sa/capsprofile/Model.js
Owners: @dv, @aversant, @uncol

Fix update diagnostic checks from jobs.
  core/mx.py
  sa/models/objectdiagnosticconfig.py
  sa/models/service.py
  services/scheduler/jobs/update_checks.py
  ui/web/sa/objectdiagnosticconfig/Application.js
  ui/web/sa/objectdiagnosticconfig/Model.js
Owners: @dv, @aversant, @uncol

release-25.1:Backport!10047
  core/mx.py
  sa/models/objectdiagnosticconfig.py
  sa/models/service.py
  services/scheduler/jobs/update_checks.py
  ui/web/sa/objectdiagnosticconfig/Application.js
  ui/web/sa/objectdiagnosticconfig/Model.js
Owners: @dv, @aversant, @uncol

Migrate rust datastream client to ureq 3. Fix insecure option in dnssync
  docs/noc-dns-sync-guide/index.md
  docs/sections-overview/guides.md
  rust/Cargo.toml
  rust/datastream/Cargo.toml
  rust/datastream/src/client/http.rs
  rust/dnssync/src/main.rs
Owners: @dv

release-25.1:Backport!8977
  docs/noc-dns-sync-guide/index.md
  docs/sections-overview/guides.md
  rust/Cargo.toml
  rust/datastream/Cargo.toml
  rust/datastream/src/client/http.rs
  rust/dnssync/src/main.rs
Owners: @dv

Fix refresh alarm severity on correlator.
  fm/models/activealarm.py
  sa/models/service.py
  services/correlator/actionlog.py
  services/correlator/alarmaction.py
  services/correlator/alarmjob.py
  services/correlator/service.py
  ui/web/fm/alarmrule/Application.js
  ui/web/main/messageroute/Application.js
Owners: @dv, @aversant, @uncol

release-25.1:Backport!10051
  fm/models/activealarm.py
  sa/models/service.py
  services/correlator/actionlog.py
  services/correlator/alarmaction.py
  services/correlator/alarmjob.py
  services/correlator/service.py
  ui/web/fm/alarmrule/Application.js
  ui/web/main/messageroute/Application.js
Owners: @dv, @aversant, @uncol

Register NODATA check on metricscollector service.
  config.py
  sa/models/managedobject.py
  services/datastream/models/cfgmetricstarget.py
  services/datastream/streams/cfgmetricstarget.py
  services/metricscollector/service.py
  services/metricscollector/sourceconfig.py
Owners: @dv, @aversant, @EKbfh

release-25.1:Backport!10053
  config.py
  sa/models/managedobject.py
  services/datastream/models/cfgmetricstarget.py
  services/datastream/streams/cfgmetricstarget.py
  services/metricscollector/service.py
  services/metricscollector/sourceconfig.py
Owners: @dv, @aversant, @EKbfh

Fix card custom loader.
  main/models/remotesystem.py
  services/card/cards/base.py
Owners: @dv, @aversant

Add UPS monitoring with UPS-MIB
  collections/inv.objectmodels/Delta/UPS.json
  collections/inv.objectmodels/EAST/EA900Pro.json
  collections/inv.objectmodels/Generic/UPS.json
  sa/profiles/NOC/UPS/__init__.py
  sa/profiles/NOC/UPS/get_capabilities.py
  sa/profiles/NOC/UPS/get_inventory.py
  sa/profiles/NOC/UPS/get_metrics.py
  sa/profiles/NOC/UPS/get_version.py
  sa/profiles/NOC/UPS/profile.py
  services/web/apps/pm/ddash/dashboards/mo_ups.py
  templates/ddash/dash_moups.j2
  templates/ddash/graph_sensor_enum_map.j2
  templates/ddash/graph_sensor_value_combo.j2
Owners: @dv, @aversant, @dmitryluhtionov

linter
  sa/profiles/NOC/UPS/get_inventory.py
  sa/profiles/NOC/UPS/get_metrics.py
  sa/profiles/NOC/UPS/profile.py
Owners: @dv, @aversant, @dmitryluhtionov

linter
  services/web/apps/pm/ddash/dashboards/mo_ups.py
Owners: @dv, @aversant

linter
  sa/profiles/NOC/UPS/get_inventory.py
  sa/profiles/NOC/UPS/get_version.py
  sa/profiles/NOC/UPS/profile.py
  services/web/apps/pm/ddash/dashboards/mo_ups.py
Owners: @dv, @aversant, @dmitryluhtionov

Add vendor Delta
  collections/inv.vendors/DELTA.json
Owners: none

mistype
  services/web/apps/pm/ddash/dashboards/mo_ups.py
Owners: @dv, @aversant

Add EAST vendor
  collections/inv.vendors/EAST.json
Owners: none

Add collection NOC.UPS
  collections/sa.profiles/NOC/UPS.json
  docs/profiles-reference/NOC/UPS.md
Owners: @dv

fix
  collections/inv.objectmodels/Delta/UPS.json
  collections/inv.objectmodels/EAST/EA900Pro.json
  collections/inv.objectmodels/Generic/UPS.json
Owners: none

feat: add node name hover events and update selection
  .gitignore
  ui/packages/topo-map/src/core/events/InteractionEvents.ts
  ui/packages/topo-map/src/core/events/constants.ts
  ui/packages/topo-map/src/core/events/index.ts
  ui/packages/topo-map/src/index.ts
  ui/packages/topo-map/src/shapes/FontIconElement.ts
  ui/packages/topo-map/src/shapes/badgeOverlay.ts
  ui/web/inv/map/MapRenderer.js
Owners: @uncol, @dv

build error fixed
  ui/packages/topo-map/src/workflow/WorkflowEditor.ts
Owners: none

Navigation API migration, migrate from Ext.History to the Navigation API
  .devcontainer/devcontainer.json
  .gitignore
  ui/web/core/Application.js
  ui/web/core/ModelApplication.js
  ui/web/core/Navigation.js
  ui/web/core/SubscriptionPanel.js
  ui/web/core/filter/FilterController.js
  ui/web/fm/alarm/Application.js
  ui/web/fm/alarm/ApplicationController.js
  ui/web/fm/event/Application.js
  ui/web/fm/event/ApplicationController.js
  ui/web/inv/inv/Application.js
  ui/web/inv/macdb/Application.js
  ui/web/inv/map/Application.js
  ui/web/ip/ipam/Application.js
  ui/web/ip/ipam/ApplicationController.js
  ui/web/main/desktop/Application.js
  ui/web/main/desktop/WorkplacePanel.js
  ui/web/main/desktop/app.js
  ui/web/sa/discoveredobject/Application.js
  ui/web/sa/discoveredobject/controller/Sidebar.js
  ui/web/sa/managedobject/Application.js
  ui/web/sa/managedobject/Controller.js
  ui/web/sa/managedobject/form/FormController.js
  ui/web/sa/monitor/FilterController.js
  ui/web/sa/service/Application.js
  ui/web/sa/service/InstancesPanel.js
Owners: @uncol, @dv

Agentic instructions
  AGENTS.md
  ansible/AGENTS.md
  docs/AGENTS.md
  sa/profiles/AGENTS.md
  tests/AGENTS.md
  tests/conftest.py
  ui/AGENTS.md
Owners: @EKbfh, @dv, @aversant, @dmitryluhtionov

Navigation API migration, migrate from Ext.History to the Navigation API (#247)
  .devcontainer/devcontainer.json
  .gitignore
  ui/web/core/Application.js
  ui/web/core/ModelApplication.js
  ui/web/core/Navigation.js
  ui/web/core/SubscriptionPanel.js
  ui/web/core/filter/FilterController.js
  ui/web/fm/alarm/Application.js
  ui/web/fm/alarm/ApplicationController.js
  ui/web/fm/event/Application.js
  ui/web/fm/event/ApplicationController.js
  ui/web/inv/inv/Application.js
  ui/web/inv/macdb/Application.js
  ui/web/inv/map/Application.js
  ui/web/ip/ipam/Application.js
  ui/web/ip/ipam/ApplicationController.js
  ui/web/main/desktop/Application.js
  ui/web/main/desktop/WorkplacePanel.js
  ui/web/main/desktop/app.js
  ui/web/sa/discoveredobject/Application.js
  ui/web/sa/discoveredobject/controller/Sidebar.js
  ui/web/sa/managedobject/Application.js
  ui/web/sa/managedobject/Controller.js
  ui/web/sa/managedobject/form/FormController.js
  ui/web/sa/monitor/FilterController.js
  ui/web/sa/service/Application.js
  ui/web/sa/service/InstancesPanel.js
Owners: @uncol, @dv

Translate alarm group changes to Alarm job.
  fm/models/activealarm.py
  fm/models/alarmwatch.py
  fm/models/escalationprofile.py
  sa/models/service.py
  sa/models/serviceprofile.py
  services/correlator/alarmjob.py
  services/correlator/service.py
  services/web/apps/sa/service/views.py
  ui/web/sa/serviceprofile/Application.js
Owners: @dv, @aversant, @uncol

release-25.1:Backport!10056
  fm/models/activealarm.py
  fm/models/alarmwatch.py
  fm/models/escalationprofile.py
  sa/models/service.py
  sa/models/serviceprofile.py
  services/correlator/alarmjob.py
  services/correlator/service.py
  services/web/apps/sa/service/views.py
  ui/web/sa/serviceprofile/Application.js
Owners: @dv, @aversant, @uncol

release-25.1:Backport!10058
  main/models/remotesystem.py
  services/card/cards/base.py
Owners: @dv, @aversant

Updated docs/AGENTS.md
  docs/AGENTS.md
Owners: @dv

Fix tests
  tests/docs/test_profile.py
Owners: @dv

Agentic instructions (#248)
  AGENTS.md
  ansible/AGENTS.md
  docs/AGENTS.md
  sa/profiles/AGENTS.md
  tests/AGENTS.md
  tests/conftest.py
  tests/docs/test_profile.py
  ui/AGENTS.md
Owners: @EKbfh, @dv, @aversant, @dmitryluhtionov

refactor: migrate to framework-neutral architecture and introduce UI loader
  Dockerfile
  ui/web/main/desktop/app.js
  ui/web/main/desktop/loader/bootstrap.js
  ui/web/main/desktop/loader/ext-application.js
  ui/web/main/desktop/loader/index.js
  ui/web/main/desktop/loader/ui-loader.js
Owners: @uncol, @dv

Use literate-nav for releases index
  docs/releases/SUMMARY.md
  docs/releases/index.md
  mkdocs.yml
Owners: @dv

Use literate-nav for releases index (#249)
  docs/releases/SUMMARY.md
  docs/releases/index.md
  mkdocs.yml
Owners: @dv

Use literate-nav to collapse main docs index
  docs/AGENTS.md
  docs/community-guide/SUMMARY.md
  docs/create-object-models-howto/SUMMARY.md
  docs/docs-style-guide/SUMMARY.md
  docs/installation-guide/SUMMARY.md
  mkdocs.yml
Owners: @dv

Use literate-nav to collapse main docs index (#250)
  docs/AGENTS.md
  docs/community-guide/SUMMARY.md
  docs/create-object-models-howto/SUMMARY.md
  docs/docs-style-guide/SUMMARY.md
  docs/installation-guide/SUMMARY.md
  mkdocs.yml
Owners: @dv

new loader and implement lazy loading for Monaco editor and update related files
  ui/build-bundles-prod.ts
  ui/scripts/index-template-prod.html
  ui/scripts/index-template.html
  ui/web/core/CodeViewer.js
  ui/web/core/MarkdownEditor.js
  ui/web/main/desktop/app.js
  ui/web/main/desktop/loader/bootstrap.js
  ui/web/main/desktop/loader/lazy-loader.js
Owners: @uncol, @dv

Update BDCOM.xPON profile
  sa/profiles/BDCOM/xPON/get_cpe.py
  sa/profiles/BDCOM/xPON/get_cpe_status.py
  sa/profiles/BDCOM/xPON/get_interfaces.py
  sa/profiles/BDCOM/xPON/get_inventory.py
  sa/profiles/BDCOM/xPON/get_mac_address_table.py
  sa/profiles/BDCOM/xPON/get_version.py
  sa/profiles/BDCOM/xPON/profile.py
Owners: @dv, @aversant, @dmitryluhtionov

Fix formatting
  sa/profiles/BDCOM/xPON/get_cpe.py
  sa/profiles/BDCOM/xPON/get_cpe_status.py
  sa/profiles/BDCOM/xPON/get_inventory.py
Owners: @dv, @aversant, @dmitryluhtionov

.github/CODEOWNERS:

# NOC code owners
# Lines starting with `#` will be ignored.
# Rules defined later in the file take precedence over the rules
# defined before.

# Python files
*.py @dv @aversant

# JS files
*.js @uncol @dv

# CSS files
*.css @uncol @dv

# Jinja2 templates
*.j2 @dv @aversant

# Tests
/tests/ @dv

# Dependencies
pyproject.toml @dv @aversant

# Ansible Deploy
/ansible/ @EKbfh

# Fixes
/fixes/ @dv @aversant

# Profiles
/sa/profiles/ @dv @aversant @dmitryluhtionov

# Configuration
/config.py @dv @aversant @EKbfh

# Core
/core/ @dv @aversant
/core/config/ @dv @aversant @EKbfh

# Models
models/ @dv @aversant

# Commands
/commands/ @dv @aversant

# Services
/services/ @dv @aversant

# Rust
/rust/ @dv

# Documentation
/docs/ @dv

# Codeowners itself
CODEOWNERS @dv

# CI settings
/.gitlab-ci.yml @dv @EKbfh

# Docker files
/.docker/ @dv @EKbfh

# Github
.github/ @dv
